Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update task 136 with outstanding session progress
  process/tasks/136-fix-all-linter-warnings.md
Due: bun node_modules/.bin/prettier --write

feat: Create task #149 to investigate and restore missing init command interactivity
  process/tasks/149-restore-init-command-interactivity.md
Due: bun node_modules/.bin/prettier --write

feat: Create task #150 to enhance tasks create command with user-friendly options
  process/tasks/150-enhance-tasks-create-command.md
Due: bun node_modules/.bin/prettier --write

feat: Create task #151 for simple --title option in tasks create
  process/tasks/151-add-title-option-to-tasks-create.md
Due: bun node_modules/.bin/prettier --write

fix: Remove over-engineered task #150
  process/tasks/150-enhance-tasks-create-command.md
Due: bun node_modules/.bin/prettier --write

feat: Add task 155 to tasks.md index
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: update task 136 with critical parsing syntax breakthrough
  process/tasks/136-fix-all-linter-warnings.md
Due: bun node_modules/.bin/prettier --write

refactor(rules): streamline self-improvement rule to remove duplicated content
  .cursor/rules/self-improvement.mdc
Due: none

Add BLOCKED status support for task management
  src/domain/tasks.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskConstants.ts
  src/domain/tasks/taskFunctions.ts
  src/domain/types.ts
  src/mcp/tools/tasks.ts
  src/schemas/tasks.ts
  src/types/tasks/taskData.ts
  test-blocked-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update task 136 with massive systematic excellence
  process/tasks/136-fix-all-linter-warnings.md
Due: bun node_modules/.bin/prettier --write

fix(rules): restore unique self-improvement content
  .cursor/rules/self-improvement.mdc
Due: none

Improve constants extraction and type safety for task statuses
  src/adapters/mcp/tasks.ts
  src/domain/tasks/taskService.ts
  src/types/tasks/taskData.ts
  src/utils/filter-messages.ts
  src/utils/option-descriptions.ts
  test-blocked-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Add PR description for task #155
  process/tasks/155/pr.md
Due: bun node_modules/.bin/prettier --write

Update tasks.md with task status changes
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(task-136): Update task spec with honest parsing error analysis
  process/tasks/136-fix-all-linter-warnings.md
Due: bun node_modules/.bin/prettier --write

Add comprehensive PR body
  pr-body.txt
Due: none

Commit remaining changes for PR
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(codemods): Add parsing error fix tools for session 136
  codemods/fix-parsing-errors-focused.ts
  codemods/fix-remaining-parsing-errors.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(task-136): Update with breakthrough parsing error fix results
  .cursor/rules/user-preferences.mdc
  codemods/fix-critical-parsing-syntax.ts
  process/tasks.md
  process/tasks/136-fix-all-linter-warnings.md
  src/domain/tasks.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskFunctions.ts
  src/domain/types.ts
  src/mcp/tools/tasks.ts
  src/schemas/tasks.ts
  src/types/tasks/taskData.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Fix merge conflicts in task-related files
  src/domain/tasks.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskFunctions.ts
  src/domain/types.ts
  src/schemas/tasks.ts
  src/types/tasks/taskData.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Fix remaining merge conflicts in MCP tools
  src/mcp/tools/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
