Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#3825): classify DB-backed cockpit widget catch-alls into cause-carrying reasons
  scripts/check-widget-degraded-messages.ts
  src/cockpit/db-providers.ts
  src/cockpit/widgets/agents.ts
  src/cockpit/widgets/attention.ts
  src/cockpit/widgets/context-inspector.ts
  src/cockpit/widgets/driven-session-cost.ts
  src/cockpit/widgets/embeddings-health.ts
  src/cockpit/widgets/guard-health.ts
  src/cockpit/widgets/mcp-server-status.ts
  src/cockpit/widgets/memories-detail.ts
  src/cockpit/widgets/memories-health.ts
  src/cockpit/widgets/memories-list.ts
  src/cockpit/widgets/memories-search.ts
  src/cockpit/widgets/memories-stats.ts
  src/cockpit/widgets/reviewer-bot-status.ts
  src/cockpit/widgets/s3-gauges.ts
  src/cockpit/widgets/slow-topology.ts
  src/cockpit/widgets/task-graph.ts
  src/cockpit/widgets/task-list.ts
  src/cockpit/widgets/workstreams.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3825): update cockpit widget degraded-reason test assertions
  src/cockpit/cockpit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3825): unit-test the three-state widget-error classification
  src/cockpit/cockpit.test.ts
  src/cockpit/db-providers.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3828): align README + package.json with the positioning corpus; relocate internals to docs
  README.md
  docs/ci-workflows.md
  docs/configuration-guide.md
  docs/persistence-configuration.md
  package.json
Due: bun node_modules/.bin/prettier --write

feat(mt#3827): partial: add new home-page section components
  services/site/src/components/BuiltSection.astro
  services/site/src/components/GetStartedTeaser.astro
  services/site/src/components/IdeaSection.astro
  services/site/src/components/NotSection.astro
  services/site/src/components/ProblemSection.astro
  services/site/src/components/TwoDoors.astro
Due: none

feat(mt#3827): partial: wire new sections into home page + get-started page
  services/site/public/robots.txt
  services/site/src/components/Header.astro
  services/site/src/components/Hero.astro
  services/site/src/components/ProductFrame.astro
  services/site/src/components/SiteFooter.astro
  services/site/src/components/SubstrateScene.astro
  services/site/src/components/SubstrateWalkthrough.astro
  services/site/src/pages/get-started.astro
  services/site/src/pages/index.astro
Due: none

fix(mt#3818): bound the cadence advisory to its declared 450-char ceiling
  .claude/hooks/calibration-review-cadence-detector.ts
  .minsky/hooks/calibration-review-cadence-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3827): record live-verification evidence for get-started commands
  services/site/src/pages/get-started.astro
Due: none

docs(mt#3828): PR #2704 R1 — consolidate migration-resolver docs under the canonical mt#2369 section
  docs/persistence-configuration.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3656): PR #2656 R1 — persist the divergence verdict on idempotent re-ingest
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3832): Stop declaring cockpit's repo source; ignore minsky-mcp's unclearable rootDirectory
  infra/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3656): PR #2656 — make the new FakeRow fields optional so packages/domain typechecks
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3623): Retry bun install and disable streaming extraction at every install site
  .github/workflows/bundle-boot-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/cockpit-tray-ci.yml
  .github/workflows/cold-start-cockpit-web.yml
  .github/workflows/cold-start-hooks.yml
  .github/workflows/cold-start-migrate.yml
  .github/workflows/deploy-reviewer.yml
  .github/workflows/deploy-talks.yml
  .github/workflows/integration-tests.yml
  .github/workflows/post-deploy-health-monitor.yml
  .github/workflows/release.yml
  .github/workflows/test-quality.yml
  Dockerfile
  services/cockpit/Dockerfile
  services/reviewer/Dockerfile
Due: none

fix(mt#3832): PR #2706 R1 — amend SC3 to the achievable outcome; scope the ignore comment to the service
  infra/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3623): PR #2707 R1 — the UNVERIFIED comment is stale in all 12 workflows
  .github/workflows/bundle-boot-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/cockpit-tray-ci.yml
  .github/workflows/cold-start-cockpit-web.yml
  .github/workflows/cold-start-hooks.yml
  .github/workflows/cold-start-migrate.yml
  .github/workflows/deploy-reviewer.yml
  .github/workflows/deploy-talks.yml
  .github/workflows/integration-tests.yml
  .github/workflows/post-deploy-health-monitor.yml
  .github/workflows/release.yml
  .github/workflows/test-quality.yml
Due: none

fix(mt#3836): Feed the divergence detector its input, and make its write executable
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
  packages/domain/src/transcripts/claude-code-transcript-source.ts
  packages/domain/src/transcripts/single-file-transcript-source.test.ts
  packages/domain/src/transcripts/single-file-transcript-source.ts
  packages/domain/src/transcripts/transcript-source.ts
  scripts/backfill-agent-transcript-attachments.ts
  tests/integration/transcript-divergence-verdict-update.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3836): PR #2708 R1 — enforce the sidecar/retained invariant, pin empty-verdict idempotence
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
  packages/domain/src/transcripts/single-file-transcript-source.test.ts
  packages/domain/src/transcripts/transcript-source.ts
  tests/integration/transcript-divergence-verdict-update.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3811): measure daemon RSS at N sessions and N-client restart recovery
  docs/architecture/adr-038-local-shared-mcp-daemon-architecture.md
  docs/mcp-http-daemon-spike-findings.md
Due: bun node_modules/.bin/prettier --write

docs(mt#3811): fix stale "Left unverified" claims contradicted by this PR's own measurements
  docs/architecture/adr-038-local-shared-mcp-daemon-architecture.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3807): retract "no-model-turn" — `!` costs a turn by default; a setting controls it
  .claude/skills/cockpit/SKILL.md
  .minsky/skills/cockpit/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#3810): Draw the image the operator pasted, instead of a grey chip
  packages/domain/src/transcripts/conversation-elements.test.ts
  packages/domain/src/transcripts/conversation-elements.ts
  src/cockpit/web/components/ConversationElementRenderers.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3810): Cover the renderer arm, not just the parser
  src/cockpit/web/components/ConversationElementRenderers.image.test.tsx
Due: none

refactor(mt#3841): consolidate brand skill cluster (options A+C)
  .claude/skills/engineering-writing/SKILL.md
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/minsky-brand/SKILL.md
  .claude/skills/pz-voice/SKILL.md
  .claude/skills/voice-tells/SKILL.md
  .minsky/skills/engineering-writing/SKILL.md
  .minsky/skills/marketing-site-design/SKILL.md
  .minsky/skills/minsky-brand/SKILL.md
  .minsky/skills/pz-voice/SKILL.md
  .minsky/skills/voice-tells/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3807): PR #2710 R1 — the help text carried the retracted claim too
  src/commands/cockpit/open-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3843): Stack the thread's bottom-edge controls instead of letting them overlap
  src/cockpit/web/components/ConversationPresenceChip.tsx
  src/cockpit/web/components/ThreadOrientation.tsx
  src/cockpit/web/pages/ConversationPage.chrome.test.tsx
  src/cockpit/web/widgets/ConversationView.thread-footer.test.tsx
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/RunDetail.tsx
Due: none

fix(mt#3810): PR #2711 R1 — bound the inline paint, and name a missing source
  src/cockpit/web/components/ConversationElementRenderers.image.test.tsx
  src/cockpit/web/components/ConversationElementRenderers.tsx
Due: none

fix(mt#3841): R1 — minsky-brand is sole carrier of Pepsi/Arnell + bridge-as-affect
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/minsky-brand/SKILL.md
  .minsky/skills/analyze-adjacent-product/SKILL.md
  .minsky/skills/marketing-site-design/SKILL.md
  .minsky/skills/minsky-brand/SKILL.md
Due: bun node_modules/.bin/prettier --write

test(mt#3843): Assert the footer's geometry in a real browser, not just its structure
  scripts/README.md
  scripts/verify-conversation-footer-stack.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3841): R2 — link the minsky-brand §3 sibling reference
  .claude/skills/marketing-site-design/SKILL.md
  .minsky/skills/marketing-site-design/SKILL.md
Due: bun node_modules/.bin/prettier --write

test(mt#3843): Check the footer clears the newest turn at the bottom of the thread
  scripts/verify-conversation-footer-stack.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3844): Check what a product surface is FOR against the direction record, not its shape
  .claude/skills/check-premise/SKILL.md
  .claude/skills/product-thinking/SKILL.md
  .cursor/rules/communication-contract.mdc
  .minsky/rules/communication-contract.mdc
  .minsky/skills/check-premise/SKILL.md
  .minsky/skills/product-thinking/skill.ts
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3843): PR #2713 R1 — readiness gate, footer-wide hit test, one scrollport anchor
  scripts/verify-conversation-footer-stack.ts
  scripts/verify-conversation-live-tail.ts
  scripts/verify-conversation-orientation.ts
  src/cockpit/web/widgets/ConversationView.thread-footer.test.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3838): partial: Hero headline/subheadline props + restructured v2 section components
  services/site/src/components/Hero.astro
  services/site/src/components/IdeaSectionV2.astro
  services/site/src/components/PreviewBanner.astro
  services/site/src/components/ProblemSectionV2.astro
  services/site/src/components/SubstrateWalkthroughV2.astro
  services/site/src/components/TwoDoorsV2.astro
Due: none

feat(mt#3838): partial: preview variant pages a/b/c and structure-gap essay
  services/site/src/pages/preview/a.astro
  services/site/src/pages/preview/b.astro
  services/site/src/pages/preview/c.astro
  services/site/src/pages/structure-gap.astro
Due: none

feat(mt#3838): partial: preview index linking the three variants and essay
  services/site/src/pages/preview/index.astro
Due: none

feat(mt#3286): partial: pure scanner for bare/malformed entity refs
  .claude/hooks/bare-entity-ref-scan.ts
  .minsky/hooks/bare-entity-ref-scan.test.ts
  .minsky/hooks/bare-entity-ref-scan.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3773): Drop the preload from the deploy migration step; correct the ops docblock
  .github/workflows/deploy-minsky-mcp.yml
  services/minsky-ops/deploy.config.ts
  tests/architecture/bundle-reflect-polyfill.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3780): PR #2715 R1 — attribute trees to projects, use the pinned tsgo
  scripts/typecheck-coverage.ts
  tests/architecture/typecheck-coverage.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3286): turn-end detector for entity refs the reader cannot click
  .claude/hooks/registry.ts
  .claude/hooks/turn-end-bare-ref-scan.ts
  .cursor/rules/cockpit-deeplinks.mdc
  .minsky/hooks/guard-feedback-shape.test.ts
  .minsky/hooks/registry.ts
  .minsky/hooks/turn-end-bare-ref-scan.ts
  .minsky/rules/cockpit-deeplinks.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3773): PR #2716 R1 — carve SC2/SC3 into mt#3848; de-brittle the workflow enumeration
  tests/architecture/bundle-reflect-polyfill.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
