Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): Add prBranch field to session record during PR creation
  src/domain/session/commands/pr-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#332): Complete ESLint test pattern rules + fix critical session PR bugs
  process/tasks/332-create-eslint-rule-to-forbid-real-filesystem-operations-in-tests.md
Due: bun node_modules/.bin/prettier --write

feat(#332): Complete database schema migration for session PR fields
  src/domain/storage/migrations/meta/_journal.json
  src/domain/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(schema): Use correct pgText import for PostgreSQL text columns
  src/domain/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#182): Add AI-powered rule suggestion CLI with regex bug fixes
  src/cli.ts
  src/commands/context/index.ts
  src/commands/context/suggest-rules.integration.test.ts
  src/commands/context/suggest-rules.ts
  src/domain/context/rule-suggestion.ts
  src/domain/context/types.ts
  src/domain/rules/operations/base-rule-operation.ts
  src/domain/rules/operations/core-operations.ts
  src/domain/rules/operations/file-operations.ts
  src/domain/rules/operations/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update CHANGELOG with documentation consolidation completion
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(pr): fix PR creation hanging due to commit message validation
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(git): prevent PR creation hanging by disabling interactive git prompts
  src/utils/git-exec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(pr): add --no-verify to merge command to skip git hooks
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(pr): improve merge conflict error message guidance
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#357): update changelog for GitHub Issues backend integration
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(session-pr): improve error output and enforce body requirement
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/domain/git/operations/base-git-operation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session-pr): implement proper new PR vs existing PR body validation
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): remove verbose JSON error logging from session commands
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/domain/git/pr-branch-bug.test.ts
  src/domain/git/pr-branch-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(git): prevent PR creation from PR branches (re-add missing validation)
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): restore JSON blob logging fixes as instructed
  src/domain/session/session-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(git-workflow): prevent PR creation with session branch conflicts
  process/tasks/357-integrate-github-issues-backend-with-repository-backend-architecture.md
  src/domain/git/prepared-merge-commit-workflow.ts
  src/domain/session/session-pr-workflow-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(architecture): eliminate string matching and consolidate PR creation paths
  CHANGELOG.md
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/domain/git/prepare-pr-operations.ts
  src/domain/git/prepared-merge-commit-workflow.ts
  src/errors/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(git): use existing ConflictDetectionService instead of creating duplicates
  .cursor/rules/bun-test-patterns.mdc
Due: none

fix: remove conflict markers and clean up duplicate files
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(task): create task md#380 for release-based changelog management system
  CHANGELOG.md
  process/tasks.md
  process/tasks/md#380-design-release-based-changelog-management-system.md
Due: bun node_modules/.bin/prettier --write

fix(tasks): implement proper unified ID format display (STRICT OUT)
  process/tasks.md
  src/domain/tasks/taskFunctions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(conflict-detection): prevent merge --abort when no merge transaction exists
  src/domain/git/merge-simulation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session-pr): use session operations layer instead of bypassing to git layer
  src/domain/session/commands/pr-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session-pr): provide proper dependencies to sessionPrImpl
  src/domain/session/commands/pr-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Use configuration system for GitHub token detection
  process/tasks.md
  src/commands/github/status.ts
  src/domain/tasks/githubBackendConfig.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(gh-status): Improve GitHub configuration UX by distinguishing auto-detection from explicit config
  .minsky/config.yaml
  process/tasks.md
  process/tasks/md#381-create-eslint-rule-to-prevent-direct-environment-variable-access-outside-configuration-system.md
  src/commands/github/status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog for GitHub configuration and status UX fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(prepared-merge): use reset instead of merge --abort for --no-commit merges
  src/domain/git/prepared-merge-commit-workflow.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Update remaining GitHub token access to use configuration system
  .minsky/config.yaml
  src/commands/github/test.ts
  src/domain/repository/github.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(prepared-merge): eliminate duplicate conflict detection logic
  src/domain/git/prepared-merge-commit-workflow.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(prepared-merge): use session name for PR branch instead of title-based name
  src/domain/git/prepared-merge-commit-workflow.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session-pr): remove extra # from task ID in status update message
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(git): remove task status updates from git layer
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Replace dynamic imports with static imports per no-dynamic-imports rule
  src/commands/github/status.ts
  src/commands/github/test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Replace hardcoded config paths and env var names with dynamic values from config system
  src/commands/github/status.ts
  src/commands/github/test.ts
  src/domain/repository/github.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog for dynamic configuration path improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Remove hardcoded environment variable access from status command
  src/commands/github/status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Remove useless 'Token source: configuration system' from verbose output
  src/commands/github/status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Add meaningful output principles rule
  .cursor/rules/meaningful-output-principles.mdc
Due: none

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
