Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3264): Preserve the original error through the rewrite, per reviewer R1
  packages/domain/src/git/push-operations.test.ts
  packages/domain/src/git/push-operations.ts
  scripts/verify-github-app-permissions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4343): Repeat the peek's tracking assertion 82 times, and find a different defect
  packages/domain/src/configuration/sources/environment.ts
  scripts/measure-peek-drag-tracking.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4308): Size the pool from the measured pooler budget, and show saturation before it bites
  packages/domain/src/persistence/providers/postgres-provider.test.ts
  packages/domain/src/persistence/providers/postgres-provider.ts
  packages/domain/src/persistence/raw-sql-pooler-guard.test.ts
  packages/domain/src/persistence/raw-sql-pooler-guard.ts
  src/adapters/shared/commands/debug.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4345): Add skip-if-unchanged guard to the transcript turn upsert
  packages/domain/src/transcripts/turn-writer.test.ts
  packages/domain/src/transcripts/turn-writer.ts
  scripts/verify-turn-write-skip-if-unchanged.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4344): partial: query transcripts with <-> so the L2 HNSW index is usable
  packages/domain/src/transcripts/transcript-similarity-service.ts
  src/adapters/shared/commands/transcripts/search-command.test.ts
  src/adapters/shared/commands/transcripts/search-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3726): Route symbol-free claims to ADR-024's Rung 2, not a trigger-phrase corpus
  .claude/hooks/code-mechanism-assertion-detector.ts
  .claude/hooks/known-override-env-vars.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-identity.test.ts
  .minsky/hooks/code-mechanism-assertion-symbol-free.test.ts
  .minsky/hooks/known-override-env-vars.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/code-mechanism-assertion-detector.md
  packages/domain/src/configuration/sources/environment.ts
  scripts/verify-symbol-free-nomination.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4343): PR #3175 R1 — refuse to run rather than report a typo as a pass
  scripts/measure-peek-drag-tracking.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4289): Classify who authored a user-role line, and stop calling it all human
  .claude/hooks/transcript.ts
  .minsky/hooks/transcript.test.ts
  .minsky/hooks/transcript.ts
  packages/domain/src/detectors/unasked-direction-analyzer.ts
  packages/domain/src/provenance/authorship-judge.ts
  packages/domain/src/provenance/transcript-service.ts
  packages/domain/src/storage/migrations/pg/0101_boring_thor_girl.sql
  packages/domain/src/storage/migrations/pg/meta/0101_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/agent-transcript-turns-schema.ts
  packages/domain/src/transcripts/summary-generator.test.ts
  packages/domain/src/transcripts/turn-extractor.test.ts
  packages/domain/src/transcripts/turn-extractor.ts
  packages/domain/src/transcripts/turn-writer.ts
  packages/domain/src/transcripts/user-line-origin.test.ts
  packages/domain/src/transcripts/user-line-origin.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4308): PR #3177 R1 — the docs asserted the ceiling the code just retired
  docs/persistence-configuration.md
  docs/sessiondb-migration-guide.md
  packages/domain/src/persistence/raw-sql-pooler-guard.test.ts
  packages/domain/src/persistence/raw-sql-pooler-guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4344): tie every vector index's opclass to its query path's operator
  packages/domain/src/storage/vector/operator-class-alignment.test.ts
  packages/domain/src/storage/vector/operator-class-alignment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4300): PR #3164 R1 — a backstop shorter than its own loop is not a backstop
  .github/workflows/ci.yml
Due: none

docs(mt#4344): record that TranscriptTurnResult.score has two producers
  packages/domain/src/transcripts/transcript-similarity-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4344): state in the file why it bypasses the shared vector layer
  packages/domain/src/transcripts/transcript-similarity-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4289): Surface user_origin on the search results, and let a caller filter on it
  docs/rules-rationale/principal-context.md
  packages/domain/src/transcripts/transcript-fts-service.test.ts
  packages/domain/src/transcripts/transcript-fts-service.ts
  packages/domain/src/transcripts/transcript-similarity-service.ts
  src/adapters/shared/commands/transcripts/search-text-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4348): One disclosure system, and a fold that shows its nesting
  docs/design-system.md
  docs/evidence/mt-4348/README.md
  docs/evidence/mt-4348/fold-collapsed.png
  docs/evidence/mt-4348/fold-expanded.png
  src/cockpit/web/components/ConversationDisclosure.test.tsx
  src/cockpit/web/components/ConversationElementRenderers.tsx
  src/cockpit/web/components/ConversationTurnView.tsx
Due: bun node_modules/.bin/prettier --write

fix(mt#4351): Peek an entity link the agent wrote, not just one we recognized
  docs/cockpit-ui.md
  src/cockpit/web/components/Prose.peek.test.tsx
  src/cockpit/web/components/Prose.tsx
  src/cockpit/web/lib/entity-linkifier.tsx
Due: bun node_modules/.bin/prettier --write

fix(mt#3726): PR #3178 R1 — surface the WARN AT4 asks for, on both entry points
  .claude/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-identity.test.ts
  .minsky/hooks/code-mechanism-assertion-symbol-free.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4344): PR #3179 R1 — fire on a distance expression no namespace claims
  packages/domain/src/storage/vector/operator-class-alignment.test.ts
  packages/domain/src/storage/vector/operator-class-alignment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#4289): Check the predicate against the corpus, not against our fixtures
  scripts/verify-user-line-origin.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#4351): Assert the inherited gestures instead of calling them inherited
  src/cockpit/web/components/Prose.peek.test.tsx
Due: none

docs(mt#4348): Carry CommandInvocation's carve-out into the design-system row
  docs/design-system.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4351): PR #3181 R1–R3 — stop re-typesetting prose, and stop eating the query
  src/cockpit/web/components/EntityRef.tsx
  src/cockpit/web/components/Prose.peek.test.tsx
  src/cockpit/web/components/Prose.tsx
  src/cockpit/web/lib/entity-linkifier.tsx
Due: none

fix(mt#3726): PR #3178 R4 — reattach the docblock my R1 insertion orphaned
  .claude/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4334): Say that the ack result's reviewDue is the pre-ack set [no-deploy-impact]
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
Due: bun node_modules/.bin/prettier --write

test(mt#4302): Guard the snapshot window's SQL against a real Postgres
  tests/integration/snapshot-window-sql.testcontainer.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4289): PR #3182 R1 — give similarity search the filter, not just the field
  docs/architecture/adr-025-transcript-storage-object-store-system-of-record.md
  packages/domain/src/transcripts/transcript-similarity-service.test.ts
  packages/domain/src/transcripts/transcript-similarity-service.ts
  scripts/verify-user-line-origin.ts
  src/adapters/shared/commands/transcripts/search-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4349): Tell the page it is focused, and the 40% precondition flake goes to zero
  scripts/measure-peek-drag-frames.ts
  scripts/measure-peek-drag-tracking.ts
  scripts/verify-peek-resize.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4334): PR #3183 R1 — three fields, not four; drop the drifting line ref [no-deploy-impact]
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4299): PR #3173 R4 — compile the id matcher per call instead of sharing lastIndex
  .claude/hooks/claim-provenance-scan.ts
  .minsky/hooks/claim-provenance-scan.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4236): PR #3165 R1 — make the claim recognizers obey their own contract
  .claude/hooks/evidence-provenance-table.ts
  .minsky/hooks/evidence-provenance-table.ts
  .minsky/hooks/evidence-record-provenance.test.ts
  docs/architecture/hooks/evidence-record-provenance.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4353): Un-stick the mute that let a guard watch only a session's first seconds
  .claude/hooks/detect-cli-mcp-substitution.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/detect-cli-mcp-substitution.test.ts
  .minsky/hooks/detect-cli-mcp-substitution.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/cli-mcp-substitution-detector.md
  scripts/replay-cli-mcp-substitution.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4234): Cap the rendered phrase, so the declared ceiling is a ceiling
  .claude/hooks/ask-routing-deferral-detector.ts
  .claude/hooks/dispatcher.ts
  .claude/hooks/registry-prompt-scan-guards.ts
  .minsky/hooks/ask-routing-deferral-detector.test.ts
  .minsky/hooks/ask-routing-deferral-detector.ts
  .minsky/hooks/dispatcher.ts
  .minsky/hooks/guard-feedback-shape.test.ts
  .minsky/hooks/registry-prompt-scan-guards.ts
  docs/architecture/hooks/ask-routing-deferral-detector.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3353): Give a never-dispatched ask a way to end, and a record of who ended it
  packages/domain/src/ask/close-as-resolved.test.ts
  packages/domain/src/ask/close-as-resolved.ts
  packages/domain/src/ask/edit.ts
  src/adapters/shared/commands/asks.cancel.test.ts
  src/adapters/shared/commands/asks.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4355): Tell the engine the page is dark, and stop styling every scrollbar
  docs/design-system.md
  scripts/verify-session-film-panes.ts
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
  src/cockpit/web/index.css
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4294): Maintain the fire-log lifetime rollup at ingest instead of re-scanning the corpus
  packages/domain/src/guard-events/aggregates.ts
  packages/domain/src/guard-events/fire-log-rollup.test.ts
  packages/domain/src/guard-events/fire-log-rollup.ts
  packages/domain/src/guard-events/ingest-runtime.ts
  packages/domain/src/storage/migrations/pg/0101_brave_stardust.sql
  packages/domain/src/storage/migrations/pg/meta/0101_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/guard-events-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4356): Fire on a surface that was REDESIGNED, not only one that was added
  .claude/hooks/new-surface-design-pass.ts
  .minsky/hooks/new-surface-design-pass.test.ts
  .minsky/hooks/new-surface-design-pass.ts
  docs/architecture/hooks/new-surface-design-pass.md
  scripts/replay-new-surface-design-pass.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3353): Correct a deploy-config comment that outlived the change it describes
  services/minsky-ops/deploy.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
