Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bun node_modules/.bin/prettier --write

Change default log level from debug to info
  docs/logging.md
  src/utils/logger.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update CHANGELOG.md for Task #081
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Add tests for rules CLI command fixes
  src/adapters/__tests__/cli/rules.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update workflow rules to include git approve command
  new-rules/pr-preparation-workflow.mdc
Due: none

Adds git approve command for merging session PRs
  CHANGELOG.md
  new-rules/minsky-workflow-orchestrator.mdc
  new-rules/pr-preparation-workflow.mdc
Due: bun node_modules/.bin/prettier --write

Update Minsky workflow rules to include git approve command
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/pr-preparation-workflow.mdc
Due: none

fix(#083): Fix rules CLI implementation to properly read file contents and parse glob patterns
  .cursor/rules/globs-test-1.mdc
  .cursor/rules/globs-test-2.mdc
  .cursor/rules/test-rule.mdc
  part1.ts
  part2.ts
  part3.ts
  process/tasks/083/fix-bugs-in-minsky-rules-cli-implementation.md
  src/adapters/cli/rules.ts.bak
  test-content.md
Due: eslint --fix, bun node_modules/.bin/prettier --write

Marks structured logging task as complete
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

test: Update rules tests to follow proper testing boundaries
  .cursor/rules/globs-verification.mdc
  .cursor/rules/verification-rule.mdc
  verification-content.md
Due: bun node_modules/.bin/prettier --write

chore: mark task 073 as DONE and update CHANGELOG
  CHANGELOG.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Fix rules CLI command to properly handle content files and glob formats
  CHANGELOG.md
  src/adapters/__tests__/cli/cli-rules-integration.test.ts
  src/adapters/__tests__/cli/rules-helpers.test.ts
  src/adapters/cli/rules.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Add task #084 to tasks.md
  process/tasks.md
  process/tasks/084-extend-auto-detection-to-additional-commands.md
Due: bun node_modules/.bin/prettier --write

fix(rules-cli): Fix content file handling and simplify glob pattern handling
  src/adapters/__tests__/cli/cli-rules-integration.test.ts
  src/adapters/__tests__/cli/rules-helpers.test.ts
  src/adapters/__tests__/cli/rules.test.ts
  src/adapters/cli/rules.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Add PR preparation workflow rule with git approve command
  .cursor/rules/pr-preparation-workflow.mdc
Due: none

Update workflow rules to document git approve command for PRs
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/pr-preparation-workflow.mdc
Due: none

Fix workflow rules by restoring content and adding git approve documentation
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/pr-preparation-workflow.mdc
Due: none

Update task #074 with phased approach for auto-dependency installation
  process/tasks/074-implement-auto-dependency-installation-for-session-workspaces.md
Due: bun node_modules/.bin/prettier --write

Fix test suite failures in workspace and rules-helpers tests
  CHANGELOG.md
  src/adapters/__tests__/cli/rules-helpers.test.ts
  src/domain/workspace.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Fix rule files to preserve main branch structure with git approve documentation
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/pr-preparation-workflow.mdc
Due: none

Add task #085 for migrating CLI adapter tests to test domain methods
  process/tasks.md
  process/tasks/085-migrate-cli-adapter-tests-to-test-domain-methods-instead.md
Due: bun node_modules/.bin/prettier --write

feat(#025): Add git approve command for PR merging
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

testing approve
  test-file
Due: none

test(#085): Migrate CLI adapter tests to test domain methods instead
  CHANGELOG.md
  process/tasks/085/pr.md
  src/adapters/__tests__/integration/rules.test.ts
  src/adapters/__tests__/integration/session.test.ts
  src/adapters/__tests__/integration/session.test.ts.bak
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: implement missing preparePrFromParams function
  CHANGELOG.md
  src/domain/git.ts
  src/domain/index.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update task #085 spec with progress and remaining work
  process/tasks/085-migrate-cli-adapter-tests-to-test-domain-methods-instead.md
Due: bun node_modules/.bin/prettier --write

test(#085): Add additional domain method tests for startSession and createRule
  CHANGELOG.md
  process/tasks/085-migrate-cli-adapter-tests-to-test-domain-methods-instead.md
  process/tasks/085/pr.md
  src/adapters/__tests__/integration/rules.test.ts
  src/adapters/__tests__/integration/session.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: add rule to ensure all changes are committed and pushed
  .cursor/rules/commit-all-changes-rule.mdc
  .cursor/rules/user-preferences.mdc
Due: none

Task #084: Update task spec to reflect current command structure
  CHANGELOG.md
  process/tasks/084-extend-auto-detection-to-additional-commands.md
Due: bun node_modules/.bin/prettier --write

docs: add description to commit-all-changes rule
  .cursor/rules/commit-all-changes-rule.mdc
Due: none

test(#085): Add tests for getSessionDirFromParams domain method
  process/tasks/085-migrate-cli-adapter-tests-to-test-domain-methods-instead.md
  src/adapters/__tests__/integration/session.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: implement missing mergePrFromParams function
  CHANGELOG.md
  src/domain/git.ts
  src/domain/index.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

test(#085): Add tests for updateRule domain method
  process/tasks/085-migrate-cli-adapter-tests-to-test-domain-methods-instead.md
  src/adapters/__tests__/integration/rules.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Enables automatic commit-all-changes rule
  .cursor/rules/commit-all-changes-rule.mdc
Due: none

test(#085): Add tests for Tasks domain methods
  process/tasks/085-migrate-cli-adapter-tests-to-test-domain-methods-instead.md
  src/adapters/__tests__/integration/tasks.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

feat: add new feature
  process/tasks.md
  src/adapters/__tests__/integration/git.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

feat: add new feature
  src/adapters/__tests__/integration/git.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

test(#085): Add tests for Git and Workspace domain methods
  process/tasks/085-migrate-cli-adapter-tests-to-test-domain-methods-instead.md
  src/adapters/__tests__/integration/workspace.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
