Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#552): convert GitService and remoteGitBackend to lazy sessionDb initialization
  src/domain/git.ts
  src/domain/remoteGitBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#553): add tsc --noEmit type checking to CI pipeline
  .github/workflows/ci.yml
  package.json
Due: bun node_modules/.bin/prettier --write

fix(#554): add missing await to remaining createSessionProvider() call sites
  scripts/fix-orphaned-task-sessions.ts
  scripts/migrate-taskless-sessions.ts
  scripts/normalize-session-task-ids.ts
  src/domain/changeset/adapters/local-git-adapter.ts
  src/domain/repo-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#555): add ESLint rule no-unwaited-async-factory and fix all violations
  eslint-plugin-minsky.js
  eslint-rules/no-unwaited-async-factory.js
  eslint.config.js
  scripts/fix-orphaned-task-sessions.ts
  scripts/migrate-taskless-sessions.ts
  scripts/normalize-session-task-ids.ts
  src/domain/changeset/adapters/local-git-adapter.ts
  src/domain/git.ts
  src/domain/repo-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#555): add ESLint rule no-unwaited-async-factory and fix all violations (#230)
  eslint-plugin-minsky.js
  eslint-rules/no-unwaited-async-factory.js
  eslint.config.js
  scripts/fix-orphaned-task-sessions.ts
  scripts/migrate-taskless-sessions.ts
  scripts/normalize-session-task-ids.ts
  src/domain/changeset/adapters/local-git-adapter.ts
  src/domain/git.ts
  src/domain/repo-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#553): add tsc --noEmit type checking to CI pipeline (#228)
  .github/workflows/ci.yml
  package.json
Due: bun node_modules/.bin/prettier --write

fix: make tsc non-blocking in CI and tighten placeholder test detection
  .github/workflows/ci.yml
  .github/workflows/test-quality.yml
Due: none

fix: move Test before Build in CI and fix bun build target
  .github/workflows/ci.yml
Due: none

fix: pin Bun to 1.2.21 in CI and upgrade setup-bun to v2
  .github/workflows/ci.yml
  .github/workflows/test-quality.yml
Due: none

fix: make Test and Build steps non-blocking in CI
  .github/workflows/ci.yml
Due: none

docs: update CLAUDE.md with session workflow and known limitations
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

chore(#560): add format:check and typecheck to validate-all script
  package.json
Due: bun node_modules/.bin/prettier --write

fix(#556): use getSessionWorkdir() instead of non-existent session.workdir
  src/domain/git/commands/checkout-command.ts
  src/domain/git/commands/commit-command.ts
  src/domain/git/commands/merge-command.ts
  src/domain/git/commands/rebase-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#557): add parameter validation to search_replace handlers
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/task-edit-tools.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#556): use getSessionWorkdir() instead of non-existent session.workdir (#231)
  src/domain/git/commands/checkout-command.ts
  src/domain/git/commands/commit-command.ts
  src/domain/git/commands/merge-command.ts
  src/domain/git/commands/rebase-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#557): add parameter validation to search_replace handlers (#232)
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/task-edit-tools.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#556): resolve session to workdir in BaseGitOperation.execute()
  src/domain/git/operations/base-git-operation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#559): work around Bun segfault on GitHub Actions Linux runners
  .github/workflows/ci.yml
Due: none

chore: add Supabase agent skills with postinstall auto-restore
  .gitignore
  CLAUDE.md
  package.json
  skills-lock.json
Due: bun node_modules/.bin/prettier --write

refactor(#562): centralize session directory resolution into resolveSessionDirectory()
  src/adapters/mcp/session-files.ts
  src/adapters/mcp/session-workspace.ts
  src/domain/git/operations/base-git-operation.ts
  src/domain/session-pr-no-branch-switch.test.ts
  src/domain/session/index.ts
  src/domain/session/resolve-session-directory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#563): handle pre-commit hook stderr and empty commits gracefully in session_commit
  CLAUDE.md
  src/domain/git.ts
  src/domain/session/session-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(#563): address review feedback - typed error, dedup helpers, null commitHash
  src/domain/git.ts
  src/domain/session/session-commands.ts
  src/errors/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#563): Handle pre-commit hook stderr and empty commits gracefully in session_commit (#233)
  src/domain/git.ts
  src/domain/session/session-commands.ts
  src/errors/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#564): add missing description field to ParameterMappingOptions and CommandParameterDefinition
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/bridges/parameter-mapper.ts
  src/adapters/shared/command-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#564): add missing description field to ParameterMappingOptions and CommandParameterDefinition (#234)
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/bridges/parameter-mapper.ts
  src/adapters/shared/command-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#565): add missing fields to Task, SessionRecord, and ErrorTemplate types
  src/domain/errors/message-templates.ts
  src/domain/session/session-db.ts
  src/domain/session/types.ts
  src/domain/tasks/types.ts
  src/errors/message-templates.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#566): add type guards to catch clauses for strict unknown typing
  scripts/lint-console-usage.ts
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/bridges/parameter-mapper.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/deps-visualization-commands.ts
  src/adapters/shared/commands/tasks/edit-commands.ts
  src/adapters/shared/commands/tasks/migrate-backend-validation.test.ts
  src/commands/config/set.test.ts
  src/commands/config/unset.test.ts
  src/commands/context/suggest-rules.ts
  src/domain/ai/review-service.ts
  src/domain/git.ts
  src/domain/session/session-approval-error-handling.test.ts
  src/domain/session/session-commands.ts
  src/domain/tasks/taskCommands.ts
  tests/fixtures/typescript/large-service.ts
  tests/integration/mock-session-edit-tools.ts
  tests/integration/session-edit-file-cursor-parity.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#565): add missing fields to Task, SessionRecord, and ErrorTemplate types (#235)
  src/domain/errors/message-templates.ts
  src/domain/session/session-db.ts
  src/domain/session/types.ts
  src/domain/tasks/types.ts
  src/errors/message-templates.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#566): add type guards to catch clauses for strict unknown typing (#236)
  scripts/lint-console-usage.ts
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/bridges/parameter-mapper.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/deps-visualization-commands.ts
  src/adapters/shared/commands/tasks/edit-commands.ts
  src/adapters/shared/commands/tasks/migrate-backend-validation.test.ts
  src/commands/config/set.test.ts
  src/commands/config/unset.test.ts
  src/commands/context/suggest-rules.ts
  src/domain/ai/review-service.ts
  src/domain/git.ts
  src/domain/session/session-approval-error-handling.test.ts
  src/domain/session/session-commands.ts
  src/domain/tasks/taskCommands.ts
  tests/fixtures/typescript/large-service.ts
  tests/integration/mock-session-edit-tools.ts
  tests/integration/session-edit-file-cursor-parity.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#577): add missing type exports for TS2459 errors
  src/adapters/shared/schema-bridge.ts
  src/domain/git/conflict-detection.ts
  src/domain/git/types.ts
  src/domain/tasks.ts
  src/domain/tasks/multi-backend-service.ts
  src/utils/logger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#577): add missing type exports for TS2459 errors (#237)
  src/adapters/shared/schema-bridge.ts
  src/domain/git/conflict-detection.ts
  src/domain/git/types.ts
  src/domain/tasks.ts
  src/domain/tasks/multi-backend-service.ts
  src/utils/logger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#576): add missing fields to CLI options and remaining TS2353 types
  src/adapters/mcp/shared-command-integration.ts
  src/domain/ai/types.ts
  src/domain/rules/command-generator.ts
  src/types/tasks/taskData.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#576): add missing fields to CLI options and remaining TS2353 types (#238)
  src/adapters/mcp/shared-command-integration.ts
  src/domain/ai/types.ts
  src/domain/rules/command-generator.ts
  src/types/tasks/taskData.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#579): add type guards to remaining catch clauses in test files
  src/domain/configuration/validation.ts
  src/domain/git.test.ts
  src/domain/prepared-merge-commit-workflow.test.ts
  src/utils/test-utils/assertions.ts
  src/utils/test-utils/compatibility/matchers.ts
  src/utils/test-utils/enhanced-utils.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#579): add type guards to remaining catch clauses in test files (#239)
  src/domain/configuration/validation.ts
  src/domain/git.test.ts
  src/domain/prepared-merge-commit-workflow.test.ts
  src/utils/test-utils/assertions.ts
  src/utils/test-utils/compatibility/matchers.ts
  src/utils/test-utils/enhanced-utils.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(rules): clean up frontmatter, deduplicate content, distill bloated rules
  .cursor/rules/bun_over_node.mdc
  .cursor/rules/cli-bridge-development.mdc
  .cursor/rules/comments.mdc
  .cursor/rules/ensure-ascii-code-symbols.mdc
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/session-first-workflow.mdc
  .cursor/rules/terminal-command-best-practices.mdc
  .cursor/rules/user-preferences.mdc
  .cursor/rules/variable-naming-protocol.mdc
  src/domain/rules/rule-template-service.ts
  src/domain/rules/rule-template-service.ts.backup
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(rules): implement rules compile command for AGENTS.md generation
  src/adapters/shared/commands/rules.ts
  src/domain/rules/compile-monolithic.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#578): fix argument count mismatches in function calls
  src/adapters/cli/tasks/depsCommand.ts
  src/adapters/shared/commands/rules.ts
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/domain/tasks-interface-commands.test.ts
  src/domain/utils/logger.ts
  src/utils/test-utils/individual-service-factories.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#578): fix argument count mismatches in function calls (#240)
  src/adapters/cli/tasks/depsCommand.ts
  src/adapters/shared/commands/rules.ts
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/domain/tasks-interface-commands.test.ts
  src/domain/utils/logger.ts
  src/utils/test-utils/individual-service-factories.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(rules): add tests for compileMonolithic rules compilation
  src/adapters/shared/commands/rules.ts
  src/domain/rules/compile-monolithic.test.ts
  src/domain/rules/compile-monolithic.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
