Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

chore(#129): Clean up test artifacts
  test-tmp/json-backend-test/test-tasks-1748014550900-0.2490354117158624.json
  test-tmp/json-backend-test/test-tasks-1748014792857-0.43643848272746544.json
  test-tmp/json-backend-test/workspace/process/tasks/007-test-task.md
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014797269-0.9076864754443946.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014797271-0.9164159364742852.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014797272-0.9781763588557687.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014797273-0.9428229642198379.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014797274-0.0371972984782909.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014839119-0.4089598493193306.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014839122-0.8713877518213078.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014839123-0.6255545389595473.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014839125-0.8334514710279599.json
  test-tmp/taskservice-jsonfile-test/test-tasks-1748014839126-0.08938062616810027.json
  test-tmp/taskservice-jsonfile-test/workspace/process/tasks/filter-test-1.md
  test-tmp/taskservice-jsonfile-test/workspace/process/tasks/filter-test-2.md
  test-tmp/taskservice-jsonfile-test/workspace/process/tasks/persistence-test.md
  test-tmp/taskservice-jsonfile-test/workspace/process/tasks/status-test.md
  test-tmp/taskservice-jsonfile-test/workspace/process/tasks/test-task.md
  test-tmp/taskservice-jsonfile-test/workspace/process/tasks/validation-test.md
Due: bun node_modules/.bin/prettier --write

docs(#130): Add comprehensive task specification for system stability post-CLI bridge
  process/tasks/130-system-stability-post-cli-bridge.md
Due: bun node_modules/.bin/prettier --write

docs: update changelog for session command fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(task#130): update completion status to 95% - exceeded all quantitative targets with 94.3% test success rate, 473 passing tests, major bun:test compatibility fixes completed
  process/tasks/130-system-stability-post-cli-bridge.md
Due: bun node_modules/.bin/prettier --write

fix(tests): resolve sessionReviewFromParams bun:test compatibility issues - restore mock implementations after reset in beforeEach and replace toHaveBeenCalledWith with direct call checking
  src/domain/__tests__/session-review.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tests): resolve Session Commands bun:test compatibility issues - replace expect.objectContaining and custom asymmetric matchers with simple property assertions that work with bun:test
  src/adapters/__tests__/shared/commands/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Clarifies professional communication guidelines
  .cursor/rules/user-preferences.mdc
Due: none

Updates task list in process documentation
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(#115): Add comprehensive PR description following guidelines
  process/tasks/115/di-patterns-analysis.md
  process/tasks/115/di-testing-patterns-guide.md
  process/tasks/115/task-115-summary.md
Due: bun node_modules/.bin/prettier --write

docs(#115): Add comprehensive PR description following guidelines
  process/tasks/115/pr.md
Due: bun node_modules/.bin/prettier --write

fix(tests): correct module mocking paths for rules commands - Fix mock path from adapters/cli/rules.js to utils/rules-helpers.js - Eliminates Rules Commands test failures in full suite runs
  src/adapters/__tests__/shared/commands/rules.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Add task #131 to fix TypeScript issues in DI helpers - Created via minsky tasks create command following proper workflow
  process/tasks.md
  process/tasks/131-fix-typescript-issues-in-di-helpers.md
Due: bun node_modules/.bin/prettier --write

docs: update changelog for task #131 TypeScript fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Updates task statuses in task list
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(#131): Add comprehensive PR description following guidelines
  process/tasks/131/pr.md
Due: bun node_modules/.bin/prettier --write

docs(#132): Correct task specification for CLI output formatting fix
  fix-session-get-output.md
Due: bun node_modules/.bin/prettier --write

fix(#074): Fix Bun package manager detection and add missing CLI flag
  src/adapters/shared/commands/session.ts
  src/utils/__tests__/package-manager.test.ts
  src/utils/package-manager.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#074): Document bug fixes and completion status
  process/tasks/074-implement-auto-dependency-installation-for-session-workspaces.md
Due: bun node_modules/.bin/prettier --write

docs(#074): Complete PR description for bug fixes
  process/tasks/074/pr.md
Due: bun node_modules/.bin/prettier --write

fix(#079): Fix linter errors in GitService - remove .js extensions, update interface types, replace console.error
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#079): Update task progress - linter errors fixed, ready for test implementation
  process/tasks/079-revisit-gitservice-testing-strategy.md
Due: bun node_modules/.bin/prettier --write

feat: create task #133 - Fix CLI Flag Naming Inconsistency for Task Identification
  process/tasks/133-fix-cli-flag-naming-inconsistency-for-task-identification.md
Due: bun node_modules/.bin/prettier --write

feat(#079): Implement comprehensive GitService tests using dependency injection - replace complex mocking with clean DI patterns, 3/3 PR workflow tests passing
  src/domain/git.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#079): Update progress - breakthrough in DI testing patterns, 65% test pass rate achieved
  process/tasks/079-revisit-gitservice-testing-strategy.md
Due: bun node_modules/.bin/prettier --write

feat(#079): Achieve 100% GitService test pass rate with dependency injection patterns
  process/tasks.md
  process/tasks/079-revisit-gitservice-testing-strategy.md
  src/domain/git.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#079): Implement comprehensive dependency injection patterns for GitService methods
  process/tasks/079-revisit-gitservice-testing-strategy.md
  src/domain/git.test.ts
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#079): Implement comprehensive multi-tier dependency injection architecture for GitService
  process/tasks/079-revisit-gitservice-testing-strategy.md
  src/domain/git.test.ts
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove unnecessary 'success: true' logging from session commands
  src/adapters/shared/bridges/cli-bridge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog for task #133 CLI flag consistency fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#134): Resolve file locking deadlocks and test race conditions
  src/domain/storage/json-file-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#133): add comprehensive PR description following pr-description-guidelines
  process/tasks/133/pr.md
Due: bun node_modules/.bin/prettier --write

fix(tests): enhance test isolation and resolve JSON storage race conditions
  src/domain/storage/__tests__/json-file-storage.test.ts
  src/domain/storage/json-file-storage.ts
  src/domain/tasks/__tests__/jsonFileTaskBackend.test.ts
  src/domain/tasks/__tests__/taskService-jsonFile-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Add task#079 documentation directory
  process/tasks/079/pr.md
Due: bun node_modules/.bin/prettier --write

fix(logging): replace console.log/error with log utilities in CLI handlers
  src/adapters/cli/utils/error-handler.ts
  src/adapters/cli/utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(tests): enhance race condition protection with better isolation and cleanup
  src/domain/tasks/__tests__/taskService-jsonFile-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(registry): refactor global command registry to support dependency injection
  src/adapters/__tests__/cli/integration-example.test.ts
  src/adapters/shared/command-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Marks tasks as completed
  process/tasks.md
  process/tasks/136-test-fix-in-session-workspace.md
Due: bun node_modules/.bin/prettier --write

fix(tests): remove global fs module mocking to prevent race conditions
  src/adapters/__tests__/cli/rules-helpers.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tests): improve file system synchronization in JSON integration test
  src/domain/tasks/__tests__/taskService-jsonFile-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

enhance(tests): add async filesystem methods to mock utility
  src/utils/test-utils/mocking.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
