Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

docs: update changelog to note test-driven-bugfix approach
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#276): Systematic AST codemod fixes for 7 test categories
  codemods/clone-operations-mock-infrastructure-fixer.ts
  codemods/conflict-detection-service-comprehensive-fixer.ts
  codemods/conflict-detection-service-expectation-fixer.ts
  codemods/git-commands-integration-mock-fixer.ts
  codemods/interface-agnostic-task-functions-mock-fixer.ts
  codemods/parameter-based-git-functions-mock-fixer.ts
  codemods/session-edit-tools-command-mapper-mock-fixer.ts
  codemods/session-edit-tools-command-mapper-signature-fixer.ts
  codemods/session-edit-tools-path-resolver-usage-fixer.ts
  codemods/session-update-mock-infrastructure-fixer.ts
  src/domain/git/clone-operations.test.ts
  src/domain/git/commands/__tests__/integration.test.ts
  src/domain/git/conflict-detection.test.ts
  src/domain/git/parameter-based-functions.test.ts
  src/domain/session-update.test.ts
  src/domain/tasks.test.ts
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Complete removal of node-config system
  config/default.json
  config/default.yaml
  config/test.yaml
  migration-test.ts
  src/domain/configuration/index.test.ts
  src/domain/configuration/index.ts
  src/domain/configuration/sessiondb-config.test.ts
  src/domain/session/session-approve-bugfix-regression.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#303): increase git merge timeout for session PR creation
  .pr_title
Due: none

fix: Make logger initialization lazy to prevent configuration access during module loading
  src/commands/config/list.ts
  src/domain/configuration/index.ts
  src/domain/git/prepare-pr-operations.ts
  src/utils/logger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#303): document session PR timeout fix in changelog
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#276): Fix Session Approve Log Mock Fixer systematic issues
  as-unknown-ast-fixer.test.ts
  codemods/session-approve-log-mock-fixer.test.ts
  src/domain/git/commands/__tests__/integration.test.ts
  src/domain/git/parameter-based-functions.test.ts
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

perf(#303): optimize title duplication checker for large commit messages
  scripts/check-title-duplication.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Resolve node-config system removal and configuration access issues
  CHANGELOG.md
  src/adapters/shared/commands/config.ts
  src/commands/config/list.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#303): update PR title and description for session PR
  .pr_title
Due: none

fix: Handle missing credentials property in config formatting
  src/adapters/cli/cli-command-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#303): update PR description to avoid title duplication
  .pr_title
Due: none

docs: document Task #303 completion and session PR performance fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#303): increase title duplication validation threshold to 5000 chars
  scripts/check-title-duplication.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog for configuration system migration completion
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#276): Update task spec with Phase 11H systematic AST codemod achievements
  session-approve.test.ts
  syntax-test.test.ts
  test.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#303): remove dead .pr_title file creation code
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#303): clean up leftover files and update task documentation
  .pr_title
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(303): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(#276): Systematic AST codemod for bun:test vs vitest mocking consistency
  codemods/bun-test-mocking-consistency-fixer.ts
  codemods/session-approve-log-mock-fixer.test.ts
  scripts/fix-mocking-consistency.ts
  src/domain/session-approve-branch-cleanup.test.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  virtual-session-approve.test.ts
  virtual-syntax-test.test.ts
  virtual-test-2.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve SpecialWorkspaceManager import and method call issues
  codemods/bun-test-mocking-consistency-fixer.test.ts
  codemods/bun-test-mocking-consistency-fixer.ts
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
  src/domain/session-approve-branch-cleanup.test.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  src/domain/tasks/task-backend-router.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
