Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2163): correct stop/restart polling loop logic
  src/cockpit/launchd.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2163): throw on stop timeout instead of silent success
  src/cockpit/launchd.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2127): add /review comment command and reviewer.retrigger MCP tool
  services/reviewer/src/comment-command.test.ts
  services/reviewer/src/server.ts
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2127): address reviewer findings — require owner/repo, standardize JSON responses, add docs
  docs/github-app-bot-setup.md
  services/reviewer/README.md
  services/reviewer/src/comment-command.test.ts
  services/reviewer/src/server.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2164): replace hardcoded PROVIDER_META with API-driven provider list
  src/cockpit/server.ts
  src/cockpit/web/widgets/Credentials.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2164): use single-source credential module resolution for providers endpoint
  src/cockpit/cockpit-credential-integration.test.ts
  src/cockpit/cockpit.test.ts
  src/cockpit/server.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2151): surface query errors in coverage table instead of silent 0s
  src/cockpit/embeddings-api.ts
  src/cockpit/web/pages/EmbeddingsPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2166): add Minsky v0 logo icon SVGs
  assets/icon/minsky-icon-template.svg
  assets/icon/minsky-icon.svg
Due: none

feat(mt#2131): add reviewer bot PR status comment lifecycle
  services/reviewer/src/server.ts
  services/reviewer/src/status-comment.test.ts
  services/reviewer/src/status-comment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2166): address reviewer findings — transparent bg, currentColor template
  assets/icon/minsky-icon-on-dark.svg
  assets/icon/minsky-icon.svg
Due: none

fix(mt#2131): address R1 — paginate comment search, sanitize errors, guard drafts
  services/reviewer/src/server.ts
  services/reviewer/src/status-comment.test.ts
  services/reviewer/src/status-comment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2151): cast UUID/TEXT join columns in coverage queries
  src/cockpit/embeddings-api.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2131): address R2 — move /review pending after draft check, add docs
  services/reviewer/README.md
  services/reviewer/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2151): address R2 findings — sanitize error output, NOT EXISTS, single-side cast
  src/cockpit/embeddings-api.ts
  src/cockpit/web/pages/EmbeddingsPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2170): hide Slidev overview panel, unify background color
  talks/when-the-agent-is-wrong/slides.md
  talks/when-the-agent-is-wrong/style.css
Due: bun node_modules/.bin/prettier --write

fix(mt#2170): unquote aspectRatio, tighten CSS selectors per review
  talks/when-the-agent-is-wrong/slides.md
  talks/when-the-agent-is-wrong/style.css
Due: bun node_modules/.bin/prettier --write

feat(mt#2167): add --update mode to setup github-app command
  packages/domain/src/setup/github-app/app-jwt.ts
  packages/domain/src/setup/github-app/index.ts
  packages/domain/src/setup/github-app/update.test.ts
  packages/domain/src/setup/github-app/update.ts
  src/adapters/shared/commands/setup-github-app.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2167): address reviewer findings — base64url encoding, docs, cleanup
  docs/github-app-bot-setup.md
  packages/domain/src/setup/github-app/app-jwt.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2167): clarify dry-run no-op message when config matches
  packages/domain/src/setup/github-app/update.test.ts
  packages/domain/src/setup/github-app/update.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2170): styling fixes + content restructure for talk readability
  talks/when-the-agent-is-wrong/slides.md
  talks/when-the-agent-is-wrong/style.css
Due: bun node_modules/.bin/prettier --write

fix(mt#2170): tighten overview-panel CSS selector per reviewer
  talks/when-the-agent-is-wrong/style.css
Due: none

feat(mt#2175): wire `minsky setup github-app` as CLI subcommand
  src/commands/setup/index.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2168): wire Minsky logo into README, package.json, and marketing site favicon
  README.md
  package.json
  services/site/public/favicon.svg
Due: bun node_modules/.bin/prettier --write

feat(mt#2170): add Minsky logo from mt#2166 to title and closing slides
  talks/when-the-agent-is-wrong/assets/minsky-icon.svg
  talks/when-the-agent-is-wrong/slides.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2173): add /resolve command to dismiss bot threads and stale reviews
  services/reviewer/README.md
  services/reviewer/src/github-client.ts
  services/reviewer/src/server.ts
  services/reviewer/src/status-comment.test.ts
  services/reviewer/src/status-comment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style: prettier format README and package.json
  README.md
  package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2176): fix Task List and Task Graph nav targets
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/pages/HomePage.tsx
Due: none

fix(mt#2168): address reviewer findings — npm publish + theme-aware README
  README.md
  package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2173): address R1 — preserve event name, add author check, polish copy
  services/reviewer/src/server.ts
  services/reviewer/src/status-comment.test.ts
  services/reviewer/src/status-comment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update NavSheet header to reflect /embeddings route
  src/cockpit/web/components/NavSheet.tsx
Due: none

feat(mt#2169): wire Minsky icon into cockpit tray app + web favicon
  assets/icon/png/1024.png
  assets/icon/png/128.png
  assets/icon/png/16.png
  assets/icon/png/256.png
  assets/icon/png/32.png
  assets/icon/png/512.png
  assets/icon/png/64.png
  cockpit-tray/src-tauri/icons/128x128.png
  cockpit-tray/src-tauri/icons/128x128@2x.png
  cockpit-tray/src-tauri/icons/32x32.png
  cockpit-tray/src-tauri/icons/icon.icns
  cockpit-tray/src-tauri/icons/icon.png
  cockpit-tray/src-tauri/icons/tray.png
  cockpit-tray/src-tauri/icons/tray@2x.png
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/tauri.conf.json
  package.json
  scripts/generate-icons.ts
  src/cockpit/web/index.html
  src/cockpit/web/public/favicon.svg
  src/hooks/nul-byte-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2176): address R1 — sweep /tasks/list refs, drop dead exact code
  src/cockpit/web/components/CommandPalette.tsx
  src/cockpit/web/components/NavSheet.tsx
Due: none

fix(mt#2169): address reviewer suggestions — fileURLToPath + .icns test
  scripts/generate-icons.ts
  src/hooks/nul-byte-detector.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2177): use strict numeric parsing for --port in setup github-app
  src/commands/setup/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2177): reject non-integer numerics (floats, Infinity) for --port
  src/commands/setup/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2178): use association queries as primary bridge-memory audit path
  .claude/skills/verify-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2179): remove stale process-local cache from TaskServiceImpl.getTaskStatus
  packages/domain/src/tasks/multi-backend-service.ts
  packages/domain/src/tasks/multi-backend-status-cache.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Revert "docs(mt#2178): use association queries as primary bridge-memory audit path"
  .claude/skills/verify-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2178): bridge-memory audit — run both queries and merge (address reviewer R1)
  .claude/skills/verify-task/SKILL.md
  .minsky/skills/verify-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2061): rename /review-pr to /merge-coordination; retire posting-path sections
  .claude/skills/merge-coordination/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .minsky/skills/merge-coordination/skill.ts
  .minsky/skills/review-pr/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
