Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2470): validate local-path origin as a work-tree path before using it as execSync cwd
  packages/domain/src/tasks/githubBackendConfig.test.ts
  packages/domain/src/tasks/githubBackendConfig.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2470): R1 — require the local-path origin to be a DIRECTORY (file-inside-work-tree edge)
  packages/domain/src/tasks/githubBackendConfig.test.ts
  packages/domain/src/tasks/githubBackendConfig.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2466): instrument parity — S2 valves, pipe underlay, vessel tanks, reservoir, legend, layout re-tune
  src/cockpit/web/pages/PlantFlowPage.test.tsx
  src/cockpit/web/pages/PlantFlowPage.tsx
Due: none

feat(mt#2478): add cold-start-migrate to required status checks (declarative config)
  scripts/set-branch-protection.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2466): R1 — pipe underlay edges moved to the head of INITIAL_EDGES
  src/cockpit/web/pages/PlantFlowPage.tsx
Due: none

feat(mt#2265): ask advancement — persist route outcomes + recovery sweep + observability
  docs/architecture/cockpit.md
  packages/domain/src/ask/advancement.test.ts
  packages/domain/src/ask/advancement.ts
  packages/domain/src/ask/repository.ts
  packages/domain/src/ask/state-counts-provider.ts
  scripts/asks-backlog-triage.ts
  src/adapters/shared/commands/asks.test.ts
  src/adapters/shared/commands/asks.ts
  src/adapters/shared/commands/debug.ts
  src/cockpit/server.ts
  src/commands/cockpit/start-command.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2265): triage script needs reflect-metadata at entry (tsyringe container)
  scripts/asks-backlog-triage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2265): R1 — direction.decide exempt from sweeper staleness expiry; use interval constant
  docs/architecture/cockpit.md
  packages/domain/src/ask/advancement.test.ts
  packages/domain/src/ask/advancement.ts
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1859): spy-able lazy logger (plain forwarding object, not Proxy) + repair architecture.test.ts stale paths
  packages/domain/src/persistence/architecture.test.ts
  packages/shared/src/logger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1859): unblock commits — pre-commit ESLint step timeout 30s→120s + 64MB maxBuffer
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1859): R1 — executeCommand defaults precede the options spread so callers can override maxBuffer
  packages/shared/src/exec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2377): v2.0 honest fast-clock motion — event-driven gestures over live system_events
  src/cockpit/web/components/GestureEdge.tsx
  src/cockpit/web/hooks/useSystemEvents.ts
  src/cockpit/web/index.css
  src/cockpit/web/lib/plant-gestures.test.ts
  src/cockpit/web/lib/plant-gestures.ts
  src/cockpit/web/pages/PlantFlowPage.test.tsx
  src/cockpit/web/pages/PlantFlowPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2483): hook-calibration review sweep command + /calibration-review skill
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
  src/adapters/shared/commands/calibration.ts
  src/adapters/shared/commands/index.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2483): R1 — diversity-gate pastThreshold + honor ctx.workspacePath
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
  src/adapters/shared/commands/calibration.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2486): tier-2 hook — detect code-mechanism assertions made without a same-turn read of the named symbol
  .claude/hooks/code-mechanism-assertion-detector.test.ts
  .claude/hooks/code-mechanism-assertion-detector.ts
  .claude/settings.json
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2486): R1 — scope read-class matcher to spec, drop extension last-segment, role-gate tool_result
  .claude/hooks/code-mechanism-assertion-detector.test.ts
  .claude/hooks/code-mechanism-assertion-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2487): wire 3 declared informational event producers (pr.merged, session.started, subagent.completed)
  packages/domain/src/session/session-merge-operations.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/mcp/subagent-dispatch-tracker.test.ts
  src/mcp/subagent-dispatch-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2487): R1 — guard pr.merged on PR presence + align session.started seam with tasks-command convention
  packages/domain/src/session/session-merge-operations.ts
  src/adapters/shared/commands/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2266): asks_wait-for-response — agent-side blocking primitive for Ask responses
  docs/background-polling.md
  packages/domain/src/ask/wait-for-response.test.ts
  packages/domain/src/ask/wait-for-response.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2266): live-verification smoke script for asks_wait-for-response
  scripts/smoke-asks-wait.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2266): R1 — smoke script reuses canonical buildAskRepository; add formatAskWaitMessage tests
  scripts/smoke-asks-wait.ts
  src/adapters/shared/commands/asks.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1780): trust TLS proxy in oidc-provider so OAuth consent form renders https
  packages/domain/src/oauth/providers/in-process-unit.test.ts
  packages/domain/src/oauth/providers/in-process.ts
  scripts/smoke-oauth-consent-https.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1780): R1 — assert observable https behavior; document proxy-trust assumption; wire smoke script
  package.json
  packages/domain/src/oauth/providers/in-process-unit.test.ts
  packages/domain/src/oauth/providers/in-process.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2493): emit WWW-Authenticate: Bearer resource_metadata on the OAuth 401 (RFC 9728)
  scripts/smoke-oauth-consent-https.ts
  src/commands/mcp/start-command.test.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2493): R1 — escape WWW-Authenticate quoted-string values; address review notes
  scripts/smoke-oauth-consent-https.ts
  src/commands/mcp/start-command.test.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2471): ask-routing deferral detector (calibration-first) + plan-task/handoff ask-or-cite-ask steps
  .claude/hooks/ask-routing-deferral-detector.test.ts
  .claude/hooks/ask-routing-deferral-detector.ts
  .claude/settings.json
  .claude/skills/handoff/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  .minsky/skills/handoff/SKILL.md
  .minsky/skills/plan-task/skill.ts
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2206): land Lexicon naming-pass shortlist research artifact
  docs/research/mt2206-lexicon-naming-shortlist.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2495): sharpen augmentation-vs-substitution contrast in minsky-site hero copy
  services/site/src/components/Hero.astro
  services/site/src/pages/index.astro
Due: none

docs(mt#2206): R1 — add full per-candidate axis breakdown + taglines
  docs/research/mt2206-lexicon-naming-shortlist.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2377): R1 — guard undefined style spread in GestureEdge; merge gesture classNames
  src/cockpit/web/components/GestureEdge.test.tsx
  src/cockpit/web/components/GestureEdge.tsx
  src/cockpit/web/pages/PlantFlowPage.tsx
Due: none

chore(mt#2471): sync generated completion-manifest after rebase on main
  src/generated/completion-manifest.json
Due: bun node_modules/.bin/prettier --write

docs(mt#2425): encode whole-system-view canon + react-flow gotchas into cockpit-design skill & cockpit-dev agent
  .claude/agents/cockpit-dev.md
  .claude/skills/cockpit-design/SKILL.md
  .minsky/agents/cockpit-dev/prompt.md
  .minsky/skills/cockpit-design/content.md
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2425): R1 — cross-link instrument components/mt#2466 + @xyflow-vs-reactflow import note
  .claude/skills/cockpit-design/SKILL.md
  .minsky/skills/cockpit-design/content.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2498): register ask-routing-deferral log in the calibration sweep
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2498): R1 — add computeLogResult aggregation tests for ask-routing-deferral (acceptance-criterion gap)
  src/domain/calibration/calibration-sweep.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2435): Wire reviewer check-run with convergence state, findings annotations, and liveness-failure path
  services/reviewer/scripts/smoke-check-run.ts
  services/reviewer/src/check-run-publisher.test.ts
  services/reviewer/src/check-run-publisher.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2435): R1 — blockingCount authoritative for check-run conclusion + cite split task
  services/reviewer/src/check-run-publisher.test.ts
  services/reviewer/src/check-run-publisher.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2482): JSON-parse CLI record/object param values before zod validation
  src/adapters/shared/bridges/parameter-mapper.test.ts
  src/adapters/shared/bridges/parameter-mapper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2482): R1 — structuredZodType unwraps transform/pipe to the input schema
  src/adapters/shared/bridges/parameter-mapper.test.ts
  src/adapters/shared/bridges/parameter-mapper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2497): reconcile drifted agent sources to outputs + guard claude-agents in pre-commit
  .claude/agents/auditor.md
  .claude/agents/fixture.md
  .claude/agents/reviewer.md
  .minsky/agents/auditor/agent.ts
  .minsky/agents/auditor/prompt.md
  .minsky/agents/reviewer/agent.ts
  .minsky/agents/reviewer/prompt.md
  .prettierignore
  src/hooks/compile-check-targets.test.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
