Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2096): add Tailwind/PostCSS configs to Dockerfile builder stage
  services/cockpit/Dockerfile
Due: none

fix(mt#2096): correct PostCSS config filename (.js not .cjs)
  services/cockpit/Dockerfile
Due: none

feat(mt#1869): extend bypass-merge block to all agents, not just subagents
  .claude/hooks/block-subagent-bypass-merge.test.ts
  .claude/hooks/block-subagent-bypass-merge.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1869): normalize MINSKY_FORCE_BYPASS to lowercase before comparison
  .claude/hooks/block-subagent-bypass-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2129): update remaining hook import paths after domain package extraction
  .claude/hooks/check-branch-fresh.ts
  .claude/hooks/check-generated-file-edit.ts
  .claude/hooks/policy-coverage-detector.test.ts
  .claude/hooks/policy-coverage-detector.ts
  .claude/hooks/post-merge-unasked-direction-scan.ts
  .claude/hooks/tasks-status-set-guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2136): move ContextInspector from home-page card to dedicated /context page route
  src/cockpit/CLAUDE.md
  src/cockpit/web/App.tsx
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/pages/ContextPage.tsx
  src/cockpit/web/pages/HomePage.tsx
Due: bun node_modules/.bin/prettier --write

fix(mt#2138): add railway config schema so credential add persists
  packages/domain/src/configuration/schemas/index.ts
  packages/domain/src/configuration/schemas/railway.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2137): Create Settings page and relocate Credentials widget
  src/cockpit/web/App.tsx
  src/cockpit/web/components/AppHeader.tsx
  src/cockpit/web/pages/HomePage.tsx
  src/cockpit/web/pages/SettingsPage.tsx
  src/cockpit/web/widgets/Credentials.tsx
Due: none

fix(mt#2137): Remove redundant Settings nav tile from homepage
  src/cockpit/web/pages/HomePage.tsx
Due: none

feat(mt#2130): add .claude/hooks to tsconfig include for type-check coverage
  tsconfig.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2137): Replace nested Button-in-Link with styled Link for settings icon
  src/cockpit/web/components/AppHeader.tsx
Due: none

fix(mt#2130): restore trailing newline in tsconfig.json
  tsconfig.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2136): restore context-inspector in SELF_FETCHING_RENDERERS to prevent redundant polling
  src/cockpit/web/App.tsx
  src/cockpit/web/components/NavSheet.tsx
Due: none

feat(mt#2140): add cockpit daemon management via launchd
  src/cockpit/launchd.test.ts
  src/cockpit/launchd.ts
  src/commands/cockpit/index.ts
  src/commands/cockpit/install-command.ts
  src/commands/cockpit/status-command.ts
  src/commands/cockpit/uninstall-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2130): add hooks typecheck via separate tsconfig + non-blocking CI step
  .github/workflows/ci.yml
  package.json
  tsconfig.hooks.json
  tsconfig.json
Due: bun node_modules/.bin/prettier --write

feat(mt#2140): add Tauri v2 menu bar app scaffold
  cockpit-tray/.gitignore
  cockpit-tray/README.md
  cockpit-tray/package.json
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/build.rs
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/tauri.conf.json
  cockpit-tray/src/index.html
  cockpit-tray/tsconfig.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2133): move client-capabilities types to domain package for Docker path resolution
  packages/domain/src/ask/router.ts
  packages/domain/src/ask/transports/elicitation.test.ts
  packages/domain/src/ask/transports/elicitation.ts
  packages/domain/src/client-capabilities.ts
  packages/domain/src/composition/domain.ts
  packages/domain/src/composition/types.ts
  src/mcp/client-capabilities.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2140): address reviewer findings
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/tauri.conf.json
  src/cockpit/launchd.test.ts
  src/cockpit/launchd.ts
  src/commands/cockpit/install-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1715): pass STDIO_SESSION_KEY in signal/staleness disconnect paths
  src/mcp/disconnect-tracker.test.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2140): address R2 reviewer findings
  cockpit-tray/src-tauri/src/main.rs
  docs/architecture/cockpit.md
  src/cockpit/launchd.test.ts
  src/cockpit/launchd.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1715): gate incrementToolCallCount after clean shutdown
  src/mcp/disconnect-tracker.test.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1248): relocate Task Lifecycle content from CLAUDE.md to phase-skill rules
  .cursor/rules/task-lifecycle-external-deliverable.mdc
  .cursor/rules/task-lifecycle-verification.mdc
  .cursor/rules/task-lifecycle.mdc
  .minsky/rules/task-lifecycle-external-deliverable.mdc
  .minsky/rules/task-lifecycle-verification.mdc
  .minsky/rules/task-lifecycle.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2140): force initial status label on first poll
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2145): align Pulumi defs with imported Railway state
  infra/Pulumi.yaml
  infra/index.ts
  infra/package.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2145): remove file:sdks/railway from committed package.json
  infra/package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2143): resolve strict null-check errors across hook files
  .claude/hooks/block-git-gh-cli.ts
  .claude/hooks/block-out-of-band-merge.test.ts
  .claude/hooks/block-subagent-bypass-merge.ts
  .claude/hooks/loop-preflight-pr-merge-check.ts
  .claude/hooks/mcp-daemon-staleness-detector.test.ts
  .claude/hooks/memory-search.test.ts
  .claude/hooks/memory-search.ts
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
  .claude/hooks/policy-coverage-detector.test.ts
  .claude/hooks/post-merge-unasked-direction-scan.ts
  .claude/hooks/post-session-start.ts
  .claude/hooks/record-subagent-invocation.ts
  .claude/hooks/require-acceptance-tests-before-done.ts
  .claude/hooks/require-checks-on-bypass-merge.test.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
  .claude/hooks/skill-staleness-detector.test.ts
  .github/workflows/ci.yml
  tsconfig.hooks.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1502): add OCTOKIT_AUTH override for GitHub API rate-limit isolation in harness scripts
  services/reviewer/HARNESS.md
  services/reviewer/scripts/harness-auth.ts
  services/reviewer/scripts/measure-calibration.ts
  services/reviewer/scripts/replay-composition-convergence.ts
  services/reviewer/scripts/replay-diff-scope-bounded.ts
  services/reviewer/scripts/replay-severity.ts
  services/reviewer/scripts/replay-structural-output.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2147): add embeddings health detection + operator flagging
  .claude/hooks/memory-search.ts
  packages/domain/src/ai/embedding-service-openai.ts
  packages/domain/src/ai/embeddings-health-tracker.ts
  packages/domain/src/storage/migrations/pg/0042_embeddings_provider_degraded_event.sql
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/system-events-schema.ts
  src/adapters/shared/commands/debug.ts
  src/adapters/shared/commands/tasks/startup-embedding-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1502): address R1 — restore measure-calibration exit semantics, add auth-source logging to all scripts
  services/reviewer/HARNESS.md
  services/reviewer/scripts/measure-calibration.ts
  services/reviewer/scripts/replay-composition-convergence.ts
  services/reviewer/scripts/replay-diff-scope-bounded.ts
  services/reviewer/scripts/replay-structural-output.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2147): add EmbeddingsHealthTracker unit tests
  packages/domain/src/ai/embeddings-health-tracker.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2147): regenerate completion manifest
  src/generated/completion-manifest.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2147): wire EmbeddingsHealthTracker to production EventEmitter and classify circuit-breaker-open
  packages/domain/src/ai/embedding-service-openai.ts
  packages/domain/src/ai/embeddings-health-tracker.test.ts
  packages/domain/src/ai/embeddings-health-tracker.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2146): add credential integration tests with real ConfigWriter + Zod schema
  src/cockpit/cockpit-credential-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2142): relax merge gate for empty spec-verification with 0 blocking findings
  .claude/hooks/require-review-before-merge.test.ts
  .claude/hooks/require-review-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2142): tighten relaxation to empty-only, reject vacuous entries
  .claude/hooks/require-review-before-merge.test.ts
  .claude/hooks/require-review-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
