Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(rules): remove runtime SQL DDL; rely on Drizzle migrations for rules_embeddings (md#445)
  src/adapters/shared/commands/rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

revert(migrations): remove manually added rules_embeddings migration; will use drizzle-kit to generate (md#445)
  src/domain/storage/migrations/pg/0008_rules_embeddings.sql
Due: none

feat(#082): Clean up tool schemas format and make XML/JSON configurable
  src/domain/context/components/tool-schemas.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(drizzle): wire rulesEmbeddingsTable into drizzle.pg.config; use JSONB for metadata (md#445)
  drizzle.pg.config.ts
  src/domain/storage/schemas/rule-embeddings.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

migrations(drizzle): generate rules_embeddings migration via drizzle-kit (md#445)
  src/domain/storage/migrations/pg/0008_numerous_albert_cleary.sql
  src/domain/storage/migrations/pg/meta/0008_snapshot.json
  src/domain/storage/migrations/pg/meta/_journal.json
Due: bun node_modules/.bin/prettier --write

fix: Eliminate process.exit() calls from testable functions
  src/commands/config/set.test.ts
  src/commands/config/set.ts
  src/commands/config/unset.test.ts
  src/commands/config/unset.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Complete test stabilization and config test fix
  src/commands/config/set.test.ts
  src/commands/config/unset.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#082): Fix import path issues for workspace rules component
  analyze_context_lines.sh
  analyze_fixed.sh
  context_comparison.md
  full_context.txt
  full_context_fixed.txt
  src/domain/context/components/workspace-rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Complete test suite fix with proper DI pattern
  src/commands/config/set.test.ts
  src/commands/config/set.ts
  src/commands/config/unset.test.ts
  src/commands/config/unset.ts
  src/domain/session.ts
  src/domain/session/session-start-operations.test.ts
  src/domain/session/start-session-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(logger): default auto mode to HUMAN to prevent structured logs leaking; only emit JSON with --json or debug
  src/domain/rules/rule-similarity-service.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/domain/utils/logger.ts
  src/utils/logger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#082): Match Cursor's exact tool schemas format
  final_comparison.md
  src/domain/context/components/tool-schemas.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(sessiondb.migrate): always use DB-aware dry-run; always run drizzle-kit migrate on --execute for Postgres; keep output human-friendly
  src/adapters/shared/commands/sessiondb.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(rules.index-embeddings): show per-rule progress like tasks index command
  src/adapters/shared/commands/rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(tasks): resolve duplicate specs; repurpose md#446 to reranking; update md#447 to enforce shared CLI logic for embeddings commands
  process/tasks/md#446-extract-generic-similarity-search-service-with-pluggable-backends-and-fallback-chain.md
  process/tasks/md#447-extract-generic-similarity-search-service-with-pluggable-backends-and-fallback-chain.md
Due: bun node_modules/.bin/prettier --write

fix(#082): Correct context replication approach - INCLUDE environment
  format_analysis.md
  src/commands/context/generate.ts
  src/domain/context/components/environment.ts
  src/domain/context/components/index.ts
  src/domain/context/components/session-context.ts
  src/domain/context/components/tool-schemas.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#082): Comprehensive context module documentation
  analysis/adrs/005-context-management-architecture.md
  process/tasks/md#082-add-context-management-commands.md
  src/domain/context/README.md
Due: bun node_modules/.bin/prettier --write

docs(#082): Final context comparison shows perfect alignment
  final_analysis_report.md
Due: bun node_modules/.bin/prettier --write

fix(sessiondb): suppress execute hint in dry-run when no pending migrations (postgres)
  CHANGELOG.md
  src/adapters/shared/commands/sessiondb.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(sessiondb): reuse shared Postgres status helper for dry-run and execute; unify no-op message
  CHANGELOG.md
  src/adapters/shared/commands/sessiondb.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(sessiondb): use shared PG status object in dry-run plan to avoid undefined var; keep unified messaging
  src/adapters/shared/commands/sessiondb.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(tasks): add md#454 research task for human input/ask-expert queue and Agent Inbox pattern; update changelog
  CHANGELOG.md
  process/tasks/md#454-investigate-seek-human-input-tool-agent-inbox-and-queue-design.md
  src/domain/configuration/config-writer.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#439): resolve import conflicts after main branch merge
  src/domain/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#439): restore CLI integration with command-level wrapper functions
  src/domain/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(migrations): resolve migration number conflict by renumbering task migration to 0009
  src/domain/storage/migrations/pg/0009_create_task_specs_table.sql
Due: none

feat(schema): update task schema to 3-table design with proper Drizzle migration
  src/domain/storage/migrations/pg/0009_create_task_specs_table.sql
  src/domain/storage/migrations/pg/0009_slim_sleeper.sql
  src/domain/storage/migrations/pg/meta/0009_snapshot.json
  src/domain/storage/migrations/pg/meta/_journal.json
Due: bun node_modules/.bin/prettier --write

fix(imports): resolve missing imports causing path and constant errors
  src/domain/tasks/jsonFileTaskBackend.ts
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(tasks): register md#454 in tasks.md; add md#455 task for formalizing task types; update changelog
  CHANGELOG.md
  process/tasks.md
  process/tasks/md#454-investigate-seek-human-input-tool-agent-inbox-and-queue-design.md
  process/tasks/md#455-formalize-task-types-speculative-investigative-experimental-and-cli-pr-integration.md
  src/adapters/mcp/session-edit-tools.ts
  src/domain/configuration/config-writer.test.ts
  src/domain/storage/schemas/task-embeddings.ts
  src/domain/tasks/markdownTaskBackend.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskService.ts
  src/domain/utils/logger.test.ts
  src/utils/logger.test.ts
  tests/integration/helpers/edit-test-helpers.ts
  tests/integration/session-edit-file-cursor-parity.integration.test.ts
  tests/integration/session-edit-file-simplified.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove unmerged databaseTaskBackend imports from main
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: remove test file for unmerged database backend
  process/tasks.md
  process/tasks/md#455-formalize-task-types-speculative-investigative-experimental-and-cli-pr-integration.md
  test-db-backend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: eliminate filesystem operations in tests and fix AI config drift
  CHANGELOG.md
  fix-task-backends.ts
  process/tasks/md#082-add-context-management-commands.md
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  tests/integration/session-edit-file-simplified.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#082): Implement proper XML/JSON format configuration
  actual_output.txt
  compare_final.sh
  count_real_tools.py
  current_context_output.txt
  detailed_comparison.sh
  src/commands/context/generate.ts
  src/domain/context/components/tool-schemas.ts
  src/domain/context/components/types.ts.backup
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(tasks): fix registration of md#454 and md#455 in process/tasks.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

refactor(#439): rename DatabaseTaskBackend to MinskyTaskBackend with mt# prefix
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/domain/tasks.ts
  src/domain/tasks/minskyTaskBackend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#439): fix task creation and backend architecture
  src/domain/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(#082): Add comprehensive tests for XML/JSON configuration
  src/commands/context/generate.integration.test.ts
  src/commands/context/generate.test.ts
  src/domain/context/components/tool-schemas.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#439): complete migrate-backend command implementation
  src/adapters/shared/commands/tasks-modular.ts
  src/adapters/shared/commands/tasks/index.ts
  test-calculator.ts
  test-cursor-comparison.ts
  test-integration-quick.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: add mandatory test suite to pre-commit hooks
  .husky/pre-commit
  CHANGELOG.md
  fix-task-backends.ts
  process/tasks.md
  process/tasks/md#456-investigate-ai-integration-test-validation-logic.md
  src/adapters/cli/utils/error-handler.ts
  src/adapters/cli/utils/index.ts
  src/adapters/shared/bridges/cli/result-formatter.ts
  src/adapters/shared/commands/rules.ts
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/domain/configuration/config-writer.test.ts
  src/domain/rules/rule-similarity-service.ts
  src/domain/session-auto-task-creation.test.ts
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/mcp/server.ts
  tests/integration/helpers/edit-test-helpers.ts
  tests/integration/session-edit-file-simplified.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: separate unit and integration test suites
  .husky/pre-commit
  CHANGELOG.md
  docs/testing.md
  package.json
  process/tasks.md
  process/tasks/md#082-add-context-management-commands.md
  src/adapters/shared/commands/rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(tasks): dedupe same-title tasks; mark md#412, md#301, md#050, md#318 as CLOSED duplicates; update tasks.md and changelog
  CHANGELOG.md
  docs/testing.md
  process/tasks.md
  process/tasks/md#050-fix-remaining-test-failures-in-minsky.md
  process/tasks/md#082-add-context-management-commands.md
  process/tasks/md#301-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
  process/tasks/md#318-fix-all-linter-errors.md
  process/tasks/md#412-create-comprehensive-integration-tests-for-session-edit-file-mcp-tool-with-cursor-edit-file-parity-verification.md
Due: bun node_modules/.bin/prettier --write

fix: correct test suite separation - exclude integration tests properly
  .husky/pre-commit
  package.json
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
