Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2917): FleetStrip renders loading/error states instead of a silent gap
  src/cockpit/web/pages/HomePage.tsx
Due: none

docs(mt#2917): refresh home-after.png evidence with the FleetStrip loading-state fix
  docs/evidence/mt-2917/home-after.png
Due: none

fix(mt#2917): address PR #2044 R1 - pin liveness-color tests, verify FleetStrip predates PR
  src/cockpit/web/lib/liveness-colors.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2916): add custom/no-raw-colors-in-cockpit ESLint rule + config wiring
  eslint-rules/no-raw-colors-in-cockpit.js
  eslint-rules/no-raw-colors-in-cockpit.test.js
  eslint.config.js
  src/cockpit/CLAUDE.md
  src/cockpit/web/widgets/Credentials.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2916): cross-reference the new lint rule from design-system.md §umbrella
  docs/design-system.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2916): note site-side lint enforcement as future work, out of scope
  docs/design-system.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2916): address PR #2045 R1 — self-contained TSX block, hex-safe exemptions
  eslint-rules/no-raw-colors-in-cockpit.js
  eslint-rules/no-raw-colors-in-cockpit.test.js
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2920): wire 7 of 8 substrate scenes to real product screenshots
  services/site/src/assets/screenshots/scene-01-session-cli.png
  services/site/src/assets/screenshots/scene-03-cockpit-home.png
  services/site/src/assets/screenshots/scene-04-review-github.png
  services/site/src/assets/screenshots/scene-05-task-graph.png
  services/site/src/assets/screenshots/scene-06-memory.png
  services/site/src/assets/screenshots/scene-07-hook-denial.png
  services/site/src/assets/screenshots/scene-08-asks.png
  services/site/src/components/SubstrateScene.astro
  services/site/src/components/SubstrateWalkthrough.astro
Due: none

feat(mt#2920): give Hero ProductFrame a real render
  services/site/src/assets/screenshots/hero-session-lifecycle.png
  services/site/src/components/Hero.astro
  services/site/src/components/ProductFrame.astro
Due: none

fix(mt#2920): address main-agent asset review — hero + scene-07 strictly-verbatim output
  services/site/src/assets/screenshots/hero-session-lifecycle.png
  services/site/src/assets/screenshots/scene-07-hook-denial.png
Due: none

feat(mt#2908): add brand-tokened OG cover asset
  services/site/public/og-cover.png
Due: none

docs(mt#2908): address PR #2047 review — commit OG cover generator for reproducibility
  services/site/tools/og-cover/cover.html
  services/site/tools/og-cover/generate.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2927): add sharp to services/site — unbreak Railway builds red since mt#2920
  bun.lock
  services/site/package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2927): address PR #2048 R1 — dedupe to sharp@0.34.5, evidence linux-x64 lock
  bun.lock
  services/site/package.json
Due: bun node_modules/.bin/prettier --write

feat(mt#2561): link changeset task ID to /tasks/:id, add age filter
  src/cockpit/web/pages/ChangesetsPage.test.tsx
  src/cockpit/web/pages/ChangesetsPage.tsx
  src/cockpit/web/widgets/Changesets.tsx
Due: none

fix(mt#2604): responsive Rail — collapse to hamburger drawer below md
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/components/Rail.tsx
Due: none

feat(mt#2418): partial: project-scope resolver + GET /api/projects
  packages/domain/src/project/projects-repository.test.ts
  packages/domain/src/project/projects-repository.ts
  src/cockpit/project-scope.test.ts
  src/cockpit/project-scope.ts
  src/cockpit/routes/projects.ts
  src/cockpit/server-projects.test.ts
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2753): partial: capture + persist driven-session cost/usage per turn
  drizzle.pg.config.ts
  packages/domain/src/storage/migrations/pg/0060_vengeful_thunderball.sql
  packages/domain/src/storage/migrations/pg/meta/0060_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/driven-session-cost-schema.ts
  packages/domain/src/transcripts/driven-session-cost-writer.ts
  src/cockpit/driven-session-host.ts
  src/cockpit/driven-session-launch.ts
  src/cockpit/routes/driven-sessions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2424): partial: add cockpit-web tsconfig + fix fetch-mock casts and Filters generic constraint
  src/cockpit/web/lib/widget-client.test.ts
  src/cockpit/web/pages/AsksPage.tsx
  src/cockpit/web/pages/ChangesetDetailPage.test.tsx
  src/cockpit/web/pages/ChangesetsPage.test.tsx
  src/cockpit/web/pages/ChangesetsPage.tsx
  src/cockpit/web/pages/ConversationPage.test.tsx
  src/cockpit/web/pages/DigestPage.test.tsx
  src/cockpit/web/pages/HomePage.test.tsx
  src/cockpit/web/pages/PlantFlowPage.test.tsx
  src/cockpit/web/pages/VitalsPage.test.tsx
  src/cockpit/web/pages/WeldHistoryPage.test.tsx
  src/cockpit/web/tsconfig.json
  src/cockpit/web/vite-env.d.ts
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/web/widgets/ConversationOverviewPanel.test.tsx
  src/cockpit/web/widgets/ConversationSearchPanel.test.tsx
  src/cockpit/web/widgets/ConversationView.errors.test.tsx
  src/cockpit/web/widgets/Credentials.test.tsx
  src/cockpit/web/widgets/TaskList.test.tsx
  src/cockpit/web/widgets/TaskList.tsx
  src/cockpit/web/widgets/TriageBand.test.tsx
  src/cockpit/web/widgets/Workstreams.tsx
  src/cockpit/web/widgets/ask-page-settle.test.tsx
  src/cockpit/web/widgets/card-navigation.test.tsx
  src/cockpit/web/widgets/command-palette.test.tsx
  src/cockpit/web/widgets/workstreams-altitude.test.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2561): address PR #2049 review — stale reviewer-bot comment
  src/cockpit/web/widgets/Changesets.tsx
Due: none

feat(mt#2417): partial: add project_id scoping to transcript embeddings
  packages/domain/src/storage/migrations/pg/0060_hard_mysterio.sql
  packages/domain/src/storage/migrations/pg/meta/0060_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/agent-transcripts-schema.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
  packages/domain/src/transcripts/transcript-similarity-service.ts
  src/adapters/shared/commands/transcripts/resolve-transcript-project-scope.ts
  src/adapters/shared/commands/transcripts/search-command.ts
  src/adapters/shared/commands/transcripts/similar-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2912): fleet-table peek composer for driven-session rows
  src/cockpit/web/lib/driven-peek-preview.test.ts
  src/cockpit/web/lib/driven-peek-preview.ts
  src/cockpit/web/widgets/AgentDrivenPeek.test.tsx
  src/cockpit/web/widgets/AgentDrivenPeek.tsx
  src/cockpit/web/widgets/Agents.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2710): partial: lift findRepoRoot into shared .minsky/hooks/types.ts
  .claude/hooks/check-branch-fresh.ts
  .claude/hooks/types.ts
  .minsky/hooks/check-branch-fresh.ts
  .minsky/hooks/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2676): global summon hotkey for the cockpit window
  cockpit-tray/README.md
  cockpit-tray/src-tauri/Cargo.lock
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/hotkey.rs
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/src/menu.rs
Due: bun node_modules/.bin/prettier --write

fix(mt#2455): make reviewer-watch owner/repo resolution portable
  packages/domain/src/configuration/sources/environment.ts
  src/adapters/shared/commands/reviewer-watch-owner-repo.test.ts
  src/adapters/shared/commands/reviewer-watch.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2604): address PR #2050 R1 — import ComponentType explicitly
  src/cockpit/web/components/Rail.tsx
Due: none

feat(mt#1637): open-PR sweep adopts the mid-session grant-channel override
  .claude/hooks/parallel-work-guard-overrides.ts
  .claude/hooks/parallel-work-guard.ts
  .cursor/rules/hook-files.mdc
  .minsky/hooks/parallel-work-guard-dedup.test.ts
  .minsky/hooks/parallel-work-guard-overrides.ts
  .minsky/hooks/parallel-work-guard.test.ts
  .minsky/hooks/parallel-work-guard.ts
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/parallel-work-guard.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2234): partial: scope-narrowing spec amendment + follow-up storage schema + domain service
  drizzle.pg.config.ts
  eslint.config.js
  packages/domain/src/scheduler/follow-up-service.test.ts
  packages/domain/src/scheduler/follow-up-service.ts
  packages/domain/src/storage/migrations/pg/0060_slow_kang.sql
  packages/domain/src/storage/migrations/pg/meta/0060_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/scheduled-follow-ups-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2418): partial: project selector UI + wire tasks/sessions/changesets
  src/cockpit/routes/changesets.ts
  src/cockpit/web/components/ProjectSelector.test.tsx
  src/cockpit/web/components/ProjectSelector.tsx
  src/cockpit/web/components/Rail.tsx
  src/cockpit/web/lib/project-context.test.ts
  src/cockpit/web/lib/project-context.tsx
  src/cockpit/web/main.tsx
  src/cockpit/web/pages/ChangesetsPage.test.tsx
  src/cockpit/web/pages/ChangesetsPage.tsx
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/web/widgets/TaskList.test.tsx
  src/cockpit/web/widgets/TaskList.tsx
  src/cockpit/widgets/agents.ts
  src/cockpit/widgets/task-list.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2424): partial: fix remaining pre-existing cockpit-web type errors
  src/cockpit/web/components/GestureEdge.test.tsx
  src/cockpit/web/components/JsonView.test.tsx
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/Prose.tsx
  src/cockpit/web/hooks/useEventFrequency.ts
  src/cockpit/web/lib/driven-session-accumulator.test.ts
  src/cockpit/web/lib/entity-deeplink-emit.test.ts
  src/cockpit/web/lib/liveness-colors.test.ts
  src/cockpit/web/lib/plant-replay.test.ts
  src/cockpit/web/lib/tabs.test.tsx
  src/cockpit/web/lib/tool-name.ts
  src/cockpit/web/lib/useListControls.test.ts
  src/cockpit/web/pages/PlantFlowPage.test.tsx
  src/cockpit/web/widgets/Agents.routing.test.ts
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/web/widgets/Credentials.tsx
  src/cockpit/web/widgets/TaskGraph.tsx
  src/cockpit/web/widgets/TaskList.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2418): project-scope wiring coverage for task-list/agents/changesets
  src/cockpit/server-changesets.test.ts
  src/cockpit/widgets/agents.test.ts
  src/cockpit/widgets/task-list.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1637): address PR #2054 R1 — generated-twin contract note + registration-consistency test
  .claude/hooks/parallel-work-guard-overrides.ts
  .minsky/hooks/parallel-work-guard-dedup.test.ts
  .minsky/hooks/parallel-work-guard-overrides.ts
  scripts/grant-guard-override.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2234): partial: follow-up sweeper + HTTP surface + daemon wiring
  src/cockpit/db-providers.ts
  src/cockpit/routes/follow-ups.test.ts
  src/cockpit/routes/follow-ups.ts
  src/cockpit/server.ts
  src/cockpit/sweepers.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2710): adopt findRepoRoot in repo-relative-state hooks
  .claude/hooks/ask-routing-deferral-detector.ts
  .claude/hooks/calibration-review-cadence-detector.ts
  .claude/hooks/causal-premise-detector.ts
  .claude/hooks/code-mechanism-assertion-detector.ts
  .claude/hooks/dispatcher.ts
  .claude/hooks/policy-coverage-detector.ts
  .claude/hooks/post-merge-unasked-direction-scan.ts
  .claude/hooks/pre-narration-detector.ts
  .claude/hooks/retrospective-trigger-scanner.ts
  .claude/hooks/silent-stretch-detector.ts
  .claude/hooks/skill-staleness-detector.ts
  .claude/hooks/wall-of-text-detector.ts
  .minsky/hooks/ask-routing-deferral-detector.ts
  .minsky/hooks/calibration-review-cadence-detector.ts
  .minsky/hooks/causal-premise-detector.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/dispatcher.test.ts
  .minsky/hooks/dispatcher.ts
  .minsky/hooks/policy-coverage-detector.ts
  .minsky/hooks/post-merge-unasked-direction-scan.ts
  .minsky/hooks/pre-narration-detector.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
  .minsky/hooks/silent-stretch-detector.ts
  .minsky/hooks/skill-staleness-detector.ts
  .minsky/hooks/wall-of-text-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2424): wire cockpit-web typecheck into pre-commit, aggregate script, and validate_typecheck
  CONTRIBUTING.md
  package.json
  src/adapters/shared/commands/validate.ts
  src/generated/completion-manifest.json
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2234): partial: injectable deps for follow-up sweeper + sweep-loop tests
  src/cockpit/follow-up-sweeper.test.ts
  src/cockpit/sweepers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2424): note cockpit-web typecheck coverage in the CI Type check step
  .github/workflows/ci.yml
Due: none

docs(mt#2234): document the scheduled follow-up sweeper in cockpit.md
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2716): full suite out of pre-commit; truncation-safe fail-closed pre-push
  .husky/pre-push
  scripts/run-tests-gated.ts
  src/hooks/pre-commit.ts
  tests/scripts/run-tests-gated.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2716): update development-workflow test-tiering (pre-commit no longer runs full suite)
  docs/development-workflow.md
Due: bun node_modules/.bin/prettier --write
