Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#356): Mark Phase 3.2 Git Operations Integration as complete
  process/tasks/356-implement-multi-backend-task-system-architecture.md
Due: bun node_modules/.bin/prettier --write

docs(#176): Update task spec with dependency injection breakthrough
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

feat(#360): Create task to explore automated session sync workflow on PR merge
  process/tasks/360-explore-automated-session-sync-workflow-on-pr-merge.md
Due: bun node_modules/.bin/prettier --write

chore(161): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(#335): update task status to IN-REVIEW
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(#176): Resolve major import path issues for test compilation
  src/domain/git-service-pr-workflow.test.ts
  src/domain/git-service.test.ts
  src/domain/tasks-core-functions.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix formatting in session-pr-refresh.test.ts after assignment syntax fix
  src/domain/session-pr-refresh.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): Document exceptional infrastructure improvements in continuation
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

docs(#358): Add dependency on Task #359 for command structure decisions
  process/tasks/358-explore-pr-approval-and-merge-decoupling.md
Due: bun node_modules/.bin/prettier --write

feat(#359): Restructure session pr command with explicit subcommands
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/customizations/session-customizations.ts
  src/adapters/shared/bridges/cli/result-formatter.ts
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/session-db.ts
  src/domain/session/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog for Task #359 implementation
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#176): Complete resolution of Invalid assignment target syntax errors
  src/domain/session-pr-refresh.test.ts
  src/domain/tasks-core-functions.test.ts
  src/utils/test-utils/compatibility.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Partial resolution of nonexistent file compilation error
  codemods/bun-test-mocking-consistency-fixer.test.ts
  codemods/session-approve-log-mock-fixer.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): Document exceptional systematic infrastructure mastery
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

fix(session): Fix 'Session: Unknown' display bug in session PR command
  src/domain/session/commands/pr-command.ts
  src/domain/session/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Resolve duplicate task #360 issue
  CHANGELOG.md
  process/tasks.md
  process/tasks/360-implement-session-outdated-detection-and-display.md
  process/tasks/361-explore-automated-session-sync-workflow-on-pr-merge.md
Due: bun node_modules/.bin/prettier --write

feat(#356): Complete backend integration with MarkdownTaskBackend
  process/tasks/356-implement-multi-backend-task-system-architecture.md
  src/domain/tasks/markdown-task-backend-integration.test.ts
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#176): Update task spec with 99.1% test success achievements
  process/tasks/176-comprehensive-session-database-architecture-fix.md
  src/domain/tasks-core-functions.test.ts
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#356): Complete CLI schema updates for multi-backend task IDs
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/adapters/shared/common-parameters.ts
  src/domain/schemas/common-schemas.ts
  src/domain/schemas/index.ts
  src/domain/schemas/task-schemas.ts
  src/domain/tasks/markdown-task-backend-integration.test.ts
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#356): Mark Phase 3.6 CLI Schema Integration as complete
  process/tasks/356-implement-multi-backend-task-system-architecture.md
Due: bun node_modules/.bin/prettier --write

docs(#356): Complete comprehensive multi-backend user documentation
  docs/README.md
  docs/migration-guide.md
  docs/multi-backend-quick-reference.md
  docs/multi-backend-user-guide.md
Due: bun node_modules/.bin/prettier --write

fix(#176): Resolve critical test failures and import errors
  codemods/session-approve-log-mock-fixer.test.ts
  src/domain/tasks-core-functions.test.ts
  src/utils/constants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#356): Mark user documentation and performance testing complete
  process/tasks/356-implement-multi-backend-task-system-architecture.md
Due: bun node_modules/.bin/prettier --write

feat(#360): Implement session outdated detection and display system
  CHANGELOG.md
  src/adapters/shared/bridges/cli-result-formatters.ts
  src/adapters/shared/bridges/cli/result-formatter.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/git.ts
  src/domain/session/commands/check-sync-command.ts
  src/domain/session/commands/get-command.ts
  src/domain/session/commands/list-command.ts
  src/domain/session/commands/outdated-command.ts
  src/domain/session/commands/subcommands/outdated-subcommand.ts
  src/domain/session/sync-status-service.ts
  src/domain/session/types.ts
  src/domain/tasks/markdown-task-backend-integration.test.ts
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#161): Add comprehensive uncommitted changes handling to prepared merge commit workflow
  src/domain/git/prepared-merge-commit-uncommitted-changes.test.ts
  src/domain/git/prepared-merge-commit-workflow.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#176): remove final compatibility test file
  src/utils/test-utils/compatibility.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#161): Complete uncommitted changes handling for prepared merge commit workflow
  src/domain/git/prepared-merge-commit-uncommitted-changes.test.ts
  src/domain/git/prepared-merge-commit-workflow.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#161): Update task specification to reflect complete implementation
  process/tasks/161-add-github-pr-workflow-as-alternative-to-prepared-merge-commits.md
Due: bun node_modules/.bin/prettier --write

fix(#356): Move Task #356 changes from main workspace to session
  docs/migration-guide.md
  docs/multi-backend-quick-reference.md
  docs/multi-backend-user-guide.md
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/adapters/shared/common-parameters.ts
  src/domain/schemas/common-schemas.ts
  src/domain/schemas/task-schemas.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): resolve posix_spawn error in session approve workflow
  CHANGELOG.md
  process/tasks.md
  process/tasks/176-comprehensive-session-database-architecture-fix.md
  process/tasks/360/pr.md
  process/tasks/361-explore-automated-session-sync-workflow-on-pr-merge.md
  src/domain/repository/local.ts
  src/domain/session.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/session-approve-bugfix-regression.test.ts
  src/domain/session/session-approve-operations.test.ts
  src/domain/session/session-approve-operations.ts
  src/domain/session/session-database-basedir-bug.test.ts
  src/utils/index.ts
  src/utils/test-utils/compatibility.test.ts
  src/utils/test-utils/index.ts
  task176-pr-description.md
  tests/domain/session/session-pr-bodypath-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#360): Implement bodyPath parameter reading in session PR command
  src/domain/session/commands/pr-command.ts
  tests/domain/session/session-pr-bodypath-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with session approve bugfix
  CHANGELOG.md
  process/tasks/176-comprehensive-session-database-architecture-fix.md
  src/domain/configuration/schemas/ai.test.ts
  src/domain/session/session-approve-bugfix-regression.test.ts
  src/domain/session/session-approve-operations.test.ts
  src/domain/session/session-approve-operations.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  src/domain/session/session-database-basedir-bug.test.ts
  src/domain/tasks/markdown-task-backend-integration.test.ts
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
  tests/domain/session/session-pr-bodypath-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Resolve AI configuration schema test failures
  src/domain/configuration/schemas/ai.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): use session's stored repository configuration instead of auto-detecting
  docs/cli-type-composition-patterns-guide.md
  process/tasks.md
  process/tasks/335-apply-type-composition-patterns-to-cli-adapters.md
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/customizations/standardized-config-customizations.ts
  src/adapters/cli/customizations/standardized-git-customizations.ts
  src/adapters/cli/customizations/standardized-rules-customizations.ts
  src/adapters/cli/customizations/standardized-session-customizations.ts
  src/adapters/cli/customizations/standardized-tasks-customizations.ts
  src/adapters/cli/integrations/standardized-cli-setup.ts
  src/adapters/cli/patterns/composable-cli-commands.ts
  src/adapters/cli/schemas/cli-parameter-schemas.ts
  src/adapters/cli/schemas/cli-response-schemas.ts
  src/adapters/cli/setup/command-setup.ts
  src/adapters/cli/utils/standardized-error-handler.ts
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/bridges/cli/command-generator-core.ts
  src/cli.ts
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): Update task spec to reflect progress - 90.1% success rate
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

fix(#360): Create clean, focused test for bodyPath bug fix
  tests/domain/session/session-pr-bodypath-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): Complete systematic analysis of test failures after session update
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

docs(#360): Update task specification to reflect complete implementation
  process/tasks/360-implement-session-outdated-detection-and-display.md
Due: bun node_modules/.bin/prettier --write

fix(rules): Add zero tolerance perfection protocol to self-improvement
  .cursor/rules/self-improvement.mdc
  docs/cli-type-composition-patterns-guide.md
  process/tasks.md
  process/tasks/335-apply-type-composition-patterns-to-cli-adapters.md
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/customizations/standardized-config-customizations.ts
  src/adapters/cli/customizations/standardized-git-customizations.ts
  src/adapters/cli/customizations/standardized-rules-customizations.ts
  src/adapters/cli/customizations/standardized-session-customizations.ts
  src/adapters/cli/customizations/standardized-tasks-customizations.ts
  src/adapters/cli/integrations/standardized-cli-setup.ts
  src/adapters/cli/patterns/composable-cli-commands.ts
  src/adapters/cli/schemas/cli-parameter-schemas.ts
  src/adapters/cli/schemas/cli-response-schemas.ts
  src/adapters/cli/setup/command-setup.ts
  src/adapters/cli/utils/standardized-error-handler.ts
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/bridges/cli/command-generator-core.ts
  src/cli.ts
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(rules): Move zero tolerance perfection to user-preferences
  .cursor/rules/user-preferences.mdc
Due: none

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
