Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

Fix PR description for Task #272
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Remove incorrectly committed PR description file
  pr-description.md
Due: bun node_modules/.bin/prettier --write

Add PR creation anti-patterns to prevent recurring failures
  .cursor/rules/pr-description-guidelines.mdc
Due: none

feat(#061): Complete centralized service mock factories implementation
  src/utils/test-utils/centralized-service-mocks-usage.md
  src/utils/test-utils/centralized-service-mocks.test.ts
  src/utils/test-utils/dependencies.ts
  src/utils/test-utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(codemods): add comprehensive documentation and test suite for import extension fixer
  CHANGELOG.md
  codemods/__tests__/fix-import-extensions.test.ts
  codemods/fix-import-extensions.ts
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: move test file to follow established pattern
  codemods/fix-import-extensions.test.ts
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: Remove deleted test file from codemod tests
  codemods/__tests__/fix-import-extensions.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#061): Update task status to reflect completed implementation
  process/tasks/061-implement-test-fixture-factory-pattern.md
Due: bun node_modules/.bin/prettier --write

docs(#276): Update task spec with merge completion status
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
Due: bun node_modules/.bin/prettier --write

amended commit
  codemods/fix-import-extensions.test.ts
  src/utils/param-schemas.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  src/utils/option-descriptions.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  src/domain/session-approve.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
Due: bun node_modules/.bin/prettier --write

WIP: Extract startSessionFromParams function to separate module
  src/domain/session.ts
  src/domain/session/start-session-operations.ts
  test-rules-tmp/.cursor/rules/existing-rule.mdc
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  src/errors/network-errors.test.ts
  src/utils/git-exec-enhanced.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  src/errors/enhanced-error-templates.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  src/domain/git-pr-workflow.test.ts
  src/domain/gitServiceTaskStatusUpdate.test.ts
  src/domain/session-review.test.ts
  src/domain/session-update.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  src/domain/repository-uri.test.ts
  src/domain/session-auto-task-creation.test.ts
  src/domain/session-pr-no-branch-switch.test.ts
  src/domain/tasks.test.ts
  src/domain/uri-utils.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

amended commit
  src/domain/github-backend.test.ts
  src/domain/github-basic.test.ts
  src/domain/prepared-merge-commit-workflow.test.ts
  src/domain/session-pr-refresh.test.ts
  src/utils/test-utils/assertions.test.ts
  src/utils/test-utils/enhanced-utils.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
