Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

refactor: Update meaningful output principles rule with targeted description
  .cursor/rules/meaningful-output-principles.mdc
Due: none

refactor: rename pullLatest to fetchLatest for clarity
  src/domain/git.ts
  src/domain/git/types.ts
  src/domain/repository.ts
  src/domain/repository/github.ts
  src/domain/session.ts
  src/domain/session/commands/update-command.ts
  src/domain/session/session-update-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#381): Fix task ID collision bug in markdown backend filesystem scanning
  knowledge-base-task-spec.md
  process/tasks.md
  process/tasks/md#381-add-support-for-knowledge-bases-and-documentation-systems.md
  process/tasks/md#381-create-eslint-rule-to-prevent-direct-environment-variable-access-outside-configuration-system.md
  process/tasks/md#381-investigate-language-server-integration-for-semantic-code-analysis-mcp-tools.md
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: Remove temporary knowledge base task spec file
  knowledge-base-task-spec.md
Due: bun node_modules/.bin/prettier --write

feat: remove --skip-update flag and enforce proper conflict resolution
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/customizations/session-customizations.ts
  src/adapters/shared/commands/session-error-handling.ts
  src/adapters/shared/commands/session-parameters.ts
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/schemas/session-schemas.ts
  src/domain/session.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/session-commands.ts
  src/domain/session/session-pr-operations.ts
  src/domain/session/session-update-operations.ts
  src/schemas/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Add filesystem scanning to both markdown backend implementations
  process/tasks/md#381-add-support-for-knowledge-bases-and-documentation-systems.md
  src/domain/tasks/markdown-task-backend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#381): Create task for background code similarity detection with ESLint integration
  process/tasks.md
  process/tasks/md#381-add-support-for-knowledge-bases-and-documentation-systems.md
  process/tasks/md#381-implement-background-code-similarity-detection-with-eslint-integration.md
Due: bun node_modules/.bin/prettier --write

refactor: eliminate architectural violations in PR creation logging
  src/domain/git/prepared-merge-commit-workflow.ts
  src/domain/repository/github.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: Remove duplicate markdown-task-backend.ts and consolidate
  process/tasks/383-implement-background-code-similarity-detection-with-eslint-integration.md
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#383): Correct task ID from md#381 to 383
  process/tasks.md
  process/tasks/md#384-implement-background-code-similarity-detection-with-eslint-integration.md
Due: bun node_modules/.bin/prettier --write

chore: Remove duplicate md#384 task file created during ID correction
  process/tasks/md#384-implement-background-code-similarity-detection-with-eslint-integration.md
Due: bun node_modules/.bin/prettier --write

fix(#md#381): Correct task to use unified ID system md#381
  process/tasks.md
  process/tasks/md#381-implement-background-code-similarity-detection-with-eslint-integration.md
Due: bun node_modules/.bin/prettier --write

revert: Remove filesystem scanning from markdown backend
  process/tasks.md
  process/tasks/md#382-cli-test-should-be-382.md
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Manually resolve task registration issues
  process/tasks.md
  process/tasks/md#381-implement-background-code-similarity-detection-with-eslint-integration.md
  process/tasks/md#383-test-central-file-source-of-truth.md
  process/tasks/md#384-investigate-language-server-integration-for-semantic-code-analysis-mcp-tools.md
  process/tasks/md#385-add-support-for-knowledge-bases-and-documentation-systems.md
Due: bun node_modules/.bin/prettier --write

fix: Standardize task ID format consistency in central file
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore: remove debugging test tasks
  process/tasks.md
  process/tasks/md#382-cli-test-should-be-382.md
  process/tasks/md#383-test-central-file-source-of-truth.md
Due: bun node_modules/.bin/prettier --write

refactor: consolidate PR implementations to single modern architecture
  process/tasks/357-integrate-github-issues-backend-with-repository-backend-architecture.md
  src/domain/prepared-merge-commit-workflow.test.ts
  src/domain/session-pr-body-path.test.ts
  src/domain/session-pr-refresh.test.ts
  src/domain/session.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/session-commands.ts
  src/domain/session/session-pr-workflow-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: add rule to avoid spurious echo commands
  .cursor/rules/self-improvement.mdc
Due: none

fix(#md#381): Recreate missing task file and properly add to tasks.md
  process/tasks.md
  process/tasks/md#381-implement-background-code-similarity-detection-with-eslint-integration.md
Due: bun node_modules/.bin/prettier --write

chore(md#386): update task status TODO → IN-PROGRESS
  process/tasks.md
  process/tasks/md#386-fix-git-commands-not-being-available-over-mcp-by-uncommenting-the-registergittools-call-in-the-mcp-command-registration.md
Due: bun node_modules/.bin/prettier --write

fix: ensure session PR creation updates prBranch field for approval validation
  src/domain/session/session-update-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#386): Add session.commit command to MCP
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: align SessionRecord interfaces and use correct import for prBranch field
  src/domain/session/session-db-adapter.ts
  src/domain/session/session-db.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#386): Complete session.commit MCP implementation
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog for session.commit MCP implementation
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: configure Drizzle ORM field mapping for complete SessionRecord schema
  src/domain/storage/backends/sqlite-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: comprehensive implementation status summary for task #357
  process/tasks/357-integrate-github-issues-backend-with-repository-backend-architecture.md
Due: bun node_modules/.bin/prettier --write

docs: update CHANGELOG with comprehensive GitHub Issues backend integration
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: correct Drizzle ORM field mapping for snake_case database columns
  src/domain/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#387): update task status TODO → IN-PROGRESS
  process/tasks.md
  process/tasks/md#387-add-mcp-tool-for-sessiondb-querying.md
Due: bun node_modules/.bin/prettier --write

fix: apply database persistence fix to session.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style: apply prettier formatting to session.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: update Drizzle schema to match actual database column names
  src/domain/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#387): Add MCP tools for sessiondb querying
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#387): update task status IN-PROGRESS → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: standardize database schema to consistent snake_case
  src/domain/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: correct Drizzle field mapping - use camelCase field names
  src/domain/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: eliminate unnecessary fromSqliteSelect with Drizzle JSON support
  src/domain/storage/backends/sqlite-storage.ts
  src/domain/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: implement missing approvePullRequest method for GitHub backend
  src/domain/repository/github.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
