Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#1938): close main-red coverage holes (CI-status gate + branch protection + main-watch)
  .claude/hooks/SPEC.md
  .claude/hooks/require-review-before-merge.test.ts
  .claude/hooks/require-review-before-merge.ts
  .cursor/rules/task-lifecycle.mdc
  .github/workflows/main-watch.yml
  .minsky/rules/task-lifecycle.mdc
  AGENTS.md
  CLAUDE.md
  scripts/set-branch-protection.ts
  skills-lock.json
  src/domain/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1941): tolerate missing session record in applyPostMergeStateSync + detect filesystem-orphan dirs
  skills-lock.json
  src/adapters/shared/commands/session/cleanup-command.ts
  src/domain/session/session-cleanup-fs-orphan.test.ts
  src/domain/session/session-cleanup.ts
  src/domain/session/session-merge-operations.ts
  src/domain/session/session-post-merge-sync.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1939): drop _files internal exposure; verify writes via readFileSync
  src/domain/setup.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1941): add UUID validation to identifyFilesystemOrphanDirs (PR #1168 R1)
  src/domain/session/session-cleanup-fs-orphan.test.ts
  src/domain/session/session-cleanup.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1943): add /analyze-adjacent-product skill for landscape-alignment Notion pages
  .claude/skills/analyze-adjacent-product/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1939): validate workspace subobject against workspaceConfigSchema
  src/domain/setup.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1943): address PR #1169 R1 — 2 BLOCKING + 3 NON-BLOCKING
  .claude/skills/analyze-adjacent-product/SKILL.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#1938): defer enforce_admins flip — make it an explicit --enforce-admins opt-in
  .cursor/rules/task-lifecycle.mdc
  .minsky/rules/task-lifecycle.mdc
  AGENTS.md
  CLAUDE.md
  scripts/set-branch-protection.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1944): extract analyze-adjacent-product skill from marketing-site-design
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/analyze-adjacent-product/references/case-studies-2026-05.md
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1944): address PR #1170 R1 — 3 BLOCKING + 1 NON-BLOCKING
  .claude/skills/analyze-adjacent-product/references/case-studies-2026-05.md
  .claude/skills/marketing-site-design/SKILL.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1944): add extraction-changelog stanza to analyze-adjacent-product SKILL.md
  .claude/skills/analyze-adjacent-product/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1944): address PR #1170 R3 NON-BLOCKING — section-number drift in minsky-myth references
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1938): address PR #1167 R1 — 2 BLOCKING + 1 NON-BLOCKING
  .claude/hooks/require-review-before-merge.test.ts
  .claude/hooks/require-review-before-merge.ts
  .github/workflows/main-watch.yml
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1938): bundle hotfix for main-red — prettier on mt#1944's SKILL.md files
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/marketing-site-design/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1930): add principal-corpus namespace + domain service + archive parser
  src/domain/principal-corpus/principal-corpus-service.ts
  src/domain/principal-corpus/tweet-archive-parser.ts
  src/domain/principal-corpus/types.ts
  src/domain/storage/migrations/pg/0038_principal_corpus_embeddings.sql
  src/domain/storage/migrations/pg/meta/_journal.json
  src/domain/storage/schemas/embeddings-schema-factory.ts
  src/domain/storage/schemas/principal-corpus-embeddings.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1930): expose principal_corpus.search/similar/index-embeddings MCP tools
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/principal-corpus.ts
  src/adapters/shared/commands/principal-corpus/index-embeddings-command.ts
  src/adapters/shared/commands/principal-corpus/search-command.ts
  src/adapters/shared/commands/principal-corpus/similar-command.ts
  src/domain/principal-corpus/relevance-filter.ts
  src/schemas/command-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1930): add retry + larger maxTokens to relevance classifier
  scripts/principal-corpus/test-classify.ts
  src/domain/principal-corpus/relevance-filter.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1930): add memeplex synthesizer + ingestion driver scripts
  scripts/principal-corpus/run-ingestion.ts
  scripts/principal-corpus/run-synthesis.ts
  src/domain/principal-corpus/memeplex-synthesizer.ts
  tmp/principal-corpus-ingest.log
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1930): point references file at principal_corpus_* MCP tools
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1945): aggregator-staleness anti-pattern + Idiom C / Macro case study
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/analyze-adjacent-product/references/case-studies-2026-05.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1930): require explicit archive/account/handle inputs; gitignore tmp/
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
  .gitignore
  scripts/principal-corpus/run-ingestion.ts
  scripts/principal-corpus/run-synthesis.ts
  scripts/principal-corpus/test-classify.ts
  src/domain/principal-corpus/tweet-archive-parser.test.ts
  tmp/principal-corpus-ingest.log
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1945): PR #1171 R1 — 2 BLOCKING + 1 NON-BLOCKING
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/analyze-adjacent-product/references/case-studies-2026-05.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1930): wire metadata + content_hash columns in postgres vector storage
  src/domain/persistence/providers/postgres-provider.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1930): keep replies-to-others by default; drop pre-classifier filter
  src/domain/principal-corpus/tweet-archive-parser.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1930): add write-memeplexes script to persist synthesized memories
  scripts/principal-corpus/write-memeplexes.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1946): formalize Landscape analyses + Audits/strategic syntheses as recognized categories
  .cursor/rules/documentation-taxonomy.mdc
  .minsky/rules/documentation-taxonomy.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1930): per-batch progress log in relevance-filter
  src/domain/principal-corpus/relevance-filter.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1947): restore `workflows:` field in main-watch.yml — workflow_run trigger broken since mt#1938
  .github/workflows/main-watch.yml
Due: none

fix(mt#1946): PR #1172 R1 — 3 NON-BLOCKING editorial polish
  .cursor/rules/documentation-taxonomy.mdc
  .minsky/rules/documentation-taxonomy.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1930): synthesizer fence-tolerant + memwrite scope; ship acceptance tests
  scripts/principal-corpus/acceptance-tests.ts
  scripts/principal-corpus/write-memeplexes.ts
  src/domain/principal-corpus/memeplex-synthesizer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1930): address PR #1174 R1 — 2 BLOCKING + tests for parser edge cases
  src/domain/principal-corpus/tweet-archive-parser.test.ts
  src/domain/principal-corpus/tweet-archive-parser.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1930): address PR #1174 R2 BLOCKING — make registrar container-free
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/principal-corpus.ts
  src/adapters/shared/commands/principal-corpus/index-embeddings-command.ts
  src/adapters/shared/commands/principal-corpus/search-command.ts
  src/adapters/shared/commands/principal-corpus/similar-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1930): address PR #1174 R3 NON-BLOCKING — doc inconsistency
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1930): wire principal_corpus.* into MCP server (was CLI-only)
  src/adapters/mcp/principal-corpus.ts
  src/adapters/mcp/shared-command-integration.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1902): retire `npx skills` postinstall hook + document skill surfaces
  .gitignore
  Dockerfile
  docs/architecture/skills-surfaces.md
  package.json
  skills-lock.json
Due: bun node_modules/.bin/prettier --write

docs(mt#1902): add local-cleanup advisory for stale .agents/ trees
  docs/architecture/skills-surfaces.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1951): PreToolUse hook gating agent-context `gh api PUT /merge` on required-checks status
  .claude/hooks/require-checks-on-bypass-merge.test.ts
  .claude/hooks/require-checks-on-bypass-merge.ts
  .claude/settings.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
