Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2275): address PR #1517 R2 — readHostCap events filter
  .claude/hooks/inject-git-state.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2275): address PR #1517 R2 doc nits
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2275): R3 NON-BLOCKING — fix stale comment math in computeGitTimeoutMs
  .claude/hooks/inject-git-state.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2276): unbreak drizzle-kit generate — decouple schema from tsyringe + add snapshot baseline
  packages/domain/src/configuration/backend-detection.ts
  packages/domain/src/configuration/backend-types.ts
  packages/domain/src/configuration/schemas/base.ts
  packages/domain/src/storage/migrations/pg/meta/0044_snapshot.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2275): R3 NON-BLOCKING — expanded-form example matches actual output
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2275): CI Type check (hooks) — narrow split() result to non-undefined
  .claude/hooks/inject-git-state.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2277): add unmerged-migration guard for prod postgres apply
  packages/domain/src/configuration/sources/environment.ts
  packages/domain/src/persistence/postgres-migration-operations.test.ts
  packages/domain/src/persistence/postgres-migration-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2268): pre-commit guard blocking edits to already-applied migrations
  packages/domain/src/configuration/sources/environment.ts
  src/hooks/immutable-migration-detector.test.ts
  src/hooks/immutable-migration-detector.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2277): address reviewer blocking findings (origin/main ref + IPv6 + docs)
  docs/persistence-configuration.md
  packages/domain/src/persistence/postgres-migration-operations.test.ts
  packages/domain/src/persistence/postgres-migration-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2268): address reviewer findings (rename handling + longest-prefix + docs)
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  src/hooks/immutable-migration-detector.test.ts
  src/hooks/immutable-migration-detector.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2278): resolve unmerged-migration guard paths against repo root
  packages/domain/src/persistence/postgres-migration-operations.test.ts
  packages/domain/src/persistence/postgres-migration-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2278): POSIX-normalize the repo-relative git path (review)
  packages/domain/src/persistence/postgres-migration-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2241): tray app owns daemon lifecycle (spawn/adopt/supervise/teardown + Login Item)
  cockpit-tray/README.md
  cockpit-tray/src-tauri/Cargo.lock
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/main.rs
  docs/architecture/adr-014-cockpit-daemon-lifecycle-ownership.md
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

chore(mt#2241): add trailing newline to Cargo.toml (cargo normalization)
  cockpit-tray/src-tauri/Cargo.toml
Due: none

fix(mt#2241): R1 conflict-safe Stop/Restart, cfg-gate unix APIs, misc hardening
  cockpit-tray/src-tauri/src/main.rs
Due: none

feat(mt#2251): skill authoring format policy — ADR-015 (hybrid) + skill-authoring rule
  .cursor/rules/skill-authoring.mdc
  .minsky/rules/skill-authoring.mdc
  docs/architecture/adr-015-skill-authoring-format-policy.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2251): R1 — align skills-surfaces.md with ADR-015 (hybrid) + vendored carve-out
  docs/architecture/skills-surfaces.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2282): spawn daemon in repo root so repo-backend detection succeeds
  cockpit-tray/README.md
  cockpit-tray/src-tauri/src/main.rs
Due: bun node_modules/.bin/prettier --write

feat(mt#2279): markdown-source reader for the claude-skills compile pipeline
  docs/architecture/skills-surfaces.md
  packages/domain/src/compile/targets/claude-skills.test.ts
  packages/domain/src/compile/targets/claude-skills.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2279): R1 — listOutputFiles excludes ambiguous dirs; MD scalar normalization; docs + tests
  docs/architecture/skills-surfaces.md
  packages/domain/src/compile/targets/claude-skills.test.ts
  packages/domain/src/compile/targets/claude-skills.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2282): spawn source via bun (launchd-style), not the minsky bundle
  cockpit-tray/README.md
  cockpit-tray/src-tauri/src/main.rs
Due: bun node_modules/.bin/prettier --write

fix(mt#2282): R1 — guard empty HOME, validate bin-path shape, doc labels
  cockpit-tray/README.md
  cockpit-tray/src-tauri/src/main.rs
Due: bun node_modules/.bin/prettier --write

docs(mt#2282): correct Prerequisites — app spawns via bun run src/cli.ts, not minsky cockpit start
  cockpit-tray/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2283): resolve cockpit web-dist bundle-aware (process.cwd), not import.meta.url
  src/cockpit/server.ts
  src/cockpit/web-dist.test.ts
  src/cockpit/web-dist.ts
  src/commands/cockpit/start-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2283): R1 — robust repo-root resolution (cwd + module-dir walk), revert manifest drift
  src/cockpit/server.ts
  src/cockpit/web-dist.test.ts
  src/cockpit/web-dist.ts
  src/commands/cockpit/start-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2150): memory page widgets + nav wiring
  src/cockpit/web/App.tsx
  src/cockpit/web/components/CommandPalette.tsx
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/pages/HomePage.tsx
  src/cockpit/web/pages/MemoriesPage.tsx
  src/cockpit/web/widgets/MemoriesHealth.tsx
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/web/widgets/MemoryDetail.tsx
  src/cockpit/web/widgets/MemorySearch.tsx
  src/cockpit/web/widgets/MemoryStats.tsx
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/memories-detail.ts
  src/cockpit/widgets/memories-health.ts
  src/cockpit/widgets/memories-list.ts
  src/cockpit/widgets/memories-search.ts
  src/cockpit/widgets/memories-stats.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2255): shared turn-extraction helper bounded on real user prompts
  .claude/hooks/pre-narration-detector.test.ts
  .claude/hooks/pre-narration-detector.ts
  .claude/hooks/retrospective-trigger-scanner.test.ts
  .claude/hooks/retrospective-trigger-scanner.ts
  .claude/hooks/substrate-bypass-detector.test.ts
  .claude/hooks/substrate-bypass-detector.ts
  .claude/hooks/transcript.test.ts
  .claude/hooks/transcript.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2202): set LSUIElement so the menu-bar app has no Dock icon
  cockpit-tray/src-tauri/Info.plist
Due: none

fix(mt#2255): R1 — string-content user line is always a turn boundary
  .claude/hooks/transcript.test.ts
  .claude/hooks/transcript.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2150): address R1 — shared MemoryService factory, date defensiveness, cockpit docs
  docs/architecture/cockpit.md
  src/cockpit/widgets/memories-detail.ts
  src/cockpit/widgets/memories-list.ts
  src/cockpit/widgets/memories-search.ts
  src/cockpit/widgets/memories-stats.ts
  src/cockpit/widgets/shared-memory-service.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2192): address reviewer R1 — consistent reason, surfaced timeouts, docs
  .claude/hooks/SPEC.md
  .claude/hooks/transcript-ingest-on-session-end.test.ts
  .claude/hooks/transcript-ingest-on-session-end.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  scripts/smoke-transcript-ingest-hook.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2204): reviewer carve-out — JSONC-family files are not strict JSON
  services/reviewer/src/prompt.test.ts
  services/reviewer/src/prompt.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2248): close orphaned PersistenceService when timed-out init later resolves
  src/cockpit/shared-persistence.test.ts
  src/cockpit/shared-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2248): address reviewer R1 — deterministic tests + debug-log orphan close failures
  src/cockpit/shared-persistence.test.ts
  src/cockpit/shared-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2280): ADR-016 — compile pipeline convergence (one `compile`, sunset legacy)
  docs/architecture/adr-016-compile-pipeline-convergence.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2280): R1 — correct legacy-impl path in ADR-016 (src/domain → packages/domain)
  docs/architecture/adr-016-compile-pipeline-convergence.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1601): hosted MCP capability guard — documented error for git/session ops instead of raw git: not found
  docs/architecture/hosted-vs-local-mcp-capabilities.md
  packages/domain/src/configuration/guard.test.ts
  packages/domain/src/configuration/guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
