Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(task171): add session learnings and methodology principles
  process/tasks/171-analyze-and-modularize-long-files.md
Due: bun node_modules/.bin/prettier --write

feat: eliminate infinite loops and fix critical MarkdownTaskBackend issues
  src/domain/tasks.test.ts
  src/domain/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: complete MarkdownTaskBackend restoration with status mapping fixes
  src/domain/tasks.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve createTask test failures by updating title format expectations
  src/domain/rules.ts
  src/domain/tasks.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Discourages unnecessary `echo` usage
  .cursor/rules/user-preferences.mdc
Due: none

Fixes test failures and infinite loops
  process/tasks.md
  process/tasks/236-fix-test-failures-and-infinite-loops-revealed-during-task-166-verification.md
Due: bun node_modules/.bin/prettier --write

feat: implement sessiondb migrate command and restore sessions
  process/tasks.md
  scripts/migrate-backup-sessions.ts
  src/adapters/cli/cli-command-factory.ts
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/sessiondb.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(task-236): resolve infinite loops and variable naming issues
  src/adapters/mcp/session-workspace.ts
  src/domain/session/session-path-resolver.ts
  src/domain/tasks/__tests__/taskService.test.ts
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/task-backend-router.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: implement comprehensive database integrity checking system
  scripts/test-sessiondb-migrate.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(task-236): resolve all infinite loops in SessionPathResolver implementations
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/session-files.ts
  src/adapters/mcp/session-workspace.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Add comprehensive tests for integrity checking and migration functionality
  src/adapters/shared/commands/__tests__/sessiondb.test.ts
  src/adapters/shared/commands/sessiondb.ts
  src/domain/storage/__tests__/database-integrity-checker.test.ts
  src/domain/storage/__tests__/enhanced-storage-backend-factory.test.ts
  src/domain/storage/database-integrity-checker.ts
  src/domain/storage/enhanced-storage-backend-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(task-236): update task spec with major infinite loop fix progress
  process/tasks/236-fix-test-failures-and-infinite-loops-revealed-during-task-166-verification.md
Due: bun node_modules/.bin/prettier --write

feat: Add task specs for cross-database migration and session validation
  process/task-specs/implement-cross-database-migration-system.md
  process/task-specs/implement-session-data-validation-and-repair.md
Due: bun node_modules/.bin/prettier --write

fix(#236): resolve critical log.info TypeError errors
  src/adapters/shared/commands/init.ts
  src/domain/storage/backends/error-handling.ts
  src/domain/storage/monitoring/health-monitor.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#236): resolve session CLI test mock issues
  src/adapters/__tests__/cli/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#236): bypass ConflictDetectionService when force flag is true
  src/adapters/__tests__/cli/session.test.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#201): Complete task specification with implementation results
  process/tasks/201-eliminate-mcp-command-duplication-by-implementing-proper-bridge-integration.md
  process/tasks/236-fix-test-failures-and-infinite-loops-revealed-during-task-166-verification.md
  src/domain/storage/__tests__/database-integrity-checker.test.ts
  src/domain/storage/database-integrity-checker.ts
  src/domain/storage/enhanced-storage-backend-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#236): resolve all failing session CLI tests
  src/adapters/__tests__/cli/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#236): task completion - test failures and infinite loops eliminated
  process/tasks.md
  process/tasks/236-fix-test-failures-and-infinite-loops-revealed-during-task-166-verification.md
  process/tasks/237-implement-hierarchical-task-system-with-subtasks-and-dependencies.md
  process/tasks/238-phase-1-implement-basic-subtask-support-with-parent-child-relationships.md
  process/tasks/239-phase-2-implement-task-dependencies-and-basic-task-graphs.md
  process/tasks/240-phase-3-enhanced-planning-execution-separation-with-checkpointing.md
  temp-phase1-spec.md
  temp-phase2-spec.md
  temp-phase3-spec.md
Due: bun node_modules/.bin/prettier --write

fix(cli): resolve category.toLowerCase() error in CLI bridge
  process/tasks.md
  src/adapters/shared/bridges/cli-bridge.ts
  src/adapters/shared/commands/sessiondb.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
