Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(task#166): apply conservative AST codemod for TS2345 errors
  codemods/conservative-ts2345-fixer.ts
  codemods/fix-ts2345-argument-errors.ts
  src/adapters/cli/utils/error-handler.ts
  src/adapters/cli/utils/index.ts
  src/adapters/shared/response-formatters.ts
  src/cli.ts
  src/domain/configuration/config-loader.ts
  src/domain/session.ts
  src/domain/session/session-path-resolver.ts
  src/domain/storage/backends/error-handling.ts
  src/domain/storage/backends/json-file-storage.ts
  src/domain/storage/backends/postgres-storage.ts
  src/errors/message-templates.ts
  src/errors/network-errors.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Updates session management instructions
  .cursor/rules/minsky-session-management.mdc
  process/tasks.md
  process/tasks/233-test-auto-task-creation-migration.md
Due: bun node_modules/.bin/prettier --write

feat(#166): update task spec with major progress - 80% complete, 563+ errors resolved
  process/tasks/166-remove-types-commander-and-fix-revealed-typescript-errors.md
Due: bun node_modules/.bin/prettier --write

feat(#189): Add interactive prompts to init command
  src/adapters/shared/commands/init.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#164): add bun binary builds and GitHub Actions release workflow
  .github/workflows/release.yml
  .gitignore
  bun.lock
  package.json
Due: bun node_modules/.bin/prettier --write

docs(#164): update changelog with binary build implementation
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

refactor(#164): replace npm build scripts with justfile for better maintainability
  .github/workflows/release.yml
  BUILD.md
  CHANGELOG.md
  justfile
Due: bun node_modules/.bin/prettier --write

feat: Make PR body/body-path required for session pr command
  process/tasks.md
  process/tasks/189/pr.md
Due: bun node_modules/.bin/prettier --write

feat(#164): add binary verification test recipe
  justfile
Due: none

feat(#164): Add release workflow verification script
  test-release-workflow.sh
Due: none

fix(ts): resolve TS2769 overload errors in command registration
  codemods/fix-command-registration-overloads.ts
  codemods/fix-ts2769-overload-mismatch.ts
  src/adapters/mcp/init.ts
  src/adapters/shared/commands/git.ts
  src/adapters/shared/commands/init.ts
  src/adapters/shared/commands/rules.ts
  src/adapters/shared/commands/session.ts
  src/domain/configuration/config-generator.ts
  src/domain/configuration/configuration-service.ts
  src/domain/git.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/storage/backends/sqlite-storage.ts
  src/domain/storage/json-file-storage.ts
  src/domain/storage/storage-backend-factory.ts
  src/types/project.ts
  src/utils/git-exec-enhanced.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Make PR body/body-path required for session pr command
  process/tasks.md
  src/adapters/shared/commands/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog for task #189 interactive prompts and PR body validation
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#233): Create task for semantic-release setup with conventional commits
  process/tasks.md
  process/tasks/233-setup-semantic-release-with-conventional-commits-for-automated-github-releases-and-binary-builds.md
  test-release-workflow.sh
Due: bun node_modules/.bin/prettier --write

fix(ts): resolve TS2322 and TS18048 type errors
  codemods/fix-ts18048-undefined-errors.ts
  codemods/fix-ts2322-type-assignments.ts
  src/domain/configuration/config-generator.ts
  src/domain/configuration/config-loader.ts
  src/domain/configuration/configuration-service.ts
  src/domain/configuration/credential-manager.ts
  src/domain/repository/remote.ts
  src/domain/storage/backends/error-handling.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Update creating-tasks rule to prevent inefficient two-step task creation
  .cursor/rules/creating-tasks.mdc
Due: none

fix(ts): complete massive TypeScript error reduction session
  codemods/fix-syntax-errors.ts
  codemods/fix-ts2345-argument-errors.ts
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/utils/error-handler.ts
  src/adapters/cli/utils/index.ts
  src/adapters/mcp/git.ts
  src/adapters/shared/bridges/cli-bridge.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/rules.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/error-handling.ts
  src/adapters/shared/response-formatters.ts
  src/commands/config/list.ts
  src/domain/git.ts
  src/domain/init.ts
  src/domain/session/session-db-io.ts
  src/domain/storage/json-file-storage.ts
  src/domain/storage/storage-backend-factory.ts
  src/domain/tasks/jsonFileTaskBackend.ts
  src/mcp/command-mapper.ts
  src/mcp/tools/session.ts
  src/mcp/tools/tasks.ts
  src/utils/git-exec-enhanced.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: eliminate TS2564 and TS2552 errors
  codemods/fix-ts2552-name-resolution.ts
  codemods/fix-ts2552-proper-resolution.ts
  codemods/fix-ts2564-property-initialization.ts
  src/domain/repository/github.ts
  src/domain/repository/local.ts
  src/domain/repository/remote.ts
  src/domain/storage/backends/error-handling.ts
  src/domain/tasks/taskFunctions.ts
  src/domain/workspace.ts
  src/domain/workspace/special-workspace-manager.ts
  src/utils/test-utils.ts
  src/utils/test-utils/test-git-service.ts
  ts2552-fixes-report.json
  ts2552-proper-fixes-report.json
  ts2564-fixes-report.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
