Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mcp): resolve tasks.list timeout by wrapping raw arrays
  eslint.config.js
  src/eslint-rules/no-tests-directories.js
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#276): temporary fixes for test issues
  src/domain/__tests__/tasks.test.ts
  src/domain/tasks/taskCommands.ts
  src/eslint-rules/no-unsafe-git-network-operations.js
  src/eslint-rules/no-unsafe-git-network-operations.test.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog to reflect MCP timeout fix and efficiency improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat: Add ESLint rule to warn against __tests__ directories
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#315): correct GitHub Issues backend capabilities
  src/domain/tasks/githubIssuesTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: Completes tasks, modularizes code, and adds template rules
  process/tasks.md
  process/tasks/171-analyze-and-modularize-long-files.md
  process/tasks/289-implement-template-based-rules-generation-system.md
  process/tasks/321-ai-powered-project-analysis-for-enhanced-init-command.md
Due: bun node_modules/.bin/prettier --write

docs(#171): Add comprehensive changelog entry for world-class modularization completion
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Establish verification protocols after epistemic failure
  ACTUAL-STATUS.md
  cognitive-error-log.md
  verification-protocol.md
Due: bun node_modules/.bin/prettier --write

fix: Update implementation-verification-protocol to address root cause
  .cursor/rules/implementation-verification-protocol.mdc
Due: none

docs: Document cognitive error correction in changelog
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#171): Update task spec with actual verified state
  process/tasks/171-analyze-and-modularize-long-files.md
Due: bun node_modules/.bin/prettier --write

docs(#171): Add root cause analysis of false completion
  how-we-got-here-analysis.md
Due: bun node_modules/.bin/prettier --write

docs(#315): update task spec to reflect architectural gaps
  process/tasks/315-implement-external-task-database-for-metadata-storage.md
  src/adapters/cli/customizations/tasks-customizations.ts
  src/adapters/shared/commands/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#171): Update task spec with root cause analysis of CLI vs domain confusion
  process/tasks/171-analyze-and-modularize-long-files.md
Due: bun node_modules/.bin/prettier --write

fix: Move all test files from __tests__ directories to co-located positions
  src/adapters/session-context-resolver.test.ts
  src/adapters/shared/commands/session-context-resolution.test.ts
  src/domain/git-service-pr-workflow.test.ts
  src/domain/git-service.test.ts
  src/domain/git/commands/basic-imports.test.ts
  src/domain/git/commands/integration.test.ts
  src/domain/git/commands/simple-function.test.ts
  src/domain/session-approve-workflow.test.ts
  src/domain/session/session-pr-body-validation.test.ts
  src/domain/tasks-core-functions.test.ts
  src/domain/tasks-interface-commands.test.ts
  src/utils/auto-commit.test.ts
  src/utils/semantic-error-classifier-integration.test.ts
  src/utils/semantic-error-classifier.test.ts
  src/utils/task-workspace-commit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#307): Add critical configuration scope investigation
  process/tasks/307-explore-adding-session-lint-command-for-pre-commit-issue-detection.md
Due: bun node_modules/.bin/prettier --write

feat(#315): Implement true spec/metadata separation with hybrid backends
  src/adapters/shared/commands/tasks.ts
  src/domain/tasks/githubSqliteHybridBackend.ts
  src/domain/tasks/markdownSqliteHybridBackend.ts
  src/domain/tasks/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#315): WIP - Fixing hybrid backend compilation issues
  process/tasks/315-implement-external-task-database-for-metadata-storage.md
  src/adapters/shared/commands/tasks.ts
  src/domain/tasks/githubSqliteHybridBackend.ts
  src/domain/tasks/markdownSqliteHybridBackend.ts
  src/domain/tasks/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#171): Complete session.ts modularization integration
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#171): Update status to reflect completed session.ts modularization
  ACTUAL-STATUS.md
Due: bun node_modules/.bin/prettier --write

fix(#315): Fix all compilation errors and implement working hybrid architecture
  src/adapters/shared/commands/tasks.ts
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/githubSqliteHybridBackend.ts
  src/domain/tasks/hybridBackendWrapper.ts
  src/domain/tasks/jsonFileTaskBackend.ts
  src/domain/tasks/markdownSqliteHybridBackend.ts
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#307): Complete session lint command implementation
  src/domain/project/config-reader.ts
  src/domain/project/index.ts
  src/domain/project/types.ts
  src/domain/session/session-lint.ts
  task-307-completion-summary.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#315): Add mandatory rule update protocol to self-improvement
  src/domain/tasks/hybridBackendWrapper.ts
  test-hybrid-backend.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#315): Complete hybrid backend implementation with working test
  test-hybrid-backend.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Remove outdated workspace validation from sessionPrFromParams
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#276): Optimize test suite quality and pass rate
  process/tasks.md.backup.1753296463775
  process/tasks.md.backup.1753296463777
  process/tasks.md.backup.1753296463780
  process/tasks.md.backup.1753296463897
  process/tasks.md.backup.1753297693542
  process/tasks.md.backup.1753297693546
  process/tasks.md.backup.1753297693680
  process/tasks.md.backup.1753297739716
  process/tasks.md.backup.1753298201799
  process/tasks.md.backup.1753298201801
  process/tasks.md.backup.1753298201805
  process/tasks.md.backup.1753298201941
  process/tasks.md.backup.1753298292005
  process/tasks.md.backup.1753298381630
  process/tasks.md.backup.1753299049708
  process/tasks.md.backup.1753299049709
  process/tasks.md.backup.1753299049713
  process/tasks.md.backup.1753299049837
  process/tasks.md.backup.1753302048602
  process/tasks.md.backup.1753302048604
  process/tasks.md.backup.1753302048610
  process/tasks.md.backup.1753302048737
  src/domain/tasks.test.ts
  src/domain/utils/package-manager.test.ts
  src/eslint-rules/no-unsafe-git-network-operations.js
  src/utils/package-manager.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#171): Correct false completion claim and update verification protocols
  ACTUAL-STATUS.md
Due: bun node_modules/.bin/prettier --write

merge: WIP branch 'task#276'
  codemods/conflict-detection-fixer.ts
  codemods/mock-assignment-syntax-fixer.ts
  codemods/task-service-mock-fixer.ts
  codemods/utils/codemod-framework.ts
  process/tasks.md
  scripts/fix-mock-imports.ts
  scripts/validate-commit-message.ts
  src/domain/errors/network-errors.ts
  src/domain/git-default-branch.test.ts
  src/domain/git-pr-workflow.test.ts
  src/domain/git/conflict-detection-working.test.ts
  src/domain/git/conflict-detection.test.ts.backup
  src/domain/session.ts
  src/domain/session/session-approval-error-handling.test.ts
  src/domain/session/session-approve-operations.ts
  src/domain/tasks.test.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskService.test.ts
  src/domain/tasks/taskService.ts
  src/domain/utils/package-manager.test.ts
  src/eslint-rules/no-unsafe-git-network-operations.js
  src/eslint-rules/no-unsafe-git-network-operations.test.js
  src/utils/constants.ts
  src/utils/package-manager.test.ts
  src/utils/package-manager.ts
  test-results-current.log
  tests/adapters/cli/session-update.test.ts
  tests/adapters/cli/session.test.ts
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#171): Update task spec with verified status (correct protocol)
  process/tasks/171-analyze-and-modularize-long-files.md
Due: bun node_modules/.bin/prettier --write

feat(#315): Reuse existing database infrastructure for metadata storage
  process/tasks/315-implement-external-task-database-for-metadata-storage.md
  src/domain/tasks/postgresMetadataDatabase.ts
  src/domain/tasks/sqliteMetadataDatabase.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: Adds rule update examples for common violations
  .cursor/rules/self-improvement.mdc
Due: none
