Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#1083): Sprint A — minsky-reviewer service scaffold
  scripts/lint-console-usage.ts
  services/reviewer/.gitignore
  services/reviewer/DEPLOY.md
  services/reviewer/Dockerfile
  services/reviewer/README.md
  services/reviewer/bun.lock
  services/reviewer/package.json
  services/reviewer/src/config.ts
  services/reviewer/src/github-client.ts
  services/reviewer/src/prompt.ts
  services/reviewer/src/providers.ts
  services/reviewer/src/review-worker.test.ts
  services/reviewer/src/review-worker.ts
  services/reviewer/src/server.ts
  services/reviewer/src/tier-routing.test.ts
  services/reviewer/src/tier-routing.ts
  services/reviewer/tsconfig.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1008): add one-shot Claude Code memory importer + unit tests
  scripts/import-claude-code-memory.ts
  tests/scripts/import-claude-code-memory.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1008): remove dead originSessionId field from ParsedMemoryFile
  scripts/import-claude-code-memory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1083): address Chinese-wall reviewer blocking findings + quick non-blockers
  scripts/lint-console-usage.ts
  services/reviewer/.gitignore
  services/reviewer/Dockerfile
  services/reviewer/README.md
  services/reviewer/src/review-worker.ts
  services/reviewer/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: correct pre-commit hook to avoid services/ test interference and raise lint threshold
  package.json
  src/domain/agent-identity/format.test.ts
  src/domain/agent-identity/format.ts
  src/domain/agent-identity/kinds.test.ts
  src/domain/agent-identity/kinds.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1035): research doc for System 3* detector design
  docs/research/mt1035-system3-detector.md
Due: bun node_modules/.bin/prettier --write

fix: update pre-push hook to use ./src to avoid services/ path-substring match
  .husky/pre-push
Due: none

feat(mt#997): parametrize scripts/create-github-app.ts + raise lint ratchet
  bunfig.toml
  docs/github-app-bot-setup.md
  scripts/create-github-app.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1078): add layer1, layer2, resolve modules with tests
  src/domain/agent-identity/index.ts
  src/domain/agent-identity/layer1.test.ts
  src/domain/agent-identity/layer1.ts
  src/domain/agent-identity/layer2.test.ts
  src/domain/agent-identity/layer2.ts
  src/domain/agent-identity/resolve.test.ts
  src/domain/agent-identity/resolve.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1090): raise lint warning threshold + install reviewer deps
  src/domain/rules/operations/crud-operations.ts
  src/domain/rules/operations/file-operations.ts
  src/domain/rules/rule-service.ts
  src/domain/rules/rule-template-service.ts
  src/domain/rules/template-system.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1078): wire agent identity resolver into MCP server tool-call handler
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/commands/mcp/start-command.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1078): add caller convention README and accept ADR-006
  docs/architecture/adr-006-agent-identity.md
  src/adapters/mcp/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#997): address Chinese-wall reviewer findings
  docs/github-app-bot-setup.md
  scripts/create-github-app.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1078): add integration tests for agent identity MCP server wiring
  src/mcp/agent-identity-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#1081): address review feedback on generateObject fix
  src/domain/ai/completion-service.ts
  src/domain/provenance/authorship-judge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1090): add migration-operations tests + document storage model
  CONTRIBUTING.md
  src/domain/rules/operations/migration-operations.test.ts
  src/domain/rules/operations/migration-operations.ts
  src/domain/rules/operations/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1078): fix mt#1078 lint warnings and ratchet threshold to 47
  src/hooks/pre-commit.ts
  src/mcp/agent-identity-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1090): constrain bun test paths to repo-root src to prevent discovering services/reviewer
  .claude/agents/verify-completion.md
  CLAUDE.md
  CONTRIBUTING.md
  package.json
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1078): align ADR-006 example scopes with valid-scope set
  docs/architecture/adr-006-agent-identity.md
Due: bun node_modules/.bin/prettier --write

chore(mt#1081): accept optional JSONL path via CLI arg in E2E script
  scripts/test-provenance-e2e.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1088): refactor check.test.ts to use DI fs seam + createMockFs
  src/domain/rules.ts
  src/domain/rules/compile/check.test.ts
  src/domain/rules/compile/compile-service.test.ts
  src/domain/rules/compile/targets/agents-md.test.ts
  src/domain/rules/compile/targets/claude-md.test.ts
  src/domain/rules/compile/targets/cursor-rules.test.ts
  src/domain/rules/compile/test-utils.ts
  src/domain/rules/operations/crud-operations.ts
  src/domain/rules/rule-service.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1100): reviewer getAppIdentity uses App-level JWT not installation token
  services/reviewer/src/github-client.ts
  services/reviewer/src/review-worker.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1038): add KnowledgeSearchResponse shape, knowledgeReconciliation config, freshness + authority helpers
  src/adapters/shared/commands/knowledge/index.ts
  src/adapters/shared/commands/knowledge/knowledge-commands.test.ts
  src/domain/configuration/schemas/index.ts
  src/domain/configuration/schemas/knowledge-reconciliation.ts
  src/domain/git/conflict-detection-working.test.ts
  src/domain/knowledge/providers/google-docs-provider.test.ts
  src/domain/knowledge/reconciliation/authority-ranker.test.ts
  src/domain/knowledge/reconciliation/authority-ranker.ts
  src/domain/knowledge/reconciliation/freshness.test.ts
  src/domain/knowledge/reconciliation/freshness.ts
  src/domain/knowledge/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1009): memory Phase 1 Child 4 — context-loading cutover
  .cursor/rules/memory-usage.mdc
  .prettierignore
  AGENTS.md
  CLAUDE.md
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/configuration/schemas/index.ts
  src/domain/configuration/schemas/memory.test.ts
  src/domain/configuration/schemas/memory.ts
  src/domain/git/conflict-detection-working.test.ts
  src/domain/provenance/provenance-service.ts
  src/domain/rules/compile/compile-service.ts
  src/domain/rules/compile/targets/claude-md.test.ts
  src/domain/rules/compile/targets/claude-md.ts
  src/domain/rules/compile/types.ts
  src/domain/session/session-liveness.test.ts
  src/domain/setup/harness-settings.test.ts
  src/domain/tasks/minskyTaskBackend.ts
  src/domain/tasks/task-graph-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1038): update architecture.md §9 for Phase 2a — Google Docs, cron, freshness, search shape
  docs/architecture.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1009): update skills to use memory_search/memory_create
  .claude/skills/implement-task/SKILL.md
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/retrospective/SKILL.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1009): add memory-migration.md cutover playbook
  docs/memory-migration.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1090): apply ./-prefix fix to .husky/pre-push
  .husky/pre-push
Due: none

feat(mt#1051): wire KnowledgeSyncScheduler into MCP server startup
  docs/architecture.md
  src/commands/mcp/scheduler-wiring.test.ts
  src/commands/mcp/scheduler-wiring.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1027): Layer 3 clustering + redundancies output slot
  src/adapters/shared/commands/knowledge/index.ts
  src/domain/configuration/schemas/knowledge-reconciliation.ts
  src/domain/knowledge/ingestion/sync-runner.ts
  src/domain/knowledge/reconciliation/clustering.test.ts
  src/domain/knowledge/reconciliation/clustering.ts
  src/domain/knowledge/reconciliation/redundancy-reader.ts
  src/domain/knowledge/reconciliation/sync-reconciler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1109): add v1-deployed status line to reviewer README — E2E smoke artifact
  services/reviewer/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1097): phase 1 — mechanical warning fixes (4 resolved)
  eslint.config.js
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/persistence/postgres-migration-operations.ts
  src/domain/tasks/minskyTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1109): address minsky-reviewer bot REQUEST_CHANGES finding
  services/reviewer/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1097): phase 2 — extract duplicated string literals to constants
  src/domain/git/conflict-detection-working.test.ts
  src/domain/rules/compile/check.test.ts
  tests/domain/persistence/migration-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
