Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4272): Make the cockpit-preview deploy jobs check whether the deploy landed
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#4272): Assert the deploy is SERVING, not just that it built
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#4272): PR #3119 R1 — five of six findings taken, one answered
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#4266): PR #3114 R1+R2 — say "three alternatives", and stop naming the stale flag for absence
  .claude/skills/merge-coordination/SKILL.md
  .minsky/skills/merge-coordination/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4253): PR #3108 R1 — require a dated snapshot, and drop the angle-bracket placeholder
  .claude/skills/handoff/SKILL.md
  .minsky/skills/handoff/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4275): Bound the derived timestamp, not another etime field
  src/cockpit/port-incumbent.test.ts
  src/cockpit/port-recovery.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3864): PR #3096 R3 — give identity-scoped suppression its own reason string
  .claude/hooks/pre-narration-detector.ts
  .minsky/hooks/pre-narration-detector.test.ts
  .minsky/hooks/pre-narration-detector.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4250): Fold runs of consecutive agent actions behind one summary line
  src/cockpit/web/components/ConversationElementRenderers.tsx
  src/cockpit/web/components/ConversationTurnView.tsx
  src/cockpit/web/lib/conversation-action-bursts.test.ts
  src/cockpit/web/lib/conversation-action-bursts.ts
  src/cockpit/web/widgets/ConversationView.action-burst.test.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

perf(mt#4274): Take the peek's in-flight drag width out of React state
  scripts/verify-peek-resize.ts
  src/cockpit/web/components/PaneDivider.test.tsx
  src/cockpit/web/components/PaneDivider.tsx
  src/cockpit/web/components/PeekHost.test.tsx
  src/cockpit/web/components/PeekHost.tsx
  src/cockpit/web/lib/peek-width.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4275): PR #3120 R1 — make the dead pid dead, and show the sign test survives precision loss
  src/cockpit/port-incumbent.test.ts
  src/cockpit/port-recovery.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3864): PR #3096 R4 — narrow the identity key list to the keys these tools actually use
  .claude/hooks/pre-narration-detector.ts
  .minsky/hooks/pre-narration-detector.test.ts
  .minsky/hooks/pre-narration-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4250): Measure and photograph the fold, not just its CSS
  packages/domain/src/configuration/sources/environment.ts
  scripts/verify-conversation-weight.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4263): Window the snapshot in SQL, and keep the two whole-transcript passes whole
  packages/domain/src/context/types.ts
  packages/domain/src/transcripts/rewind-detection.ts
  packages/domain/src/transcripts/session-context-snapshot.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4274): PR #3121 R1 — both BLOCKING findings taken
  scripts/verify-peek-resize.ts
  src/cockpit/web/components/PaneDivider.test.tsx
  src/cockpit/web/components/PaneDivider.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#4250): Don't make the synthetic-model sentinel a fourth hand-copy
  src/cockpit/web/components/ConversationTurnView.tsx
  src/cockpit/web/lib/conversation-action-bursts.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4263): Wire the window to the route, and key the ETag and cache by it
  packages/domain/src/transcripts/session-context-snapshot.ts
  src/cockpit/routes/context-inspector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4277): A failed read is not an absent deployment
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#4255): Retire a driven_sessions row whose actuator is verifiably gone
  scripts/verify-actuator-gone-retirement.ts
  src/cockpit/driven-session-launch-persistence.test.ts
  src/cockpit/driven-session-launch.ts
  src/cockpit/process-identity.test.ts
  src/cockpit/process-identity.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4277): PR #3124 R1 — stop stderr corrupting the JSON, and count a parse failure as a failed read
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#4250): PR #3125 R1 — wire the real classifier, and document the fold
  docs/cockpit-ui.md
  src/cockpit/web/lib/conversation-action-bursts.test.ts
  src/cockpit/web/lib/conversation-action-bursts.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

perf(mt#4263): Slice the window by array index, cache the derived structure, bound attachments on both sides
  packages/domain/src/transcripts/session-context-snapshot.ts
  src/cockpit/routes/context-inspector.ts
  src/cockpit/snapshot-cache.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4255): PR #3126 R1 — count a retirement only once the write lands
  src/cockpit/driven-session-launch-persistence.test.ts
  src/cockpit/driven-session-launch.ts
  src/cockpit/routes/driven-sessions.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4155): PR #3128 R1 — amend AT1 and AT3 in the spec, not just the findings section
  docs/architecture/hooks/code-mechanism-assertion-detector.md
Due: bun node_modules/.bin/prettier --write

docs(mt#4250): Correct the fold example to the string the code actually emits
  docs/cockpit-ui.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4225): Point the judge and correction-counter at the shape stored rows have
  packages/domain/src/provenance/authorship-judge.test.ts
  packages/domain/src/provenance/authorship-judge.ts
  packages/domain/src/provenance/transcript-service.test.ts
  packages/domain/src/provenance/transcript-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4155): PR #3128 R2 — the standalone CLI entry point was left on Rung 1
  .claude/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4284): The failing context is a subpopulation, not just a runtime
  .claude/skills/plan-task/SKILL.md
  .minsky/skills/plan-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4285): Correct ADR-025's archive-backup premise, which its own verification disproved
  docs/architecture/adr-025-transcript-storage-object-store-system-of-record.md
Due: bun node_modules/.bin/prettier --write

docs(mt#4285): Correct a second Supabase premise — lifecycle policy is app code either way
  docs/architecture/adr-025-transcript-storage-object-store-system-of-record.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4284): PR #3131 R1 — make the check an action, not a property
  .claude/skills/plan-task/SKILL.md
  .minsky/skills/plan-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4285): PR #3134 R1 — make the count match the correction
  docs/architecture/adr-025-transcript-storage-object-store-system-of-record.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4225): PR #3129 R1 — test computeMessageStats itself, and drop __TEST_ONLY
  packages/domain/src/provenance/transcript-service.test.ts
  packages/domain/src/provenance/transcript-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#4250): Pin the docs fold example to real output (retrospective R8)
  src/cockpit/web/lib/conversation-action-bursts.docs-example.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4281): Record the timeout that was never recorded, and stop the SDK retrying in the dark
  services/reviewer/src/providers.ts
  services/reviewer/src/review-timing.ts
  services/reviewer/src/review-worker.ts
  services/reviewer/src/unrecovered-timing.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#4190): Make a fire hand-classifiable, and let the sweep exclude itself
  scripts/replay-claim-provenance.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4225): PR #3129 R2 — take the sessionId in the stub, and assert it threads through
  packages/domain/src/provenance/transcript-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4281): Report the SDK's own attempt number, not just the status
  services/reviewer/src/providers.ts
  services/reviewer/src/unrecovered-timing.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4286): Quiet pre-narration to log-only, per ask#9219
  .claude/hooks/dispatcher.ts
  .claude/hooks/interceptor-descriptions.ts
  .claude/hooks/pre-narration-detector.ts
  .claude/hooks/registry-prompt-scan-guards.ts
  .minsky/hooks/dispatcher.ts
  .minsky/hooks/guard-feedback-shape.test.ts
  .minsky/hooks/interceptor-descriptions.ts
  .minsky/hooks/pre-narration-detector.test.ts
  .minsky/hooks/pre-narration-detector.ts
  .minsky/hooks/registry-prompt-scan-guards.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4288): Say which failure happened, instead of always blaming the token
  .github/workflows/deploy-minsky-mcp.yml
  scripts/verify-deploy-redeploy-classification.sh
Due: none

feat(mt#4287): The operator rendering — what protected you, and what it charged
  eslint.config.js
  packages/domain/src/guard-events/protection-summary.test.ts
  packages/domain/src/guard-events/protection-summary.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/components/Rail.tsx
  src/cockpit/web/lib/protection-format.test.ts
  src/cockpit/web/lib/protection-format.ts
  src/cockpit/web/pages/ProtectionPage.test.tsx
  src/cockpit/web/pages/ProtectionPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
