Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(#306): complete TaskBackendRouter migration to auto-configuring backends
  src/domain/tasks/self-contained-json-backend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(#306): move JSON backend factory functions into main backend module
  src/domain/tasks/jsonFileTaskBackend.ts
  src/domain/tasks/self-contained-json-backend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#306): update task spec to reflect completion
  process/tasks/306-migrate-codebase-from-taskbackendrouter-to-workspace-resolving-backends.md
Due: bun node_modules/.bin/prettier --write

test: add failing test for session PR body validation bug
  src/domain/session/__tests__/session-pr-body-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

cleanup: remove incorrect session PR validation test
  src/domain/session/__tests__/session-pr-body-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#306): add missing createTaskFromTitleAndDescription method to test mock
  src/domain/tasks/taskService.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(306): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore: Refactors and updates task descriptions
  process/tasks.md
  process/tasks/294-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

fix(#304): Fix session PR empty body validation bug
  src/domain/session/__tests__/session-pr-body-validation.test.ts
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Add enhanced implementation verification protocol with mandatory triggers
  .cursor/rules/implementation-verification-protocol-enhanced.mdc
Due: none

fix: change git command error logging from error to debug level
  process/tasks.md
  src/domain/git.ts
  src/eslint-rules/no-jest-patterns.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#305): Update task spec with session progress and findings
  process/tasks/305-systematic-jest-pattern-migration-eslint-rule-re-enablement.md
Due: bun node_modules/.bin/prettier --write

docs(#305): Update task spec, regulatory system, and migration framework
  .cursor/rules/completion-verification-protocol.mdc
  .cursor/rules/implementation-verification-protocol-enhanced.mdc
  CHANGELOG.md
  codemods/jest-to-bun-migration-codemod.ts
  process/tasks/305-systematic-jest-pattern-migration-eslint-rule-re-enablement.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#305): Achieve 0 ESLint Jest pattern violations - Complete systematic migration
  eslint.config.js
  fix-remaining-syntax.ts
  fix-syntax-errors.ts
  src/adapters/shared/commands/__tests__/session-context-resolution.test.ts
  src/domain/__tests__/git-service.test.ts
  src/domain/__tests__/tasks.test.ts
  src/domain/git-default-branch.test.ts
  src/domain/git-pr-workflow.test.ts
  src/domain/git.pr.test.ts
  src/domain/git.test.ts
  src/domain/git/commands/__tests__/integration.test.ts
  src/domain/git/conflict-detection.test.ts
  src/domain/git/git-service-core.test.ts
  src/domain/git/parameter-based-functions.test.ts
  src/domain/session-approve.test.ts
  src/domain/session-auto-task-creation.test.ts
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-lookup-bug-reproduction.test.ts
  src/domain/session-pr-refresh.test.ts
  src/domain/session-review.test.ts
  src/domain/session-start-consistency.test.ts
  src/domain/session-update.test.ts
  src/domain/tasks.test.ts
  src/domain/tests/__mocks__/utils/logger.js
  src/domain/tests/__mocks__/winston.js
  src/domain/workspace.test.ts
  src/eslint-rules/no-jest-patterns.js
  src/utils/package-manager.test.ts
  src/utils/test-utils/compatibility.test.ts
  src/utils/test-utils/compatibility/index.ts
  src/utils/test-utils/compatibility/mock-function.ts
  src/utils/test-utils/enhanced-utils.test.ts
  src/utils/test-utils/index.ts
  tests/adapters/cli/session-directory.test.ts
  tests/adapters/cli/session-test-utilities.ts
  tests/adapters/cli/session.test.ts
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#294): Complete Phase 1 git timeout audit with 16+ violations identified
  process/tasks/294-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
  src/domain/repository/remote.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Create task #307 to explore session lint command for pre-commit validation
  process/tasks.md
  process/tasks/307-explore-adding-session-lint-command-for-pre-commit-issue-detection.md
Due: bun node_modules/.bin/prettier --write

fix(#294): Implement timeout protection for critical git network operations
  src/domain/repository/local.ts
  src/domain/repository/remote.ts
  src/domain/session/commands/approve-command.ts
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#294): Update task spec with 50% P0 progress - 8 critical violations fixed
  process/tasks/294-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

fix(#294): Complete all P0 git timeout violations - 16+ critical fixes
  src/domain/git.ts
  src/domain/git/conflict-detection.ts
  src/domain/session.ts
  src/domain/session/session-approve-operations.ts
  src/domain/session/session-review-operations.ts
  src/domain/session/session-update-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#294): Phase 1 COMPLETE - All 16+ git timeout violations fixed
  process/tasks/294-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

fix(#294): Eliminate TOCTOU race condition in ensureDirectory()
  src/domain/storage/json-file-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
