Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(ai): improve error messages and missing imports for AI models commands
  src/adapters/shared/commands/ai.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with AI models commands fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: resolve task #330 conflict by renaming CLI adapters task to #335
  process/tasks.md
  process/tasks/335-apply-type-composition-patterns-to-cli-adapters.md
  src/adapters/shared/commands/ai.ts
  src/domain/ai/config-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(anthropic): correct API endpoint URL and add JSON flags to AI commands
  src/adapters/shared/commands/ai.ts
  src/adapters/shared/commands/config.ts
  src/commands/config/show.ts
  src/domain/ai/model-cache/fetchers/anthropic-fetcher.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Correct import path for session commands
  src/adapters/cli/utilities/formatting-utilities.ts
  src/adapters/shared/commands/config.ts
  src/adapters/shared/commands/session-modular.ts
  src/domain/ai/completion-service.ts
  src/domain/ai/model-cache/cache-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with error message improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#176): Remove legacy session-approve-log-mock-fixer codemod
  codemods/session-approve-log-mock-fixer.test.ts
  codemods/session-approve-log-mock-fixer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: enhance config show command with comprehensive user-friendly output
  codemods/bun-test-mocking-consistency-fixer.test.ts
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/utilities/formatting-utilities.ts
  src/adapters/shared/commands/ai.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(ai): improve provider status messaging clarity
  codemods/bun-test-mocking-consistency-fixer.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix codemod test imports and git clone path validation
  codemods/bun-test-mocking-consistency-fixer.test.ts
  src/domain/git/clone-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog for enhanced config show command
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: add missing deps parameter to getTaskFromParams function
  src/adapters/shared/commands/ai.ts
  src/domain/ai/config-service.ts
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#176): Update task spec with major progress achievements
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

feat(#176): Major error reduction progress - Fixed codemod structure issue
  codemods/bun-test-mocking-consistency-fixer.test.ts
  src/domain/session-update.test.ts
  src/utils/test-utils/dependencies.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(ai): comprehensive configuration and UX improvements
  src/adapters/shared/commands/ai.ts
  src/domain/ai/config-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(security): implement critical secret protection protocols
  .cursor/rules/self-improvement.mdc
  process/tasks.md
  process/tasks/336-categorize-and-audit-rule-templates-for-redundancy-analysis.md
  process/tasks/338-improve-config-list-command-user-experience.md
  process/tasks/339-add-configuration-management-subcommands.md
  process/tasks/340-update-documentation-for-enhanced-configuration-system.md
  process/tasks/341-implement-pre-commit-secret-scanning-with-husky.md
  src/adapters/cli/customizations/config-customizations.ts
  src/adapters/shared/commands/config.ts
  src/commands/config/list.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog with critical security fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(rules): correct critical rule hierarchy violation - move security protocol to proper rule
  .cursor/rules/security-protocol.mdc
  .cursor/rules/self-improvement.mdc
Due: none

fix(security): remove file containing exposed credentials
  process/tasks.md
  process/tasks/341-move-ai-commands-from-core-category-to-dedicated-ai-category-for-better-ux-and-discoverability.md
Due: bun node_modules/.bin/prettier --write

docs(#337): Add secure task documentation with redacted credentials
  process/tasks/337-urgent-fix-security-vulnerability-in-config-list-command.md
Due: bun node_modules/.bin/prettier --write

feat(#249): Complete Phase 1 investigation of session-aware edit tools
  docs/phase1-current-implementation-analysis.md
  docs/phase1-fast-apply-api-research.md
  docs/phase1-investigation-summary.md
  tests/current-implementation-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: create tasks #342 and #343
  process/tasks/342-move-ai-commands-from-core-to-ai-category.md
  process/tasks/343-fix-config-validation-to-ignore-unknown-fields.md
Due: bun node_modules/.bin/prettier --write

docs(#249): Update task specification with Phase 1 findings
  process/tasks/249-investigate-and-improve-session-aware-edit-reapply-mcp-tools-with-fast-apply-apis.md
Due: bun node_modules/.bin/prettier --write

feat: create task #344 - fix critical task ID collision bug
  process/tasks/344-fix-task-id-collision-bug-in-json-backend.md
Due: bun node_modules/.bin/prettier --write

fix(config): Handle unknown configuration fields gracefully
  src/domain/configuration/schemas/ai.test.ts
  src/domain/configuration/schemas/ai.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Address test failures and improve task commands
  process/tasks/123.md
  src/domain/repository-uri.ts
  src/domain/session-update.test.ts
  src/domain/tasks-interface-commands.test.ts
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(security): implement comprehensive pre-commit secret scanning
  .husky/pre-commit
  .husky/pre-commit.backup
  .secretlintignore
  .secretlintrc.json
  README.md
  bun.lock
  package.json
  test-body.txt
  test-branch-cleanup.md
  test-error-message.ts
  test-failure-analysis-20250713-234043.log
  test-failure-analysis.md
  test-line-range.txt
  test-merge-commit.ts
  test-output.log
  test-pr-body.md
  test-pr-logic.ts
  test-pr-refresh.md
  test-release-workflow.sh
  test-results-current-20250729-132709.json
  test-results-current-20250729-132714.txt
  test-results-current.log
  test-results-current.txt
  test-results-full.txt
  test-results.log
  test-results.txt
  test-semantic-error-handling.ts
  test-template-system.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
