Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2450): reviewer boot — reflect-metadata polyfill + alert-sink surfacing of container boot failure
  services/reviewer/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2450): R1 — declare reflect-metadata in reviewer package.json + DEPLOY.md alert-sink docs
  bun.lock
  services/reviewer/DEPLOY.md
  services/reviewer/package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2452): Register MINSKY_REVIEWER_APP_ID/INSTALLATION_ID/PRIVATE_KEY/TIER2_ENABLED in HOOK_ONLY_ENV_VARS
  packages/domain/src/configuration/sources/environment.test.ts
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2452): R1 — MINSKY_REVIEWER_URL mapping regression + positive metadata observability tests
  packages/domain/src/configuration/sources/environment.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2392): de-hardcode reviewer/merge bot identities — config-driven with defined absent-bot fallback
  packages/domain/src/configuration/bot-identity.test.ts
  packages/domain/src/configuration/bot-identity.ts
  packages/domain/src/configuration/schemas/github.ts
  packages/domain/src/configuration/schemas/reviewer.ts
  packages/domain/src/configuration/sources/environment.ts
  packages/domain/src/session/commands/pr-check-run-submit-subcommand.ts
  packages/domain/src/session/session-merge-operations.ts
  packages/domain/src/session/session-merge-security-validation.test.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
  src/adapters/shared/commands/reviewer-watch.ts
  src/adapters/shared/commands/session/pr-review-submit-command.ts
  src/adapters/shared/commands/session/session-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2392): R1 — visible call-site guard for reviewer-watch config-driven login + contract tests
  src/adapters/shared/commands/reviewer-watch.config.test.ts
  src/adapters/shared/commands/reviewer-watch.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2453): point boot-reachable safeTruncate imports at @minsky/shared + image-layout resolution smoke
  packages/domain/src/persistence/postgres-retry.ts
  packages/domain/src/tasks/task-similarity-service.ts
  services/reviewer/scripts/smoke-image-module-resolution.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2453): R1 — exitCode instead of exit() so cleanup runs; wire smoke into CI
  .github/workflows/ci.yml
  services/reviewer/scripts/smoke-image-module-resolution.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2460): mark repositoryBackend detection failure bootDeferrable — reviewer boot survives git-less image
  packages/domain/src/composition/domain-repository-backend.test.ts
  packages/domain/src/composition/domain.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2460): R1 — value-object-appropriate placeholder: throw on field READS, not calls
  packages/domain/src/composition/domain-repository-backend.test.ts
  packages/domain/src/composition/domain.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2460): R2 non-blocking — set trap on the deferred placeholder
  packages/domain/src/composition/domain-repository-backend.test.ts
  packages/domain/src/composition/domain.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2461): reduce minsky-mcp deploy churn via workflow paths filter + railway.json closure declaration
  .github/workflows/deploy-minsky-mcp.yml
  infra/index.ts
  services/minsky-mcp/railway.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2343): decompress DEFLATE ZIP log entries via zlib.inflateRawSync
  packages/domain/src/repository/github-workflow-runs.test.ts
  packages/domain/src/repository/github-workflow-runs.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2463): reviewer service gets canonical MINSKY_PERSISTENCE_* vars; scheduler errors surface in log message
  infra/index.ts
  services/reviewer/src/asks-reconcile-scheduler.ts
  services/reviewer/src/pr-watch-scheduler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1302): scheduled GitHub Action for post-deploy outcome+health monitoring
  .github/workflows/post-deploy-health-monitor.yml
  docs/deploy-minsky-railway.md
  scripts/post-deploy-health-monitor.ts
  scripts/smoke-post-deploy-health-monitor.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2423): plant-board convergence — node-link wins; /plant serves it, SVG + grid retired, ADR-020 Accepted
  docs/architecture/adr-020-plant-board-rendering-substrate.md
  src/cockpit/web/App.tsx
  src/cockpit/web/hooks/useReadyCount.ts
  src/cockpit/web/pages/PlantFlowPage.test.tsx
  src/cockpit/web/pages/PlantFlowPage.tsx
  src/cockpit/web/pages/PlantGridPage.test.tsx
  src/cockpit/web/pages/PlantGridPage.tsx
  src/cockpit/web/pages/PlantPage.test.tsx
  src/cockpit/web/pages/PlantPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2385): slice/altitude parameterization — Workstreams reference widget
  src/cockpit/cockpit.test.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/lib/use-workstreams-data.ts
  src/cockpit/web/pages/WorkstreamsPage.tsx
  src/cockpit/web/widgets/Workstreams.tsx
  src/cockpit/web/widgets/workstreams-altitude.test.tsx
  src/cockpit/widgets/workstreams.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2343): R1 — bound DEFLATE inflation (zip-bomb guard) + doc rationale
  packages/domain/src/repository/github-workflow-runs.test.ts
  packages/domain/src/repository/github-workflow-runs.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2439): fresh-DB bootstrap path — empty databases bootstrap from full-schema snapshot
  .github/workflows/cold-start-migrate.yml
  package.json
  packages/domain/src/persistence/postgres-bootstrap.test.ts
  packages/domain/src/persistence/postgres-bootstrap.ts
  packages/domain/src/persistence/postgres-migration-operations.ts
  packages/domain/src/persistence/providers/postgres-provider.ts
  packages/domain/src/storage/migrations/pg/bootstrap/full-schema.sql
  packages/domain/src/storage/migrations/pg/bootstrap/meta.json
  scripts/generate-bootstrap-snapshot.ts
  scripts/smoke-cold-start-migrate.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2463): R1 — redact URL credentials + password= fragments in reviewer logger
  services/reviewer/DEPLOY.md
  services/reviewer/src/logger.test.ts
  services/reviewer/src/logger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2461): R1 — drop bunfig.toml from watch/paths closure (Dockerfile omits it as test-only), add .dockerignore
  .github/workflows/deploy-minsky-mcp.yml
  services/minsky-mcp/railway.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2439): R1 — dry-run preview gate mirrors execute gate; CI asserts bootstrap artifact in dist
  .github/workflows/cold-start-migrate.yml
  packages/domain/src/persistence/postgres-migration-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2423): R1 — redirect tests via exported plantRoutes; rename boundary id to plant-page
  src/cockpit/web/App.tsx
  src/cockpit/web/pages/PlantFlowPage.test.tsx
Due: none

fix(mt#2439): pin MINSKY_PERSISTENCE_BACKEND=postgres in the smoke child env
  scripts/smoke-cold-start-migrate.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2385): R1 review — document altitude parameterization + strengthen App.tsx drift guards
  docs/architecture/cockpit.md
  src/cockpit/web/App.tsx
Due: bun node_modules/.bin/prettier --write

fix(mt#1302): R1 — address 4 BLOCKING reviewer findings
  .github/workflows/post-deploy-health-monitor.yml
  docs/deploy-minsky-railway.md
  packages/shared/src/deployment/config.ts
  scripts/post-deploy-health-monitor.ts
  scripts/smoke-post-deploy-health-monitor.ts
  services/cockpit/deploy.config.ts
  services/minsky-mcp/deploy.config.ts
  services/minsky-ops/deploy.config.ts
  services/reviewer/deploy.config.ts
  services/site/deploy.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1428): make repository-backend detection lazy — CLI works outside git checkouts
  .github/workflows/cold-start-migrate.yml
  .gitleaksignore
  packages/domain/src/composition/domain-repository-backend.test.ts
  packages/domain/src/composition/domain.ts
  packages/domain/src/composition/test.ts
  packages/domain/src/composition/types.ts
  packages/domain/src/session/repository-backend-detection.default-config.test.ts
  packages/domain/src/session/repository-backend-detection.ts
  packages/domain/src/tasks/githubBackendConfig.ts
  packages/domain/src/utils/git-exec.ts
  scripts/smoke-cli-outside-repo.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/tasks-modular.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/cockpit/server.ts
  src/composition/tokens.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1428): regenerate completion manifest
  src/generated/completion-manifest.json
Due: bun node_modules/.bin/prettier --write

fix(mt#1428): R1 — drop hardcoded repo fallback, broaden smoke leak patterns, named RepositoryBackendInfo type
  packages/domain/src/composition/domain.ts
  packages/domain/src/session/repository-backend-detection.ts
  packages/domain/src/tasks/githubBackendConfig.ts
  scripts/smoke-cli-outside-repo.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1428): scope MINSKY_* env to the smoke step — job-level broke build-step config validation
  .github/workflows/cold-start-migrate.yml
  .gitleaksignore
Due: none

chore(mt#1428): refresh gitleaksignore fingerprints after mt#2439 merge shifted workflow lines
  .gitleaksignore
Due: none

fix(mt#2472): remove invalid config_path on minsky-mcp (source_image service) — unblocks pulumi up
  infra/index.ts
  services/minsky-mcp/railway.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2472): R1 — update deploy-minsky-mcp.yml comment that referenced the deleted railway.json
  .github/workflows/deploy-minsky-mcp.yml
Due: none

feat(mt#2451): POST /alert-test — on-demand send through the deployed alert sink
  services/reviewer/README.md
  services/reviewer/src/server.test.ts
  services/reviewer/src/server.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2451): R1 — /alert-test resilient to a throwing sink (503 not 500, no error leak)
  services/reviewer/src/server.test.ts
  services/reviewer/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2449): cockpit rootDirectory "" → "/" — unblocks full pulumi preview/up
  infra/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2449): R1 — align cockpit deploy.config.ts rootDirectory to "/" (class sibling)
  infra/package.json
  services/cockpit/deploy.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2449): revert accidental infra/package.json change (pulumi install side-effect)
  infra/package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2474): omit cockpit rootDirectory (was "") — Railway rejects empty, unblocks pulumi up
  infra/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2474): R1 — omit rootDirectory in cockpit deploy.config.ts too (consistency)
  services/cockpit/deploy.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
