Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#139): integrate JsonFileTaskBackend with CLI commands - add static import, update help text to show json-file backend, enable --backend json-file across all commands
  process/tasks.md
  process/tasks/139-integrate-jsonfiletaskbackend-with-cli-commands.md
  src/adapters/shared/commands/tasks.ts
  src/domain/tasks/taskCommands.ts
  src/schemas/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: update bun.lock from dependency installation
  bun.lock
Due: none

fix: add mandatory rule verification step to task implementation workflow - ensures rules like no-dynamic-imports are checked before code changes
  .cursor/rules/task-implementation-workflow.mdc
Due: none

remove(unused): delete unused log-capture.ts utility - File was confirmed unused via codebase search - No imports or references found - Per user preference: never keep unused code
  src/utils/test-utils/compatibility/matchers.ts
  src/utils/test-utils/log-capture.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#049): Update task spec with comprehensive analysis and recommended approach
  bun.lock
  process/tasks.md
  process/tasks/049-implement-session-scoped-mcp-server-for-workspace-isolation.md
Due: bun node_modules/.bin/prettier --write

fix(linting): replace console.warn with log.cliWarn in test cleanup - Fixed console.warn in test afterEach cleanup handler - Added logger import - Test cleanup warnings now use proper logging method
  src/domain/tasks/__tests__/jsonFileTaskBackend.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: add task #140 and #141 specifications and fix package manager execSync null handling
  .cursor/rules/code-organization-router.mdc
  .cursor/rules/user-preferences.mdc
  fix-session-start-cli.md
  process/tasks.md
  process/tasks/140-fix-dependency-installation-error.md
  process/tasks/141-fix-session-start-cli-design.md
  src/adapters/cli/cli-command-factory.ts
  src/adapters/shared/commands/session.ts
  src/utils/package-manager.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with task #140 fix for dependency installation error
  CHANGELOG.md
  process/tasks.md
  process/tasks/142-test-dependency-fix.md
  src/adapters/cli/cli-command-factory.ts
  src/adapters/shared/commands/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#049): Add changelog entry for comprehensive analysis work
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(cli): Change session start to accept session name as positional arg and --task option
  process/tasks.md
  src/adapters/__tests__/shared/commands/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(tasks): implement GitHub Issues task backend with Octokit integration
  bun.lock
  package.json
  process/tasks/138-add-github-issues-task-backend.md
  process/tasks/139-add-session-context-autodetection.md
  src/domain/tasks/__tests__/githubIssuesTaskBackend.test.ts
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/taskService.ts
  src/schemas/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(tasks): update task #138 status with implementation progress and clarification questions
  process/tasks/138-add-github-issues-task-backend.md
Due: bun node_modules/.bin/prettier --write

docs: add PR description for task #143 ESLint upgrade
  process/tasks/143/pr.md
Due: bun node_modules/.bin/prettier --write

docs: update changelog for ESLint v9 upgrade task #143
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore: Remove test-migration module and redundant bun-test.d.ts - Extracted to separate repository, saves 166 linting issues
  docs/test-migration.md
  src/scripts/test-migration.ts
  src/test-migration/bun.lock
  src/test-migration/commands/analyze.ts
  src/test-migration/commands/batch.ts
  src/test-migration/commands/migrate.ts
  src/test-migration/core/analyzer.ts
  src/test-migration/core/test-runner.ts
  src/test-migration/core/transformer.ts
  src/test-migration/examples/assertion-methods.md
  src/test-migration/examples/enhanced-utils-test-migration.md
  src/test-migration/examples/filter-messages-test-migration.md
  src/test-migration/examples/migration-template.md
  src/test-migration/examples/mocking-test-migration.md
  src/test-migration/index.ts
  src/test-migration/package.json
  src/test-migration/patterns/registry.ts
  src/test-migration/transformers/assertion-transformers.ts
  src/test-migration/transformers/import-transformers.ts
  src/test-migration/transformers/mock-function-transformers.ts
  src/test-migration/transformers/module-mock-transformers.ts
  src/test-migration/transformers/pipeline.ts
  src/test-migration/tsconfig.json
  src/test-migration/types.d.ts
  src/test-migration/utils/diff.ts
  src/types/bun-test.d.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task 136 with major progress from test-migration removal
  process/tasks/136-fix-all-linter-warnings.md
Due: bun node_modules/.bin/prettier --write

docs: Update CHANGELOG with test-migration extraction
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#138): complete GitHub Issues backend implementation with auto-configuration
  bun.lock
  package.json
  process/tasks.md
  process/tasks/140-github-issues-import-existing.md
  process/tasks/141-repo-config-system.md
  src/domain/tasks/githubBackendConfig.ts
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: update task #138 status to IN-REVIEW
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: add GitHub backend testing guide and update git tests
  TESTING_GITHUB_BACKEND.md
  src/domain/git.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: Remove root-level bun-test.d.ts - redundant with bun-types package
  bun-test.d.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
