Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3252): bound the cockpit tab working set (LRU cap) and make overflow discoverable
  docs/evidence/mt-3252/README.md
  docs/evidence/mt-3252/tabstrip-after-bounded.png
  docs/evidence/mt-3252/tabstrip-after-overflow-menu.png
  docs/evidence/mt-3252/tabstrip-before-49-tabs.png
  src/cockpit/web/components/TabBar.test.tsx
  src/cockpit/web/components/TabBar.tsx
  src/cockpit/web/lib/tabs.test.tsx
  src/cockpit/web/lib/tabs.tsx
Due: bun node_modules/.bin/prettier --write

fix(mt#3247): resolve PR #2338 R1 findings — single viewBox writer, live config
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/pages/SessionFilmPage.tsx
Due: none

fix(mt#3256): attribute transcript lines positively, or not at all
  .minsky/hooks/record-subagent-invocation.test.ts
  packages/domain/src/subagent/transcript-metrics.test.ts
  packages/domain/src/subagent/transcript-metrics.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3256): address PR #2340 R1 — SC2 warning + explicit empty-id semantics
  .claude/hooks/record-subagent-invocation.ts
  .minsky/hooks/record-subagent-invocation.test.ts
  .minsky/hooks/record-subagent-invocation.ts
  packages/domain/src/subagent/transcript-metrics.test.ts
  packages/domain/src/subagent/transcript-metrics.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3253): lint ask option labels as button labels; strip redundant letter markers at display
  docs/evidence/mt-3253/README.md
  docs/evidence/mt-3253/ask-detail-single-letter.png
  docs/evidence/mt-3253/asks-inbox-normalized.png
  packages/domain/src/ask/form-lint.test.ts
  packages/domain/src/ask/form-lint.ts
  packages/shared/package.json
  packages/shared/src/ask-option-label.test.ts
  packages/shared/src/ask-option-label.ts
  src/adapters/shared/commands/asks.form-lint-options.test.ts
  src/adapters/shared/commands/asks.test.ts
  src/adapters/shared/commands/asks.ts
  src/cockpit/web/pages/AsksPage.test.tsx
  src/cockpit/web/pages/AsksPage.tsx
  src/cockpit/web/widgets/AskDetail.test.tsx
  src/cockpit/web/widgets/AskDetail.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3252): R1 — refute both blocking findings with measurements; adopt both non-blocking notes
  src/cockpit/web/components/TabBar.test.tsx
  src/cockpit/web/components/TabBar.tsx
  src/cockpit/web/lib/tabs.tsx
Due: none

fix(mt#3254): refuse a live database to a test process at the shared resolver
  packages/domain/src/configuration/sources/environment.ts
  src/cockpit/db-providers.test.ts
  src/cockpit/db-providers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3258): stop "unknown:" leaking + fix click-to-expand a11y
  packages/domain/src/transcripts/event-adapter.test.ts
  packages/domain/src/transcripts/event-adapter.ts
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
  src/cockpit/web/lib/session-film-batches.ts
  src/cockpit/web/lib/session-film-layout.test.ts
  src/cockpit/web/lib/session-film-layout.ts
  src/cockpit/web/lib/session-film-target-ref.test.ts
  src/cockpit/web/lib/session-film-target-ref.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3223): Give the reviewer redeploy project context via explicit railway link
  .github/workflows/deploy-reviewer.yml
Due: none

feat(mt#3258): real immediate styled hover tooltips on stage leaf nodes (SC2, top priority)
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/lib/session-film-config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3253): R1 — fix the dotted-token false positive; record the button-tooltip scope in the spec
  .minsky/state/unasked-directions/d12f938d-c86a-46be-b7f2-e4d8b717e1b0.json
  packages/shared/src/ask-option-label.test.ts
  packages/shared/src/ask-option-label.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3259): linkify mem#N / ask#N / ws#N short-id references
  .cursor/rules/cockpit-deeplinks.mdc
  .minsky/rules/cockpit-deeplinks.mdc
  AGENTS.md
  CLAUDE.md
  eslint.config.js
  packages/domain/src/memory/memory-service-get-id-forms.test.ts
  packages/domain/src/memory/memory-service.ts
  src/cockpit/web/lib/entity-deeplink-emit.test.ts
  src/cockpit/web/lib/entity-linkifier.shortid.test.ts
  src/cockpit/web/lib/entity-linkifier.tsx
  src/cockpit/web/lib/use-entity-index.ts
  src/cockpit/widgets/agents.ts
  src/cockpit/widgets/attention.ts
  src/cockpit/widgets/memories-detail.ts
  tests/domain/memory/memory-service.test.ts
  tests/domain/mt2939-similarity-project-scope.test.ts
  tests/domain/project-scope-acceptance.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3258): narrow the ribbon rail further so the stage is clearly dominant (SC4)
  src/cockpit/web/pages/SessionFilmPage.test.tsx
  src/cockpit/web/pages/SessionFilmPage.tsx
Due: none

chore(mt#3253): drop a stray session-state file this PR swept in; gitignore the directory
  .gitignore
  .minsky/state/unasked-directions/d12f938d-c86a-46be-b7f2-e4d8b717e1b0.json
Due: bun node_modules/.bin/prettier --write

fix(mt#3223): address PR #2343 R1 — fail-fast, masked whoami, correct error var
  .github/workflows/deploy-reviewer.yml
Due: none

fix(mt#3254): address PR #2342 R1 — move the guard pre-connect, drop the test seam
  docs/testing.md
  src/cockpit/db-providers.test.ts
  src/cockpit/db-providers.ts
  src/cockpit/driven-session-ws.test.ts
  src/cockpit/routes/projects.ts
  src/cockpit/server-projects.test.ts
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3258): non-empty start/end-of-session affordance in the ribbon's spacers (SC1, minor)
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
Due: none

fix(mt#3259): address PR #2344 R1 — canonical uuid targets + ask resolver
  packages/domain/src/ask/repository-get-by-id-forms.test.ts
  packages/domain/src/ask/repository.ts
  src/cockpit/web/lib/entity-linkifier.shortid.test.ts
  src/cockpit/web/lib/entity-linkifier.test.ts
  src/cockpit/web/lib/entity-linkifier.tsx
  src/cockpit/web/lib/use-entity-index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3151): remove the subagent model pin so explicit tiers are honored
  .claude/settings.json
  .claude/skills/check-premise/SKILL.md
  .cursor/rules/subagent-routing.mdc
  .minsky/rules/subagent-routing.mdc
  .minsky/skills/check-premise/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#3103): Session live-actor primitive — tri-state, fail-closed
  packages/domain/src/session/index.ts
  packages/domain/src/session/session-actor.test.ts
  packages/domain/src/session/session-actor.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3151): address PR #2346 R1 — correct the stale harness-signal comment
  packages/domain/src/runtime/harness-detection.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3108): memory write paths accept mem#N, like the read paths already did
  packages/domain/src/memory/memory-service-write-id-forms.test.ts
  packages/domain/src/memory/memory-service.ts
  src/adapters/shared/commands/memory/id-resolution-parity.test.ts
  src/adapters/shared/commands/memory/index.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3261): render presence/activity on /conversation/:id + honest turn timeline
  src/cockpit/web/components/ConversationPresenceChip.tsx
  src/cockpit/web/hooks/useConversationPresence.test.ts
  src/cockpit/web/hooks/useConversationPresence.ts
  src/cockpit/web/lib/conversation-presence-display.test.ts
  src/cockpit/web/lib/conversation-presence-display.ts
  src/cockpit/web/lib/conversation-timeline.test.ts
  src/cockpit/web/lib/conversation-timeline.ts
  src/cockpit/web/pages/ConversationPage.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3103): address PR #2347 R1 — reuse isPidAlive, type the annotated claim, pin the ignored flag
  packages/domain/src/session/session-actor.test.ts
  packages/domain/src/session/session-actor.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3108): address PR #2348 R1 — orphaned embedding on short-id delete
  packages/domain/src/memory/memory-service-write-id-forms.test.ts
  packages/domain/src/memory/memory-service.ts
  src/adapters/shared/commands/memory/index.ts
  tests/domain/memory/memory-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3261): address PR #2349 R1 — scope the Ask link, reconcile the spec's own ATs
  src/cockpit/web/components/ConversationPresenceChip.tsx
Due: none

feat(mt#3260): retain queue-operation lines at ingest
  packages/domain/src/transcripts/claude-code-transcript-source.ts
  packages/domain/src/transcripts/single-file-transcript-source.test.ts
  packages/domain/src/transcripts/single-file-transcript-source.ts
  packages/domain/src/transcripts/turn-extractor.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3260): render Interrupted as a distinct amber outcome, not an error
  src/cockpit/web/widgets/ConversationView.outcome.test.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: none

feat(mt#3260): mark compaction boundaries and synthetic-retry turns
  packages/domain/src/context/types.ts
  packages/domain/src/transcripts/conversation-elements.ts
  packages/domain/src/transcripts/session-context-snapshot.test.ts
  packages/domain/src/transcripts/session-context-snapshot.ts
  src/cockpit/web/widgets/ConversationView.outcome.test.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3243): partial: carry the quoted message's text through transport and router
  packages/domain/src/notify/principal-inbound.test.ts
  packages/domain/src/notify/principal-inbound.ts
  packages/domain/src/notify/telegram-transport.test.ts
  packages/domain/src/notify/telegram-transport.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3249): carry the failure classification as data, not as prose
  packages/domain/src/repository/github-error-handler.ts
  src/adapters/shared/commands/session/merge-error-classification.ts
  src/adapters/shared/commands/session/workflow-commands-merge-error-classification.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3262): partial: add sourceRef back-reference to SemanticEvent + adapter
  packages/domain/src/transcripts/event-adapter.test.ts
  packages/domain/src/transcripts/event-adapter.ts
  packages/domain/src/transcripts/event-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3243): partial: wire the quoted reply text into the turn the agent sees
  src/cockpit/principal-channel-actuator.test.ts
  src/cockpit/principal-channel-actuator.ts
  src/cockpit/principal-channel-poller.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3249): address PR #2351 R1 — barrel export + null-status guard
  packages/domain/src/repository/github-error-handler.ts
  packages/domain/src/repository/index.ts
  src/adapters/shared/commands/session/merge-error-classification.ts
  src/adapters/shared/commands/session/workflow-commands-merge-error-classification.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3243): resume the standing conversation instead of replacing it
  src/cockpit/driven-session-host.test.ts
  src/cockpit/driven-session-host.ts
  src/cockpit/principal-channel-actuator.test.ts
  src/cockpit/principal-channel-actuator.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#3262): partial: extract per-block renderers into shared ConversationElementRenderers
  eslint.config.js
  src/cockpit/web/components/ConversationElementRenderers.thinking.test.tsx
  src/cockpit/web/components/ConversationElementRenderers.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3262): partial: add film-owned scrub-gated content endpoint
  src/cockpit/routes/session-film.test.ts
  src/cockpit/routes/session-film.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3262): partial: add session-film-client content fetch + event-content resolver
  src/cockpit/web/lib/session-film-client.test.ts
  src/cockpit/web/lib/session-film-client.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3243): live-verify that the conversation survives a restart
  scripts/principal-channel/verify-resume.ts
  src/cockpit/principal-channel-actuator.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3243): address PR #2352 R1 — captioned replies, untasked invariant
  packages/domain/src/notify/telegram-transport.test.ts
  packages/domain/src/notify/telegram-transport.ts
  scripts/principal-channel/verify-resume.ts
  src/cockpit/principal-channel-actuator.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
