Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove internal reasoning language from pre-commit hook messages
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove TypeScript reference from husky hook message
  .husky/pre-commit
Due: none

fix: remove remaining TypeScript references from hook output
  .husky/pre-commit
Due: none

fix: remove TypeScript references from hook comments
  .husky/pre-commit
Due: none

feat(mt#499): Complete workflow integration with comprehensive tests and init command enhancement
  src/adapters/shared/commands/init.ts
  src/domain/init-backend-selection.test.ts
  tests/domain/workflow/builtin-tools.test.ts
  tests/domain/workflow/configuration.test.ts
  tests/domain/workflow/maturity-assessment.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#499): Update task specification with comprehensive implementation summary
  src/adapters/shared/commands/init.ts
  src/domain/init-backend-selection.test.ts
  tests/domain/workflow/builtin-tools.test.ts
  tests/domain/workflow/configuration.test.ts
  tests/domain/workflow/maturity-assessment.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#407): Complete PersistenceProvider architecture implementation
  src/adapters/shared/commands/tasks/similarity-commands.ts
  src/commands/context/suggest-rules.ts
  src/domain/persistence/providers/postgres-provider.ts
  src/domain/rules/rule-similarity-service.ts
  src/domain/session/session-db-adapter.ts
  src/domain/similarity/rule-similarity-service.core.test.ts
  src/domain/similarity/task-similarity-service.core.test.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/domain/tasks/task-similarity-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style(#442): apply prettier formatting to task routing files
  debug-commands.ts
  minsky-tasks-available.ts
  minsky-tasks-route.ts
  src/adapters/cli/tasks/availableCommand.ts
  src/adapters/cli/tasks/routeCommand.ts
  src/adapters/cli/tasks/routingCommand.ts
  src/adapters/shared/commands/tasks-modular.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/adapters/shared/commands/tasks/routing-commands.ts
  src/domain/tasks/task-routing-service.ts
  test-direct-command.ts
  test-routing-functionality.ts
  tests/adapters/shared/commands/tasks/routing-commands.test.ts
  tests/domain/tasks/task-routing-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#442): sync changelog with latest changes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(mt#407): Update changelog with completed PersistenceProvider implementation
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(#442): remove temporary debugging files
  debug-commands.ts
  minsky-tasks-available.ts
  minsky-tasks-route.ts
  test-direct-command.ts
  test-routing-functionality.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#505): Create task for codebase indexing feature implementation
  .husky/pre-commit
Due: none

docs: Update changelog for task mt#505 creation
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(mt#407): Restore working connection-manager for CLI compatibility
  src/adapters/shared/commands/tasks/similarity-commands.ts
  src/domain/database/connection-manager.ts
  src/domain/persistence/providers/postgres-provider.ts
  src/domain/rules/rule-similarity-service.ts
  src/domain/session/session-db-adapter.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/domain/tasks/task-similarity-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: remove temporary task routing demo scripts
  CHANGELOG.md
  minsky-tasks-available.ts
  minsky-tasks-route.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Update routing-commands output formatting
  src/adapters/shared/commands/tasks/routing-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#507): Create repository history and changeset indexing task
  CHANGELOG.md
  src/adapters/cli/tasks/depsCommand.ts
  src/adapters/shared/commands/tasks/deps-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style: apply formatter whitespace fixes to deps-commands
  src/adapters/shared/commands/tasks/deps-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: trigger hooks to see warning output
  .cursor/rules/changelog.mdc
  .cursor/rules/index.mdc
  src/domain/context/components/workspace-rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove deprecated husky v9 initialization from hooks
  .husky/commit-msg
  .husky/pre-commit.backup
Due: none

feat(mt#508): Add dependencies option to tasks create and enhance deps add for multiple dependencies
  src/adapters/cli/customizations/tasks-customizations.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/deps-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/schemas/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove deprecated shebang from husky pre-commit hook
  .husky/pre-commit
Due: none

feat(mt#508): Fix CLI bridge and parameter registration for dependencies
  src/adapters/cli/customizations/tasks-customizations.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/deps-commands.ts
  src/adapters/shared/commands/tasks/index.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Complete PersistenceProvider implementation
  src/adapters/shared/commands/sessiondb.ts
  src/domain/database/connection-manager.ts
  src/domain/persistence/providers/json-provider.ts
  src/domain/persistence/providers/postgres-provider.ts
  src/domain/persistence/providers/sqlite-provider.ts
  src/domain/persistence/types.ts
  src/domain/session/session-approval-error-handling.test.ts
  src/domain/session/session-db-adapter.ts
  src/domain/session/session-lifecycle-operations.ts
  src/domain/session/session-start-operations.ts
  src/domain/storage/database-integrity-checker.test.ts
  src/domain/storage/database-integrity-checker.ts
  src/domain/storage/enhanced-storage-backend-factory.ts
  src/domain/storage/monitoring/health-monitor.ts
  src/domain/storage/storage-backend-factory.ts
  tests/task-edit-feedback.test.ts
  verify-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#508): Complete implementation - both enhanced commands working perfectly
  src/adapters/shared/commands/tasks/crud-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#508): Clean up debug output - implementation ready for PR
  src/adapters/shared/commands/tasks/crud-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#510): Implement unified changeset abstraction layer
  src/adapters/shared/commands/changeset/changeset-commands.ts
  src/adapters/shared/commands/changeset/index.ts
  src/adapters/shared/commands/index.ts
  src/domain/changeset/adapter-interface.ts
  src/domain/changeset/adapters/bitbucket-adapter.ts
  src/domain/changeset/adapters/github-adapter.ts
  src/domain/changeset/adapters/gitlab-adapter.ts
  src/domain/changeset/adapters/local-git-adapter.ts
  src/domain/changeset/changeset-service.ts
  src/domain/changeset/index.ts
  src/domain/changeset/repository-backend-integration.ts
  src/domain/changeset/types.ts
  tests/unit/domain/changeset/changeset-service.test.ts
  tests/unit/domain/changeset/local-git-adapter.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#510): Fix changeset command registration and imports
  src/adapters/shared/commands/changeset/changeset-commands.ts
  src/adapters/shared/commands/changeset/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#226): Implement CLI integration for session review command
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(#510): Move changeset commands to VCS-agnostic REPO category
  src/adapters/cli/cli-command-factory.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/changeset/changeset-commands.ts
  src/adapters/shared/commands/changeset/index.ts
  src/adapters/shared/commands/index.ts
  src/domain/changeset/adapter-interface.ts
  src/domain/changeset/adapters/bitbucket-adapter.ts
  src/domain/changeset/adapters/github-adapter.ts
  src/domain/changeset/adapters/gitlab-adapter.ts
  src/domain/changeset/adapters/local-git-adapter.ts
  src/domain/changeset/changeset-service.ts
  src/domain/changeset/index.ts
  src/domain/changeset/repository-backend-integration.ts
  src/domain/changeset/types.ts
  src/schemas/command-registry.ts
  tests/unit/domain/changeset/changeset-service.test.ts
  tests/unit/domain/changeset/local-git-adapter.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: Move session search from persistence to session commands
  CHANGELOG.md
  src/adapters/cli/customizations/config-customizations.ts
  src/adapters/cli/setup/command-setup.ts
  src/adapters/mcp/persistence.ts
  src/adapters/mcp/shared-command-integration.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/persistence.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/commands/mcp/index.ts
  src/domain/session/commands/update-command.ts
  src/domain/session/index.ts
  src/schemas/command-registry.ts
  verify-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#510): Add session changeset aliases and filtering
  src/adapters/cli/cli-command-factory.ts
  src/adapters/shared/commands/changeset/changeset-commands.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/changeset-aliases.ts
  src/adapters/shared/commands/session/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#442): fix SQL query syntax and database connections
  src/adapters/cli/utilities/formatting-utilities.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/adapters/shared/commands/tasks/routing-commands.ts
  src/domain/tasks/task-graph-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#442): add graceful error handling for missing task_relationships table
  CHANGELOG.md
  src/adapters/shared/commands/persistence.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/tasks/routing-commands.ts
  src/domain/session/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#526): Fix persistence check command PostgreSQL connection handling
  src/adapters/shared/commands/persistence.ts
  src/adapters/shared/commands/tasks/routing-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#526): Implement persistence migrate/check commands using PersistenceService
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(docs): Add comprehensive PostgreSQL vector storage documentation
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#510): Complete session changeset aliases with proper parameter delegation
  src/adapters/shared/commands/changeset/changeset-commands.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/changeset-aliases.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Remove invented dependency type syntax that doesn't exist
  src/adapters/cli/customizations/tasks-customizations.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/deps-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/schemas/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update dependency documentation to remove fictional types
  src/adapters/cli/customizations/tasks-customizations.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/deps-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/schemas/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
