Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2536): R1 — named capture groups in tokenizer + numeric changeset-id guard
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-codec.ts
  src/cockpit/web/lib/entity-linkifier.test.ts
  src/cockpit/web/lib/entity-linkifier.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2566): drop stale changeset/mt#2410 ref in useDeepLinkHandler no-op comment
  src/cockpit/web/hooks/useDeepLinkHandler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2566): R1 — say "unknown/unrecognized" not "unrouted" type
  src/cockpit/web/hooks/useDeepLinkHandler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2564): reconcile cockpit-driving docs — correct cockpit-tray-dev skill per ADR-023; mark ADR-023 Accepted
  .claude/skills/cockpit-tray-dev/SKILL.md
  .minsky/skills/cockpit-tray-dev/content.md
  docs/architecture/adr-023-cockpit-ui-delivery-native-boundary.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2564): R1 — reconcile ADR-023 Consequences with accepted transport decision
  docs/architecture/adr-023-cockpit-ui-delivery-native-boundary.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2563): stamp project_id on asks.create (complete deferred Phase-1.3b write-stamping)
  packages/domain/src/ask/repository.test.ts
  packages/domain/src/ask/repository.ts
  packages/domain/src/ask/types.ts
  src/adapters/shared/commands/asks.test.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2563): R1 — create→list round-trip test + caller-specific scope-resolution logging
  src/adapters/shared/commands/asks.test.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2562): presence_claims schema, migration 0050, domain types, repository, MCP command, server write path
  drizzle.pg.config.ts
  packages/domain/src/presence/index.ts
  packages/domain/src/presence/repository.test.ts
  packages/domain/src/presence/repository.ts
  packages/domain/src/presence/types.ts
  packages/domain/src/storage/migrations/pg/0050_presence_claims.sql
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/presence-claims-schema.ts
  scripts/smoke-presence-claims.ts
  src/adapters/shared/commands/tasks/claims-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/commands/mcp/start-command.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2562): R1 — normalize presence subject_id (write+read), order claims most-recent-first, doc the subsystem
  docs/architecture/presence-claims.md
  packages/domain/src/presence/index.ts
  packages/domain/src/presence/normalize.test.ts
  packages/domain/src/presence/normalize.ts
  packages/domain/src/presence/repository.ts
  src/adapters/shared/commands/tasks/claims-command.ts
  src/commands/mcp/start-command.ts
  src/generated/completion-manifest.json
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2232): Rung-1 live-tail SSE — observe in-progress sessions via JSONL streaming
  packages/domain/src/transcripts/session-context-snapshot.ts
  src/cockpit/live-tail-poller.test.ts
  src/cockpit/live-tail-poller.ts
  src/cockpit/server-live-tail.test.ts
  src/cockpit/server.ts
  src/cockpit/web/hooks/useLiveTail.ts
  src/cockpit/web/pages/SessionDetailPage.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2232): R1 — reentrancy guard, deferred offset seeding, shared cwd-escape helper
  src/cockpit/live-tail-poller.test.ts
  src/cockpit/live-tail-poller.ts
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2567): writeTaskClaim per-call repo fallback — write-path no longer no-ops on timing-raced servers
  packages/domain/src/presence/repository.ts
  src/commands/mcp/start-command.ts
  src/mcp/presence-write-path.test.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2567): add live-verification script for presence write-path
  scripts/live-verify-presence-write.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2076): correct reviewer /health default URL to the real webhook host
  src/cockpit/widgets/reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2076): address R1 review — parameterize SQL, allSettled, regex+empty-str fixes, probe recency, docs
  docs/architecture/cockpit.md
  src/cockpit/web/widgets/ReviewerBotStatus.tsx
  src/cockpit/widgets/reviewer-bot-status.test.ts
  src/cockpit/widgets/reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2076): R2 — valid lateral-unnest rate-limit-hits SQL
  src/cockpit/widgets/reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2076): smoke probes /health live even without a Postgres URL
  scripts/smoke-reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2570): wire tasks_claims_list into §Probe before claiming as cheap first-pass presence probe
  .cursor/rules/user-preferences.mdc
  .minsky/rules/user-preferences.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2573): add postmortem skill and Supabase connectivity-outage postmortem
  .claude/skills/postmortem/SKILL.md
  .minsky/skills/postmortem/SKILL.md
  docs/incidents/2026-06-28-supabase-connectivity-breaker.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2571): add Bulk / loop commands sub-rule (output-suppression + zsh word-split)
  .cursor/rules/terminal-command-best-practices.mdc
  .minsky/rules/terminal-command-best-practices.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2571): R1 nit - pre-create /tmp/close.err in bulk-loop example
  .cursor/rules/terminal-command-best-practices.mdc
  .minsky/rules/terminal-command-best-practices.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2574): add self-serve Supabase project restart helper
  docs/incidents/2026-06-28-supabase-connectivity-breaker.md
  justfile
  scripts/README.md
Due: bun node_modules/.bin/prettier --write

chore(mt#2574): add scripts/supabase/ gitignore exception
  .gitignore
  scripts/supabase/restart-project.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2574): R1 blockers - guard --ref value, robust yaml token parse, API timeouts
  .gitignore
  scripts/supabase/restart-project.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2572): fix four github-issues backend bugs observed during Supabase incident
  packages/domain/src/schemas/storage.ts
  packages/domain/src/tasks/commands/mutation-commands.ts
  packages/domain/src/tasks/github-issues-api.ts
  packages/domain/src/tasks/github-issues-mapping.ts
  packages/domain/src/tasks/githubIssuesTaskBackend.test.ts
  packages/domain/src/tasks/githubIssuesTaskBackend.ts
  packages/domain/src/tasks/multi-backend-service.ts
  packages/domain/src/tasks/multi-backend-system.test.ts
  packages/domain/src/tasks/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2572): R1 - forward backend on createTaskFromTitleAndSpec command path
  packages/domain/src/tasks/commands/mutation-commands.ts
  packages/domain/src/tasks/taskCommands.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2572): restore 11 tests dropped from taskCommands.test.ts by a bad edit
  packages/domain/src/tasks/taskCommands.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: plist hardening + DB graceful-degradation for cockpit daemon (gh#1761)
  src/cockpit/launchd.test.ts
  src/cockpit/launchd.ts
  src/cockpit/shared-persistence.test.ts
  src/cockpit/shared-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: don't exit on DB circuit-breaker errors; add db status to /api/health (gh#1761)
  src/cockpit/cockpit.test.ts
  src/cockpit/server.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: tray evicts legacy com.minsky.cockpit launchd agent on Conflict (gh#1761)
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(gh#1761): gate legacy-agent eviction on port-holder PID match
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(gh#1761): clear pending retry timer on success in startDbRetryBackoff
  src/cockpit/shared-persistence.test.ts
  src/cockpit/shared-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(gh#1761): extract isDbDegradationError and add PersistenceInitTimeoutError
  src/commands/cockpit/start-command.test.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(gh#1761): document health endpoint db field, plist changes, eviction guard
  docs/architecture/adr-014-cockpit-daemon-lifecycle-ownership.md
  docs/cockpit-ui.md
  docs/persistence-configuration.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2579): add tasks.githubBackend.enabled flag, gate github backend
  packages/domain/src/configuration/schemas/tasks.ts
  packages/domain/src/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2579): add acceptance tests for tasks.githubBackend.enabled gate
  packages/domain/src/tasks/github-backend-gate.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2579): cover all github backend identifiers in disabled gate
  packages/domain/src/tasks/github-backend-gate.test.ts
  packages/domain/src/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2579): document tasks.githubBackend.enabled in 4 guide files
  docs/configuration-guide.md
  docs/github-issues-backend-guide.md
  docs/multi-backend-quick-reference.md
  docs/multi-backend-user-guide.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2582): ADR-025 - object-store raw archive as transcript system of record
  docs/architecture/adr-025-transcript-storage-object-store-system-of-record.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2582): add dedicated Alternatives considered section to ADR-025
  docs/architecture/adr-025-transcript-storage-object-store-system-of-record.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
