Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

task#067: Add PR description
  process/tasks/067/pr.md
Due: bun node_modules/.bin/prettier --write

fix: migrate test disables and utility/test changes from main workspace to session workspace (see SpecStory for details)
  src/adapters/__tests__/integration/session.test.ts
  src/adapters/__tests__/integration/tasks.test.ts
  src/adapters/cli/__tests__/rules.test.ts
  src/adapters/cli/__tests__/session.test.ts
  src/domain/session.ts
  src/utils/__tests__/test-utils.test.ts
  src/utils/test-utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

test(cli): Remove broken CLI adapter tests and add migration task for test coverage restoration. _See: SpecStory history for context on test cleanup and migration task creation._
  process/tasks/078-migrate-cli-adapter-tests.md
  src/adapters/cli/__tests__/rules.test.ts
  src/adapters/cli/__tests__/session.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Enforces structured logging via ESLint rules
  .eslintrc.json
Due: bun node_modules/.bin/prettier --write

Adds workflow error escalation protocol
  .cursor/rules/self-improvement.mdc
Due: none

Refactors session retrieval and listing
  src/domain/session.ts
  src/schemas/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix(merge): Resolve merge conflicts in CLI and add missing createGitCommand function
  src/adapters/cli/git.ts
  src/cli.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: resolve merge conflicts in domain/rules.ts and domain/init.ts
  bun.lock
  package.json
  src/domain/init.ts
  src/domain/rules.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

task#067: Restore and update all workflow rules with complete content from temp-fixed-rules. See session for details.
  .cursor/rules/index.mdc
  .cursor/rules/minsky-cli-usage.mdc
  .cursor/rules/minsky-session-management.mdc
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/pr-preparation-workflow.mdc
  .cursor/rules/task-implementation-workflow.mdc
  .cursor/rules/task-status-protocol.mdc
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: Add task ID normalization to domain functions and support for task IDs without leading zeros
  src/adapters/__tests__/integration/tasks.test.ts
  src/adapters/cli/tasks.ts
  src/domain/__tests__/tasks.test.ts
  src/domain/tasks.ts
  src/domain/tasks/utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Add proper frontmatter to task-status-protocol.mdc and minsky-cli-usage.mdc
  .cursor/rules/task-status-protocol.mdc
Due: none

Fixes rules CLI to use current workspace
  process/tasks.md
  process/tasks/078-fix-minsky-rules-cli-to-operate-on-rules-in-the-current-workspace-main-or-session-.md
Due: bun node_modules/.bin/prettier --write

Fix session start command bugs
  src/domain/session.ts
  src/schemas/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Use exact description wording from task requirements in minsky-cli-usage rule
  .cursor/rules/minsky-cli-usage.mdc
Due: none

Update changelog with session command fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat: Add Frontmatter Verification Protocol to rule-creation-guidelines
  .cursor/rules/rule-creation-guidelines.mdc
Due: none

fix: Improve CLI output by removing timestamps and fix duplicate hash in task ID display
  CHANGELOG.md
  src/adapters/cli/tasks.ts
  src/utils/logger.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Improves Git clone operation with enhanced logging
  src/domain/git.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Refactors rules and adds testing architecture
  .cursor/rules/ai-linter-autofix-guideline.mdc
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/bun_over_node.mdc
  .cursor/rules/changelog.mdc
  .cursor/rules/cli-testing.mdc
  .cursor/rules/command-organization.mdc
  .cursor/rules/constants-management.mdc
  .cursor/rules/derived-cursor-rules.mdc
  .cursor/rules/designing-tests.mdc
  .cursor/rules/domain-oriented-modules.mdc
  .cursor/rules/dont-ignore-errors.mdc
  .cursor/rules/file-size.mdc
  .cursor/rules/framework-specific-tests.mdc
  .cursor/rules/index.mdc
  .cursor/rules/json-parsing.mdc
  .cursor/rules/minsky-cli-usage.mdc
  .cursor/rules/minsky-session-management.mdc
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/module-organization.mdc
  .cursor/rules/rule-creation-guidelines.mdc
  .cursor/rules/self-improvement.mdc
  .cursor/rules/test-driven-bugfix.mdc
  .cursor/rules/test-expectations.mdc
  .cursor/rules/testing-boundaries.mdc
  .cursor/rules/testing-router.mdc
  .cursor/rules/tests.mdc
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Fixes rule format and frontmatter issues
  .cursor/rules/no-dynamic-imports.md
  .cursor/rules/no-dynamic-imports.mdc
  .cursor/rules/pr-preparation-workflow.mdc
  .cursor/rules/robust-error-handling.mdc
  .cursor/rules/self-improvement-router.mdc
  .cursor/rules/task-implementation-workflow.mdc
  .cursor/rules/task-status-protocol.mdc
  .cursor/rules/template-literals.mdc
  .cursor/rules/test-expectations.mdc
  .cursor/rules/test-rule.mdc
  .cursor/rules/testable-design.mdc
  .cursor/rules/testing-router.mdc
  .cursor/rules/tests.mdc
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Improves rule system navigability
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/code-organization-router.mdc
  .cursor/rules/constants-management.mdc
  .cursor/rules/dont-ignore-errors.mdc
  .cursor/rules/error-handling-router.mdc
  .cursor/rules/file-size.mdc
  .cursor/rules/robust-error-handling.mdc
  .cursor/rules/rule-matrix.md
Due: bun node_modules/.bin/prettier --write

Fix tests: Update tasks.ts to return silently when task not found instead of throwing an error, and fix merge conflicts in init.test.ts and test-utils.ts
  src/domain/init.test.ts
  src/domain/tasks.ts
  src/utils/test-utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Fix setTaskStatus to return silently when task not found instead of throwing
  src/domain/tasks.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Remove test files with merge conflicts and fix setTaskStatus to return silently when task not found instead of throwing
  src/adapters/__tests__/integration/tasks.test.ts
  src/domain/__tests__/git.test.ts
  src/domain/__tests__/session.test.ts
  src/domain/init.test.ts
  src/domain/session.test.ts
  src/domain/tasks/__tests__/utils.test.ts
  src/utils/__tests__/test-utils.test.ts
  src/utils/test-utils/mocking.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update changelog with test fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Add rule: NEVER Delete Test Files to Fix Test Failures
  .cursor/rules/testing-boundaries.mdc
Due: none

fix: restore interactive status prompt in task status set command
  CHANGELOG.md
  src/adapters/cli/tasks.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Disable problematic GitService.getStatus test and create Task #079 to revisit testing strategy
  src/domain/git.test.ts
  src/utils/__tests__/test-utils.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Create Task #079: Revisit GitService Testing Strategy
  process/tasks.md
  process/tasks/079-revisit-gitservice-testing-strategy.md
Due: bun node_modules/.bin/prettier --write

Update changelog with GitService test fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Implement enhanced PR workflow with git summary, prepare-pr, merge-pr, and session approve commands
  CHANGELOG.md
  src/adapters/cli/git.ts
  src/adapters/cli/session.ts
  src/domain/index.ts
  src/domain/session.ts
  src/domain/tasks.ts
  src/schemas/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Update session commands to properly handle task IDs without # prefix
  CHANGELOG.md
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Initialize TaskService with proper repository path instead of state directory
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update CHANGELOG with TaskService initialization fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Refactor task ID validation and set branch in session record
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update CHANGELOG with branch display fix and task ID validation refactoring
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Fix session name property in CLI session commands
  src/adapters/cli/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

feat: add task #080 to review workspace and repository path concepts
  CHANGELOG.md
  process/tasks.md
  process/tasks/080-review-workspace-and-repository-path-concepts.md
Due: bun node_modules/.bin/prettier --write

docs: Update CHANGELOG with CLI session display fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write
