Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#845): add @injectable decorators to 8 core service classes
  src/composition/container.test.ts
  src/domain/changeset/changeset-service.ts
  src/domain/git.ts
  src/domain/persistence/architecture.test.ts
  src/domain/persistence/service.ts
  src/domain/rules/rule-service.ts
  src/domain/session/session-db-adapter.ts
  src/domain/session/session-service.ts
  src/domain/tasks/multi-backend-service.ts
  src/domain/workspace.ts
  tests/setup.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#848): add tsyringe DI architecture documentation to CLAUDE.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix: enforce watermark on all session work prompts, not just session_commit
  .claude/hooks/check-prompt-watermark.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#741): implement graceful shutdown with request draining for MCP server
  src/commands/mcp/start-command.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#850): move DI architecture docs to docs/architecture.md
  CLAUDE.md
  docs/architecture.md
Due: bun node_modules/.bin/prettier --write

feat(mt#835): add Investigation Persistence protocol to CLAUDE.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#851): remove dead code - getMinskyConfigContent (JSON) and mcpOnly flag
  src/adapters/shared/commands/init.ts
  src/domain/init-backend-selection.test.ts
  src/domain/init.ts
  src/domain/init/config-content.ts
  src/schemas/init.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#850): add post-merge verification checklist and documentation placement rules
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#852): add MCP config schema and persist MCP settings during init
  src/domain/configuration/schemas/index.ts
  src/domain/configuration/schemas/mcp.ts
  src/domain/init-backend-selection.test.ts
  src/domain/init.ts
  src/domain/init/config-content.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#853): extract MCP client registration into dedicated module
  src/domain/init.ts
  src/domain/init/config-content.ts
  src/domain/mcp/registration.test.ts
  src/domain/mcp/registration.ts
  src/domain/runtime/harness-detection.test.ts
  src/domain/runtime/harness-detection.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#850): move post-merge verification to verify-completion subagent, revert CLAUDE.md additions
  .claude/agents/verify-completion.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

chore(mt#876): Delete 4 obsolete meta rules and remove dangling references
  .cursor/rules/derived-cursor-rules.mdc
  .cursor/rules/domain-oriented-modules.mdc
  .cursor/rules/dont-ignore-errors.mdc
  .cursor/rules/index.mdc
  .cursor/rules/rule-map.mdc
  .cursor/rules/rules-management.mdc
  .cursor/rules/session-first-workflow.mdc
Due: none

feat(mt#843): add post-session-start and auto-session-title hooks
  .claude/hooks/auto-session-title.ts
  .claude/hooks/post-session-start.ts
  .claude/settings.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#843): fix tool_result path, lint errors, and require() usage
  .claude/hooks/post-session-start.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#855): add minsky setup shared command for developer-local initialization
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/setup.ts
  src/domain/setup.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#843): auto-label Claude Code sessions from Minsky session_start
  .claude/hooks/auto-session-title.ts
  .claude/hooks/post-session-start.ts
  .claude/settings.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#864): enforce documentation freshness via PR review gate
  .claude/hooks/require-review-before-merge.ts
  .claude/skills/review-pr/SKILL.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#854): add minsky mcp register shared command
  src/adapters/cli/customizations/mcp-customizations.ts
  src/adapters/cli/setup/command-setup.ts
  src/adapters/mcp/mcp-commands.ts
  src/adapters/mcp/shared-command-integration.ts
  src/adapters/shared/bridges/cli/category-command-handler.ts
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/mcp/index.ts
  src/adapters/shared/commands/mcp/register-command.ts
  src/commands/mcp/index.ts
  src/commands/mcp/register-command.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#864): enforce documentation freshness via PR review gate (#547)
  .claude/hooks/require-review-before-merge.ts
  .claude/skills/review-pr/SKILL.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#884): enforce executable permissions on hook files
  .claude/hooks/auto-session-title.ts
  .claude/hooks/post-session-start.ts
  CLAUDE.md
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#868): Extract debug-tests skill from test-debugging rule
  .claude/skills/debug-tests/SKILL.md
  .cursor/rules/framework-specific-tests.mdc
  .cursor/rules/test-debugging.mdc
  .cursor/rules/testing-router.mdc
Due: bun node_modules/.bin/prettier --write

fix(mt#884): use execGitWithTimeout and fix prefer-template lint error
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#857): separate project init (Phase 1) from developer-local setup (Phase 2)
  src/adapters/shared/commands/init.ts
  src/domain/init.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#885): add @injectable to 27 additional service classes
  src/domain/ai/completion-service.ts
  src/domain/ai/config-service.ts
  src/domain/ai/embedding-service-local.ts
  src/domain/ai/embedding-service-openai.ts
  src/domain/ai/enhanced-completion-service.ts
  src/domain/ai/intelligent-retry-service.ts
  src/domain/ai/model-cache/cache-service.ts
  src/domain/ai/review-service.ts
  src/domain/ai/tokenization/service.ts
  src/domain/ai/tokenizer-service.ts
  src/domain/changeset/repository-backend-integration.ts
  src/domain/configuration/backend-detection.ts
  src/domain/context/rule-suggestion.ts
  src/domain/git/conflict-detection.ts
  src/domain/rules/command-generator.ts
  src/domain/rules/compile/compile-service.ts
  src/domain/rules/rule-similarity-service.ts
  src/domain/rules/rule-template-service.ts
  src/domain/session/session-workspace-service.ts
  src/domain/similarity/similarity-search-service.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/domain/tasks/task-graph-service.ts
  src/domain/tasks/task-routing-service.ts
  src/domain/tasks/task-similarity-service.ts
  src/domain/tools/similarity/tool-similarity-service.ts
  src/domain/tools/tool-embedding-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#885): use import type for AICompletionService in review-service
  src/domain/ai/review-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#834): add TokenProvider interface, FallbackTokenProvider, factory, and config schema
  src/domain/auth/fallback-token-provider.ts
  src/domain/auth/github-app-token-provider.ts
  src/domain/auth/index.ts
  src/domain/auth/token-provider.ts
  src/domain/configuration/schemas/github.ts
  src/domain/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#858): add project setup guard for uninitialized projects
  src/adapters/mcp/shared-command-integration.ts
  src/adapters/shared/bridges/cli/command-generator-core.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/init.ts
  src/adapters/shared/commands/mcp/register-command.ts
  src/adapters/shared/commands/setup.ts
  src/domain/configuration/guard.test.ts
  src/domain/configuration/guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#834): add GitHubAppTokenProvider with injectable key loader and full test suite
  src/domain/auth/github-app-token-provider.ts
  src/domain/auth/token-provider.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove dangling rule-map reference from testable-design, delete rule-matrix.md
  .cursor/rules/rule-matrix.md
  .cursor/rules/testable-design.mdc
Due: bun node_modules/.bin/prettier --write

style: fix formatting
  .claude/skills/debug-tests/SKILL.md
Due: bun node_modules/.bin/prettier --write

chore(mt#876): Delete 4 obsolete meta rules and rule-matrix.md
  .cursor/rules/derived-cursor-rules.mdc
  .cursor/rules/domain-oriented-modules.mdc
  .cursor/rules/dont-ignore-errors.mdc
  .cursor/rules/index.mdc
  .cursor/rules/rule-map.mdc
  .cursor/rules/rule-matrix.md
  .cursor/rules/rules-management.mdc
  .cursor/rules/session-first-workflow.mdc
  .cursor/rules/testable-design.mdc
Due: bun node_modules/.bin/prettier --write

feat(mt#866): Extract orchestrate skill from workflow rules
  .claude/skills/orchestrate/SKILL.md
  .cursor/rules/domain-oriented-modules.mdc
  .cursor/rules/dont-ignore-errors.mdc
  .cursor/rules/git-usage-policy.mdc
  .cursor/rules/minsky-cli-usage.mdc
  .cursor/rules/minsky-session-management.mdc
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/minsky-workflow.mdc
  .cursor/rules/session-first-workflow.mdc
  .cursor/rules/task-status-protocol.mdc
  .cursor/rules/testable-design.mdc
Due: bun node_modules/.bin/prettier --write

fix: remove dangling fragment from minsky-session-management.mdc
  .cursor/rules/minsky-session-management.mdc
Due: none

style: fix formatting
  .claude/skills/orchestrate/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#834): resolve lint warnings in token provider tests
  src/domain/auth/github-app-token-provider.ts
  src/domain/auth/token-provider.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#887): remove defaultInstance singleton from PersistenceService
  src/adapters/shared/commands/tools/index-embeddings-command.ts
  src/adapters/shared/commands/tools/similarity-commands.ts
  src/composition/cli.ts
  src/domain/context/components/tool-schemas.ts
  src/domain/context/components/types.ts
  src/domain/persistence/service.ts
  src/domain/similarity/create-rule-similarity-core.ts
  src/domain/tasks/taskCommands.db-wiring.test.ts
  src/domain/tasks/taskCommands.test.ts
  src/domain/tools/similarity/create-tool-similarity-core.ts
  src/domain/tools/similarity/tool-similarity-service.ts
  src/domain/tools/tool-embedding-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#856): add PLANNING status and status transition validation
  CLAUDE.md
  src/adapters/mcp/schemas/task-parameters.ts
  src/adapters/shared/common-parameters.ts
  src/domain/session-auto-task-creation.test.ts
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-start-consistency.test.ts
  src/domain/session/session-start-operations.test.ts
  src/domain/session/start-session-operations.ts
  src/domain/storage/migrations/pg/0018_add_planning_status.sql
  src/domain/task-status-bug-regression.test.ts
  src/domain/tasks-core-functions.test.ts
  src/domain/tasks/commands/mutation-commands.ts
  src/domain/tasks/status-transitions.test.ts
  src/domain/tasks/status-transitions.ts
  src/domain/tasks/taskCommands.test.ts
  src/domain/tasks/taskConstants.test.ts
  src/domain/tasks/taskConstants.ts
  src/schemas/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
