Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

Fix remaining merge conflicts in MCP tools
  src/mcp/tools/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Demonstrate BLOCKED status functionality
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Fix BLOCKED status implementation - resolve import and parsing issues
  src/adapters/shared/commands/tasks.ts
  src/domain/tasks.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskFunctions.ts
  src/domain/types.ts
  src/types/tasks/taskData.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: centralize task parsing logic for better maintainability
  src/domain/tasks.ts
  src/domain/tasks/__tests__/taskConstants.test.ts
  src/domain/tasks/taskConstants.ts
  src/domain/tasks/taskFunctions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove deprecation warning by using repo-utils resolveRepoPath
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: add regression test for getTaskStatusFromParams BLOCKED status bug
  src/domain/tasks/__tests__/taskCommands.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Removes .js extensions from TS imports
  process/tasks.md
  process/tasks/156-remove-js-extensions-from-typescript-imports.md
  scripts/remove-js-extensions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Marks "BLOCKED Status Support" task as complete
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(#153): correct status selector pre-selection using initialValue API
  src/adapters/shared/commands/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: add regression test for task 153 status selector pre-selection fix
  src/adapters/shared/commands/__tests__/tasks-status-selector.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#141): finalize repository configuration system
  process/tasks.md
  process/tasks/152-fix-github-token-validation-for-non-github-commands.md
Due: bun node_modules/.bin/prettier --write

docs(task-136): Update with OUTSTANDING SESSION SUCCESS results
  process/tasks/136-fix-all-linter-warnings.md
Due: bun node_modules/.bin/prettier --write

Add PR body for task #141 repository configuration system
  pr-body.md
Due: bun node_modules/.bin/prettier --write

docs(task-136): Update with exceptional session results
  process/tasks/136-fix-all-linter-warnings.md
Due: bun node_modules/.bin/prettier --write

fix: session approve should merge local PR branch instead of remote
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: add regression test for session approve local PR branch merge
  src/domain/__tests__/session-approve.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(config): Improve backend auto-detection logic
  process/tasks.md
  src/domain/configuration/backend-detector.ts
  src/domain/configuration/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(config): Add comprehensive backend detection tests
  src/domain/configuration/backend-detector.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Enforces strict language and verification protocol
  .cursor/rules/user-preferences.mdc
Due: none
