Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#766): fix broken links, stale backend refs, add LICENSE (#461)
  LICENSE
  README.md
  docs/README.md
  docs/migration-guide.md
Due: bun node_modules/.bin/prettier --write

feat(mt#777): add PostToolUse hook to validate task spec structure on creation
  .claude/hooks/validate-task-spec.ts
  .claude/settings.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#797): split rules-command-operations.ts and taskCommands.ts into focused sub-modules
  eslint.config.js
  src/domain/rules/operations/config-operations.ts
  src/domain/rules/operations/crud-operations.ts
  src/domain/rules/operations/migration-operations.ts
  src/domain/rules/operations/types.ts
  src/domain/rules/rules-command-operations.ts
  src/domain/tasks/commands/mutation-commands.ts
  src/domain/tasks/commands/query-commands.ts
  src/domain/tasks/commands/shared-helpers.ts
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#792): add startup embedding sweep and embeddings status/repair commands
  src/adapters/shared/commands/tasks-modular.ts
  src/adapters/shared/commands/tasks.ts
  src/adapters/shared/commands/tasks/embeddings-repair-command.ts
  src/adapters/shared/commands/tasks/embeddings-status-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/adapters/shared/commands/tasks/startup-embedding-sweep.ts
  src/commands/mcp/start-command.ts
  tests/adapters/shared/commands/tasks/embeddings-status-command.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#799): adopt session.generate_prompt in CLAUDE.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

chore: remove obsolete multi-backend migration guide
  docs/README.md
  docs/migration-guide.md
Due: bun node_modules/.bin/prettier --write

feat(mt#776): add /create-task skill for structured task creation
  .claude/skills/create-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#797): split deps-rendering.ts and formatting-utilities.ts into focused sub-modules
  src/adapters/cli/utilities/formatting-utilities.ts
  src/adapters/cli/utilities/formatting-utilities/basic-utils.ts
  src/adapters/cli/utilities/formatting-utilities/config-display.ts
  src/adapters/cli/utilities/formatting-utilities/source-display.ts
  src/adapters/shared/commands/tasks/deps-rendering-ascii.ts
  src/adapters/shared/commands/tasks/deps-rendering-graphviz.ts
  src/adapters/shared/commands/tasks/deps-rendering-types.ts
  src/adapters/shared/commands/tasks/deps-rendering.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#776): document /create-task skill and spec enforcement in CLAUDE.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

chore: remove obsolete multi-backend migration guide (#467)
  docs/README.md
  docs/migration-guide.md
Due: bun node_modules/.bin/prettier --write

feat(mt#801): show blocked/ready dependency status in tasks list
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#794): stop error swallowing in SessionDbAdapter — propagate errors to callers
  src/domain/session/session-db-adapter.test.ts
  src/domain/session/session-db-adapter.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#761): remove getSharedSessionProvider fallbacks, make sessionProvider required (Phase 4)
  eslint.config.js
  src/adapters/shared/commands/persistence.ts
  src/adapters/shared/commands/session/changeset-aliases.ts
  src/adapters/shared/commands/session/conflicts-command.ts
  src/adapters/shared/commands/session/prompt-command.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/adapters/shared/commands/tasks/edit-commands.ts
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/domain/changeset/adapters/github-adapter.ts
  src/domain/changeset/adapters/local-git-adapter.ts
  src/domain/context/components/session-context.ts
  src/domain/git/commands/subcommands/checkout-subcommand.ts
  src/domain/git/commands/subcommands/commit-subcommand.ts
  src/domain/git/commands/subcommands/merge-subcommand.ts
  src/domain/git/commands/subcommands/rebase-subcommand.ts
  src/domain/git/operations/base-git-operation.ts
  src/domain/session/commands/subcommands/pr-subcommand.ts
  src/domain/session/resolve-session-directory.ts
  src/domain/session/session-commands.ts
  src/domain/session/session-conflicts-operations.ts
  src/domain/session/session-path-resolver.ts
  src/domain/tasks/taskCommands.ts
  src/utils/repo.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#771): restructure README — capabilities first, philosophy condensed
  README.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#761): fix stale comment in persistence.ts
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#764): create theory of operation — VSM to code mapping
  docs/theory-of-operation.md
Due: bun node_modules/.bin/prettier --write

docs(mt#771): restructure README — capabilities first, philosophy condensed (#471)
  README.md
Due: bun node_modules/.bin/prettier --write

docs(mt#764): create theory of operation — VSM to code mapping (#474)
  docs/theory-of-operation.md
Due: bun node_modules/.bin/prettier --write

chore(mt#790): update GitHub Actions to latest stable versions
  .github/workflows/release.yml
  .github/workflows/test-quality.yml
Due: none

refactor(mt#795): wire all session commands through getDeps — eliminate ad-hoc provider creation
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/conflicts-command.ts
  src/adapters/shared/commands/session/management-commands.ts
  src/adapters/shared/commands/session/prompt-command.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#802): enforce session.generate_prompt via watermark and PreToolUse hook
  .claude/hooks/check-prompt-watermark.ts
  .claude/settings.json
  src/domain/session/prompt-generation.ts
  tests/domain/session/prompt-generation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: correct ESLint rule count and add theory-of-operation link
  CONTRIBUTING.md
  docs/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#795): remove duplicate deps declaration in prompt-command.ts
  src/adapters/shared/commands/session/prompt-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#804): update subagent guidance for subtask workflow in multi-phase work
  .claude/hooks/validate-task-spec.ts
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: correct ESLint rule count and add theory-of-operation link (#478)
  CONTRIBUTING.md
  docs/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#805): remove dead scopeWarning fallthrough in prompt generation
  src/domain/session/prompt-generation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#806): show subtask completion summary in tasks.get output
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#796): add regression prevention for DI bypass and error swallowing patterns
  eslint-rules/no-from-params-in-adapters.js
  eslint.config.js
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/persistence/architecture.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#761): remove PersistenceService.getProvider fallbacks, require provider injection (Phase 4)
  src/adapters/cli/tasks/availableCommand.ts
  src/adapters/cli/tasks/routeCommand.ts
  src/adapters/cli/tasks/routingCommand.ts
  src/adapters/shared/commands/config.ts
  src/adapters/shared/commands/persistence.ts
  src/adapters/shared/commands/tasks/embeddings-repair-command.ts
  src/adapters/shared/commands/tasks/embeddings-status-command.ts
  src/adapters/shared/commands/tasks/startup-embedding-sweep.ts
  src/domain/persistence/validation-operations.ts
  src/domain/rules/rule-similarity-service.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/domain/storage/vector/vector-storage-factory.ts
  src/domain/tasks/github-issues-api.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#665): update stale .sh references to .ts in CLAUDE.md and architecture docs
  CLAUDE.md
  docs/architecture/agent-guidance-mechanisms.md
Due: bun node_modules/.bin/prettier --write

fix: make migration 0017 idempotent with IF NOT EXISTS guards
  src/domain/storage/migrations/pg/0017_task_relationship_types.sql
Due: none

docs(mt#665): rewrite SPEC.md to reflect TypeScript implementation
  .claude/hooks/SPEC.md
Due: bun node_modules/.bin/prettier --write

chore(mt#808): remove dead FromParams functions and getDeps fallback path
  src/adapters/shared/commands/session.ts
  src/domain/persistence/architecture.test.ts
  src/domain/session.ts
  src/domain/session/commands/index.ts
  src/domain/session/commands/inspect-command.ts
  src/domain/session/commands/list-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#807): fix session ID migration — create+delete pattern, directory rename, command registration
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/management-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/session/migration-command.test.ts
  src/domain/session/migration-command.ts
  src/domain/session/multi-backend-integration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#809): agent harness detection + tasks_dispatch MCP tool
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/domain/runtime/harness-detection.ts
  tests/domain/runtime/harness-detection.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#769): use correct Stop hook output schema (decision/reason, not hookSpecificOutput)
  .claude/hooks/typecheck-on-stop.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#675): adopt tsgo (native TypeScript compiler) for type checking
  .claude/hooks/SPEC.md
  .claude/hooks/typecheck-on-edit.ts
  .claude/hooks/typecheck-on-stop.ts
  bun.lock
  package.json
  src/domain/task-status-bug-regression.test.ts
  src/domain/task-status-variables.test.ts
  tests/integration/ai-completion-service-error-handling.integration.test.ts
  tsconfig.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#675): switch remaining tsc call sites to tsgo
  .claude/hooks/SPEC.md
  src/adapters/shared/commands/validate.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#675): clean up remaining tsc references after tsgo adoption
  .claude/agents/refactor.md
  .claude/hooks/typecheck-on-edit.ts
  CONTRIBUTING.md
  docs/architecture/agent-guidance-mechanisms.md
  package.json
  src/domain/context/components/error-context.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
