Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#282): Update tasks.md with completed task status
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: use test utilities instead of creating temp dirs in project root
  process/tasks/260-implement-prompt-templates-for-ai-interaction.md
  scripts/normalize-session-task-ids.ts
  src/domain/rules-format.test.ts
  src/domain/rules.test.ts
  src/utils/test-helpers.ts
  src/utils/test-utils.ts
  test-verification/quoting.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Resolve post-merge conflict markers in test utilities
  src/utils/test-helpers.ts
  src/utils/test-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#276): Remove deleted test rule files from tracking
  test-rules-tmp/.ai/rules/test-generic.mdc
  test-rules-tmp/.cursor/rules/test-cursor.mdc
Due: none

Updates assertion cleanup documentation
  process/tasks/280-cleanup-excessive-as-unknown-assertions-to-improve-typescript-effectiveness.md
Due: bun node_modules/.bin/prettier --write

feat(#171): Session domain modularization - unprecedented 98.1% reduction
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Remove progressive disclosure from session pr command
  codemods/fix-global-import-paths.ts
  codemods/fix-import-paths-directory-aware.ts
  codemods/fix-session-commands-import-paths.ts
  codemods/tests/directory-aware-import-fixer.test.ts
  codemods/tests/fix-import-paths.test.ts
  process/tasks/280-cleanup-excessive-as-unknown-assertions-to-improve-typescript-effectiveness.md
  src/adapters/cli/customizations/session-customizations.ts
  src/adapters/cli/tasks/specCommand.ts
  src/commands/config/list.ts
  src/domain/git/clone-operations.ts
  src/domain/git/commands/subcommands/branch-subcommand.ts
  src/domain/git/commands/subcommands/checkout-subcommand.ts
  src/domain/git/commands/subcommands/clone-subcommand.ts
  src/domain/git/commands/subcommands/commit-subcommand.ts
  src/domain/git/commands/subcommands/merge-subcommand.ts
  src/domain/git/commands/subcommands/pr-subcommand.ts
  src/domain/git/commands/subcommands/push-subcommand.ts
  src/domain/git/commands/subcommands/rebase-subcommand.ts
  src/domain/session.ts
  src/domain/session/commands/approve-command.ts
  src/domain/session/commands/delete-command.ts
  src/domain/session/commands/dir-command.ts
  src/domain/session/commands/get-command.ts
  src/domain/session/commands/inspect-command.ts
  src/domain/session/commands/list-command.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/review-command.ts
  src/domain/session/commands/start-command.ts
  src/domain/session/commands/update-command.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/tasks/task-service-interface.test.ts
  src/utils/repository-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#284): Create user prompt analytics task for automatic template discovery
  process/tasks/260-implement-prompt-templates-for-ai-interaction.md
  process/tasks/284-implement-user-prompt-analytics-for-automatic-template-discovery.md
Due: bun node_modules/.bin/prettier --write

fix(task#280): Remove 50+ dangerous 'as unknown' assertions from production code
  as-unknown-analysis-report.json
  as-unknown-analysis-summary.md
  src/adapters/shared/commands/tasks.ts
  src/utils/git-exec.ts
  src/utils/logger.ts
  src/utils/test-helpers.ts
  src/utils/test-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(codemods): implement directory-structure-aware import path fixing
  .cursor/rules/codemod-development-standards.mdc
  process/tasks/061-implement-test-fixture-factory-pattern.md
Due: bun node_modules/.bin/prettier --write

fix(session): resolve export/import naming mismatches
  process/task-specs/add-ai-task-management-subcommands.md
  process/task-specs/implement-basic-task-parent-child-relationships.md
  src/adapters/shared/commands/session.ts
  src/domain/index.ts
  src/domain/session/commands/approve-command.ts
  src/domain/session/commands/delete-command.ts
  src/domain/session/commands/get-command.ts
  src/domain/session/commands/list-command.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/review-command.ts
  src/domain/session/commands/start-command.ts
  src/domain/session/commands/subcommands/get-subcommand.ts
  src/domain/session/session-auto-detection-integration.test.ts
  src/domain/tasks/taskService.ts
  src/utils/test-utils/dependencies.ts
  src/utils/test-utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(changelog): add module resolution fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#282): Fix session command exports and import paths
  src/domain/session/commands/approve-command.ts
  src/domain/session/commands/delete-command.ts
  src/domain/session/commands/dir-command.ts
  src/domain/session/commands/get-command.ts
  src/domain/session/commands/list-command.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/review-command.ts
  src/domain/session/commands/start-command.ts
  src/domain/session/commands/subcommands/get-subcommand.ts
  src/domain/session/commands/subcommands/list-subcommand.ts
  src/domain/session/commands/subcommands/start-subcommand.ts
  src/domain/session/commands/update-command.ts
  src/domain/tasks/task-service-interface.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Revert "fix: Remove progressive disclosure from session pr command"
  codemods/fix-global-import-paths.ts
  codemods/fix-import-paths-directory-aware.ts
  codemods/fix-session-commands-import-paths.ts
  codemods/tests/directory-aware-import-fixer.test.ts
  codemods/tests/fix-import-paths.test.ts
  process/tasks/280-cleanup-excessive-as-unknown-assertions-to-improve-typescript-effectiveness.md
  src/adapters/cli/customizations/session-customizations.ts
  src/adapters/cli/tasks/specCommand.ts
  src/commands/config/list.ts
  src/domain/git/clone-operations.ts
  src/domain/git/commands/subcommands/branch-subcommand.ts
  src/domain/git/commands/subcommands/checkout-subcommand.ts
  src/domain/git/commands/subcommands/clone-subcommand.ts
  src/domain/git/commands/subcommands/commit-subcommand.ts
  src/domain/git/commands/subcommands/merge-subcommand.ts
  src/domain/git/commands/subcommands/pr-subcommand.ts
  src/domain/git/commands/subcommands/push-subcommand.ts
  src/domain/git/commands/subcommands/rebase-subcommand.ts
  src/domain/session.ts
  src/domain/session/commands/approve-command.ts
  src/domain/session/commands/delete-command.ts
  src/domain/session/commands/dir-command.ts
  src/domain/session/commands/get-command.ts
  src/domain/session/commands/inspect-command.ts
  src/domain/session/commands/list-command.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/review-command.ts
  src/domain/session/commands/start-command.ts
  src/domain/session/commands/update-command.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/tasks/task-service-interface.test.ts
  src/utils/repository-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(task#174): document progressive disclosure removal from session pr command
  session-pr-progressive-disclosure-fix.md
Due: bun node_modules/.bin/prettier --write

fix(#276): Fix TaskService createTask method signature post-merge
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(task#174): Complete Phase 3 documentation cleanup and task completion
  process/tasks.md
  process/tasks/174-review-session-pr-workflow-architecture.md
  refactoring-examples.md
  task-174-completion-summary.md
Due: bun node_modules/.bin/prettier --write

fix: resolve variable naming mismatches in session commands
  src/adapters/shared/commands/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: comprehensive AST and pattern-based 'as unknown' fixes
  as-unknown-analysis-report.json
  as-unknown-analysis-summary.md
  codemods/comprehensive-fixer.ts
  codemods/enhanced-safe-fixer.ts
  codemods/pattern-based-fixer.ts
  codemods/safe-ast-fixer.ts
  enhanced-safe-transformation-report.json
  pattern-based-transformation-report.json
  safe-ast-transformation-report.json
  src/adapters/cli/core/cli-command-factory-core.ts
  src/adapters/shared/commands/git.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/tasks.ts
  src/adapters/shared/response-formatters.ts
  src/domain/ai/config-service.ts
  src/domain/repository-uri.ts
  src/domain/session.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/storage/backends/sqlite-storage.ts
  src/domain/storage/database-integrity-checker.ts
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/markdown-task-backend.ts
  src/errors/message-templates.ts
  src/mcp/inspector-launcher.ts
  src/mcp/server.ts
  src/schemas/tasks.ts
  src/utils/test-utils/assertions.ts
  src/utils/test-utils/compatibility/mock-function.ts
  src/utils/test-utils/index.ts
  src/utils/test-utils/mocking.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: correct import paths and task status in approve-command
  src/domain/session/commands/approve-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: apply enhanced pattern-based fixes for session objects and dynamic imports
  as-unknown-analysis-report.json
  as-unknown-analysis-summary.md
  codemods/enhanced-pattern-fixer.ts
  enhanced-pattern-transformation-report.json
  src/domain/repository.ts
  src/domain/workspace.ts
  src/schemas/error.ts
  src/schemas/runtime.ts
  src/utils/type-guards.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
