Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

docs: Update CHANGELOG for multi-task get command
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#122): Improve error handling for MCP server port conflicts
  src/commands/mcp/index.ts
  src/errors/__tests__/network-errors.test.ts
  src/errors/index.ts
  src/errors/network-errors.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Add PR description for task #123
  process/tasks/123/pr.md
Due: bun node_modules/.bin/prettier --write

docs(#122): Update CHANGELOG.md with network error handling improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#122): Add PR description for task #122
  process/tasks/122/pr.md
Due: bun node_modules/.bin/prettier --write

fix: Fix MCP task serialization to prevent double-stringification
  .cursor/mcp.json
  CHANGELOG.md
  src/adapters/mcp/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Refactor error handling to avoid circular dependency causing CLI failures
  CHANGELOG.md
  src/errors/base-errors.ts
  src/errors/index.ts
  src/errors/network-errors.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Marks MCP port conflict handling as complete
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

task#112: Update task specification with detailed implementation plan
  process/tasks/112-implement-comprehensive-test-utility-documentation.md
Due: bun node_modules/.bin/prettier --write

task#112: Add comprehensive test utility documentation files
  docs/COMPATIBILITY_LAYER.md
  docs/EXAMPLE_GUIDE.md
  docs/MIGRATION_GUIDES.md
  docs/MOCKING_UTILITIES.md
  docs/TESTING_BEST_PRACTICES.md
  docs/TEST_UTILITIES.md
Due: bun node_modules/.bin/prettier --write

task#112: Update CHANGELOG.md with test utility documentation entry
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

task#112: Add PR description
  process/tasks/112/pr.md
Due: bun node_modules/.bin/prettier --write

Update task #113 spec with detailed implementation plan and supporting documentation
  process/tasks/113/detailed-implementation-plan.md
  process/tasks/113/migration-patterns.md
  process/tasks/113/technology-assessment.md
Due: bun node_modules/.bin/prettier --write

Add content to implementation plan and technology assessment documents
  process/tasks/113/detailed-implementation-plan.md
  process/tasks/113/technology-assessment.md
Due: bun node_modules/.bin/prettier --write

Adds repository path to MCP server
  process/tasks.md
  process/tasks/124-add-repository-path-parameter-to-mcp-server.md
Due: bun node_modules/.bin/prettier --write

Adds CLI bridge for shared command registry
  process/tasks.md
  process/tasks/125-implement-cli-bridge-for-shared-command-registry.md
Due: bun node_modules/.bin/prettier --write

docs(#123): Improve PR description with motivation and design approach
  process/tasks/123/pr.md
Due: bun node_modules/.bin/prettier --write

Create initial project structure for test migration tool with core components
  src/test-migration/commands/analyze.ts
  src/test-migration/commands/batch.ts
  src/test-migration/commands/migrate.ts
  src/test-migration/core/analyzer.ts
  src/test-migration/core/test-runner.ts
  src/test-migration/core/transformer.ts
  src/test-migration/index.ts
  src/test-migration/package.json
  src/test-migration/patterns/registry.ts
  src/test-migration/transformers/import-transformers.ts
  src/test-migration/transformers/pipeline.ts
  src/test-migration/tsconfig.json
  src/test-migration/utils/diff.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Update CHANGELOG.md with Task #113 implementation details
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(#120): update task with detailed implementation plan
  process/tasks/120-add-with-inspector-option-to-mcp-start-command.md
Due: bun node_modules/.bin/prettier --write

Improves PR description guidelines with direct application protocol
  .cursor/rules/pr-description-guidelines.mdc
Due: none

feat(#120): add --with-inspector option to MCP start command
  README-MCP.md
  bun.lock
  package.json
  src/commands/mcp/index.ts
  src/mcp/inspector-launcher.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

rule(#123): Enhance PR description guidelines and update changelog
  .cursor/rules/pr-description-guidelines.mdc
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#120): update CHANGELOG.md with inspector feature
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#120): mark task implementation steps as completed
  process/tasks/120-add-with-inspector-option-to-mcp-start-command.md
Due: bun node_modules/.bin/prettier --write

docs(#120): add PR description
  process/tasks/120/pr.md
Due: bun node_modules/.bin/prettier --write

Add PR description for task #113
  process/tasks/113/pr.md
Due: bun node_modules/.bin/prettier --write

Update PR description for task #113 with detailed information
  process/tasks/113/pr.md
Due: bun node_modules/.bin/prettier --write

feat(#125): implement CLI bridge for shared command registry
  CHANGELOG.md
  process/tasks/125-implement-cli-bridge-for-shared-command-registry.md
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/utils/index.ts
  src/adapters/shared/bridges/cli-bridge.ts
  src/adapters/shared/bridges/parameter-mapper.ts
  src/cli.ts
  src/domain/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Prepare PR branch pr/task#125
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(#125): add PR description for CLI bridge implementation
  process/tasks/125/pr.md
Due: bun node_modules/.bin/prettier --write

fix: add export for normalizeSessionParams in CLI utilities
  src/adapters/cli/utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

task(#124): Update task specification with implementation plan
  process/tasks/124-add-repository-path-parameter-to-mcp-server.md
Due: bun node_modules/.bin/prettier --write

Prepare PR branch pr/task#120
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: add all required exports from shared-options
  src/adapters/cli/utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#120): improve PR description following guidelines
  process/tasks/120/pr.md
Due: bun node_modules/.bin/prettier --write

Updates task statuses and adds a new task
  process/tasks.md
  process/tasks/119-fix-mcp-rules-list-command-to-exclude-rule-content.md
Due: bun node_modules/.bin/prettier --write

feat(#117): Add implementation plan for fixing session update command
  process/tasks/117/implementation-plan.md
Due: bun node_modules/.bin/prettier --write

fix(#119): Fix MCP Rules.list Command to Exclude Rule Content
  CHANGELOG.md
  process/tasks/119-fix-mcp-rules-list-command-to-exclude-rule-content.md
  src/adapters/__tests__/integration/mcp-rules.test.ts
  src/adapters/mcp/rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task completion status
  process/tasks/119-fix-mcp-rules-list-command-to-exclude-rule-content.md
Due: bun node_modules/.bin/prettier --write
