Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1262): wire credential masking into config.show
  src/adapters/shared/commands/config/helpers.test.ts
  src/adapters/shared/commands/config/list-show-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1369): clear 28 typecheck errors in services/reviewer
  services/reviewer/src/github-client.test.ts
  services/reviewer/src/github-client.ts
  services/reviewer/src/mcp-client.ts
  services/reviewer/src/prompt.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1306): db client, migrator, metrics module, review-worker integration, and tests
  services/reviewer/src/metrics.test.ts
  services/reviewer/src/review-worker.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1373): remove tracked stray pr-body.md and gitignore future drafts
  .gitignore
  pr-body.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1304): address round-2 reviewer findings B1/B2/B3
  src/domain/git/fake-git-service.ts
  src/domain/session/session-update-operations.ts
  src/domain/session/session-update-origin-ahead.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1211): fix CLI flag names per Chinese-wall review (kebab-case + --session for git/changeset)
  docs/changeset-command-reference.md
  docs/cli/session-edit-file.md
  docs/pr-workflow.md
  docs/rules/template-system-guide.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1337): cite GitHub API doc for side equality constraint
  src/domain/repository/github-pr-review.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1336): document side semantics + GitHub API contract in parse-diff
  src/utils/parse-diff.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1335): update ADR-008 implementation status with #831 review iteration
  docs/architecture/adr-008-in-band-review-semantics.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1362): add PreToolUse parallel-work guard on session_start
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1366): address round-4 BLOCKING findings and resolve dirty merge state
  src/adapters/shared/commands/session/session-parameters.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/constants.ts
  src/domain/repository/approval-types.ts
  src/domain/repository/github-pr-approval.ts
  src/domain/session/session-merge-operations.ts
  src/domain/session/session-merge-security-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1336): infer file path for mode-only and binary diffs
  src/utils/parse-diff.test.ts
  src/utils/parse-diff.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1356): harden push-operations (error-shaping, shell quoting, test matchers)
  src/domain/git/push-operations.test.ts
  src/domain/git/push-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1337): document side defaulting and LEFT-side requirement for deletions
  src/domain/repository/github-pr-review.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1307): harden precedence coverage (cancelled vs action_required, neutral-only)
  src/domain/pr-watch/watcher.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1380): persist reviewer health monitor as scripts/monitor-reviewer-health.ts
  scripts/monitor-reviewer-health.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1292): clearer error when asks.reconcile runs without initialized config
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1293): reset logger singleton in STRUCTURED-mode tests for true coverage
  src/domain/notify/operator-notify.test.ts
  src/utils/logger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1335): update ADR-008 implementation status with latest commits
  docs/architecture/adr-008-in-band-review-semantics.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1167): structured MCP error responses for session.commit, pr.create, pr.merge
  src/adapters/shared/commands/session/pr-create-command.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/errors/index.ts
  src/errors/mcp-error-codes.ts
  src/errors/mcp-structured-errors.test.ts
  src/errors/mcp-structured-errors.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1380): resolve PEM path via os.homedir() to match documented ~/.config form
  scripts/monitor-reviewer-health.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1350): address minsky-reviewer findings
  bun.lock
  package.json
  src/domain/transcripts/claude-code-transcript-source.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1366): decouple waiver check from canMerge, surface draft state, add REVIEWER_BOT_LOGIN constant
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/constants.ts
  src/domain/repository/approval-types.ts
  src/domain/repository/github-pr-approval.ts
  src/domain/session/session-merge-operations.ts
  src/domain/session/session-merge-security-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1335): address NON-BLOCKING review findings on ADR-008
  docs/architecture/adr-008-in-band-review-semantics.md
Due: bun node_modules/.bin/prettier --write

merge(mt#1366): integrate mt#1167 structured MCP error changes into session branch
  src/adapters/shared/commands/session/pr-create-command.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/errors/index.ts
  src/errors/mcp-error-codes.ts
  src/errors/mcp-structured-errors.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1350): address remaining 2 BLOCKING reviewer findings
  src/domain/transcripts/claude-code-transcript-source.test.ts
  src/domain/transcripts/claude-code-transcript-source.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1365): docker-compose stack for local Supavisor saturation harness
  .gitleaks.toml
  docker-compose.integration.yml
  tests/integration/fixtures/register-tenant.sh
  tests/integration/fixtures/supavisor-init.sql
Due: none

merge(mt#1366): add mcp-structured-errors.test.ts from mt#1167
  src/errors/mcp-structured-errors.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1311): document merge-flow operational reality in /review-pr and /orchestrate skills
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/prepare-pr/SKILL.md
  .claude/skills/review-pr/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1304): rename session to sessionId in test fixture for SessionRecord shape
  src/domain/session/session-update-origin-ahead.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1362): address all 4 reviewer non-blocking findings on PR #851
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

ci(mt#1376): add services/reviewer typecheck step to CI build job
  .github/workflows/ci.yml
Due: none

docs(mt#1335): fix dead References link and glued code spans on ADR-008
  docs/architecture/adr-008-in-band-review-semantics.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1336): classify empty-file adds and deletes via mode headers
  src/utils/parse-diff.test.ts
  src/utils/parse-diff.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1378): add statusTransition receipt to session_pr_create response
  src/domain/session/commands/pr-create-subcommand.ts
  src/domain/session/session-pr-operations.ts
  src/domain/session/session-pr-status-transition.test.ts
  src/domain/session/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1265): address PR #806 R4 BLOCKING — cross-project same-digits
  src/adapters/shared/commands/session/pr-conventional-title.test.ts
  src/adapters/shared/commands/session/pr-conventional-title.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1350): safeGlob wrapper for non-existent claudeProjectsDir
  src/domain/transcripts/claude-code-transcript-source.test.ts
  src/domain/transcripts/claude-code-transcript-source.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1350): safeReadFile wrapper for readSession defensive coverage
  src/domain/transcripts/claude-code-transcript-source.test.ts
  src/domain/transcripts/claude-code-transcript-source.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1384): write canonical github-pr ref so reconciler can route Asks
  skills-lock.json
  src/domain/session/commands/pr-create-subcommand.test.ts
  src/domain/session/commands/pr-create-subcommand.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1335): unglue inline code spans + extract pattern to fenced block
  docs/architecture/adr-008-in-band-review-semantics.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
