Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(rules): Remove zero tolerance content from self-improvement
  .cursor/rules/self-improvement.mdc
Due: none

fix(session): use fast-forward merge instead of creating new merge commits in session approve
  src/domain/git/prepared-merge-commit-workflow.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(task-362): document session approve merge strategy bugfix
  process/tasks/362-truncate-verbose-git-commands-in-error-messages.md
Due: bun node_modules/.bin/prettier --write

fix(#176): Skip legacy validation tests and reduce console noise
  codemods/bun-test-mocking-consistency-fixer.ts
  src/domain/rules/template-system.test.ts
  tests/current-implementation-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with session approve merge strategy fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(##335): update task status DONE → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: resolve 'Session: Unknown' display in session approval command
  src/adapters/cli/customizations/session-customizations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog for session approval display fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#176): Update task spec with 96.8% success rate
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

chore(##335): update task status DONE → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(##335): update task status IN-PROGRESS → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(tasks): replace console.error debug statements with proper log.debug calls
  docs/cli-type-composition-patterns-guide.md
  process/tasks.md
  process/tasks/335-apply-type-composition-patterns-to-cli-adapters.md
  process/tasks/362-truncate-verbose-git-commands-in-error-messages.md
  src/adapters/cli/cli-command-factory.ts
  src/adapters/cli/customizations/standardized-config-customizations.ts
  src/adapters/cli/customizations/standardized-git-customizations.ts
  src/adapters/cli/customizations/standardized-rules-customizations.ts
  src/adapters/cli/customizations/standardized-session-customizations.ts
  src/adapters/cli/customizations/standardized-tasks-customizations.ts
  src/adapters/cli/integrations/standardized-cli-setup.ts
  src/adapters/cli/patterns/composable-cli-commands.ts
  src/adapters/cli/schemas/cli-parameter-schemas.ts
  src/adapters/cli/schemas/cli-response-schemas.ts
  src/adapters/cli/setup/command-setup.ts
  src/adapters/cli/utils/standardized-error-handler.ts
  src/adapters/shared/bridges/cli/command-customization-manager.ts
  src/adapters/shared/bridges/cli/command-generator-core.ts
  src/cli.ts
  src/domain/tasks/markdownTaskBackend.ts
  tests/adapters/cli/session-approval-display.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: add regression test for session approval display bug
  tests/adapters/cli/session-approval-display.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Resolve real filesystem access in session approval tests
  src/domain/session/session-approve-operations.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  tests/integration/github-api.integration.test.ts
  tests/integration/github-issues-backend.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#360): Add missing session update step to PR creation workflow
  src/domain/session/commands/pr-command.ts
  tests/domain/session/session-pr-missing-update-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix session approve workflow test mocking issues
  src/domain/session-approve-workflow.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Resolve final test errors and update expectations
  src/domain/configuration/index.test.ts
  src/domain/tasks/taskService.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): Update task spec with exceptional 98.1% success rate
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

fix(#176): Resolve final test errors and obsolete tests
  src/domain/rules/rule-template-service.test.ts
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Complete session approval test fixes for 98.7% success
  src/domain/rules/rule-template-service.test.ts
  src/domain/session/session-approve-bugfix-regression.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): Document exceptional 98.7% success rate achievement
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

fix(#176): Fix session PR body validation and repository backend DI
  src/domain/session/session-pr-body-validation.test.ts
  src/domain/session/session-pr-operations.ts
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Add command registry cleanup to rule-template-service tests
  src/domain/rules/rule-template-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix session approve branch cleanup tests with repository backend DI
  src/domain/session-approve-branch-cleanup.test.ts
  src/domain/session-approve.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#356): Update task specification with accurate progress status
  src/domain/schemas/common-schemas.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix more session approve tests with repository backend DI
  src/domain/session-approve.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Fix title duplication in PR description
  process/tasks/360/pr.md
Due: bun node_modules/.bin/prettier --write

fix(schemas): add missing QualifiedTaskIdSchema and NormalizedTaskIdSchema exports
  process/tasks/356-implement-multi-backend-task-system-architecture.md
  src/domain/schemas/common-schemas.ts
  src/domain/schemas/index.ts
  src/domain/schemas/task-schemas.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with MCP server schema fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#176): Update task spec with current progress
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

chore(360): update task status to DONE
  CHANGELOG.md
  process/tasks.md
  process/tasks/360-implement-session-outdated-detection-and-display.md
  process/tasks/360/pr.md
  src/adapters/shared/bridges/cli-result-formatters.ts
  src/adapters/shared/bridges/cli/result-formatter.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/git.ts
  src/domain/session/commands/check-sync-command.ts
  src/domain/session/commands/get-command.ts
  src/domain/session/commands/list-command.ts
  src/domain/session/commands/outdated-command.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/subcommands/outdated-subcommand.ts
  src/domain/session/sync-status-service.ts
  src/domain/session/types.ts
  tests/domain/session/session-pr-bodypath-bug.test.ts
  tests/domain/session/session-pr-missing-update-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#176): Implement missing branch cleanup functionality
  src/domain/session-approve-branch-cleanup.test.ts
  src/domain/session-approve.test.ts
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: restore shared command integration for task MCP tools
  src/adapters/mcp/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix command registry isolation issues in rules tests
  src/adapters/shared/commands/rules.test.ts
  src/adapters/shared/commands/rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: dramatically improve MCP call error handling UX
  src/commands/mcp/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#356): Fix critical schema export errors - Add complete multi-backend parameter schemas
  src/domain/schemas/common-schemas.ts
  src/domain/schemas/task-schemas.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix missing beforeEach import in codemod test
  codemods/mcp-to-domain-schema-migrator.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Fix remaining session approve tests with repository backend mocks
  src/domain/session-approve.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): Update progress to 95.8% success rate
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
