Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3950): Key the Stop-to-prompt dedup off the resolver that produced the text
  .claude/hooks/retrospective-trigger-scanner.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/retrospective-trigger-scanner.test.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#3990): move the process/port/spawn primitives into daemon_core
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/supervisor/daemon_core.rs
Due: none

docs(mt#3872): Record the retention/redaction posture for judged-input captures
  .claude/hooks/judged-input-capture.ts
  .minsky/hooks/judged-input-capture.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3950): Use the incident pair's actual phrase as the dedup fixture
  .minsky/hooks/retrospective-trigger-scanner.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3872): PR #2917 R1 — state the digest's real width and date-bound the scan
  .claude/hooks/judged-input-capture.ts
  .minsky/hooks/judged-input-capture.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4035): partial: real IO/DB wiring + guard-events.ingest command
  packages/domain/src/guard-events/ingest-runtime.ts
  packages/domain/src/guard-events/ingest-service.ts
  packages/domain/src/guard-events/parsing.ts
  src/adapters/shared/commands/guard-events.ts
  src/adapters/shared/commands/index.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#3990): split Sup into the core's daemon record + cockpit policy
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/supervisor/daemon_core.rs
Due: none

feat(mt#4024): Add the share page, publish confirmation, and links inventory
  scripts/verify-conversation-share.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/AuthGate.tsx
  src/cockpit/web/components/CommandPalette.tsx
  src/cockpit/web/components/PublishConversationDialog.test.tsx
  src/cockpit/web/components/PublishConversationDialog.tsx
  src/cockpit/web/components/Rail.tsx
  src/cockpit/web/index.html
  src/cockpit/web/lib/shares-client.ts
  src/cockpit/web/main.tsx
  src/cockpit/web/pages/ConversationPage.tsx
  src/cockpit/web/pages/SharedConversationPage.test.tsx
  src/cockpit/web/pages/SharedConversationPage.tsx
  src/cockpit/web/pages/SharedLinksPage.test.tsx
  src/cockpit/web/pages/SharedLinksPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3999): Count channels, not probes — surface E for a single-channel capability claim
  .claude/hooks/operator-deferral-detector.ts
  .claude/hooks/registry.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/operator-deferral-detector.test.ts
  .minsky/hooks/operator-deferral-detector.ts
  .minsky/hooks/registry.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/operator-deferral-detector.md
  packages/domain/src/detectors/capability-absence-escalation.test.ts
  packages/domain/src/detectors/capability-absence-escalation.ts
  packages/domain/src/detectors/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4035): partial: SessionEnd hook + cockpit sweep backstop (correctness layer)
  .claude/hooks/guard-events-ingest-on-session-end.ts
  .claude/settings.json
  .minsky/hooks/guard-events-ingest-on-session-end.ts
  packages/domain/src/configuration/sources/environment.ts
  src/cockpit/sweepers.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3865): Stop operator-deferral firing on prose that carries a trigger phrase without deferring
  .claude/hooks/operator-deferral-detector.ts
  .minsky/hooks/operator-deferral-detector.test.ts
  .minsky/hooks/operator-deferral-detector.ts
  docs/architecture/hooks/operator-deferral-detector.md
  scripts/replay-operator-deferral-calibration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4041): Stop the deploy gate reading a disclaimer as a deferral
  .claude/hooks/require-deploy-verification-before-merge.ts
  .minsky/hooks/require-deploy-verification-before-merge.test.ts
  .minsky/hooks/require-deploy-verification-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3950): PR #2918 R1 — reuse the resolved turn for the excerpt too
  .claude/hooks/retrospective-trigger-scanner.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3865): PR #2921 R1 — drop the unused exclusions aggregate, say so in the docs
  .claude/hooks/operator-deferral-detector.ts
  .minsky/hooks/operator-deferral-detector.ts
  docs/architecture/hooks/operator-deferral-detector.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4035): partial: backfill script + laptop-freshness doc + hook-observers registration
  .cursor/rules/hook-observers.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/evaluation-loop-fire-log.md
  scripts/backfill-guard-events.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4042): Falsify absence claims before the reviewer posts them as BLOCKING
  services/reviewer/src/github-client.ts
  services/reviewer/src/review-worker.ts
  services/reviewer/src/structural-claim-verifier.test.ts
  services/reviewer/src/structural-claim-verifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4024): Three defects found by looking at the rendered pages
  scripts/verify-conversation-share.ts
  src/cockpit/web/components/PublishConversationDialog.test.tsx
  src/cockpit/web/components/PublishConversationDialog.tsx
  src/cockpit/web/lib/conversation-thread-model.ts
  src/cockpit/web/lib/conversation-timeline.ts
  src/cockpit/web/pages/SharedConversationPage.test.tsx
  src/cockpit/web/pages/SharedConversationPage.tsx
  src/cockpit/web/pages/SharedLinksPage.test.tsx
  src/cockpit/web/pages/SharedLinksPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3999): PR #2920 R1 — turn-level channel count, one skill list, structured routed-result parse
  .claude/hooks/operator-deferral-detector.ts
  .minsky/hooks/operator-deferral-detector.test.ts
  .minsky/hooks/operator-deferral-detector.ts
  packages/domain/src/detectors/capability-absence-escalation.test.ts
  packages/domain/src/detectors/capability-absence-escalation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4042): PR #2923 R1 — configured timeouts, and extensionless files via a narrower trigger
  services/reviewer/src/review-worker.ts
  services/reviewer/src/structural-claim-verifier.test.ts
  services/reviewer/src/structural-claim-verifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3999): Get hook-observers back under its ceiling after mt#3865's +202
  .cursor/rules/hook-observers.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#3649): Capture the judged input so the detector can be replayed
  .claude/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-detector.test.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
  scripts/replay-code-mechanism-calibration.test.ts
  scripts/replay-code-mechanism-calibration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4024): PR #2924 R1/R2 — reconcile the links criterion, centralize the public share fetch
  src/cockpit/web/lib/shares-client.ts
  src/cockpit/web/pages/SharedConversationPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4035): address reviewer R1 — path portability, SC2 zero-guard, timeout detection
  .claude/hooks/guard-events-ingest-on-session-end.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/guard-events-ingest-on-session-end.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/guard-events/hwm-store.ts
  packages/domain/src/guard-events/ingest-runtime.ts
  packages/domain/src/guard-events/ingest-service.test.ts
  packages/domain/src/guard-events/ingest-service.ts
  scripts/backfill-guard-events.ts
  src/adapters/shared/commands/guard-events.ts
  src/cockpit/sweepers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4024): PR #2924 R3 — document the share feature in the cockpit architecture doc
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3649): PR #2926 R1 — capture the ELIDED copy, never the raw turn text
  .claude/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-capture.test.ts
  .minsky/hooks/code-mechanism-assertion-detector.test.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4035): CI — settings.json hook parity + command-id/tool-effect snapshot freshness
  packages/domain/src/rules/enforcement-mapping.ts
  packages/shared/src/tool-effect.ts
  src/adapters/shared/tool-effect-coverage.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3658): PR #2909 R4 — declare the advisory effect the guard produces
  .claude/hooks/flakiness-control-detector.ts
  .claude/hooks/registry.ts
  .minsky/hooks/flakiness-control-detector.ts
  .minsky/hooks/registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4048): Record the preceding principal prompt on wall-of-text records
  .claude/hooks/wall-of-text-detector.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/wall-of-text-detector.test.ts
  .minsky/hooks/wall-of-text-detector.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/guard-calibration-stream-inventory.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4032): Move the narration out of hook-observers, leaving an index
  .cursor/rules/hook-observers.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/bare-prohibition-dispatch-detector.md
  docs/architecture/hooks/chained-verification-commands-detector.md
  docs/architecture/hooks/constructed-identifier-batch-detector.md
  docs/architecture/hooks/duplicate-signature-scan.md
  docs/architecture/hooks/guard-dispatcher-framework.md
  docs/architecture/hooks/guard-health-tracker.md
  docs/architecture/hooks/linkify-message-display.md
  docs/architecture/hooks/retrospective-trigger-scanner.md
  docs/architecture/hooks/subagent-invocation-recording-hook.md
  docs/architecture/hooks/turn-end-bare-ref-scan.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4048): PR #2928 R1 — don't stamp the judged-input marker for the prompt
  .claude/hooks/wall-of-text-detector.ts
  .minsky/hooks/wall-of-text-detector.test.ts
  .minsky/hooks/wall-of-text-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4032): PR #2929 R1 — name both ceiling escape hatches, at their tiers
  .cursor/rules/hook-observers.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#4010): /interceptors catalog + detail route — slice 1, the readable corpus
  .cursor/rules/cockpit-deeplinks.mdc
  .minsky/rules/cockpit-deeplinks.mdc
  AGENTS.md
  CLAUDE.md
  package.json
  scripts/build-interceptor-catalog.test.ts
  scripts/build-interceptor-catalog.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/components/EntityRef.tsx
  src/cockpit/web/components/TabBar.tsx
  src/cockpit/web/hooks/useInterceptors.ts
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-codec.ts
  src/cockpit/web/lib/tabs.tsx
  src/cockpit/web/pages/InterceptorDetailPage.tsx
  src/cockpit/web/pages/InterceptorsPage.test.tsx
  src/cockpit/web/pages/InterceptorsPage.tsx
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/interceptors.ts
  src/generated/interceptor-catalog.json
  src/hooks/interceptor-catalog-regen.test.ts
  src/hooks/interceptor-catalog-regen.ts
  src/hooks/pre-commit.ts
  tests/unit/hook-tree-import-boundary.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4051): A carried recommendation loses its provenance — cover normative content and the transit step
  .claude/skills/escalation-packaging/SKILL.md
  .cursor/rules/claim-confidence.mdc
  .minsky/rules/claim-confidence.mdc
  .minsky/skills/escalation-packaging/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/claim-confidence.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4010): complete the third inverse — tokenEntity did not know /interceptors
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-linkifier.tsx
  src/cockpit/web/lib/use-entity-index.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4051): PR #2932 R1 — cross-reference mt#4052, disambiguate mem#997 from mem#977
  docs/rules-rationale/claim-confidence.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4010): PR #2930 R1 — validate each catalog row, not just the envelope
  src/cockpit/widgets/interceptors.test.ts
  src/cockpit/widgets/interceptors.ts
  tests/unit/hook-tree-import-boundary.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4047): Move user-preferences narration to its rationale page
  .cursor/rules/user-preferences.mdc
  .minsky/rules/user-preferences.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/user-preferences.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4047): PR #2933 R1 — qualify the silent-stretch pointer with its path
  .cursor/rules/user-preferences.mdc
  .minsky/rules/user-preferences.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
