Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(#294): Eliminate TOCTOU race condition in ensureDirectory()
  src/domain/storage/json-file-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#294): Phase 3 COMPLETE - No git lock issues found, excellent protection
  process/tasks/294-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

feat(#294): Create comprehensive ESLint rules for concurrency safety
  src/eslint-rules/no-toctou-file-operations.js
  src/eslint-rules/no-unsafe-git-network-operations.js
  src/eslint-rules/no-unsafe-git-network-operations.test.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#294): TASK COMPLETE - Comprehensive concurrency audit successful
  process/tasks/294-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

feat(#305): Massive syntax error cleanup - 98% reduction achieved
  CHANGELOG.md
  codemods/git-commands-integration-mock-fixer.ts
  codemods/jest-to-bun-comprehensive-migration.ts
  fix-const-assignments.ts
  fix-remaining-syntax.ts
  fix-syntax-errors.ts
  process/tasks/305-systematic-jest-pattern-migration-eslint-rule-re-enablement.md
  src/adapters/shared/commands/__tests__/session-context-resolution.test.ts
  src/domain/__tests__/git-service.test.ts
  src/domain/__tests__/tasks.test.ts
  src/domain/git-default-branch.test.ts
  src/domain/git-pr-workflow.test.ts
  src/domain/git.pr.test.ts
  src/domain/git.test.ts
  src/domain/git/commands/__tests__/integration.test.ts
  src/domain/git/conflict-detection.test.ts
  src/domain/git/git-service-core.test.ts
  src/domain/git/parameter-based-functions.test.ts
  src/domain/session-approve.test.ts
  src/domain/session-auto-task-creation.test.ts
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-lookup-bug-reproduction.test.ts
  src/domain/session-pr-refresh.test.ts
  src/domain/session-review.test.ts
  src/domain/tasks.test.ts
  src/domain/workspace.test.ts
  src/utils/package-manager.test.ts
  src/utils/test-utils/compatibility.test.ts
  src/utils/test-utils/compatibility/mock-function.ts
  src/utils/test-utils/enhanced-utils.test.ts
  src/utils/test-utils/index.ts
  tests/adapters/cli/session-directory.test.ts
  tests/adapters/cli/session-test-utilities.ts
  tests/adapters/cli/session.test.ts
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#305): Update task spec and changelog to reflect massive achievement
  CHANGELOG.md
  process/tasks/305-systematic-jest-pattern-migration-eslint-rule-re-enablement.md
  src/domain/session-pr-refresh.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#308): Import task from special workspace - session PR title validation
  process/tasks.md
  process/tasks/308-add-validation-to-session-pr-title-argument-to-prevent-body-content-in-title.md
Due: bun node_modules/.bin/prettier --write

feat(#305): Complete parsing error resolution - 100% linting error reduction achieved
  src/domain/session-pr-refresh.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: Progresses Jest-to-Bun migration & fixes verification
  CHANGELOG.md
  process/tasks.md
  process/tasks/305-systematic-jest-pattern-migration-eslint-rule-re-enablement.md
Due: bun node_modules/.bin/prettier --write

chore(305): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: resolve infinite hanging in minsky tasks list command
  src/domain/tasks/workspace-resolving-markdown-backend.ts
  src/utils/workspace-resolver.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove meta-cognitive boundary protocol violations
  src/domain/tasks/backend-config.ts
  src/domain/tasks/backend-workspace-integration.test.ts
  src/domain/tasks/json-backend.test.ts
  src/domain/tasks/json-backend.ts
  src/domain/tasks/markdown-backend-workspace-architecture.test.ts
  src/domain/tasks/markdown-backend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(309): create task "Improve file operation tools: auto-create directories and semantic error messages"
  process/tasks.md
  process/tasks/309-improve-file-operation-tools-auto-create-directories-and-semantic-error-messages.md
Due: bun node_modules/.bin/prettier --write

feat(310): create task "Research codemod-based approach for session-aware edit file tool"
  process/tasks.md
  process/tasks/310-research-codemod-based-approach-for-session-aware-edit-file-tool.md
Due: bun node_modules/.bin/prettier --write

feat: Create task #310 to research codemod-based edit file tool approach
  process/tasks/310-research-codemod-based-approach-for-session-aware-edit-file-tool.md
Due: bun node_modules/.bin/prettier --write

fix(#310): Correct terminology from 'fast apply bottle' to 'fast apply model'
  process/tasks/310-research-codemod-based-approach-for-session-aware-edit-file-tool.md
Due: bun node_modules/.bin/prettier --write

feat(#311): create task for max-lines ESLint rule with two-phase approach
  process/tasks.md
  process/tasks/311-enable-max-lines-eslint-rule-with-two-phase-approach-400-warning-1500-error.md
Due: bun node_modules/.bin/prettier --write

fix: remove manual task creation exceptions from creating-tasks rule
  .cursor/rules/creating-tasks.mdc
Due: none

fix: remove manually created task #311 that violated creating-tasks rule
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(311): create task "Standardize MCP session-awareness: Make session PR and commit tools explicitly session-aware"
  process/tasks.md
  process/tasks/311-standardize-mcp-session-awareness-make-session-pr-and-commit-tools-explicitly-session-aware.md
Due: bun node_modules/.bin/prettier --write

feat(#309): Implement semantic error handling for file operations
  src/adapters/mcp/session-files.ts
  src/domain/tasks/backend-workspace-integration.test.ts
  src/domain/tasks/json-backend.test.ts
  src/domain/tasks/json-backend.ts
  src/types/semantic-errors.ts
  src/utils/__tests__/semantic-error-classifier.test.ts
  src/utils/semantic-error-classifier.ts
  test-semantic-error-handling.ts
  test-session-file-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
