Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#310): resolve session approve --task parameter handling
  src/adapters/__tests__/session-context-resolver.test.ts
  src/adapters/session-context-resolver.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#301): Update task spec with implementation progress
  process/tasks/301-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

fix(#310): complete session task parameter handling fixes
  src/adapters/shared/commands/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve additional quote style linter errors from main
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#301): Replace unsafe execAsync calls in repository operations with timeout protection
  src/domain/repository/github.ts
  src/domain/repository/local.ts
  src/domain/repository/remote.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#301): Complete remaining unsafe execAsync patterns in specialized git commands
  src/domain/git/commands/checkout-command.ts
  src/domain/git/commands/rebase-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#301): Mark task as COMPLETED - all 32 unsafe git patterns fixed
  process/tasks/301-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

chore(318): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: add changelog entry for ESLint/Prettier integration fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

test: Add comprehensive tests for session PR body content bug fix
  CHANGELOG.md
  tests/adapters/mcp/session-pr-body-path-refresh-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#301): Enhance ESLint rule to catch ALL unsafe git operations
  eslint.config.js
  process/tasks/301-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
  src/eslint-rules/no-unsafe-git-exec.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(319): create task "Fix special workspace and main workspace synchronization for task operations"
  process/tasks.md
  process/tasks/319-fix-special-workspace-and-main-workspace-synchronization-for-task-operations.md
  process/tasks/321-fix-special-workspace-and-main-workspace-synchronization-for-task-operations.md
Due: bun node_modules/.bin/prettier --write

docs(#301): Add comprehensive PR description for task completion
  pr-description.md
Due: bun node_modules/.bin/prettier --write

chore(319): delete task
  process/tasks.md
  process/tasks/319-fix-special-workspace-and-main-workspace-synchronization-for-task-operations.md
Due: bun node_modules/.bin/prettier --write

feat(319): create task "Fix special workspace and main workspace synchronization for task operations [renamed from 310]"
  process/tasks.md
  process/tasks/319-fix-special-workspace-and-main-workspace-synchronization-for-task-operations-renamed-from-310-.md
Due: bun node_modules/.bin/prettier --write

fix(#319): Fix task numbering conflict and register special workspace sync task
  process/tasks.md
  process/tasks/312-enhance-session-read-file-tool-with-line-range-support-to-match-cursor-s-built-in-read-file-functionality.md
  process/tasks/319-fix-special-workspace-and-main-workspace-synchronization-for-task-operations-renamed-from-310-.md
  process/tasks/321-fix-special-workspace-and-main-workspace-synchronization-for-task-operations.md
Due: bun node_modules/.bin/prettier --write

fix(#276): MAJOR BREAKTHROUGH - Resolve test suite hanging issues
  scripts/fix-mock-imports.ts
  src/domain/__tests__/tasks.test.ts
  src/domain/git-default-branch.test.ts
  src/domain/git.ts
  src/domain/git/conflict-detection.test.ts
  src/domain/session.ts
  src/domain/session/session-approve-bugfix-regression.test.ts
  src/domain/session/session-approve-operations.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  src/domain/session/session-lifecycle-operations.ts
  src/domain/session/session-start-operations.ts
  src/domain/utils/package-manager.test.ts
  test-results-current.log
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

improve: Add existing work assessment to implementation verification protocol
  .cursor/rules/implementation-verification-protocol.mdc
Due: none

fix(#319): Implement comprehensive task workspace synchronization fix
  src/adapters/mcp/session-files.ts
  src/domain/session/session-pr-operations.ts
  src/domain/tasks/taskCommands.ts
  src/eslint-rules/no-unsafe-git-exec.js
  src/utils/task-workspace-commit.ts
  tests/adapters/mcp/session-pr-body-path-refresh-bug.test.ts
  tests/adapters/mcp/session-read-file-simple.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(319): update task status TODO → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
