Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#287): Complete Task #286 follow-up - Inspector upgrade and FastMCP cleanup
  README-MCP.md
  process/tasks/287-complete-task-286-follow-up-inspector-upgrade-and-fastmcp-cleanup.md
  src/mcp/inspector-launcher.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#280): Update progress to 98.6% reduction achieved
  process/tasks/280-cleanup-excessive-as-unknown-assertions-to-improve-typescript-effectiveness.md
Due: bun node_modules/.bin/prettier --write

docs(#158): Add activation summary documenting session tools success
  ACTIVATION_SUMMARY.md
Due: bun node_modules/.bin/prettier --write

fix(conflict-detection): resolve remaining TypeScript destructuring assignment errors
  src/domain/git/conflict-detection.ts
  src/domain/session/commands/approve-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(conflict-detection): resolve additional TypeScript destructuring assignment errors
  src/domain/git/conflict-detection.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#283): Implement Task ID storage/display separation
  src/domain/session/session-db-adapter.ts
  src/domain/session/types.ts
  src/domain/tasks/jsonFileTaskBackend.ts
  src/domain/tasks/task-id-utils.test.ts
  src/domain/tasks/task-id-utils.ts
  src/domain/tasks/types.ts
  src/types/tasks/taskData.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#283): Update display layer to use formatTaskIdForDisplay()
  src/adapters/shared/bridges/cli-bridge-updated.ts
  src/adapters/shared/bridges/cli-bridge.ts
  src/adapters/shared/bridges/cli-result-formatters.ts
  src/domain/session/commands/review-command.ts
  src/domain/tasks/taskFunctions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#283): Update task specification with progress and simplicity review note
  process/tasks/283-separate-task-id-storage-from-display-format.md
Due: bun node_modules/.bin/prettier --write

feat(#280): ACHIEVE 100% ELIMINATION - Complete 'as unknown' cleanup success!
  src/domain/storage/backends/postgres-storage.ts
  tests/domain/commands/workspace.commands.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tests): resolve SQLite database filtering issues in session tests
  tests/adapters/cli/session-directory.test.ts
  tests/adapters/cli/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#292): implement automatic git stash handling for session approve
  src/adapters/shared/commands/session-parameters.ts
  src/domain/session.ts
  src/domain/session/session-approve-operations.ts
  src/schemas/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#293): Add comprehensive task spec for session chat context UI elements
  process/tasks.md
  process/tasks/293-add-session-chat-interface-context-ui-elements.md
Due: bun node_modules/.bin/prettier --write

docs(#292): update session approve documentation with automatic stash handling
  README.md
Due: bun node_modules/.bin/prettier --write

feat(#280): Complete 'as unknown' cleanup with 100% code elimination
  process/tasks/280-cleanup-excessive-as-unknown-assertions-to-improve-typescript-effectiveness.md
Due: bun node_modules/.bin/prettier --write

fix(session): move session approve task status commit logic from main workspace
  src/domain/session/commands/approve-command.ts
  src/domain/session/session-approve-task-status-commit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#280): add PR title file for session PR creation
  .pr_title
Due: none

fix(#287): Fix session tools API incompatibility
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/session-files.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#287): Update changelog with session tools API compatibility fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#287): Final syntax fix for session-files.ts
  src/adapters/mcp/session-files.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#283): implement task ID storage/display separation
  src/domain/session/session-approve-task-status-commit.test.ts
  src/domain/session/session-context-resolver.test.ts
  src/domain/session/session-start-operations.ts
  src/domain/session/start-session-operations.ts
  src/domain/tasks/markdownTaskBackend.ts
  src/domain/tasks/taskFunctions.ts
  src/schemas/common.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#287): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
