Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(local-backend): move PR commit-hash recording to local backend; remove command-level post-step
  src/domain/repository/local.ts
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(md#1): Implement draft PR properly through normal session PR flow
  fix_pr_title.js
  src/domain/repository/github.ts
  src/domain/repository/index.ts
  src/domain/repository/local.ts
  src/domain/repository/remote.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(md#1): Record draft status in session records
  src/domain/repository/github.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Add file to test draft PR tracking
  test-draft-tracking.txt
Due: none

cleanup: Remove test file
  test-draft-tracking.txt
Due: none

fix(md#1): Remove incorrect pr/ branch usage for GitHub backend
  final-implementation-summary.md
  src/domain/session/commands/pr-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Add file to test draft creation again
  test-draft-again.txt
Due: none

cleanup: Remove test file
  test-draft-again.txt
Due: none

fix(github-merge-ux): suppress Octokit request logs; treat missing protection as 0 required approvals; simplify unapproved message
  CHANGELOG.md
  full-ai-prompt-verbatim-2025-01-27.md
  process/tasks.md
  process/tasks/backup-2025-08-07T23-37-16-198Z/253-implement-task-similarity-search-using-embeddings.md
  process/tasks/md#339-add-configuration-management-subcommands.md
  process/tasks/md#367-consolidate-multiple-task-id-parsing-implementations.md
  process/tasks/md#402-remove-json-sessiondb-backend-entirely-from-codebase.md
  process/tasks/md#402/pr.md
  process/tasks/md#403-implement-drizzle-kit-migrations-for-postgresql-sessiondb.md
  process/tasks/md#404-add-configuration-management-subcommands.md
  process/tasks/md#405-implement-set-default-to-write-config-and-back-it-up-update-remove-tests-referencing-session-branch.md
  process/tasks/md#406-complete-taskbackend-enum-refactoring-across-codebase.md
  process/tasks/md#407-extract-shared-db-service-for-sessions-and-tasks.md
  process/tasks/md#410-fix-task-status-update-to-use-main-workspace-and-configure-main-workspace-path.md
  src/domain/repository/github.ts
  src/domain/session/session-merge-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(md#1): Implement session repair command
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/repair-command.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/session/commands/repair-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(md#1): Fix session repair command implementation
  src/adapters/shared/commands/session/repair-command.ts
  src/domain/session/commands/repair-command.ts
  test-draft-pr.txt
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(md#1): Fix PR branch format and draft parameter issues
  src/domain/session/commands/pr-command.ts
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Add test file for final draft PR validation
  test-final-draft.txt
Due: none

fix(md#1): Make PR state functions backend-aware
  src/domain/session/session-update-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Final validation of pr/ branch format fixes
  test-complete-fix.txt
Due: none

fix(md#1): Fix branch deletion logic to be backend-aware
  src/domain/session/commands/pr-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Ultimate validation of draft PR and branch format fixes
  test-ultimate-fix.txt
Due: none

test: Final test after backend type repair
  test-after-backend-fix.txt
Due: none

test(md#402): Final test with correct task number
  test-final-renamed.txt
Due: none

fix(tasks): resolve tasks.md conflicts; convert legacy links to qualified; remove spurious md#1 entries; format config-writer test
  process/tasks-backup-2025-08-12T18-40-10-052Z.md
  process/tasks.md
  process/tasks/md#1-collapse-unnecessary-application-layer-in-task-architecture.md
  process/tasks/md#408-implement-github-repository-quality-guardrails-configuration.md
  process/tasks/md#411-add-session-repair-command-and-draft-mode-to-session-pr-create.md
  src/adapters/cli/customizations/session-customizations.ts
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/repository/github.ts
  src/domain/schemas/session-schemas.ts
  src/domain/session.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/commands/start-command.ts
  src/domain/session/session-adapter.test.ts
  src/domain/session/session-approve-operations.test.ts
  src/domain/session/session-db.test.ts
  src/domain/session/session-db.ts
  src/domain/session/session-start-operations.ts
  src/domain/session/session-update-operations.ts
  src/domain/session/start-session-operations.ts
  src/domain/session/types.ts
  src/domain/storage/backends/postgres-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(md#411): Final test with correct task number
  test-final-renamed.txt
Due: none

style(md#411): Fix linting issues and formatting
  fix_pr_title.js
  src/adapters/shared/commands/session/index.ts
  src/adapters/shared/commands/session/repair-command.ts
  src/domain/repository/github.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/commands/repair-command.ts
  src/domain/session/session-update-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(md#411): Remove conflict markers from pr-subcommands.ts
  src/domain/session/commands/pr-subcommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#411,md#412): add new specs; fix duplicate draft param and formatting in pr-subcommands; update tasks.md
  process/tasks.md
  process/tasks/md#411-continue-systematic-eslint-guided-filesystem-violation-fixes.md
  process/tasks/md#412-create-comprehensive-integration-tests-for-session-edit-file-mcp-tool-with-cursor-edit-file-parity-verification.md
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/domain/session/commands/pr-subcommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(session pr get): normalize PR timestamps and branch data; hide redundant branch line; improve GitHub repair/enrichment
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(md#1): update task status TODO → IN-PROGRESS
  process/tasks.md
  process/tasks/md#1-continue-systematic-eslint-guided-filesystem-violation-fixes.md
Due: bun node_modules/.bin/prettier --write

fix(tasks): Reconcile task #367 collision and continue multi-backend fixes
  process/tasks/md#402-final-test-of-the-complete-fix.md
  src/domain/tasks/markdownTaskBackend.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
  src/domain/tasks/multi-backend-service.ts
  src/domain/tasks/taskFunctions.ts
  src/utils/test-utils/filesystem/mock-filesystem.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tasks list): restore qualified display IDs and correct spec paths in process/tasks.md; keep md#1 task files intact
  process/tasks.md
  process/tasks/md#1-continue-systematic-eslint-guided-filesystem-violation-fixes.md
  process/tasks/md#1-implement-session-pr-open-command-for-github-backend.md
Due: bun node_modules/.bin/prettier --write

fix(tasks list): ensure display shows qualified IDs using id or specPath fallback; repair tasks.md entries
  src/adapters/shared/commands/tasks/base-task-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#409): update task status TODO → IN-PROGRESS
  process/tasks-backup-2025-08-12T20-41-05-352Z.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(tasks list): strict display from task.id only; remove specPath fallback
  process/tasks.md
  process/tasks/md#1-implement-session-pr-open-command-for-github-backend.md
  src/adapters/shared/commands/tasks/base-task-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(critical): Add missing md#397 task entry to process/tasks.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#410): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(session): auto-detect GitHub remote when default_repo_backend is github
  src/domain/session.ts
  src/domain/session/commands/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#253): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(critical): Correct task ID from md#411 to md#397 in main repository
  process/tasks.md
  process/tasks/md#397-continue-systematic-eslint-guided-filesystem-violation-fixes.md
Due: bun node_modules/.bin/prettier --write

fix(cli): improve validation error formatting for invalid params (Zod errors)
  process/tasks/md#411-continue-systematic-eslint-guided-filesystem-violation-fixes.md
  src/adapters/cli/utils/error-handler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(changelog): note CLI validation error formatting fix for Zod errors (session get/dir, others)
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(md#398): update task status TODO → IN-PROGRESS
  process/tasks.md
  process/tasks/md#398-fix-session-start-to-auto-detect-github-remote-when-default-repo-backend-is-github.md
Due: bun node_modules/.bin/prettier --write

fix(#399): restore task tracking for comprehensive session.edit_file integration tests
  process/tasks.md
  process/tasks/md#399-create-comprehensive-integration-tests-for-session-edit-file-mcp-tool-with-cursor-edit-file-parity-verification.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
