Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix: Session Multi-Backend Integration tests - Apply Format Migration Pattern
  src/domain/session/multi-backend-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Session Approve Bug Regression tests - Apply Expected Data Provision Pattern
  src/domain/session/session-approve-bugfix-regression.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Session Database BaseDir Bug tests - Apply Expected Data Provision Pattern
  src/domain/session/session-database-basedir-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: Extract session update conditional logic for focused unit testing
  src/domain/session-update-logic.test.ts
  src/domain/session-update-logic.ts
  src/domain/session-update.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Complete logger mock in conflict-detection-working.test.ts to resolve test isolation issue
  src/domain/git/conflict-detection-working.test.ts
  src/domain/git/multi-backend-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#358): update task status IN-PROGRESS → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#358): update task status DONE → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#368): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(#368): Add IN-PROGRESS checkbox support to markdown backend
  process/task-specs/fix-remaining-test-failures-comprehensive-guide.md
  src/domain/git/multi-backend-integration.test.ts
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/markdownTaskBackend.ts
  src/domain/tasks/task-id-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: Fix task ID integration tests to use domain functions instead of CLI execution
  src/domain/tasks/markdown-task-backend.ts
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#332): add missing ESLint filesystem operations rule to tasks.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: Update changelog with test architecture improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Remove global module mocks causing cross-test interference
  src/domain/session-approve-branch-cleanup.test.ts
  src/domain/session-approve-workflow.test.ts
  src/domain/session-approve.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update changelog to document 100% test success achievement
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(md#332): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: Record comprehensive test architecture learnings and success patterns
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/self-improvement.mdc
  docs/bun-test-patterns.md
Due: bun node_modules/.bin/prettier --write

feat(#332): implement ESLint rule to forbid real filesystem operations in tests
  eslint.config.js
  process/tasks/332-create-eslint-rule-to-forbid-real-filesystem-operations-in-tests.md
  src/domain/github-backend.test.ts
  src/domain/repository-uri.test.ts
  src/domain/rules-format.test.ts
  src/domain/rules.test.ts
  src/domain/rules/rule-template-service.test.ts
  src/domain/session-lookup-bug-integration.test.ts
  src/domain/session-lookup-bug-reproduction.test.ts
  src/domain/session-lookup-bug-simple.test.ts
  src/domain/session-pr-body-path.test.ts
  src/domain/session-pr-title-duplication.test.ts
  src/domain/session/session-db-io.test.ts
  src/domain/session/session-path-resolver.test.ts
  src/domain/storage/json-file-storage.test.ts
  src/domain/tasks/json-backend.test.ts
  src/domain/tasks/multi-backend-real-integration.test.ts
  src/domain/tasks/taskCommands.test.ts
  src/domain/workspace.test.ts
  src/eslint-rules/no-real-fs-in-tests.js
  src/eslint-rules/no-real-fs-in-tests.test.js
  src/utils/semantic-error-classifier-integration.test.ts
  tests/adapters/cli/session-remaining.test.ts
  tests/adapters/cli/session-test-utilities.ts
  tests/adapters/cli/session-update.test.ts
  tests/adapters/cli/session.test.ts
  tests/adapters/mcp/session-edit-tools.test.ts
  tests/adapters/mcp/session-read-file-simple.test.ts
  tests/consolidated-utilities/variable-naming-fixer.test.ts
  tests/test-runner.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#332): update task status IN-PROGRESS → IN-REVIEW
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: Clean up test pattern documentation to use simplified generic examples
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/self-improvement.mdc
Due: none

chore(md#357): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat: Implement Option 2 documentation consolidation and create cleanup tasks
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/self-improvement.mdc
  docs/bun-test-patterns.md
  process/tasks/322-refactor-mcp-tools-with-type-composition-to-eliminate-argument-duplication.md
Due: bun node_modules/.bin/prettier --write

feat(#332): add enhanced configuration options with full schema
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#182): update task status TODO → IN-PROGRESS
  process/tasks.md
  src/domain/tasks/repository-backend-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#358): update task status IN-PROGRESS → TODO
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: Add prefix property and improve test compatibility
  process/tasks/322-refactor-mcp-tools-with-type-composition-to-eliminate-argument-duplication.md
  process/tasks/332-create-eslint-rule-to-forbid-real-filesystem-operations-in-tests.md
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#357): integrate GitHub Issues backend with repository backend architecture
  src/domain/tasks/repository-backend-integration.test.ts
  src/domain/tasks/taskBackendCompatibility.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#332): update task status IN-REVIEW → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Revert "fix: Add prefix property and improve test compatibility"
  process/tasks/322-refactor-mcp-tools-with-type-composition-to-eliminate-argument-duplication.md
  process/tasks/332-create-eslint-rule-to-forbid-real-filesystem-operations-in-tests.md
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#332): resolve critical ESLint anti-pattern violations and tune rule sensitivity
  .husky/pre-commit
  process/tasks/332-create-eslint-rule-to-forbid-real-filesystem-operations-in-tests.md
  src/domain/tasks/real-world-workflow.test.ts
  src/domain/tasks/taskCommands.test.ts
  src/eslint-rules/no-jest-patterns.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#357): add GitHub repository override option to TaskService
  src/domain/tasks/repository-backend-integration.test.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#368): Add prefix property and improve multi-backend compatibility
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#360): update task status DONE → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

refactor(#332): SUCCESSFUL architectural refactor - separate concerns ESLint rules
  eslint.config.js
  src/domain/tasks/real-world-workflow.test.ts
  src/domain/tasks/taskCommands.test.ts
  src/eslint-rules/no-cli-execution-in-tests.js
  src/eslint-rules/no-global-module-mocks.js
  src/eslint-rules/no-jest-patterns.js
  src/eslint-rules/no-magic-string-duplication.js
  src/eslint-rules/no-unreliable-factory-mocks.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#357): use configuration system for GitHub token access
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#332): change new ESLint rules from error to warn as requested
  .husky/pre-commit
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#357): fix GitHub Issues backend temp file validation bug
  src/domain/tasks/githubIssuesTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#357): complete CLI integration for GitHub repository override
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/domain/tasks/repository-backend-integration.test.ts
  src/domain/tasks/taskBackendCompatibility.ts
  src/domain/tasks/taskCommands.ts
  src/domain/tasks/taskService.ts
  src/schemas/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): Complete sessionDb variable name fixes
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/pr-subcommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
