Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

docs(task-276): document Phase 11C completion - TaskService 100% pass rate achieved
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
Due: bun node_modules/.bin/prettier --write

docs: Update changelog for task creation system bugfix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

refactor: Remove SpecStory references from changelog and rule
  .cursor/rules/changelog.mdc
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#174): update task status to IN-REVIEW after PR creation
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(#174): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(session): add immediate progress feedback to session approve command
  src/adapters/cli/customizations/session-customizations.ts
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(session): add more progress feedback throughout approval process
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Apply ESLint formatting fixes to test files
  src/domain/session-pr-title-duplication.test.ts
  src/domain/session/pr-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Add PR documentation directory for task #285
  process/tasks.md
  process/tasks/285/pr.md
Due: bun node_modules/.bin/prettier --write

feat(#280): Remove 2 unnecessary 'as unknown' casts from mock function calls
  as-unknown-analysis-report.json
  as-unknown-analysis-summary.md
  codemod-analysis-results.json
  codemods/comprehensive-as-unknown-fixer.ts
  comprehensive-as-unknown-report.json
  enhanced-pattern-transformation-report.json
  src/adapters/cli/customizations/config-customizations.ts
  src/adapters/cli/utils/error-handler.ts
  src/domain/ai/config-service.ts
  src/domain/git.ts
  src/domain/git/pr-generation-operations.ts
  src/domain/repository-uri.ts
  src/domain/repository.ts
  src/domain/storage/backends/error-handling.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/storage/backends/sqlite-storage.ts
  src/domain/storage/json-file-storage.ts
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/jsonFileTaskBackend.ts
  src/domain/tasks/taskService.ts
  src/domain/workspace/local-workspace-backend.ts
  src/mcp/server.ts
  src/utils/test-utils/compatibility/matchers.ts
  src/utils/test-utils/mocking.test.ts
  src/utils/test-utils/mocking.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Add husky pre-commit hook for title duplication detection
  scripts/check-title-duplication.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(#061): migrate session-auto-task-creation.test.ts to use centralized factories and Bun test patterns
  process/tasks/061-implement-test-fixture-factory-pattern.md
  src/domain/session-auto-task-creation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#276): Update task spec with Phase 11C completion - TaskService 100% pass rate achieved
  src/domain/tasks/taskService.ts.backup
  test-results.txt
Due: none

chore(#285): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(#061): document centralized factory limitations and revised implementation strategy
  process/tasks/061-implement-test-fixture-factory-pattern.md
Due: bun node_modules/.bin/prettier --write

feat: improve session approve error message with user-friendly guidance
  process/tasks.md
  src/domain/session.ts
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): resolve data structure mismatch and improve branch cleanup in session approve
  src/adapters/cli/customizations/session-customizations.ts
  src/domain/session/session-approve-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#276): Phase 11D breakthrough - TaskService 100% pass rate achieved
  src/domain/session/session-path-resolver.test.ts
  src/domain/tasks/taskService.test.ts
  src/domain/tasks/taskService.ts
  test-results.txt
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#276): Add missing execAsync export to resolve widespread test import failures
  src/utils/exec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#061): Migrate session-git-clone-bug-regression.test.ts to Bun patterns
  src/domain/session-git-clone-bug-regression.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#276): Document Phase 11D major breakthrough - 85.2% pass rate achieved
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
Due: bun node_modules/.bin/prettier --write
