Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2345): R1 — narrow watchPatterns to the Dockerfile's exact copy set
  services/reviewer/railway.json
Due: bun node_modules/.bin/prettier --write

feat(mt#2346): re-auth reviewer /retrigger off the webhook secret onto mcp.auth.token
  docs/configuration-guide.md
  packages/domain/src/configuration/schemas/mcp.ts
  packages/domain/src/configuration/schemas/reviewer.ts
  packages/domain/src/configuration/sources/environment.ts
  services/reviewer/README.md
  services/reviewer/src/server.test.ts
  services/reviewer/src/server.ts
  src/adapters/shared/commands/reviewer-retrigger.test.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2329): migrate sessions to DrizzleSessionRepository; delete SessionDbAdapter
  eslint.config.js
  packages/domain/src/composition/domain.ts
  packages/domain/src/persistence/architecture.test.ts
  packages/domain/src/session.ts
  packages/domain/src/session/drizzle-session-repository.test.ts
  packages/domain/src/session/drizzle-session-repository.ts
  packages/domain/src/session/index.ts
  packages/domain/src/session/session-approval-operations.ts
  packages/domain/src/session/session-db-adapter.test.ts
  packages/domain/src/session/session-db-adapter.ts
  packages/domain/src/session/session-merge-operations.ts
  packages/domain/src/session/session-review-operations.ts
  packages/domain/src/session/session-service.ts
  packages/domain/src/session/session-workdir-bug.test.ts
  scripts/repair-stranded-pr-open-sessions.ts
  src/adapters/shared/commands/forge.ts
  src/adapters/shared/commands/session/pr-create-command.test.ts
  src/cockpit/widgets/agents.ts
  src/hooks/post-commit.ts
  test-session-debug.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2346): R1 — don't leak internal env-var name in /retrigger 503
  services/reviewer/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2350): inline-comment anchor pre-validation + submission-failure circuit breaker
  services/reviewer/drizzle.pg.config.ts
  services/reviewer/migrations/pg/0004_yellow_galactus.sql
  services/reviewer/migrations/pg/meta/0004_snapshot.json
  services/reviewer/migrations/pg/meta/_journal.json
  services/reviewer/src/anchor-validation.ts
  services/reviewer/src/db/schemas/submission-failures-schema.ts
  services/reviewer/src/guarded-submit.ts
  services/reviewer/src/review-worker.ts
  services/reviewer/src/submission-failure-tracker.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2350): anchor-validation + circuit-breaker tests, smoke artifact, migrate self-check
  services/reviewer/scripts/smoke-anchor-circuit.ts
  services/reviewer/src/anchor-validation.test.ts
  services/reviewer/src/anchor-validation.ts
  services/reviewer/src/db/migrate.test.ts
  services/reviewer/src/db/migrate.ts
  services/reviewer/src/submission-failure-tracker.test.ts
  services/reviewer/src/sweeper.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2350): R1 — preserve inline-comment `side` end-to-end + narrow open-circuit SELECT
  services/reviewer/src/compose-review.ts
  services/reviewer/src/guarded-submit.test.ts
  services/reviewer/src/guarded-submit.ts
  services/reviewer/src/output-tools.ts
  services/reviewer/src/submission-failure-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2350): R2 — guard the prose-path submission too (single chokepoint now real)
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2329): delete the DatabaseStorage layer + getStorage surface; rewire the 4 consumers
  .claude/hooks/record-subagent-invocation.ts
  packages/domain/src/persistence/factory.ts
  packages/domain/src/persistence/fake-persistence-provider.ts
  packages/domain/src/persistence/providers/postgres-provider.test.ts
  packages/domain/src/persistence/providers/postgres-provider.ts
  packages/domain/src/persistence/providers/sqlite-provider.ts
  packages/domain/src/persistence/types.ts
  packages/domain/src/rules/rule-similarity-service.ts
  packages/domain/src/session/types.ts
  packages/domain/src/storage/backends/migration-freshness.test.ts
  packages/domain/src/storage/backends/migration-freshness.ts
  packages/domain/src/storage/backends/postgres-storage-error-propagation.test.ts
  packages/domain/src/storage/backends/postgres-storage.ts
  packages/domain/src/storage/backends/sqlite-storage-pagination.test.ts
  packages/domain/src/storage/backends/sqlite-storage.ts
  packages/domain/src/storage/database-storage.ts
  packages/domain/src/storage/postgres-storage-interface-bug.test.ts
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2359): correct + de-duplicate reviewer default URL; add drift guard
  docs/configuration-guide.md
  scripts/smoke-retrigger-default-url.ts
  src/adapters/shared/commands/reviewer-retrigger.test.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2329): retire SessionDbState + state-based pure fns + the SQLite session schema
  packages/domain/src/schemas/storage.ts
  packages/domain/src/session.ts
  packages/domain/src/session/drizzle-session-repository.ts
  packages/domain/src/session/index.ts
  packages/domain/src/session/session-database-basedir-bug.test.ts
  packages/domain/src/session/session-db-partial-merge.test.ts
  packages/domain/src/session/session-db.test.ts
  packages/domain/src/session/session-db.ts
  packages/domain/src/storage/schemas/session-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2352): make reviewer railway.json self-contained (declare builder + dockerfilePath)
  services/reviewer/railway.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2359): R1 — relative import for safeTruncate in the smoke script
  scripts/smoke-retrigger-default-url.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2329): add session-CRUD smoke script (real Postgres + Fake) — §7a artifact
  scripts/smoke-session-crud.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2329): R1 — address PR #1625 reviewer findings
  .claude/hooks/record-subagent-invocation.ts
  docs/sessiondb-migration-guide.md
  packages/domain/src/session/drizzle-session-repository.ts
  packages/domain/src/session/session-db.ts
  packages/domain/src/session/types.ts
  scripts/smoke-session-crud.ts
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2329): R2 — honor --from in migrate EXECUTE; widen backendType cast
  packages/domain/src/storage/schemas/session-schema.ts
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2329): R3 — restore full-replacement semantics in migrate EXECUTE
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2342): soften redundant Railway redeploy trigger to warn-not-fail
  .github/workflows/deploy-minsky-mcp.yml
Due: none

fix(mt#2356): make reviewer /retrigger tests hermetic — use the mcp token, not the webhook secret
  services/reviewer/src/comment-command.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2368): Make cockpit Attention widget a compact digest
  src/cockpit/web/widgets/Attention.tsx
Due: none

test(mt#2356): R1 — assert runReviewFn not called on /retrigger 4xx paths
  services/reviewer/src/comment-command.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2368): R1 — truncate parentTaskId; resolve header/empty-state count contradiction
  src/cockpit/web/widgets/Attention.tsx
Due: none

fix(mt#2342): R1 — robust success/error detection in the redeploy step
  .github/workflows/deploy-minsky-mcp.yml
Due: none

feat(mt#2363): Route reviewer circuit-breaker failures into the asks substrate
  services/reviewer/scripts/smoke-circuit-breaker-ask.ts
  services/reviewer/src/ask-emitter.test.ts
  services/reviewer/src/ask-emitter.ts
  services/reviewer/src/server.ts
  services/reviewer/src/sweeper.test.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2363): R1 — gate circuit dedup on Ask-emit outcome (no permanent suppression)
  services/reviewer/src/ask-emitter.test.ts
  services/reviewer/src/ask-emitter.ts
  services/reviewer/src/sweeper.test.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2338): wire eslint-rules RuleTester suites into CI + package.json
  .github/workflows/ci.yml
  package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2338): R1 — add if: always() to the ESLint-rules CI step
  .github/workflows/ci.yml
Due: none

docs(mt#2371): add Verification Commands subsection to terminal-command-best-practices
  .cursor/rules/terminal-command-best-practices.mdc
  .minsky/rules/terminal-command-best-practices.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2371): R1 — use POSIX-portable tail -n 20 in examples
  .cursor/rules/terminal-command-best-practices.mdc
  .minsky/rules/terminal-command-best-practices.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2376): Add plant board v1 — VSM-organ schematic with live READY tank
  src/cockpit/web/App.tsx
  src/cockpit/web/index.css
  src/cockpit/web/pages/HomePage.tsx
  src/cockpit/web/pages/PlantPage.test.tsx
  src/cockpit/web/pages/PlantPage.tsx
  tailwind.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2376): R1 — gate 3★ sweep on prefers-reduced-motion + add Plant Board docs
  docs/brand-system.md
  docs/cockpit-ui.md
  src/cockpit/web/index.css
  src/cockpit/web/pages/PlantPage.tsx
Due: bun node_modules/.bin/prettier --write

feat(mt#2380): add pan/zoom to Plant board for navigable, legible schematic
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
  src/cockpit/web/pages/PlantPage.tsx
Due: none

fix(mt#2380): R1 — aspect-correct zoom (no distortion), resize policy, wheel stale-closure
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
Due: none

feat(mt#2367): run services/reviewer unit suite in CI
  .github/workflows/ci.yml
  package.json
  services/reviewer/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2367): R1 — CI reviewer-test step uses canonical test:reviewer script
  .github/workflows/ci.yml
Due: none

feat(mt#2381): re-cut transcript pipeline seam — extract turns on capture, vector-only embedding backfill (ADR-019)
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
  packages/domain/src/transcripts/per-turn-embedding-pipeline.test.ts
  packages/domain/src/transcripts/per-turn-embedding-pipeline.ts
  packages/domain/src/transcripts/turn-writer.test.ts
  packages/domain/src/transcripts/turn-writer.ts
  src/adapters/shared/commands/transcripts/index-embeddings-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2381): R1 — per-batch embed count, fix tool_calls double-encoding, barrel exports, ADR notes
  docs/architecture/adr-019-transcript-pipeline-staging.md
  packages/domain/src/transcripts/index.ts
  packages/domain/src/transcripts/per-turn-embedding-pipeline.test.ts
  packages/domain/src/transcripts/per-turn-embedding-pipeline.ts
  packages/domain/src/transcripts/turn-writer.test.ts
  packages/domain/src/transcripts/turn-writer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2373): add WidgetShell render-context seam + convert BasicHealth to body+shell
  src/cockpit/web/components/WidgetShell.tsx
  src/cockpit/web/widgets/BasicHealth.tsx
Due: none

feat(mt#2373): convert MemoriesHealth to body+shell (compact variant)
  src/cockpit/web/widgets/MemoriesHealth.tsx
Due: none

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
