Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3788): Scope the git/gh guard to Minsky-managed repos, and stop reading quoted arguments as commands
  .claude/hooks/block-git-gh-cli.ts
  .minsky/hooks/block-git-gh-cli.test.ts
  .minsky/hooks/block-git-gh-cli.ts
  docs/architecture/hooks/block-git-gh-cli.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3785): PR #2684 R2 — report the address the holder was found on
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

fix(mt#3121): raise MERGED_CONTEXT_BUDGET_CHARS for the watchdog annotation bump
  .claude/hooks/dispatcher.ts
  .minsky/hooks/dispatcher.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3788): PR #2685 R1 — scope the carve-out per command, never to gh or path-redirecting git
  .claude/hooks/block-git-gh-cli.ts
  .minsky/hooks/block-git-gh-cli.test.ts
  .minsky/hooks/block-git-gh-cli.ts
  docs/architecture/hooks/block-git-gh-cli.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3781): Put the pattern hit in `phrase`, not the snippet around it
  .claude/hooks/constructed-identifier-batch-detector.ts
  .claude/hooks/operator-deferral-detector.ts
  .minsky/hooks/constructed-identifier-batch-detector.ts
  .minsky/hooks/operator-deferral-detector.test.ts
  .minsky/hooks/operator-deferral-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3788): PR #2685 R2 — veto the carve-out when the command can relocate the cwd
  .claude/hooks/block-git-gh-cli.ts
  .minsky/hooks/block-git-gh-cli.test.ts
  .minsky/hooks/block-git-gh-cli.ts
  docs/architecture/hooks/block-git-gh-cli.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3787): Scope findPortHolder to loopback, closing the divergence mt#3785 opened
  contract/README.md
  src/cockpit/port-recovery.test.ts
  src/cockpit/port-recovery.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3790): Name the thinking.display default instead of blaming the harness
  packages/domain/src/transcripts/event-schema.ts
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3792): Bound the session-film camera and make Reset hand control back to camera-follow
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
Due: none

test(mt#3787): PR #2688 R1 — assert the classification, not just the probe
  src/cockpit/port-recovery.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3795): Pair tool calls by id across the transcript, and stop calling finished events in-flight
  packages/domain/src/transcripts/event-adapter.test.ts
  packages/domain/src/transcripts/event-adapter.ts
  packages/domain/src/transcripts/event-schema.ts
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/lib/session-film-config.ts
  src/cockpit/web/lib/session-film-fold.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3790): PR #2689 R1 — rename the testid to match the corrected framing
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
Due: none

fix(mt#3781): PR #2687 R1 — use the shared context helper; test both detectors
  .claude/hooks/operator-deferral-detector.ts
  .minsky/hooks/constructed-identifier-batch-detector.test.ts
  .minsky/hooks/operator-deferral-detector.test.ts
  .minsky/hooks/operator-deferral-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3798): Resolve the leading cd target so mt#3788's carve-out can actually fire
  .claude/hooks/block-git-gh-cli.ts
  .minsky/hooks/block-git-gh-cli.test.ts
  .minsky/hooks/block-git-gh-cli.ts
  docs/architecture/hooks/block-git-gh-cli.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3791): Address a specific turn in the conversation view, and land on it
  scripts/verify-conversation-turn-target.ts
  src/cockpit/web/components/ConversationElementRenderers.tsx
  src/cockpit/web/components/EntityRef.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
  src/cockpit/web/hooks/useThreadWindow.ts
  src/cockpit/web/hooks/useTurnAddressLanding.ts
  src/cockpit/web/lib/conversation-turn-address.test.ts
  src/cockpit/web/lib/conversation-turn-address.ts
  src/cockpit/web/lib/conversation-turn-assembly.ts
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/ConversationView.turn-address.test.tsx
  src/cockpit/web/widgets/RunDetail.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3792): Clamp to the content, not the board, and stop a fast drag crashing the film
  scripts/verify-session-film-camera.ts
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3798): PR #2691 R1 — audit line names the path actually classified
  .claude/hooks/block-git-gh-cli.ts
  .minsky/hooks/block-git-gh-cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3792): PR #2692 review — extract the resize aspect helper, use a stable Reset testid
  scripts/verify-session-film-camera.ts
  src/cockpit/web/components/PanZoomSVG.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3791): PR #2693 R1 — carry the address into the driven-session variant too
  scripts/verify-conversation-turn-target.ts
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/ConversationView.turn-address.test.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#3791): PR #2693 R2 — drop the injected-content imports the extraction orphaned
  src/cockpit/web/widgets/ConversationView.tsx
Due: none

feat(mt#3800): /cockpit opens the current conversation in the cockpit
  .claude/skills/cockpit/SKILL.md
  .cursor/rules/cockpit-deeplinks.mdc
  .minsky/rules/cockpit-deeplinks.mdc
  .minsky/skills/cockpit/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/cockpit-deeplinks.md
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-codec.ts
  src/commands/cockpit/index.ts
  src/commands/cockpit/url-command.test.ts
  src/commands/cockpit/url-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3793): Make the film's node-click panel an inspector, and name targets that have no page
  src/cockpit/web/components/session-film/SessionFilm.test.tsx
  src/cockpit/web/components/session-film/SessionFilm.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/lib/session-film-entity-history.test.ts
  src/cockpit/web/lib/session-film-entity-history.ts
  src/cockpit/web/lib/session-film-target-ref.test.ts
  src/cockpit/web/lib/session-film-target-ref.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3793): Bound the panel's history at the playhead, and stop printing a composite id twice
  src/cockpit/web/components/session-film/SessionFilm.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/lib/session-film-entity-history.test.ts
  src/cockpit/web/lib/session-film-entity-history.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3800): PR #2695 R1 — complete the trailing-punctuation class, and a launcher shim
  .claude/skills/cockpit/SKILL.md
  .minsky/skills/cockpit/SKILL.md
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-codec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3793): Show first/last-touched in the panel, per success criterion 3
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
Due: none

refactor(mt#3800): PR #2695 R2 — extract the trailing-punctuation regex
  src/cockpit/web/lib/entity-codec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3794): Watch a transcript row's moment in the film
  src/cockpit/web/components/ConversationElementRenderers.tsx
  src/cockpit/web/components/FilmMomentLink.tsx
  src/cockpit/web/components/session-film/SessionFilm.test.tsx
  src/cockpit/web/components/session-film/SessionFilm.tsx
  src/cockpit/web/lib/session-film-batches.ts
  src/cockpit/web/widgets/ConversationView.film-link.test.tsx
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/RunDetail.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3794): PR #2697 R1 — explain the moment when the film is unavailable
  src/cockpit/web/components/session-film/SessionFilm.test.tsx
  src/cockpit/web/components/session-film/SessionFilm.tsx
  src/cockpit/web/widgets/RunDetail.tsx
Due: none

feat(mt#3807): minsky cockpit open — the no-model-turn path to this conversation
  .claude/skills/cockpit/SKILL.md
  .minsky/skills/cockpit/SKILL.md
  src/commands/cockpit/index.ts
  src/commands/cockpit/open-command.test.ts
  src/commands/cockpit/open-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3809): Label a harness-authored line as the harness's, not the operator's
  src/cockpit/web/lib/turn-origin.test.ts
  src/cockpit/web/lib/turn-origin.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3808): ADR-038 local shared MCP daemon — topology decided on captured client evidence
  docs/architecture/adr-038-local-shared-mcp-daemon-architecture.md
Due: bun node_modules/.bin/prettier --write

docs(mt#3808): fill ADR-038 question 8 with the real subtask ids
  docs/architecture/adr-038-local-shared-mcp-daemon-architecture.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3809): PR #2698 R1 — pin the mixed-origin isMeta turn
  src/cockpit/web/lib/turn-origin.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3780): Assert every .ts file is typechecked by a project CI runs
  .github/workflows/ci.yml
  package.json
  scripts/typecheck-coverage.ts
  tests/architecture/typecheck-coverage.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3818): replace global watermarkAdvanced proxy with per-path assertion
  src/adapters/shared/commands/calibration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3808): PR #2700 R1 — the token never enters the client config
  docs/architecture/adr-038-local-shared-mcp-daemon-architecture.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3824): bound calibration-review-cadence-detector's advisory to a real worst case
  .claude/hooks/calibration-review-cadence-detector.ts
  .claude/hooks/registry.ts
  .minsky/hooks/calibration-review-cadence-detector.test.ts
  .minsky/hooks/calibration-review-cadence-detector.ts
  .minsky/hooks/guard-feedback-shape.test.ts
  .minsky/hooks/registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3824): PR #2701 R1 — read the declared ceiling from the registry, don't duplicate it
  .minsky/hooks/calibration-review-cadence-detector.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3818): carry the per-path watermark assertion to break a mutual CI/push deadlock
  .minsky/sessions/f54c623f-d664-4048-9593-c0e086ceb302/handoff.md
  handoff.md
  src/adapters/shared/commands/calibration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
