Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

docs(mt#4319): Land ADR-044 as Accepted — entity-thread agent turns derive from the transcript
  docs/architecture/adr-044-entity-thread-agent-turns-derive-from-the-harness-transcript.md
Due: bun node_modules/.bin/prettier --write

docs(mt#4297): PR #3155 R1 — document readiness in the operator reference
  docs/local-mcp-daemon.md
Due: bun node_modules/.bin/prettier --write

docs(mt#4319): Reconcile ADR-044 with the RFC it was drafted without, and widen the binding table
  docs/architecture/adr-044-entity-thread-agent-turns-derive-from-the-harness-transcript.md
Due: bun node_modules/.bin/prettier --write

docs(mt#4293): Move ADR-042's gate-(h) row to the seam its evidence actually reaches
  docs/architecture/adr-042-gate-battery-enforcement-shape.md
  docs/architecture/hooks/enumeration-scope-check.md
Due: bun node_modules/.bin/prettier --write

feat(mt#4315): Question the claim that a condition will not clear on its own
  packages/domain/src/ask/form-lint.self-resolving-claim.test.ts
  packages/domain/src/ask/form-lint.ts
  scripts/verify-self-resolving-claim-check.ts
  src/adapters/shared/commands/asks.advisory-form-lint.test.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#4317): mode:'tool' experiment — tested, NOT confirmed, deliberately not a PR
  packages/domain/src/ai/completion-service.ts
  packages/domain/src/ai/types.ts
  packages/domain/src/detectors/unasked-direction-analyzer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4315): PR #3158 R1 — stop stating a count beside a list that grows
  src/adapters/shared/commands/asks.advisory-form-lint.test.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4315): PR #3158 R2 — drop `held steady`, a term that earned no recall
  packages/domain/src/ask/form-lint.self-resolving-claim.test.ts
  packages/domain/src/ask/form-lint.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4283): Give hook-observers.mdc room again — 15,000 to 13,407
  .cursor/rules/hook-observers.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4320): Skip a search flag's VALUE, not just the flag
  .claude/hooks/command-shape.ts
  .claude/hooks/evidence-provenance-table.ts
  .minsky/hooks/command-shape.ts
  .minsky/hooks/enumeration-scope-check.test.ts
  .minsky/hooks/evidence-provenance-table.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4320): Make SC3 structural — an unknown find predicate degrades safe
  .claude/hooks/command-shape.ts
  .claude/hooks/evidence-provenance-table.ts
  .minsky/hooks/command-shape.ts
  .minsky/hooks/enumeration-scope-check.test.ts
  .minsky/hooks/evidence-provenance-table.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4329): Preserve the content an ask was actually escalated with
  packages/domain/src/ask/edit.original-content.test.ts
  packages/domain/src/ask/edit.ts
  packages/domain/src/ask/form-lint.self-resolving-claim.test.ts
  packages/domain/src/ask/form-lint.test.ts
  packages/domain/src/ask/form-lint.ts
  src/adapters/shared/commands/asks.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4320): PR #3161 R2 — decide the detached form before the letter bound
  .claude/hooks/command-shape.ts
  .minsky/hooks/command-shape.ts
  .minsky/hooks/enumeration-scope-check.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4329): PR #3162 R1 — make the reservation real at both boundaries
  packages/domain/src/ask/edit.original-content.test.ts
  packages/domain/src/ask/edit.ts
  packages/domain/src/ask/repository.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4329): PR #3162 R2 — the caller side of the edit merge is reserved too
  packages/domain/src/ask/edit.original-content.test.ts
  packages/domain/src/ask/edit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4102): Say which rung produced a fire, and stop losing the excerpt that explains it
  .claude/hooks/retrospective-trigger-scanner.ts
  .claude/hooks/turn-end-retro-scan.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
  .minsky/hooks/turn-end-retro-scan.test.ts
  .minsky/hooks/turn-end-retro-scan.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4102): PR #3163 R1 — three rungs, not two, and one record schema across both entrypoints
  .claude/hooks/retrospective-trigger-scanner.ts
  .claude/hooks/turn-end-retro-scan.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
  .minsky/hooks/turn-end-retro-scan.test.ts
  .minsky/hooks/turn-end-retro-scan.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4300): Bound every unprotected network step in ci.yml, not just the one that burned us
  .github/workflows/ci.yml
Due: none

feat(mt#4236): Adjudicate an evidence block per CLAIM, and check the run observed the shipped tree
  .claude/hooks/evidence-provenance-table.ts
  .claude/hooks/evidence-record-provenance.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/evidence-provenance-table.ts
  .minsky/hooks/evidence-record-provenance.test.ts
  .minsky/hooks/evidence-record-provenance.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/evidence-record-provenance.md
  scripts/replay-evidence-provenance.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4298): Give vector storage the pooler guard, not the raw client
  packages/domain/src/persistence/providers/postgres-provider.test.ts
  packages/domain/src/persistence/providers/postgres-provider.ts
  packages/domain/src/storage/vector/postgres-vector-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3609): Make principal-channel deps required, so a forgotten injection cannot reach Telegram
  packages/domain/src/notify/principal-channel.test.ts
  packages/domain/src/notify/principal-channel.ts
  scripts/principal-channel/peek-inbound.ts
  scripts/principal-channel/probe-topic-mode.ts
  scripts/principal-channel/verify-credential-resolution.ts
  scripts/principal-channel/verify-html-render.ts
  scripts/principal-channel/verify-reaction-emoji.ts
  scripts/principal-channel/verify-send.ts
  scripts/principal-channel/verify-silent-send.ts
  scripts/principal-channel/verify-streaming.ts
  scripts/verify-ask-principal-page.ts
  src/adapters/shared/commands/asks.ts
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/principal.test.ts
  src/adapters/shared/commands/principal.ts
  src/cockpit/principal-channel-launch.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4338): The local daemon is not the hosted server
  scripts/verify-local-daemon-command-surface.ts
  src/cli-discriminators.test.ts
  src/cli-discriminators.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4335): Hold the guard for an abandoned tick, so its successor cannot open a second connection
  src/cockpit/principal-channel-launch.test.ts
  src/cockpit/sweepers.test.ts
  src/cockpit/sweepers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4296): Measure the peek drag per frame, at an input rate a hand actually produces
  .gitignore
  packages/domain/src/configuration/sources/environment.ts
  scripts/measure-peek-drag-frames.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4269): Point the deploy-surface claim at the predicate, not a list that goes stale
  .claude/skills/implement-task/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .minsky/skills/implement-task/skill.ts
  .minsky/skills/plan-task/skill.ts
  docs/architecture/hooks/deploy-verification-merge-gate.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4251): Give the de-carded rows a boundary again, on hover only
  src/cockpit/web/components/ConversationElementRenderers.hover-affordance.test.tsx
  src/cockpit/web/components/ConversationElementRenderers.tsx
  src/cockpit/web/components/ConversationTurnView.tsx
Due: none

test(mt#4251): Cover the errored row, the one criterion I had only inspected
  src/cockpit/web/components/ConversationElementRenderers.hover-affordance.test.tsx
Due: none

fix(mt#3609): PR #3168 R1 — retire the docblocks this change made false
  packages/domain/src/notify/principal-channel.test.ts
  packages/domain/src/notify/principal-channel.ts
  src/adapters/shared/commands/principal.test.ts
  src/adapters/shared/commands/principal.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3264): Make the drift check see the permission this task was about
  packages/domain/src/setup/github-app/permission-drift.test.ts
  packages/domain/src/setup/github-app/permission-drift.ts
  src/adapters/shared/commands/config/validate-doctor-commands.test.ts
  src/adapters/shared/commands/setup-github-app.test.ts
  src/adapters/shared/commands/setup-github-app.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4299): Ask whether the task you say still needs work actually does
  .claude/hooks/claim-provenance-scan.ts
  .claude/hooks/evidence-provenance-table.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/claim-provenance-scan.test.ts
  .minsky/hooks/claim-provenance-scan.ts
  .minsky/hooks/evidence-provenance-table.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/claim-provenance-scan.md
  scripts/replay-claim-provenance.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4335): PR #3169 R1 — produce the SC1 artifact instead of deferring it
  tests/integration/sweeper-abandoned-tick.testcontainer.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3264): Keep git's reason for a rejected push, and stop declining a fallback silently
  packages/domain/src/git/push-operations.test.ts
  packages/domain/src/git/push-operations.ts
  packages/domain/src/session/session-commands.ts
  packages/domain/src/session/session-commit-push-403-fallback.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4296): PR #3170 R1 — measure the last move before the paint, not the first
  scripts/measure-peek-drag-frames.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4269): PR #3172 R1 -- make the prescribed command actually runnable
  .claude/skills/implement-task/SKILL.md
  .minsky/skills/implement-task/skill.ts
  docs/architecture/hooks/deploy-verification-merge-gate.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4251): Scope the uniformity scan to the controls, and attach the screenshots
  docs/evidence/mt-4251/README.md
  docs/evidence/mt-4251/hover-fold-toggle.png
  docs/evidence/mt-4251/hover-tool-row.png
  docs/evidence/mt-4251/rest.png
  src/cockpit/web/components/ConversationElementRenderers.hover-affordance.test.tsx
Due: bun node_modules/.bin/prettier --write

fix(mt#3264): Ship the permission check as a script, so nobody has to defer it again
  docs/ci-check-never-ran-playbook.md
  packages/domain/src/setup/github-app/permission-drift.ts
  scripts/verify-github-app-permissions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4299): PR #3173 R1 — stop inventing subjects no status read can clear
  .claude/hooks/claim-provenance-scan.ts
  .minsky/hooks/claim-provenance-scan.test.ts
  .minsky/hooks/claim-provenance-scan.ts
  docs/architecture/hooks/claim-provenance-scan.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3609): Retire a ternary that required-fetchFn made dead
  packages/domain/src/notify/principal-channel.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4299): PR #3173 R3 — stop the doc listing md#N as a subject it excludes
  docs/architecture/hooks/claim-provenance-scan.md
Due: bun node_modules/.bin/prettier --write
