Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix: resolve createCloneOperation circular dependency by adding proper imports
  src/domain/git/operations/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(322): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(#328): Implement hierarchical command structure approach
  src/adapters/cli/customizations/tasks-customizations.ts
  src/adapters/shared/commands/tasks/hierarchical-status-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#289): update task spec to reflect actual achievements
  process/tasks/289-implement-template-based-rules-generation-system.md
Due: bun node_modules/.bin/prettier --write

feat(#176): Major progress on session approve functionality - 9/10 tests passing
  process/tasks.md.backup.1753744135080
  process/tasks.md.backup.1753744135083
  src/domain/session-approve.test.ts
  src/domain/session/session-approve-operations.ts
  src/domain/session/session-approve-task-status-commit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#289): add comprehensive template system user guide
  docs/README.md
  docs/rules/template-system-guide.md
Due: bun node_modules/.bin/prettier --write

chore(#289): clean up debug and temporary files
  debug-shared-registry.ts
  debug-variable-naming.ts
  fix-const-assignments.ts
  fix-function-params.ts
  process/tasks/289-implement-template-based-rules-generation-system.md.backup
  src/adapters/shared/commands/index.ts.backup
  src/cli.ts.debug
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve duplicate setupGitOperationRegistry declaration
  CHANGELOG.md
  process/tasks.md.backup.1753733485154
  process/tasks.md.backup.1753735152057
  process/tasks.md.backup.1753746659907
  process/tasks.md.backup.1753746674821
  process/tasks/323-create-ai-provider-model-data-fetching-system.md
  src/adapters/shared/commands/ai.ts
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: create tasks #329 and #330 for extending type composition patterns
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(#328): Implement directory-structure-based command hierarchy
  process/tasks.md.backup.1753746703485
Due: none

feat(#328): Implement recursive command nesting for arbitrary depth
  CHANGELOG.md
  src/adapters/shared/bridges/cli/category-command-handler.ts
  src/adapters/shared/commands/ai.ts
  src/adapters/shared/commands/tasks-modular.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: create task #330 for rule categorization and redundancy analysis
  process/tasks.md
  process/tasks/330-categorize-and-audit-rule-templates-for-redundancy-analysis.md
Due: bun node_modules/.bin/prettier --write

fix: synchronize missing task files from task operations workspace
  process/tasks.md
  process/tasks/328-extend-type-composition-refactoring-to-other-mcp-command-domains.md
  process/tasks/329-create-domain-wide-schema-libraries-for-cross-interface-type-composition.md
  process/tasks/330-apply-type-composition-patterns-to-cli-adapters.md
Due: bun node_modules/.bin/prettier --write

fix(#328): Complete hierarchy implementation - resolve command collisions
  src/adapters/shared/commands/ai.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Resolve MCP task tools timeout by replacing shared command integration
  src/adapters/mcp/tasks.ts
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#289): add comprehensive updated PR description
  process/tasks/289/pr-updated.md
Due: bun node_modules/.bin/prettier --write

feat: remove special workspace complexity from in-tree backends
  process/tasks.md.backup.1753747229695
  process/tasks.md.backup.1753747347965
  process/tasks.md.backup.1753747388858
  process/tasks.md.backup.1753747433823
  process/tasks/328-extend-type-composition-refactoring-to-other-mcp-command-domains.md
  src/domain/tasks/backend-workspace-integration.test.ts
  src/domain/tasks/json-backend.test.ts
  src/domain/tasks/json-backend.ts
  src/domain/tasks/jsonFileTaskBackend.ts
  src/domain/tasks/markdown-backend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog to reflect complete special workspace removal
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#176): Session CLI Commands - Fix task ID format expectation
  tests/adapters/cli/session-update.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): Mock Function Fixes - Systematic Fix for Test Imports
  process/tasks.md.backup.1753759951844
  process/tasks.md.backup.1753759951846
  process/tasks.md.backup.1753759961992
  process/tasks.md.backup.1753759961995
  process/tasks.md.backup.1753759968485
  process/tasks.md.backup.1753759968488
  process/tasks.md.backup.1753759974916
  process/tasks.md.backup.1753759974918
  process/tasks.md.backup.1753805964661
  process/tasks.md.backup.1753805964664
  process/tasks.md.backup.1753805973031
  process/tasks.md.backup.1753805973034
  src/adapters/shared/commands/session-context-resolution.test.ts
  src/domain/git.test.ts
  src/domain/git/conflict-detection-working.test.ts
  src/domain/session-approve-workflow.test.ts
  src/domain/session-approve.test.ts
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-pr-refresh.test.ts
  src/domain/session-review.test.ts
  src/domain/session-start-consistency.test.ts
  src/domain/workspace.test.ts
  src/utils/test-utils/compatibility.test.ts
  src/utils/test-utils/enhanced-utils.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
