Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix: correct RuleTemplateService test expectations for mocked environment
  src/domain/rules/rule-template-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#347): update task status TODO → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: complete task spec and changelog with final test suite transformation
  CHANGELOG.md
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

fix: remove double hash in task status commit messages
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog for task status commit message fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#356): Store commit hash instead of boolean in prState and fix status logic
  src/domain/git/prepare-pr-operations.ts
  src/domain/session.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/session-update-operations.ts
  src/domain/session/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#356): Complete session PR bug fix - remove debug logs
  src/domain/git/prepare-pr-operations.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/pr-subcommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(##290): update task status TODO → CLOSED
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore: Adds task to fix template generation failures
  process/tasks.md
  process/tasks/364-fix-missing-session-pr-command-in-template-system-causing-5-template-generation-failures.md
Due: bun node_modules/.bin/prettier --write

fix(#364): Complete template system by updating session.pr to session.pr.create
  src/domain/rules/default-templates.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(364): update task status to DONE 4e34af
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(#176): update task specification for ultimate 100% test suite success
  CHANGELOG.md
  process/tasks/176-comprehensive-session-database-architecture-fix.md
  src/domain/rules/rule-template-service.test.ts
  tests/adapters/cli/session-remaining.test.ts
  tests/adapters/cli/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: finalize session database architecture fixes
  src/domain/rules/rule-template-service.test.ts
  tests/adapters/cli/session-remaining.test.ts
  tests/adapters/cli/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#365): improve template system formatting and error reporting
  .cursor/rules/mcp-usage.mdc
  .cursor/rules/minsky-workflow.mdc
  src/adapters/shared/bridges/cli/result-formatter.ts
  src/domain/rules/default-templates.ts
  src/domain/rules/rule-template-service.ts
  src/domain/rules/template-system.ts
  test-mcp-rules/index.mdc
  test-mcp-rules/mcp-usage.mdc
  test-mcp-rules/minsky-session-management.mdc
  test-mcp-rules/minsky-workflow-orchestrator.mdc
  test-mcp-rules/minsky-workflow.mdc
  test-mcp-rules/pr-preparation-workflow.mdc
  test-mcp-rules/task-implementation-workflow.mdc
  test-mcp-rules/task-status-protocol.mdc
  test-readable-cli/index.mdc
  test-readable-cli/mcp-usage.mdc
  test-readable-cli/minsky-session-management.mdc
  test-readable-cli/minsky-workflow-orchestrator.mdc
  test-readable-cli/minsky-workflow.mdc
  test-readable-cli/pr-preparation-workflow.mdc
  test-readable-cli/task-implementation-workflow.mdc
  test-readable-cli/task-status-protocol.mdc
  test-readable-mcp/index.mdc
  test-readable-mcp/mcp-usage.mdc
  test-readable-mcp/minsky-session-management.mdc
  test-readable-mcp/minsky-workflow-orchestrator.mdc
  test-readable-mcp/minsky-workflow.mdc
  test-readable-mcp/pr-preparation-workflow.mdc
  test-readable-mcp/task-implementation-workflow.mdc
  test-readable-mcp/task-status-protocol.mdc
  test-readable-mcp2/index.mdc
  test-readable-mcp2/mcp-usage.mdc
  test-readable-mcp2/minsky-session-management.mdc
  test-readable-mcp2/minsky-workflow-orchestrator.mdc
  test-readable-mcp2/minsky-workflow.mdc
  test-readable-mcp2/pr-preparation-workflow.mdc
  test-readable-mcp2/task-implementation-workflow.mdc
  test-readable-mcp2/task-status-protocol.mdc
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#160): update task status IN-PROGRESS → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore: Adds task for rule generation template fixes
  process/tasks.md
  process/tasks/365-fix-misleading-template-messages-and-missing-cli-error-details-in-rules-generation.md
Due: bun node_modules/.bin/prettier --write

docs(#356): Update task spec with session PR conflict handling improvements
  process/tasks/356-implement-multi-backend-task-system-architecture.md
Due: bun node_modules/.bin/prettier --write

feat(#356): Implement improved session PR conflict handling
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(#356): Add console.log to verify improved conflict detection executes
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#356): Add detection for formatted conflict error messages
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): update task spec to reflect successful merge conflict resolution
  process/tasks/176-comprehensive-session-database-architecture-fix.md
Due: bun node_modules/.bin/prettier --write

feat(#356): COMPLETE - Session PR conflict handling improvements
  process/tasks/356-implement-multi-backend-task-system-architecture.md
Due: bun node_modules/.bin/prettier --write

chore(356): update task status to DONE
  docs/README.md
  docs/migration-guide.md
  docs/multi-backend-quick-reference.md
  docs/multi-backend-user-guide.md
  process/tasks.md
  process/tasks/356-implement-multi-backend-task-system-architecture.md
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/adapters/shared/common-parameters.ts
  src/domain/git/multi-backend-integration.test.ts
  src/domain/git/prepare-pr.ts
  src/domain/session.ts
  src/domain/session/commands/migrate-command.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/migration-command.test.ts
  src/domain/session/migration-command.ts
  src/domain/session/multi-backend-integration.test.ts
  src/domain/session/multi-backend-integration.ts
  src/domain/session/session-start-operations.ts
  src/domain/session/session-update-operations.ts
  src/domain/session/types.ts
  src/domain/tasks/backend-qualified-id.test.ts
  src/domain/tasks/backend-qualified-id.ts
  src/domain/tasks/mock-backend-factory.ts
  src/domain/tasks/multi-backend-errors.ts
  src/domain/tasks/multi-backend-service.ts
  src/domain/tasks/multi-backend-system.test.ts
  src/domain/tasks/unified-task-id.test.ts
  src/domain/tasks/unified-task-id.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Revert "chore(356): update task status to DONE"
  docs/README.md
  docs/migration-guide.md
  docs/multi-backend-quick-reference.md
  docs/multi-backend-user-guide.md
  process/tasks.md
  process/tasks/356-implement-multi-backend-task-system-architecture.md
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/adapters/shared/common-parameters.ts
  src/domain/git/multi-backend-integration.test.ts
  src/domain/git/prepare-pr.ts
  src/domain/session.ts
  src/domain/session/commands/migrate-command.ts
  src/domain/session/commands/pr-command.ts
  src/domain/session/commands/pr-subcommands.ts
  src/domain/session/migration-command.test.ts
  src/domain/session/migration-command.ts
  src/domain/session/multi-backend-integration.test.ts
  src/domain/session/multi-backend-integration.ts
  src/domain/session/session-start-operations.ts
  src/domain/session/session-update-operations.ts
  src/domain/session/types.ts
  src/domain/tasks/backend-qualified-id.test.ts
  src/domain/tasks/backend-qualified-id.ts
  src/domain/tasks/mock-backend-factory.ts
  src/domain/tasks/multi-backend-errors.ts
  src/domain/tasks/multi-backend-service.ts
  src/domain/tasks/multi-backend-system.test.ts
  src/domain/tasks/unified-task-id.test.ts
  src/domain/tasks/unified-task-id.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#356): Add improved session PR conflict handling to restored multi-backend implementation
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#356): Correct import path for unified-task-id in base-task-command
  .minsky/config.yaml
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/domain/git/prepare-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#356): Update task list to show qualified backend IDs instead of legacy format
  src/domain/tasks/task-id-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#356): Store tasks with qualified backend IDs in markdown files
  src/domain/tasks/markdown-task-backend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#356): Generate qualified backend IDs in markdownTaskBackend.ts
  src/domain/tasks/markdownTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#356): Accept qualified backend IDs in task list parsing
  src/domain/tasks/taskFunctions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: cleanup
  generated-cli-rules/index.mdc
  generated-cli-rules/mcp-usage.mdc
  generated-cli-rules/minsky-session-management.mdc
  generated-cli-rules/minsky-workflow-orchestrator.mdc
  generated-cli-rules/minsky-workflow.mdc
  generated-cli-rules/pr-preparation-workflow.mdc
  generated-cli-rules/task-implementation-workflow.mdc
  generated-cli-rules/task-status-protocol.mdc
  generated-mcp-rules/index.mdc
  generated-mcp-rules/mcp-usage.mdc
  generated-mcp-rules/minsky-session-management.mdc
  generated-mcp-rules/minsky-workflow-orchestrator.mdc
  generated-mcp-rules/minsky-workflow.mdc
  generated-mcp-rules/pr-preparation-workflow.mdc
  generated-mcp-rules/task-implementation-workflow.mdc
  generated-mcp-rules/task-status-protocol.mdc
Due: none

fix(#356): Fix task parsing regex to support qualified backend IDs
  src/domain/tasks/taskConstants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: add task 366
  process/tasks.md
  process/tasks/366-fix-sqlite-schema-to-persist-pr-metadata-for-session-auto-updates.md
Due: bun node_modules/.bin/prettier --write

feat(#356): Create task to consolidate multiple task ID parsing implementations
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(#367): Add TaskId naming decision and test-driven implementation approach
  process/tasks/md#367-consolidate-multiple-task-id-parsing-implementations.md
  process/tasks/md#367-verify-qualified-id-parsing-fix.md
  src/domain/configuration/index.test.ts
  src/domain/session-pr-state-optimization.test.ts
  src/domain/tasks/backend-qualified-id.ts
  src/domain/tasks/multi-backend-errors.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#366): Add prState column to SQLite schema and fix variable naming
  src/domain/git/multi-backend-integration.test.ts
  src/domain/session/migration-command.test.ts
  src/domain/session/migration-command.ts
  src/domain/tasks/markdown-task-backend-integration.test.ts
  src/domain/tasks/task-id-integration.test.ts
  src/domain/tasks/taskConstants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve test failures from Task 176 merge
  src/domain/tasks/taskConstants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
