Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bun node_modules/.bin/prettier --write

feat(task#070): Consolidate normalizeTaskId and update auto-detection logic
  src/adapters/__tests__/integration/tasks.test.ts
  src/domain/tasks/__tests__/utils.test.ts
  src/domain/tasks/utils.ts
  src/schemas/common.ts
  src/utils/task-utils.test.ts
  src/utils/task-utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Fix gray-matter import in rules.ts and type error in session.ts
  src/domain/rules.ts
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Fix TSC errors in cli/tasks, domain/init, mcp/tasks
  src/adapters/cli/tasks.ts
  src/adapters/mcp/tasks.ts
  src/domain/init.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Fix push method and import extensions
  src/commands/session/delete.test.ts
  src/commands/session/update.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Remove .ts from import paths in test and domain files
  src/commands/session/dir.test.ts
  src/commands/session/list.test.ts
  src/domain/repository/index.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Fix potential undefined access in test argument parsing
  src/commands/session/delete.test.ts
  src/commands/session/dir.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Fix TSC errors in session/index, session.test, test-utils
  src/adapters/__tests__/integration/session.test.ts
  src/commands/session/index.ts
  src/utils/test-utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

feat(task#070): Incorporate conflict resolutions and ongoing work before re-merging main
  .cursor/rules/derived-cursor-rules.mdc
  .cursor/rules/session-first-workflow.mdc
  .cursor/rules/user-preferences.mdc
  .husky/pre-commit.disabled
  .husky/pre-push.disabled
  process/tasks.md
  process/tasks/019-implement-test-suite-improvements.md
  process/tasks/072-fix-test-failures-and-remaining-linter-errors.md
  process/tasks/073-fix-adapter-integration-test-failures.md
  src/adapters/__tests__/integration/session.test.ts
  src/commands/session/delete.ts
  src/commands/session/dir.ts
  src/commands/session/get.ts
  src/commands/session/startSession.test.ts
  src/commands/session/startSession.ts
  src/commands/tasks/get.test.ts
  src/commands/tasks/get.ts
  src/domain/session.ts
  src/domain/tasks/index.ts
  src/domain/tasks/utils.test.ts
  src/domain/tasks/utils.ts
  src/utils/task-utils.ts
  test-cli.ts
  test-current-session.ts
  test-debug-paths.ts
  test-debug-session.ts
  test-file.txt
  test-fix-results.md
  test-fixed-functions.ts
  test-hooks-with-error.ts
  test-hooks.ts
  test-migration.ts
  test-mock-session-autodetect.ts
  test-session-command-autodetect.ts
  test-session-detection.ts
  test-session-mock-helper.ts
  test-session-path-detection.ts
  test-workspace-detection.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Fix TSC errors in integration test files (tasks, session)
  src/adapters/__tests__/integration/tasks.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

#072: Continue fixing TSC errors in tests and commands
  src/commands/git/__tests__/pr.test.ts
  src/commands/git/pr.ts
  src/commands/session/start.test.ts
  src/commands/session/start.ts
  src/utils/repository-utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Implements auto-dependency installation for sessions
  process/tasks.md
  process/tasks/074-implement-auto-dependency-installation-for-session-workspaces.md
Due: bun node_modules/.bin/prettier --write

Fix: Improve normalizeTaskId to handle multiple leading # characters. The function now strips all leading # characters before adding a single # prefix to ensure consistent formatting.
  src/domain/tasks/__tests__/utils.test.ts
  src/domain/tasks/utils.test.ts
  src/domain/tasks/utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Fix: Improve normalizeTaskId to handle multiple leading # characters and only accept numeric task IDs. Updated tests to match the new behavior.
  src/domain/tasks/__tests__/utils.test.ts
  src/domain/tasks/utils.test.ts
  src/domain/tasks/utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update CHANGELOG.md with task ID normalization fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

#071: Add missing session-related functions
  src/domain/git.ts
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Adds task to fix session delete cleanup
  process/tasks.md
  process/tasks/075-fix-minsky-session-delete-command-cleanup.md
Due: bun node_modules/.bin/prettier --write

Refines AI linter autofix guideline
  .cursor/rules/ai-linter-autofix-guideline.mdc
  .cursor/rules/rule-creation-guidelines.mdc
  .cursor/rules/rules-management.mdc
  .lintstagedrc.json
  CHANGELOG.md
  README.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(testing): Establish testing boundaries, address test issues for Task 071
  .cursor-rules/testing-boundaries.mdc
  .cursor/rules/cli-testing.mdc
  .cursor/rules/testing-boundaries.mdc
  bun.lock
  package.json
  src/adapters/__tests__/integration/session.test.ts
  src/commands/git/commit.test.ts
  src/commands/session/startSession.test.ts
  src/commands/tasks/get.test.ts
  src/commands/tasks/status.test.ts
  src/domain/__tests__/session.test.ts
  src/domain/tasks/index.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Updates task status and adds deferred issues
  process/tasks.md
  process/tasks/072-fix-test-failures-and-remaining-linter-errors.md
Due: bun node_modules/.bin/prettier --write

WIP: Task 075 - Handoff point. Updated task spec. Code has known linter errors and test failures.
  process/tasks/075-fix-minsky-session-delete-command-cleanup.md
  src/adapters/__tests__/integration/session.test.ts
  src/commands/session/startSession.test.ts
  src/domain/__tests__/session.test.ts
  src/domain/session.ts
  temp_user_preference.md
Due: eslint --fix, bun node_modules/.bin/prettier --write

Fix minsky session delete command to use correct repo path and properly handle DB record deletion failures
  src/commands/session/delete.test.ts
  src/commands/session/delete.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

task#071: Comment out error handling tests in session integration tests
  src/adapters/__tests__/integration/session.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update CHANGELOG with minsky session delete command fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Add PR description for task #075
  process/tasks/075/pr.md
Due: bun node_modules/.bin/prettier --write

Refines testing guidelines and boundaries
  .cursor-rules/minsky-workflow.mdc
  .cursor/rules/cli-testing.mdc
  .cursor/rules/designing-tests.mdc
  .cursor/rules/framework-specific-tests.mdc
  .cursor/rules/test-infrastructure-patterns.mdc
  .cursor/rules/testable-design.mdc
  .cursor/rules/testing-boundaries.mdc
  .cursor/rules/tests.mdc
Due: none

Fixes session module import path
  CHANGELOG.md
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

task#071: Complete task by updating testing-boundaries rule and final documentation
  .cursor-rules/testing-boundaries.mdc
  .cursor/rules/cli-testing.mdc
  .cursor/rules/designing-tests.mdc
  .cursor/rules/framework-specific-tests.mdc
  .cursor/rules/test-infrastructure-patterns.mdc
  .cursor/rules/testable-design.mdc
  .cursor/rules/testing-boundaries.mdc
  .cursor/rules/tests.mdc
Due: none

task#071: Update CHANGELOG.md with test improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Improves task status command with interactive prompt
  src/adapters/__tests__/integration/tasks.test.ts
  src/adapters/cli/tasks.ts
  src/cli.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

task#055: Document and fix rule sync bug in Minsky CLI
  .cursor/rules/README.md
  CHANGELOG.md
  process/tasks/055/pr.md
  src/commands/rules/get.ts
  src/commands/rules/index.ts
  src/commands/rules/sync.ts
  src/domain/rules.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Adds task for interface-agnostic migration
  process/tasks.md
  process/tasks/076-complete-interface-agnostic-architecture-migration.md
Due: bun node_modules/.bin/prettier --write

Adds structured logging system task
  process/tasks.md
  process/tasks/077-implement-structured-logging-system.md
Due: bun node_modules/.bin/prettier --write

Add automatic commit and push preference for task management operations
  .cursor-rules/user-preferences.mdc
Due: none

Move user-preferences rule to correct directory (.cursor/rules)
  .cursor-rules/user-preferences.mdc
  .cursor/rules/user-preferences.mdc
Due: none

fix: restore interactive status prompt in task status set command
  src/commands/tasks/status.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Fix minsky rules get --format generic inconsistency
  src/commands/rules/get.ts
  src/domain/rules-format.test.ts
  src/domain/rules.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update task #066 and CHANGELOG.md with completed work
  CHANGELOG.md
  process/tasks/066-investigate-and-fix-minsky-rules-get-format-generic-inconsistency.md
Due: bun node_modules/.bin/prettier --write

Add PR description for task 066
  process/tasks/066/pr.md
Due: bun node_modules/.bin/prettier --write

Add centralized test mock utilities for consistent mocking patterns
  src/utils/test-utils/index.ts
  src/utils/test-utils/mocking.test.ts
  src/utils/test-utils/mocking.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

test: fix session tests and skip failing tests for now
  src/commands/git/commit.test.ts
  src/commands/git/commit.test.ts.save
  src/domain/__tests__/session.test.ts
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
