Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

task #149: Update task status after successful PR creation
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(#151): prevent task create content truncation - preserve original file content when adding task ID, replace problematic formatTaskSpec with direct regex replacement
  bun.lock
Due: none

fix(#151): prevent task create content truncation - preserve original file content when adding task ID, replace problematic formatTaskSpec with direct regex replacement
  process/tasks.md
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#150): Add --body-path option and required title/body to session PR command
  bun.lock
  src/adapters/shared/commands/session.ts
  src/domain/__tests__/session-pr-body-path.test.ts
  src/domain/session.ts
  src/schemas/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#151): implement proper session pr workflow validation
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#151): configure session pr command to use --title as named parameter
  src/adapters/cli/cli-command-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Enhances rule guidance and process adherence
  .cursor/rules/self-improvement.mdc
  .cursor/rules/user-preferences.mdc
Due: none

docs: update task 136 spec with major progress achieved - Document 26.5% reduction in ESLint issues - Update current issue breakdown and priorities - Reflect systematic automated cleanup success
  process/tasks/136-fix-eslint-warnings-errors.md
Due: bun node_modules/.bin/prettier --write

docs: Add PR body file for testing bodyPath functionality
  pr-body.md
Due: bun node_modules/.bin/prettier --write

fix(#151): enable force push for PR branches in preparePr method
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(tasks): create task #152 for refactoring task spec title format
  process/tasks.md
  process/tasks/152-refactor-task-spec-document-title-format.md
  process/tasks/new/152-fix-task-status-selector-default.md
Due: bun node_modules/.bin/prettier --write

feat(task-spec): implement clean title format support
  src/domain/tasks.ts
  src/domain/tasks/taskFunctions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(migration): add comprehensive task title migration script
  process/tasks.md
  process/tasks/153-test-clean-title-format.md
  src/scripts/task-title-migration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore: update task #152 status to IN-REVIEW
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore: update task #152 status to IN-REVIEW on PR branch
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Fixes common undefined parameter name patterns
  codemods/fix-common-undef.ts
  process/tasks.md
  process/tasks/153-fix-task-status-selector-default.md
  src/adapters/shared/commands/tasks.ts
  src/domain/git.ts
  src/domain/tasks/taskFunctions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#141): comprehensive repository configuration system design - analyzed deployment scenarios and created detailed technical specification
  bun.lock
Due: none

feat(#141): finalize config system design and add documentation
  docs/repository-configuration.md
  process/tasks/141-repo-config-system.md
Due: bun node_modules/.bin/prettier --write

chore: remove status section from task spec template
  process/tasks/141-repo-config-system.md
Due: bun node_modules/.bin/prettier --write
