Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(md#410): remove stray '&&' artifacts in jsonFileTaskBackend and env source; correct ternary and conditional expressions
  docs/configuration-guide.md
  src/domain/configuration/schemas/index.ts
  src/domain/configuration/schemas/workspace.ts
  src/domain/configuration/sources/environment.ts
  src/domain/tasks/jsonFileTaskBackend.ts
  src/domain/tasks/markdown-backend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tasks.search): remove default similarityThreshold=0 to avoid filtering all ANN rows\n\n- Let service default to permissive when threshold not provided\n
  src/adapters/shared/commands/tasks/similarity-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(md#410): remove leftover visual '&&' artifacts in comments and strings; all logic operators already corrected
  src/domain/tasks/jsonFileTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(task): create md#429 Migrate Markdown Task Specs to Database
  process/tasks.md
  process/tasks/md#429-migrate-markdown-task-specs-to-database.md
Due: bun node_modules/.bin/prettier --write

chore(task): create md#429 Migrate Markdown Task Specs to Database
  src/domain/configuration/schemas/workspace.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(changelog): record md#410 - workspace.mainPath config and backends wiring
  process/tasks.md
  process/tasks/md#430-fs-di-refactor-explicit-injection-across-modules-and-test-suite.md
Due: bun node_modules/.bin/prettier --write

docs(changelog): add md#410 entry for workspace.mainPath config and backends wiring
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(md#410): update task status IN-PROGRESS → IN-REVIEW
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(tasks.search --details): send diagnostics to stderr; prefer qualified ids in ANN dedupe ordering\n
  src/adapters/shared/commands/tasks/similarity-commands.ts
  src/domain/storage/vector/postgres-vector-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style(pr): reformat session PR command to satisfy Prettier
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/domain/session/commands/pr-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(pr): move pr/ branch commit hash handling to backends; keep command backend-agnostic
  src/domain/session/commands/pr-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(task): create md#431 Implement programmatic pending Drizzle migrations detection
  process/tasks.md
  process/tasks/md#431-implement-programmatic-pending-drizzle-migrations-detection.md
Due: bun node_modules/.bin/prettier --write

feat(md#431): add task to implement programmatic pending migrations detection (lib+CI script)
  process/tasks.md
  process/tasks/md#431-implement-programmatic-pending-drizzle-migrations-detection.md
  src/domain/storage/migrations/pg/0001_true_nocturne.sql
  src/domain/storage/migrations/pg/meta/0001_snapshot.json
  src/domain/storage/migrations/pg/meta/_journal.json
  src/domain/storage/schemas/task-embeddings.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(md#431): add detailed task to implement programmatic pending migrations detection; expand design and acceptance criteria
  process/tasks/md#431-implement-programmatic-pending-drizzle-migrations-detection.md
Due: bun node_modules/.bin/prettier --write

chore(db): add empty baseline migration 0000_charming_smasher for drizzle-kit compatibility
  src/domain/storage/migrations/pg/0000_charming_smasher.sql
Due: none

docs(task md#410): update task spec (workspace.mainPath + backend delegation)
  src/domain/storage/migrations/pg/0001_true_nocturne.sql
  src/domain/storage/migrations/pg/0002_cloudy_magdalene.sql
  src/domain/storage/migrations/pg/meta/0002_snapshot.json
  src/domain/storage/migrations/pg/meta/_journal.json
  src/domain/storage/schemas/task-embeddings.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(tasks): update md#429 to extend existing for markdown→DB import (dry-run first, idempotent upsert on id, backend/source_task_id mapping)
  process/tasks/md#429-migrate-markdown-task-specs-to-database.md
  src/domain/storage/migrations/pg/0004_cultured_the_call.sql
  src/domain/storage/migrations/pg/meta/0004_snapshot.json
  src/domain/storage/migrations/pg/meta/_journal.json
  src/domain/storage/schemas/task-embeddings.ts
  src/domain/storage/vector/postgres-vector-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(md#429): split embeddings into separate task_embeddings table; importer writes vectors there; keep tasks for metadata only; HNSW index
  process/tasks/md#429-migrate-markdown-task-specs-to-database.md
Due: bun node_modules/.bin/prettier --write

feat(config): add config.get command to read specific key values; wire into CLI and update changelog (md#404)
  CHANGELOG.md
  src/adapters/cli/cli-command-factory.ts
  src/adapters/shared/commands/config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#429): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(md#414): update task spec with current status and session update resolution; changelog entry
  CHANGELOG.md
  process/tasks/md#414-fix-post-merge-test-regressions-after-md-397-merge.md
Due: bun node_modules/.bin/prettier --write

docs(md#429): update task spec — importer by default, no legacy ID normalization, embeddings in tasks_embeddings, vector storage decoupled
  CHANGELOG.md
  src/domain/session/session-review-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tasks): correct misnumbered plan reference for automated migrations from md#1 to md#426 in process/tasks.md; fix prettier/eslint issues in postgres-vector-storage; update changelog
  CHANGELOG.md
  process/tasks.md
  src/domain/storage/schemas/task-embeddings.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/domain/storage/vector/vector-storage-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(md#429): add tasks_embeddings schema; generic Postgres vector storage; route embeddings via tasks_embeddings
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#418): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(tasks): deduplicate duplicate entries in process/tasks.md (md#428, md#421, md#399) and update changelog
  CHANGELOG.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(tasks): fix md#426 plan link; remove conflicting md#420 automated migrations entry; update changelog
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#418): Add dry-run support to session.edit_file MCP tool
  CHANGELOG.md
  docs/session-edit-file-dry-run-examples.md
  process/tasks.md
  process/tasks/md#414-fix-post-merge-test-regressions-after-md-397-merge.md
  src/adapters/mcp/schemas/common-parameters.ts
  src/adapters/mcp/session-edit-tools.ts
  src/domain/storage/migrations/pg/meta/0004_snapshot.json
  src/domain/storage/migrations/pg/meta/_journal.json
  src/utils/diff.ts
  tests/adapters/mcp/session-edit-tools.test.ts
  tests/utils/diff.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tasks): dedupe md#427 and related entries; ensure status consistency in tasks list and status get
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(conflicts): resolve CHANGELOG.md and process/tasks.md merge conflicts for task-md#410
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#418): update task status IN-PROGRESS → IN-REVIEW
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

refactor(tasks): renumber plan/spec IDs (md#417→432, md#418→433, md#419→434, md#398 fix→435); remove conflicting md#420 file; update task list links; fix prettier lint
  CHANGELOG.md
  process/tasks.md
  process/tasks/md#420-automated-migrations-strategy-boot-time-orchestrated-and-remote-runs.md
  process/tasks/md#432-plan-automated-embedding-sync-and-update-process.md
  process/tasks/md#433-postgres-to-postgres-migration-support.md
  process/tasks/md#434-explore-sqlite-to-pglite-migration.md
  process/tasks/md#435-fix-session-start-to-auto-detect-github-remote-when-default-repo-backend-is-github.md
  src/adapters/shared/commands/session/pr-subcommand-commands.ts
  src/domain/session/session-db-io.ts
  src/domain/session/start-session-operations.ts
  src/utils/logger.ts
  src/utils/test-utils/filesystem/mock-filesystem.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#410): update task status IN-REVIEW → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(md#414): main workspace fixes — logger auto-detect, session-db I/O shim, expose PR refresh helper; test FS mock aliases
  process/tasks.md
  src/utils/test-utils/filesystem/mock-filesystem.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(md#418): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#418): update task status IN-PROGRESS → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

chore(md#419): update task status TODO → IN-PROGRESS
  CHANGELOG.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(md#429): map backend prefixes to DB enum values in importer (md→markdown, gh→github-issues, json→json-file)
  process/tasks.md
Due: bun node_modules/.bin/prettier --write
