Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

test(mt#2688): add verify-deeplink-coldstart.sh — cold-boot deeplink verification artifact
  cockpit-tray/scripts/verify-deeplink-coldstart.sh
Due: none

fix(mt#2688): dead-window detection via DOM probe — url() reports the requested URL for failed loads
  cockpit-tray/README.md
  cockpit-tray/scripts/verify-deeplink-coldstart.sh
  cockpit-tray/src-tauri/src/deeplink.rs
  cockpit-tray/src-tauri/src/menu.rs
Due: bun node_modules/.bin/prettier --write

fix(mt#2689): R1 review - restore key-workflows.mdc trailing newline
  .minsky/rules/key-workflows.mdc
Due: none

docs(mt#2688): add verify-deeplink-coldstart.sh to the cockpit-tray-dev skill's verification block
  .claude/skills/cockpit-tray-dev/SKILL.md
  .minsky/skills/cockpit-tray-dev/content.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2694): flip ask-routing-deferral detector to live injection
  .claude/hooks/ask-routing-deferral-detector.ts
  .minsky/hooks/ask-routing-deferral-detector.test.ts
  .minsky/hooks/ask-routing-deferral-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2675): remove LSUIElement — it pins the app out of Cmd+Tab despite runtime Regular policy
  cockpit-tray/src-tauri/Info.plist
Due: none

docs(mt#2694): R1 — fix stale "currently false" gate comment in run() JSDoc
  .claude/hooks/ask-routing-deferral-detector.ts
  .minsky/hooks/ask-routing-deferral-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2688): address PR #1843 review — recovery singleflight + origin-based probe + WebKit conn attribution
  cockpit-tray/scripts/verify-deeplink-coldstart.sh
  cockpit-tray/src-tauri/src/deeplink.rs
Due: none

docs(mt#2675): R1 review — fix stale LSUIElement references in menu.rs/main.rs comments
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/src/menu.rs
Due: none

chore(mt#2667): pattern-based gitignore for hook-calibration state files
  .gitignore
Due: none

fix(mt#2677): partial: bound the unbounded GitHub App token-fetch (root cause)
  packages/domain/src/auth/github-app-token-provider.ts
  packages/domain/src/auth/token-provider.test.ts
  packages/domain/src/utils/deadline.test.ts
  packages/domain/src/utils/deadline.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2678): forge_ci_run_view_log decode ZIP entries via central directory
  docs/testing-patterns.md
  packages/domain/src/repository/__fixtures__/gh-actions-run-log.zip
  packages/domain/src/repository/github-workflow-runs.test.ts
  packages/domain/src/repository/github-workflow-runs.ts
  scripts/verify-forge-ci-log-decode.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2677): bound every per-poll I/O call to the wait's own deadline
  packages/domain/src/session/commands/pr-checks-subcommand.ts
  packages/domain/src/session/commands/pr-drive-subcommand.test.ts
  packages/domain/src/session/commands/pr-wait-for-review-subcommand.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2665): harden CI Test step against bun test's silent-truncation exit-0 bug
  .github/workflows/ci.yml
Due: none

feat(mt#2696): partial: shared uuid-prefix-resolution helper + tests
  packages/domain/src/utils/id-prefix-resolver.test.ts
  packages/domain/src/utils/id-prefix-resolver.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2669): resolve ask deeplinks via per-id fetch, not pending-list find
  src/cockpit/routes/asks.ts
  src/cockpit/web/pages/AskPage.test.tsx
  src/cockpit/web/pages/AskPage.tsx
  src/cockpit/web/widgets/AskDetail.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2665): extend testing-patterns.md with minimal 4-file repro + refined trigger condition
  docs/testing-patterns.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2696): partial: wire prefix resolution into memory.get/similar/lineage
  src/adapters/shared/commands/memory/index.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2665): scratch demo — deliberately broken test to exercise hardened CI Test step
  tests/unit/mt2665-scratch-demo.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2678): honor GPBF bit 11 for ZIP filename encoding
  packages/domain/src/repository/github-workflow-runs.test.ts
  packages/domain/src/repository/github-workflow-runs.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2695): tasks_dispatch existing-task mode applies type default and resumes stranded dispatches
  src/adapters/shared/commands/tasks/dispatch-command.test.ts
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2677): MCP progress notifications during long poll waits
  packages/domain/src/session/commands/pr-checks-subcommand.ts
  packages/domain/src/session/commands/pr-wait-for-review-subcommand.test.ts
  packages/domain/src/session/commands/pr-wait-for-review-subcommand.ts
  src/adapters/mcp/shared-command-integration.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/session/pr-checks-command.ts
  src/adapters/shared/commands/session/pr-drive-command.ts
  src/adapters/shared/commands/session/pr-wait-for-review-command.ts
  src/mcp/command-mapper.ts
  src/mcp/server.test.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2696): partial: wire prefix resolution into asks.respond/edit/wait-for-response
  src/adapters/shared/commands/asks.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2669): R1 review - align terminal classification with domain isTerminal
  src/cockpit/web/pages/AskPage.test.tsx
  src/cockpit/web/pages/AskPage.tsx
Due: none

docs(mt#2696): amend handoff skill with uuid-keyed record citation rule
  .claude/skills/handoff/SKILL.md
  .minsky/skills/handoff/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2697): partial: stamp project_id for all session.start callers + align actively-in-use predicate
  packages/domain/src/session/fake-session-provider.ts
  packages/domain/src/session/start-session-operations.ts
  src/adapters/shared/commands/session/basic-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2665): revert scratch demo; document live CI-hardening confirmation
  docs/testing-patterns.md
  tests/unit/mt2665-scratch-demo.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2678): hand-roll latin1 decode; reviewer tsc rejects the label
  packages/domain/src/repository/github-workflow-runs.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2700): resolve repo root from shell cwd so the mid-merge carve-out fires from subdirectory cwds
  .claude/hooks/check-branch-fresh.ts
  .minsky/hooks/check-branch-fresh.test.ts
  .minsky/hooks/check-branch-fresh.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2696): verify real-schema SQL rendering never casts to uuid
  packages/domain/src/utils/id-prefix-resolver.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2666): gate ask policy router to authorization semantics + audit event
  packages/domain/src/ask/policy.test.ts
  packages/domain/src/ask/policy.ts
  packages/domain/src/ask/router.test.ts
  packages/domain/src/ask/router.ts
  packages/domain/src/storage/migrations/pg/0052_lonely_master_chief.sql
  packages/domain/src/storage/migrations/pg/meta/0052_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/system-events-schema.ts
  src/adapters/shared/commands/asks.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2679): config doctor --fix provisions mcp.auth.token + GitHub-auth retrigger fallback
  docs/configuration-guide.md
  src/adapters/shared/commands/config/doctor-fixes.test.ts
  src/adapters/shared/commands/config/doctor-fixes.ts
  src/adapters/shared/commands/config/validate-doctor-commands.test.ts
  src/adapters/shared/commands/config/validate-doctor-commands.ts
  src/adapters/shared/commands/reviewer-retrigger.test.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2695): mode-aware error when session start fails
  src/adapters/shared/commands/tasks/dispatch-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2669): teach ask-page-settle strict mock the per-id endpoint; sync test header
  src/cockpit/web/pages/AskPage.test.tsx
  src/cockpit/web/widgets/ask-page-settle.test.tsx
Due: none

test(mt#2697): regression tests for actively-in-use and session.list predicate consistency
  packages/domain/src/session/session-start-operations.test.ts
  src/adapters/shared/commands/session/basic-commands.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2697): add end-to-end dispatch-create -> session.list acceptance test
  packages/domain/src/session/session-start-operations.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2683): dup-child matcher tuning + tasks_dispatch new-task-mode coverage
  .claude/hooks/parallel-work-guard.ts
  .cursor/rules/hook-files.mdc
  .minsky/hooks/parallel-work-guard-dedup.test.ts
  .minsky/hooks/parallel-work-guard.ts
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/parallel-work-guard.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

perf(mt#2699): cockpit cold boot 6.46s -> 0.55s — bind before DB init
  src/cli-discriminators.ts
  src/cli.ts
  src/cockpit/routes/events-broker-init.test.ts
  src/cockpit/routes/events.ts
  src/commands/cockpit/start-command.ts
  src/mt2699-cockpit-defer-di.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2665): avoid the truncation trigger, not just detect it
  .github/workflows/ci.yml
  bunfig.toml
  docs/testing-patterns.md
  package.json
  scripts/run-tests-main.ts
  scripts/run-tests-mcp-isolated.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2699): address PR #1860 review — guard test seams, logged bounded-backoff warmup
  src/cockpit/routes/events-broker-init.test.ts
  src/cockpit/routes/events.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
