Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3085): address R1 review — clarify env-var rule scope, cite paths: evidence
  .claude/rules/eslint-custom-rules.md
  .cursor/rules/code-style.mdc
  .cursor/rules/eslint-custom-rules.mdc
  .minsky/rules/code-style.mdc
  .minsky/rules/eslint-custom-rules.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3078): review R1 — persist liveSinceDate evidence citation + bit-rot test; tighten bullet AT parsing
  .claude/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.test.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
  tests/scripts/run-tests-gated.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3068): Compress decision-defaults.mdc to index form (audit-recommended path)
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/decision-defaults.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#3087): trim Phase 4 rules to core+pointer form, recompile
  .cursor/rules/cockpit-deeplinks.mdc
  .cursor/rules/communication-contract.mdc
  .cursor/rules/humility.mdc
  .cursor/rules/operational-safety-dry-run-first.mdc
  .cursor/rules/subagent-routing.mdc
  .cursor/rules/terminology-workspace-conversation.mdc
  .cursor/rules/work-completion.mdc
  .minsky/rules/cockpit-deeplinks.mdc
  .minsky/rules/communication-contract.mdc
  .minsky/rules/humility.mdc
  .minsky/rules/operational-safety-dry-run-first.mdc
  .minsky/rules/subagent-routing.mdc
  .minsky/rules/terminology-workspace-conversation.mdc
  .minsky/rules/work-completion.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/cockpit-deeplinks.md
  docs/rules-rationale/communication-contract.md
  docs/rules-rationale/humility.md
  docs/rules-rationale/operational-safety-dry-run-first.md
  docs/rules-rationale/subagent-routing.md
  docs/rules-rationale/terminology-workspace-conversation.md
  docs/rules-rationale/work-completion.md
Due: bun node_modules/.bin/prettier --write

docs(mt#3068): R1 review — restore Turnkey in-band trigger phrases in rationale doc
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/decision-defaults.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#3087): R1 fixes - concrete env-var reference, further trim, revise targets
  .cursor/rules/cockpit-deeplinks.mdc
  .cursor/rules/communication-contract.mdc
  .cursor/rules/humility.mdc
  .cursor/rules/subagent-routing.mdc
  .cursor/rules/terminology-workspace-conversation.mdc
  .cursor/rules/work-completion.mdc
  .minsky/rules/cockpit-deeplinks.mdc
  .minsky/rules/communication-contract.mdc
  .minsky/rules/humility.mdc
  .minsky/rules/subagent-routing.mdc
  .minsky/rules/terminology-workspace-conversation.mdc
  .minsky/rules/work-completion.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/subagent-routing.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3082): narrow the 15 pre-existing type errors in 3 scripts/ files
  scripts/analyze-test-timing.ts
  scripts/run-tests-main-sharded.ts
  scripts/run-tests-sharded-prototype.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3084): partial: fire-log wiring for 4 of ~10 merge-gate hooks
  .claude/hooks/block-nested-fork-dispatch.ts
  .claude/hooks/block-subagent-bypass-merge.ts
  .claude/hooks/block-subagent-merge-without-grant.ts
  .claude/hooks/dispatch-intent-write-gate.ts
  .claude/hooks/known-override-env-vars.ts
  .claude/hooks/merge-gate-fire-log.ts
  .minsky/hooks/block-nested-fork-dispatch.ts
  .minsky/hooks/block-subagent-bypass-merge.ts
  .minsky/hooks/block-subagent-merge-without-grant.ts
  .minsky/hooks/dispatch-intent-write-gate.ts
  .minsky/hooks/known-override-env-vars.ts
  .minsky/hooks/merge-gate-fire-log.test.ts
  .minsky/hooks/merge-gate-fire-log.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3086): consult presence-claim activity in dispatch-recover staleness check
  packages/domain/src/session/dispatch-recovery-classifier.test.ts
  packages/domain/src/session/dispatch-recovery-classifier.ts
  src/adapters/shared/commands/tasks/dispatch-recover-command.test.ts
  src/adapters/shared/commands/tasks/dispatch-recover-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3070): render per-node/per-row model in the cockpit subagent tree
  packages/domain/src/ai/dispatch-models.test.ts
  packages/domain/src/ai/dispatch-models.ts
  src/cockpit/web/widgets/Agents.model.test.tsx
  src/cockpit/web/widgets/Agents.peek.test.tsx
  src/cockpit/web/widgets/Agents.routing.test.ts
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/widgets/agents.ts
  src/cockpit/widgets/run-merge.test.ts
  src/cockpit/widgets/run-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3082): record the scripts/ typecheck-coverage decision (option b)
  tsconfig.json
Due: bun node_modules/.bin/prettier --write

feat(mt#3084): partial: fire-log wiring for 3 more merge-gate hooks (7 of ~10)
  .claude/hooks/block-out-of-band-merge.ts
  .claude/hooks/merge-gate-fire-log.ts
  .claude/hooks/require-checks-on-bypass-merge.ts
  .claude/hooks/require-growth-justification-before-merge.ts
  .minsky/hooks/block-out-of-band-merge.ts
  .minsky/hooks/merge-gate-fire-log.test.ts
  .minsky/hooks/merge-gate-fire-log.ts
  .minsky/hooks/require-checks-on-bypass-merge.ts
  .minsky/hooks/require-growth-justification-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3082): fail loudly on the shards[i] invariant break (review R1)
  scripts/analyze-test-timing.ts
  scripts/run-tests-main-sharded.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3084): partial: fire-log wiring for 2 more merge-gate hooks (9 of ~10)
  .claude/hooks/require-deploy-verification-before-merge.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-deploy-verification-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3086): R1 review — log presence-resolution failures explicitly, document activitySource
  docs/architecture/presence-claims.md
  src/adapters/shared/commands/tasks/dispatch-recover-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3084): partial: fire-log wiring for require-review-before-merge.ts (10 of 10)
  .claude/hooks/require-review-before-merge.ts
  .minsky/hooks/require-review-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3084): record Phase-3 merge-gate fire-log instrumentation as shipped
  docs/architecture/evaluation-loop-fire-log.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3084): reviewer R1 — pin recordAndExit's never contract, stop echoing override env values
  .claude/hooks/block-nested-fork-dispatch.ts
  .claude/hooks/block-out-of-band-merge.ts
  .claude/hooks/block-subagent-bypass-merge.ts
  .claude/hooks/block-subagent-merge-without-grant.ts
  .claude/hooks/dispatch-intent-write-gate.ts
  .claude/hooks/require-checks-on-bypass-merge.ts
  .claude/hooks/require-deploy-verification-before-merge.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
  .claude/hooks/require-growth-justification-before-merge.ts
  .claude/hooks/require-review-before-merge.ts
  .minsky/hooks/block-nested-fork-dispatch.ts
  .minsky/hooks/block-out-of-band-merge.ts
  .minsky/hooks/block-subagent-bypass-merge.ts
  .minsky/hooks/block-subagent-merge-without-grant.ts
  .minsky/hooks/dispatch-intent-write-gate.ts
  .minsky/hooks/require-checks-on-bypass-merge.test.ts
  .minsky/hooks/require-checks-on-bypass-merge.ts
  .minsky/hooks/require-deploy-verification-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-growth-justification-before-merge.ts
  .minsky/hooks/require-review-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3084): partial: fire-log wiring for require-review-before-merge.ts (10 of 10)
  .claude/hooks/require-execution-evidence-before-merge.ts
  .claude/hooks/require-review-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-review-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3089): partial: root-cause fixes for model + agent_session_id write gaps
  .claude/hooks/record-subagent-invocation.ts
  .minsky/hooks/record-subagent-invocation.ts
  packages/domain/src/subagent/workspace-classifier.test.ts
  packages/domain/src/subagent/workspace-classifier.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3084): correct the live-verification claim in evaluation-loop-fire-log.md
  docs/architecture/evaluation-loop-fire-log.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3084): reviewer R2 — resolve false-positive undefined-spread finding with explicit fallback
  .claude/hooks/merge-gate-fire-log.ts
  .minsky/hooks/merge-gate-fire-log.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3089): partial: cover recordFailureBestEffort + add model backfill script
  .claude/hooks/record-subagent-invocation.ts
  .minsky/hooks/record-subagent-invocation.test.ts
  .minsky/hooks/record-subagent-invocation.ts
  scripts/backfill-agent-transcripts-model.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3089): address R1 review — extractor observability + backfill operational safety
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
  scripts/backfill-agent-transcripts-model.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: narrow benchmark/measure stats helpers for noUncheckedIndexedAccess
  scripts/benchmark-cold-boot.ts
  scripts/benchmark-mcp-memory-enrichment.ts
  scripts/measure-cold-start.ts
  scripts/measure-mcp-start-cold-start.ts
  scripts/measure-source-only.ts
  tsconfig.combined-probe.json
  tsconfig.scripts-bunonly-probe.json
  tsconfig.scripts-probe.json
  tsconfig.types-only-probe.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: narrow variable-naming and coverage-receipt scripts
  scripts/check-coverage-receipts.ts
  scripts/check-variable-naming.ts
  scripts/fix-variable-naming.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: fix persistence/drizzle type errors in backfill scripts
  scripts/asks-backlog-triage.ts
  scripts/backfill-agent-transcript-attachments.ts
  scripts/backfill-agent-transcript-turns.ts
  scripts/backfill-agent-transcripts-model.ts
  scripts/backfill-ask-short-ids.ts
  scripts/backfill-close-stale-asks.ts
  scripts/backfill-memory-short-ids.ts
  scripts/backfill-session-short-ids.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: fix config-setup imports and type-utility misuse
  scripts/principal-corpus/acceptance-tests.ts
  scripts/principal-corpus/run-ingestion.ts
  scripts/principal-corpus/run-synthesis.ts
  scripts/principal-corpus/test-classify.ts
  scripts/principal-corpus/write-memeplexes.ts
  scripts/test-provenance-e2e.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: narrow misc scripts, restore dead deploy-minsky-mcp import
  scripts/dedupe-transcript-lines.ts
  scripts/deploy-minsky-mcp.ts
  scripts/drizzle-config-loader.ts
  scripts/generate-bootstrap-snapshot.ts
  scripts/monitor-reviewer-health.ts
  scripts/verify-compile-parity.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: use child_process.spawnSync for Bun.spawnSync stdin gap
  packages/domain/src/credentials/providers/telegram.ts
  scripts/reviewer-alerts/discover-chat-id.ts
  scripts/reviewer-alerts/verify-send.ts
  scripts/set-branch-protection.ts
  scripts/smoke-skill-staleness-hook.ts
  scripts/smoke-transcript-ingest-hook.ts
  scripts/verify-conversation-renderer.ts
  src/mcp/daemon-state.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: fix container import, CommandMapper mock, ChildProcess stdio typing
  scripts/live-verify-presence-write.ts
  scripts/smoke-mcp-discovery.ts
  scripts/smoke-staleness-drain.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3088): partial: zero remaining scripts/ typecheck errors
  scripts/live-verify-presence-write.ts
  scripts/repair-stranded-pr-open-sessions.ts
  scripts/run-tests-main-sharded.test.ts
  scripts/run-tests-main.test.ts
  scripts/run-tests-sharded-prototype.test.ts
  scripts/smoke-memory-domain-routing.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3088): add tsconfig.scripts.json + typecheck:scripts CI step
  .github/workflows/ci.yml
  package.json
  tsconfig.combined-probe.json
  tsconfig.json
  tsconfig.scripts-bunonly-probe.json
  tsconfig.scripts.json
  tsconfig.types-only-probe.json
Due: bun node_modules/.bin/prettier --write

build(mt#3023): align Dockerfile Profile B bundle build with --minify --sourcemap=external
  Dockerfile
Due: none

fix(mt#3023): close the root-Dockerfile deploy-surface gap + document the in-image source-map policy
  Dockerfile
  docs/architecture/bundling.md
  docs/architecture/hosted-vs-local-mcp-capabilities.md
  docs/deploy-minsky-railway.md
  packages/domain/src/deployment/deploy-surface.test.ts
  packages/domain/src/deployment/deploy-surface.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3055): check-premise Tier-3 cue (d) — runtime-behavior root cause reads the runtime record
  .claude/skills/check-premise/SKILL.md
  .minsky/skills/check-premise/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2541): rewrite target-ignore guard test to use ESLint.isPathIgnored
  tests/eslint-config-target-ignore.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

perf(mt#3090): measure module-eval attribution — premise refuted, no large eval lever
  scripts/measure-eval-attribution.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
