Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#1772): address PR #1070 R1 BLOCKING — remove forward skill reference
  .claude/agents/cockpit-dev.md
  .minsky/agents/cockpit-dev/agent.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1772): address PR #1070 R2 NON-BLOCKING — CLAUDE.md doc drift
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1779): dual-register MCP tools under Claude Desktop alias to unblock tool calls
  src/mcp/command-mapper.ts
  src/mcp/server.test.ts
  src/mcp/server.ts
  src/mcp/tool-name.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(decision-defaults): add Build vs buy default for non-core capabilities
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1782): services/reviewer typecheck — cast comments to Octokit param shape
  services/reviewer/src/github-client.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1779): address PR #1071 R1 - symmetric collision check + feature-detect Claude clients
  src/mcp/command-mapper.ts
  src/mcp/server.test.ts
  src/mcp/server.ts
  src/mcp/tool-name.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1783): tune memory-search hook constants for context economics
  .claude/hooks/memory-search.test.ts
  .claude/hooks/memory-search.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(decision-defaults): add §Multi-step direction execution + extend §Build vs buy for action-execution-time
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1785): MINSKY_MCP_TOOL_NAMES default = underscore (was auto / feature-detect)
  src/mcp/server.test.ts
  src/mcp/tool-name.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1785): address PR #1074 R1 BLOCKING - unknown env values fall back to safe default
  src/mcp/server.test.ts
  src/mcp/tool-name.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1785): PR #1074 R2 NON-BLOCKING - use log.cliWarn for HUMAN-mode visibility
  src/mcp/tool-name.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(principal-context): land R3 retrospective corpus rule + bridge memory + structural task
  .cursor/rules/principal-context.mdc
  .minsky/rules/principal-context.mdc
Due: none

perf(mt#1719): Intervention 2 — top-level import audit (10% cold-start reduction)
  scripts/mcp-start-cold-start-results.json
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1791): add observability config schema with braintrust provider
  src/domain/configuration/schemas/index.ts
  src/domain/configuration/schemas/observability.test.ts
  src/domain/configuration/schemas/observability.ts
  src/domain/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1742): PR #1058 R1 — quote workdir + ref interpolations
  src/domain/git/git-commit-shell-safety.test.ts
  src/domain/git/git-core-operations.ts
  src/domain/git/git-with-deps.ts
  src/domain/session/session-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1777): vendor 4 visual-design skills for cockpit-dev agent
  .claude/agents/auditor.md
  .claude/agents/cockpit-dev.md
  .claude/agents/reviewer.md
  .claude/skills/composition-patterns/SKILL.md
  .claude/skills/composition-patterns/_VENDORED.md
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/frontend-design/_VENDORED.md
  .claude/skills/impeccable/SKILL.md
  .claude/skills/impeccable/_VENDORED.md
  .claude/skills/information-architecture/SKILL.md
  .claude/skills/information-architecture/_VENDORED.md
  .claude/skills/interface-design/SKILL.md
  .claude/skills/interface-design/_VENDORED.md
  .claude/skills/plan-design-review/SKILL.md
  .claude/skills/plan-design-review/_VENDORED.md
  .claude/skills/playwright-skill/SKILL.md
  .claude/skills/playwright-skill/_VENDORED.md
  .claude/skills/react-best-practices/SKILL.md
  .claude/skills/react-best-practices/_VENDORED.md
  .claude/skills/shadcn-ui/SKILL.md
  .claude/skills/shadcn-ui/_VENDORED.md
  .claude/skills/tailwind-v4-shadcn/SKILL.md
  .claude/skills/tailwind-v4-shadcn/_VENDORED.md
  .claude/skills/tanstack-query/SKILL.md
  .claude/skills/tanstack-query/_VENDORED.md
  .claude/skills/web-design-guidelines/SKILL.md
  .claude/skills/web-design-guidelines/_VENDORED.md
  .minsky/agents/cockpit-dev/agent.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1786): MCP-only argDefaults; tasks.list defaults to limit=50
  src/adapters/mcp/shared-command-integration.test.ts
  src/adapters/mcp/shared-command-integration.ts
  src/adapters/mcp/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1777): address PR #1077 R1 BLOCKING — recompile drift + allowed-tools propagation
  .claude/agents/auditor.md
  .claude/agents/reviewer.md
  .claude/skills/impeccable/SKILL.md
  .claude/skills/impeccable/_VENDORED.md
  .claude/skills/plan-design-review/SKILL.md
  .claude/skills/plan-design-review/_VENDORED.md
  .claude/skills/shadcn-ui/SKILL.md
  .claude/skills/shadcn-ui/_VENDORED.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1795): wire Braintrust SDK with observability smoke-test command
  bun.lock
  package.json
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/observability.test.ts
  src/adapters/shared/commands/observability.ts
  src/schemas/command-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1786): PR #1078 R1 — registration-time validation of argDefaults
  src/adapters/mcp/shared-command-integration.test.ts
  src/adapters/mcp/shared-command-integration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1786): PR #1078 R2 — function-form argDefaults; lift limit when all:true
  src/adapters/mcp/shared-command-integration.test.ts
  src/adapters/mcp/shared-command-integration.ts
  src/adapters/mcp/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1786): scripts/mt1786-smoke.ts — end-to-end argDefaults probe
  scripts/mt1786-smoke.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1774): author cockpit-design skill — Minsky-domain patterns
  .claude/agents/cockpit-dev.md
  .claude/skills/cockpit-design/SKILL.md
  .minsky/agents/cockpit-dev/agent.ts
  .minsky/skills/cockpit-design/content.md
  .minsky/skills/cockpit-design/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1774): address PR #1080 R1 BLOCKING — palette tokens, URL encoding, preload verification
  .claude/agents/cockpit-dev.md
  .claude/skills/cockpit-design/SKILL.md
  .minsky/agents/cockpit-dev/prompt.md
  .minsky/skills/cockpit-design/content.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1773): partial: deps + utils + components.json + button + card primitives
  bun.lock
  package.json
  src/cockpit/web/components.json
  src/cockpit/web/components/ui/button.tsx
  src/cockpit/web/components/ui/card.tsx
  src/cockpit/web/lib/utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1773): shadcn/ui theme config, CSS vars, primitives, QueryClient, dark mode
  src/cockpit/web/components/ui/command.tsx
  src/cockpit/web/components/ui/dialog.tsx
  src/cockpit/web/components/ui/tabs.tsx
  src/cockpit/web/index.css
  src/cockpit/web/index.html
  src/cockpit/web/main.tsx
  tailwind.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1773): address PR #1081 R1 BLOCKING — ESM import + dialog button type
  src/cockpit/web/components/ui/dialog.tsx
  tailwind.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1796): decision-defaults §Agent todos vs. Minsky tasks (Shape B policy)
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1796): PR #1082 R1 — qualify tool names to mcp__minsky__* convention
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1787): bundle-boot smoke CI gate — verify deployed-bundle boots
  .claude/hooks/require-review-before-merge.test.ts
  .claude/hooks/require-review-before-merge.ts
  .cursor/rules/build-and-test.mdc
  .cursor/rules/hook-files.mdc
  .github/workflows/bundle-boot-smoke.yml
  .minsky/rules/build-and-test.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  src/domain/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1796): PR #1082 R2 — class-not-instance: qualify remaining tasks_create in worked example
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1794): config set takes positional args; config get renders the value
  scripts/mt1794-profile-config-set.ts
  src/adapters/cli/customizations/config-customizations.test.ts
  src/adapters/cli/customizations/config-customizations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1794): PR #1084 R1 reviewer findings
  scripts/mt1794-profile-config-set.ts
  src/adapters/cli/customizations/config-customizations.test.ts
  src/adapters/cli/customizations/config-customizations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1800): documentation taxonomy rule + draft-rfc and draft-adr skills
  .claude/skills/draft-adr/SKILL.md
  .claude/skills/draft-rfc/SKILL.md
  .cursor/rules/documentation-taxonomy.mdc
  .minsky/rules/documentation-taxonomy.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1800): address PR #1085 R1 reviewer-bot — 3 BLOCKING
  .claude/skills/draft-adr/SKILL.md
  .claude/skills/draft-rfc/SKILL.md
  .cursor/rules/documentation-taxonomy.mdc
  .minsky/rules/documentation-taxonomy.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1787): PR #1083 R1 — latest-wins recency, hardened teardown, defensive name match
  .claude/hooks/require-review-before-merge.test.ts
  .claude/hooks/require-review-before-merge.ts
  .github/workflows/bundle-boot-smoke.yml
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1798): PR #1086 R1 — shared banner-constants module; CRLF + edge-case YAML
  .claude/hooks/check-generated-file-edit.ts
  src/domain/compile/targets/cursor-rules-ts.test.ts
  src/domain/compile/targets/cursor-rules-ts.ts
  src/domain/rules/compile/banner-constants.ts
  src/domain/rules/compile/targets/cursor-rules.test.ts
  src/domain/rules/compile/targets/cursor-rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1775): rebuild Agents widget on TanStack Query + shadcn primitives
  src/cockpit/web/App.tsx
  src/cockpit/web/index.css
  src/cockpit/web/widgets/Agents.tsx
  tailwind.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1799): lazy sessionProvider DI for MCP session-file tools
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/session-files.ts
  src/adapters/mcp/session-workspace.ts
  src/domain/session/session-path-resolver.test.ts
  src/domain/session/session-path-resolver.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
