Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#1255): replace console.* with winston logger in reviewer service
  services/reviewer/bun.lock
  services/reviewer/package.json
  services/reviewer/src/config.ts
  services/reviewer/src/logger.test.ts
  services/reviewer/src/logger.ts
  services/reviewer/src/mcp-client.ts
  services/reviewer/src/server.test.ts
  services/reviewer/src/server.ts
  services/reviewer/src/tier-routing.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1614): R1 reviewer findings on PR #1010
  services/reviewer/src/at-merge-handler.test.ts
  services/reviewer/src/server.ts
  src/domain/session/session-db.ts
  src/domain/session/session-merge-operations.ts
  src/domain/session/session-post-merge-sync.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1667): align OAuth discovery metadata with mounted Express routes
  src/commands/mcp/start-command.ts
  src/domain/oauth/providers/in-process.ts
  src/domain/oauth/registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1255): address PR #1014 R1 reviewer findings — env var name + PEM redaction + try/finally
  services/reviewer/src/logger.test.ts
  services/reviewer/src/logger.ts
  services/reviewer/src/server.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1687): detect Claude Code via CLAUDECODE + CLAUDE_CODE_* env vars
  src/domain/runtime/harness-detection.test.ts
  src/domain/runtime/harness-detection.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1687): cover CLAUDE_CODE_SUBAGENT_MODEL + CLAUDE_CODE_EXECPATH
  src/domain/runtime/harness-detection.test.ts
  src/domain/runtime/harness-detection.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1614): R2 reviewer findings + CI build failure on PR #1010
  services/reviewer/src/at-merge-handler.test.ts
  services/reviewer/src/merge-state-sweeper.test.ts
  services/reviewer/src/merge-state-sweeper.ts
  services/reviewer/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1681): address PR #1013 R1 — CI typecheck failure + reviewer NON-BLOCKING
  package.json
  services/reviewer/src/review-worker.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1681): address PR #1013 R2/R4 BLOCKING #1 — declare @minsky/shared in root deps
  .gitignore
  bun.lock
  package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#1681): migrate merge-state-sweeper.ts (newly merged from mt#1614)
  services/reviewer/src/merge-state-sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1693): disable Claude Code auto-memory in minsky project
  .claude/settings.json
Due: bun node_modules/.bin/prettier --write

feat(mt#1144): partial cockpit types + config + widget-registry + placeholder server modules
  src/cockpit/config.ts
  src/cockpit/types.ts
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/attention-stub.ts
  src/cockpit/widgets/basic-health.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1144): partial cockpit Express server + 7 integration tests passing
  src/cockpit/cockpit.test.ts
  src/cockpit/server.ts
  src/cockpit/widget-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1144): add cockpit CLI command + wire into cli.ts
  src/cli.ts
  src/commands/cockpit/index.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1144): add Vite/Tailwind/PostCSS config + frontend deps to package.json
  bun.lock
  package.json
  postcss.config.js
  tailwind.config.ts
  vite.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1144): add frontend scaffold + widgets + App + exclude web from tsgo
  src/cockpit/web/App.tsx
  src/cockpit/web/components/Card.tsx
  src/cockpit/web/components/ErrorBoundary.tsx
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/index.css
  src/cockpit/web/index.html
  src/cockpit/web/lib/cn.ts
  src/cockpit/web/lib/widget-client.ts
  src/cockpit/web/main.tsx
  src/cockpit/web/widgets/AttentionStub.tsx
  src/cockpit/web/widgets/BasicHealth.tsx
  tsconfig.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1144): update bun.lock with cockpit frontend packages
  bun.lock
  package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#1144): address PR #1017 R1 BLOCKING findings + duplicate package.json key
  package.json
  src/cockpit/cockpit.test.ts
  src/cockpit/config.ts
  src/cockpit/server.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1144): unblock CI — fix services/reviewer typecheck regression from mt#1255
  services/reviewer/src/logger.ts
  services/reviewer/src/server.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1694): remove duplicate @minsky/shared entry in bun.lock
  bun.lock
Due: none

fix(mt#1696): correct mt#1693 mechanism — autoMemoryEnabled top-level field, not env block
  .claude/settings.json
Due: bun node_modules/.bin/prettier --write

feat(mt#1695): add block-out-of-band-merge hook
  .claude/hooks/block-out-of-band-merge.test.ts
  .claude/hooks/block-out-of-band-merge.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1701): update DEPLOY.md for post-mt#1681 build-context shape
  services/reviewer/DEPLOY.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1695): address PR #1020 R1 — collapse to 1 gh call, narrow phrases, fix comment
  .claude/hooks/block-out-of-band-merge.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1701): address PR #1021 R1 — first-deploy section + GraphQL selection set
  services/reviewer/DEPLOY.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1702): tab-watcher daemon for live claude-session inventory
  scripts/smoke-tab-watcher.sh
  scripts/tab-watcher/com.local.claude-tab-watcher.plist
  scripts/tab-watcher/install.sh
  scripts/tab-watcher/resume-from-snapshot.sh
  scripts/tab-watcher/tab-watcher.sh
Due: none

fix(mt#1702): use absolute paths for lsof/python3 in daemon
  scripts/tab-watcher/com.local.claude-tab-watcher.plist
  scripts/tab-watcher/tab-watcher.sh
Due: none

fix(mt#1702): address PR #1022 R1 review findings
  scripts/tab-watcher/resume-from-snapshot.sh
  scripts/tab-watcher/tab-watcher.sh
Due: none

fix(mt#1702): smoke precheck targets the absolute paths the watcher uses
  scripts/smoke-tab-watcher.sh
Due: none

fix(mt#1702): use /usr/bin/python3 in resume-from-snapshot.sh
  scripts/tab-watcher/resume-from-snapshot.sh
Due: none

fix(mt#1703): disable CIBA in InProcessOAuthProvider
  src/domain/oauth/providers/in-process-unit.test.ts
  src/domain/oauth/providers/in-process.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1703): address PR #1023 R1 — correct test docstring
  src/domain/oauth/providers/in-process-unit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1372): partial: webhook-event persistence schema + migration + persistence module + server instrumentation
  services/reviewer/migrations/pg/0001_webhook_events.sql
  services/reviewer/migrations/pg/meta/_journal.json
  services/reviewer/src/db/client.ts
  services/reviewer/src/db/schemas/webhook-events-schema.ts
  services/reviewer/src/server.ts
  services/reviewer/src/webhook-events.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1372): add webhook-event persistence unit tests, smoke script, and post-mortem docs
  docs/incidents/reviewer-webhook-investigation.md
  services/reviewer/scripts/smoke-webhook-events.ts
  services/reviewer/src/webhook-events.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1511): document Chinese-wall isolation boundary in code (mt#1073 audit-traceability)
  .claude/agents/reviewer.md
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1372): address PR #1024 R1 — UPSERT preservation, raw-SQL smoke, every-POST persist
  services/reviewer/scripts/smoke-webhook-events.ts
  services/reviewer/src/server.ts
  services/reviewer/src/webhook-events.test.ts
  services/reviewer/src/webhook-events.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1511): address PR #1025 R1 — soften Bash claim, mark out-of-repo assertions informational
  .claude/agents/reviewer.md
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1705): add processRole classification to exclude helper sessions from escalation
  src/mcp/disconnect-tracker.test.ts
  src/mcp/disconnect-tracker.ts
  src/mcp/server.ts
  tests/fixtures/mcp-disconnect-logs/helper-session-burst.jsonl
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1372): address PR #1024 R2 — synthesize unique delivery_id when header missing
  services/reviewer/src/server.test.ts
  services/reviewer/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
