Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2610): delete unwired eslint-rules (per-rule decision documented)
  eslint-rules/no-toctou-file-operations.js
  eslint-rules/no-unsafe-git-network-operations.js
  eslint-rules/no-unsafe-git-network-operations.test.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2619): extend calibration-sweep registry to cover all 6 detector logs
  src/adapters/shared/commands/calibration.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2610): delete dead one-off import-fixer scripts
  scripts/cleanup-tasks-embeddings-uuid-orphans.ts
  scripts/fix-broken-imports.ts
  scripts/fix-remaining-imports.ts
  scripts/fix-tests-imports.ts
  scripts/legacy-link-backfill.ts
  scripts/reclassify-umbrella-tasks.ts
  scripts/rewrite-imports.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2610): delete dead PoC/spike/repro one-off scripts
  scripts/mt1786-smoke.ts
  scripts/mt1794-profile-config-set.ts
  scripts/poc-agent-loop.ts
  scripts/repro-mt2183.ts
  scripts/spike-mcp-signals.ts
  scripts/spike-runner.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2610): index all scripts/ as live operator tools vs one-offs
  scripts/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2609): R1 review — add /~/ ignore + trailing newline
  .gitignore
Due: none

feat(mt#2619): standing calibration-review cadence hook
  .claude/hooks/calibration-review-cadence-detector.test.ts
  .claude/hooks/calibration-review-cadence-detector.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2610): R1 review — note why the tasks import points at tasks-modular
  src/adapters/shared/commands/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2608): wire packages/domain, hooks, and cockpit tests into CI
  .github/workflows/ci.yml
  package.json
  packages/domain/src/ask/transports/elicitation-containment.test.ts
  packages/domain/src/errors/message-templates.test.ts
  packages/domain/src/git.test.ts
  packages/domain/src/presence/repository.test.ts
  packages/domain/src/storage/schemas/subagent-invocations-schema.test.ts
  packages/domain/src/tasks/taskConstants.test.ts
  src/hooks/pre-commit.ts
  src/types/project.test.ts
  tests/architecture/di-enforcement.test.ts
  tests/domain/commands/workspace.commands.test.ts
  tests/integration/ai-completion-service-error-handling.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2619): R1 — cross-reference ask + spec amendment in hook header
  .claude/hooks/calibration-review-cadence-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2608): R1 — align pre-commit test paths with canonical script
  .github/workflows/ci.yml
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2610): R1 response — stamp audit date on scripts index
  scripts/README.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2622): auto-regenerate completion manifest in pre-commit
  scripts/build-completion-manifest.ts
  src/generated/completion-manifest.json
  src/hooks/completion-manifest-regen.test.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2612): extract canonical session-edit apply-model into domain, delegate both entry points
  packages/domain/src/session/session-file-edit-operation.ts
  src/adapters/cli/customizations/session-customizations.ts
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/shared/commands/session/file-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2614): partial: dedupe createRepositoryBackendFromSession, rename session-approval-operations.ts
  docs/architecture.md
  packages/domain/src/session-approve-branch-cleanup.test.ts
  packages/domain/src/session-approve-workflow.test.ts
  packages/domain/src/session-approve.test.ts
  packages/domain/src/session/repository-backend-detection.ts
  packages/domain/src/session/session-approval-error-handling.test.ts
  packages/domain/src/session/session-approve-bugfix-regression.test.ts
  packages/domain/src/session/session-commands.ts
  packages/domain/src/session/session-mutability.test.ts
  packages/domain/src/session/session-pr-approval-operations.ts
  packages/domain/src/session/session-pr-operations.ts
  packages/domain/src/session/session-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2622): R1 — argv-based git calls, document new pre-commit step
  CONTRIBUTING.md
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2615): extract respondAndCloseAsk, route cockpit resolve through it
  packages/domain/src/ask/repository.test.ts
  packages/domain/src/ask/repository.ts
  src/adapters/shared/commands/asks.ts
  src/cockpit/cockpit.test.ts
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2614): partial: split session-approve-operations.ts by concern
  packages/domain/src/session/session-approve-legacy-operations.test.ts
  packages/domain/src/session/session-approve-legacy-operations.ts
  packages/domain/src/session/session-approve-task-status-commit.test.ts
  packages/domain/src/session/session-branch-cleanup.ts
  packages/domain/src/session/session-merge-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2612): domain unit tests + CLI/MCP golden equivalence tests
  docs/cli/session-edit-file.md
  packages/domain/src/session/session-file-edit-operation.test.ts
  tests/adapters/shared/commands/session/session-edit-file-equivalence.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2612): add fullReplace schema coverage to session-edit-file param test
  tests/adapters/shared/commands/session/session-edit-file.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2622): R2 — prettier-format regenerated manifest before staging
  src/generated/completion-manifest.json
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2612): R1 review — fix session_edit_file underscore/dot inconsistency
  docs/cli/session-edit-file.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#2614): partial: split session-merge-operations.ts by concern
  packages/domain/src/session/session-merge-conflict-detection.ts
  packages/domain/src/session/session-merge-operations.ts
  packages/domain/src/session/session-merge-status-sync.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2615): partial: add cockpit route modules, db-providers, sweeper factory
  eslint.config.js
  src/cockpit/db-providers.ts
  src/cockpit/routes/activity.ts
  src/cockpit/routes/agents.ts
  src/cockpit/routes/asks.ts
  src/cockpit/routes/changesets.ts
  src/cockpit/routes/context-inspector.ts
  src/cockpit/routes/credentials.ts
  src/cockpit/routes/embeddings.ts
  src/cockpit/routes/events.ts
  src/cockpit/routes/health.ts
  src/cockpit/routes/tasks.ts
  src/cockpit/sweepers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2614): R1 review — re-export checkGitHubMergeApprovalBlockers
  packages/domain/src/session/repository-backend-detection.ts
  packages/domain/src/session/session-merge-operations.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2622): R1 — fix pre-commit step list drift; latency deferred
  CONTRIBUTING.md
  src/generated/completion-manifest.json
Due: bun node_modules/.bin/prettier --write

refactor(mt#2615): rewire server.ts onto route modules; add regression tests
  docs/architecture/cockpit.md
  eslint.config.js
  src/cockpit/db-providers.test.ts
  src/cockpit/db-providers.ts
  src/cockpit/prod-state-cache.ts
  src/cockpit/server.ts
  src/cockpit/sweepers.test.ts
  src/cockpit/topology-cache.ts
  src/cockpit/transcript-sweep-backstop.test.ts
  src/cockpit/transcript-watcher.ts
  src/cockpit/web/lib/sse-invalidation.ts
  src/cockpit/widgets/attention.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2611): delete session_changeset_/session_cs_ MCP alias family
  docs/architecture/hosted-vs-local-mcp-capabilities.md
  docs/changeset-command-reference.md
  packages/domain/src/configuration/guard.test.ts
  packages/domain/src/configuration/guard.ts
  src/adapters/mcp/changeset.ts
  src/adapters/mcp/shared-command-integration.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/changeset-aliases.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2616): add shared LoadingState/ErrorState primitives
  src/cockpit/web/components/ErrorState.tsx
  src/cockpit/web/components/LoadingState.tsx
  src/cockpit/web/components/QueryState.test.tsx
Due: none

refactor(mt#2613): partial: unify GitHubChangesetAdapter Octokit construction
  packages/domain/src/changeset/adapters/github-adapter.equivalence.test.ts
  packages/domain/src/changeset/adapters/github-adapter.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2615): R1 review — fix two missed consumers of moved sweeper/SSE exports
  scripts/smoke-transcript-sweep.ts
  services/cockpit/src/server.ts
  src/cockpit/cockpit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2616): adopt LoadingState/ErrorState in cockpit widgets
  src/cockpit/web/widgets/ContextInspector.tsx
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/Credentials.tsx
  src/cockpit/web/widgets/SessionDetail.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
Due: none

fix(mt#2611): R1 review — spec exception note + alias-free regression test
  src/adapters/shared/commands/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2616): adopt LoadingState/ErrorState in cockpit pages
  src/cockpit/web/pages/ActivityPage.tsx
  src/cockpit/web/pages/AskPage.tsx
  src/cockpit/web/pages/AsksPage.tsx
  src/cockpit/web/pages/ChangesetDetailPage.tsx
  src/cockpit/web/pages/ChangesetsPage.tsx
  src/cockpit/web/pages/EmbeddingsPage.tsx
Due: none

docs(mt#2616): correct stale mt#1773 gating; document widget vocabulary
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2615): R2 review — guard non-object provider in getServerSseBroker
  src/cockpit/routes/events.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2616): R1 — destructive tokens, harden ErrorState, doc claim
  src/cockpit/CLAUDE.md
  src/cockpit/web/components/ErrorState.tsx
  src/cockpit/web/pages/EmbeddingsPage.tsx
Due: bun node_modules/.bin/prettier --write

refactor(mt#2613): partial: drop speculative GitLab/Bitbucket adapters
  packages/domain/src/changeset/adapters/bitbucket-adapter.ts
  packages/domain/src/changeset/adapters/gitlab-adapter.ts
  packages/domain/src/changeset/changeset-service.ts
  packages/domain/src/changeset/index.ts
  tests/unit/domain/changeset/changeset-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2623): partial: correct stale Postgres+SQLite narrative
  docs/README.md
  docs/deploy-minsky-railway.md
  docs/github-issues-backend-guide.md
  docs/repository-configuration.md
  docs/sessiondb-migration-guide.md
  docs/sessiondb-troubleshooting.md
  docs/supabase-pooler-switch.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
