Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2866): command-adapter coverage + architecture doc note
  docs/architecture/hooks/calibration-review-cadence-detector.md
  src/adapters/shared/commands/calibration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2800): CI-check-never-ran playbook + root-cause investigation
  .claude/skills/merge-coordination/SKILL.md
  .minsky/skills/merge-coordination/skill.ts
  docs/ci-check-never-ran-playbook.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2874): partial: trim hook-files.mdc to 14,934 bytes, add Growth-Justification entry
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

test(mt#2890): pin mergeability-poll trichotomy, merge-error classification, and blocker computation
  packages/domain/src/repository/github-error-handler.test.ts
  packages/domain/src/repository/github-pr-approval.test.ts
  packages/domain/src/repository/github-pr-operations-mergeability-poll.test.ts
  src/adapters/shared/commands/session/workflow-commands-merge-error-classification.test.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2893): suppress git stderr instead of POSIX probe (PR #2002 R1)
  packages/domain/src/project/identity.test.ts
  packages/domain/src/project/slug.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2889): partial: calibration-log fire-log adapter + canary field scaffold
  .claude/hooks/registry.ts
  .minsky/hooks/registry.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2819): bulk-edit domain core — change set, dry-run token, drift check
  packages/domain/src/events/query.ts
  packages/domain/src/storage/migrations/pg/0058_bulk-edit-event-types.sql
  packages/domain/src/storage/migrations/pg/meta/0058_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/system-events-schema.ts
  packages/domain/src/tasks/bulk-edit.test.ts
  packages/domain/src/tasks/bulk-edit.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2800): fix playbook code-span formatting (PR #2003 R1)
  .claude/skills/merge-coordination/SKILL.md
  .minsky/skills/merge-coordination/skill.ts
  docs/ci-check-never-ran-playbook.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2866): adapter test exercises the real read path (PR #2004 R1)
  src/adapters/shared/commands/calibration.test.ts
  src/adapters/shared/commands/calibration.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2874): partial: growth-justification merge gate
  .claude/hooks/pr-context.ts
  .claude/hooks/require-growth-justification-before-merge.ts
  .claude/settings.json
  .minsky/hooks/pr-context.test.ts
  .minsky/hooks/pr-context.ts
  .minsky/hooks/require-growth-justification-before-merge.test.ts
  .minsky/hooks/require-growth-justification-before-merge.ts
  docs/architecture/hooks/growth-justification-merge-gate.md
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2819): tasks.bulk-edit command — token-gated execute with drift abort
  src/adapters/shared/commands/tasks/bulk-edit-command.test.ts
  src/adapters/shared/commands/tasks/bulk-edit-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2874): partial: per-rule 15K ceiling for rules compile --check
  packages/domain/src/rules/compile/compile-service.ts
  packages/domain/src/rules/compile/size-budget.test.ts
  packages/domain/src/rules/compile/size-budget.ts
  packages/domain/src/rules/compile/targets/claude-md.ts
  packages/domain/src/rules/compile/types.ts
  packages/domain/src/rules/operations/crud-operations.ts
  packages/domain/src/rules/operations/types.ts
  src/adapters/shared/commands/rules/compile-migrate-commands.ts
  src/hooks/pre-commit.ts
  src/hooks/rules-compile-check.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2883): shared entity-label resolver — derived tab + requestor labels
  packages/domain/src/transcripts/text-snippet.test.ts
  packages/domain/src/transcripts/text-snippet.ts
  src/cockpit/web/components/CommandPalette.tsx
  src/cockpit/web/components/TabBar.tsx
  src/cockpit/web/lib/entity-labels.test.ts
  src/cockpit/web/lib/entity-labels.ts
  src/cockpit/web/pages/AsksPage.tsx
  src/cockpit/web/widgets/AskDetail.tsx
  src/cockpit/web/widgets/command-palette.test.tsx
  src/cockpit/web/widgets/tab-bar-kinds.test.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2819): refs.status cross-reference + sanctioned-path rule update
  .cursor/rules/operational-safety-dry-run-first.mdc
  .minsky/rules/operational-safety-dry-run-first.mdc
  AGENTS.md
  CLAUDE.md
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/refs.test.ts
  src/adapters/shared/commands/refs.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2890): document structured MCP error codes + merge error classification (reviewer R1)
  docs/mcp-migration-guide.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2889): partial: canary declarations for all 18 registry guards + canary runner
  .claude/hooks/calibration-review-cadence-detector.ts
  .claude/hooks/canary-runner.ts
  .claude/hooks/registry.ts
  .minsky/hooks/calibration-review-cadence-detector.ts
  .minsky/hooks/canary-runner.ts
  .minsky/hooks/registry.ts
  scripts/lib/standalone-guard-canaries.ts
  scripts/run-guard-canaries.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2874): partial: rule-admission ladder in create-rule skill + key-architecture.mdc
  .claude/skills/create-rule/SKILL.md
  .cursor/rules/key-architecture.mdc
  .minsky/rules/key-architecture.mdc
  .minsky/skills/create-rule/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2800): comprehensive markdown repair pass (PR #2003 R2)
  docs/ci-check-never-ran-playbook.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2819): REFS command category + category-test coverage for new event types
  packages/domain/src/events/category.test.ts
  packages/domain/src/schemas/command-registry.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/refs.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2889): partial: instrument 5 remaining standalone guards with fire-log + canaries
  .claude/hooks/check-branch-fresh.ts
  .claude/hooks/check-generated-file-edit.ts
  .claude/hooks/check-task-spec-read.ts
  .claude/hooks/tasks-status-set-guard.ts
  .claude/hooks/validate-task-spec.ts
  .minsky/hooks/check-branch-fresh.ts
  .minsky/hooks/check-generated-file-edit.ts
  .minsky/hooks/check-task-spec-read.ts
  .minsky/hooks/tasks-status-set-guard.ts
  .minsky/hooks/validate-task-spec.ts
  scripts/lib/standalone-guard-canaries.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2874): add thresholdChars override seam to checkGrowthJustification
  .claude/hooks/require-growth-justification-before-merge.ts
  .minsky/hooks/require-growth-justification-before-merge.test.ts
  .minsky/hooks/require-growth-justification-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2883): R1 — tab tooltip keeps the raw-id contract alongside the derived label
  src/cockpit/web/components/TabBar.tsx
Due: none

test(mt#2889): partial: canary-runner unit tests incl. sabotage-detection acceptance test
  .minsky/hooks/canary-runner.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2889): update evaluation-loop-fire-log.md gap inventory + Phase-1 gate result
  docs/architecture/evaluation-loop-fire-log.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2867): Encode communication-altitude register (RFC Phase 2) in rule tier
  .cursor/rules/communication-contract.mdc
  .cursor/rules/subagent-routing.mdc
  .minsky/rules/communication-contract.mdc
  .minsky/rules/subagent-routing.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2890): rate-limit branch precedes the any-403 permission branch (reviewer R-final)
  packages/domain/src/repository/github-error-handler.test.ts
  packages/domain/src/repository/github-error-handler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2823): approved-Ask harness-permission bridge — grant store, hook, issuance
  .claude/hooks/ask-grant-store.ts
  .claude/hooks/ask-permission-bridge.ts
  .claude/hooks/ask-verification.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/hooks/ask-grant-store.test.ts
  .minsky/hooks/ask-grant-store.ts
  .minsky/hooks/ask-permission-bridge.test.ts
  .minsky/hooks/ask-permission-bridge.ts
  .minsky/hooks/ask-verification.test.ts
  .minsky/hooks/ask-verification.ts
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/ask-permission-bridge.md
  scripts/grant-ask-action.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2823): address PR #2015 R1 — lock one-shot consumption, resilient verification
  .claude/hooks/ask-grant-store.ts
  .claude/hooks/ask-permission-bridge.ts
  .claude/hooks/ask-verification.ts
  .minsky/hooks/ask-grant-store.test.ts
  .minsky/hooks/ask-grant-store.ts
  .minsky/hooks/ask-permission-bridge.ts
  .minsky/hooks/ask-verification.test.ts
  .minsky/hooks/ask-verification.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2874): address PR #2010 review 4721706550 (3 BLOCKING + 5 non-blocking)
  .claude/hooks/pr-context.ts
  .claude/hooks/require-growth-justification-before-merge.ts
  .claude/settings.json
  .claude/skills/create-rule/SKILL.md
  .cursor/rules/hook-files.mdc
  .cursor/rules/key-architecture.mdc
  .minsky/hooks/pr-context.test.ts
  .minsky/hooks/pr-context.ts
  .minsky/hooks/require-growth-justification-before-merge.test.ts
  .minsky/hooks/require-growth-justification-before-merge.ts
  .minsky/rules/hook-files.mdc
  .minsky/rules/key-architecture.mdc
  .minsky/skills/create-rule/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/growth-justification-merge-gate.md
  packages/domain/src/rules/compile/size-budget.ts
  src/adapters/shared/commands/rules/compile-migrate-commands.test.ts
  src/adapters/shared/commands/rules/compile-migrate-commands.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2823): R2 refutation — tools asks list prints JSON natively, --json is an unknown option
  .claude/hooks/ask-verification.ts
  .minsky/hooks/ask-verification.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2889): address PR #2012 R1 review findings
  .claude/hooks/canary-runner.ts
  .claude/hooks/check-branch-fresh.ts
  .claude/hooks/check-generated-file-edit.ts
  .claude/hooks/check-task-spec-read.ts
  .claude/hooks/registry.ts
  .minsky/hooks/canary-runner.ts
  .minsky/hooks/check-branch-fresh.ts
  .minsky/hooks/check-generated-file-edit.ts
  .minsky/hooks/check-task-spec-read.ts
  .minsky/hooks/registry.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2819): address PR #2009 R1 — set-semantic tag comparison + token hardening
  packages/domain/src/events/query.ts
  packages/domain/src/tasks/bulk-edit.test.ts
  packages/domain/src/tasks/bulk-edit.ts
  src/adapters/shared/commands/tasks/bulk-edit-command.test.ts
  src/adapters/shared/commands/tasks/bulk-edit-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2889): fix CI typecheck:hooks failures (tsconfig.hooks.json gap, mt#2900)
  .claude/hooks/canary-runner.ts
  .claude/hooks/check-generated-file-edit.ts
  .claude/hooks/check-task-spec-read.ts
  .claude/hooks/registry.ts
  .minsky/hooks/canary-runner.ts
  .minsky/hooks/check-generated-file-edit.ts
  .minsky/hooks/check-task-spec-read.ts
  .minsky/hooks/registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2888): partial: domain-layer HTML sanitization, rate-limit capture, fail-closed checks fetch
  packages/domain/src/repository/github-error-handler.ts
  packages/domain/src/repository/github-pr-checks.ts
  packages/domain/src/repository/github-pr-operations.ts
  packages/domain/src/repository/github-rate-limit-state.ts
  packages/domain/src/repository/github.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2888): partial: adapter-layer error classification for checks/wait-for-review/forge
  src/adapters/shared/commands/debug.ts
  src/adapters/shared/commands/forge.ts
  src/adapters/shared/commands/session/merge-error-classification.ts
  src/adapters/shared/commands/session/pr-checks-command.ts
  src/adapters/shared/commands/session/pr-wait-for-review-command.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2888): recorded 503-HTML and rate-limit fixtures
  packages/domain/src/repository/github-error-handler.test.ts
  packages/domain/src/repository/github-pr-checks.test.ts
  packages/domain/src/repository/github-rate-limit-state.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2819): address PR #2009 R2 — partial execution must not consume the token
  src/adapters/shared/commands/tasks/bulk-edit-command.test.ts
  src/adapters/shared/commands/tasks/bulk-edit-command.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2888): partial: hook-layer forge-CLI fallback + D8 grant escape valve
  .claude/hooks/pr-context.ts
  .claude/hooks/require-checks-on-bypass-merge.ts
  .claude/hooks/require-review-before-merge.ts
  .minsky/hooks/pr-context.ts
  .minsky/hooks/require-checks-on-bypass-merge.ts
  .minsky/hooks/require-review-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2888): forge-CLI fallback and D8 grant-store absorbed acceptance tests
  .minsky/hooks/pr-context.test.ts
  .minsky/hooks/require-checks-on-bypass-merge.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2888): document forge-CLI fallback and D8 escape valve in hook-files.mdc
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/pr-data-fetch-layer.md
  docs/architecture/hooks/required-checks-bypass-merge-gate.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
