Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(self-improvement): add critical investigation and initiative protocol
  .cursor/rules/self-improvement.mdc
Due: none

feat(task-implementation): add mandatory investigation protocol for task specifications
  .cursor/rules/task-implementation-workflow.mdc
Due: none

fix: session approve output formatting by correcting CLI bridge formatter condition
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(318): create task "Refactor CLI output formatters to use command-specific customizations instead of centralized bridge logic"
  process/tasks.md
  process/tasks/318-refactor-cli-output-formatters-to-use-command-specific-customizations-instead-of-centralized-bridge-logic.md
Due: bun node_modules/.bin/prettier --write

feat(#312): update task spec with implementation progress
  process/tasks/312-enhance-session-read-file-tool-with-line-range-support-to-match-cursor-s-built-in-read-file-functionality.md
Due: bun node_modules/.bin/prettier --write

feat(319): create task "Test workspace sync fix"
  process/tasks.md
  process/tasks/319-test-workspace-sync-fix.md
Due: bun node_modules/.bin/prettier --write

chore(310): update task status TODO → IN-PROGRESS
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(320): create task "Fix all linter errors in codebase"
  process/tasks.md
  process/tasks/320-fix-all-linter-errors-in-codebase.md
Due: bun node_modules/.bin/prettier --write

feat(#301): Complete comprehensive audit of git execAsync timeout issues
  process/tasks/301-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
Due: bun node_modules/.bin/prettier --write

fix(#310): resolve special workspace and main workspace synchronization
  process/tasks/310-fix-special-workspace-and-main-workspace-synchronization-for-task-operations.md
  src/domain/tasks/taskCommands.ts
  src/utils/task-workspace-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(310): update task status TODO → DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(#312): Enhance session_read_file with line range support
  docs/session-workspace-tools.md
  tests/adapters/mcp/session-read-file-simple.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#310): clean up virtual test files and finalize implementation
  src/utils/__tests__/task-workspace-commit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve all linter errors (54 → 0)
  src/adapters/cli/cli-command-factory.ts
  src/domain/tasks.ts
  src/domain/utils/package-manager.test.ts
  src/utils/test-utils/mocking.ts
  tests/adapters/cli/session-test-utilities.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#301): Replace unsafe execAsync calls with execGitWithTimeout in core git operations
  process/tasks/301-audit-codebase-for-git-command-timeout-issues-and-create-eslint-rule.md
  src/domain/git.ts
  src/domain/utils/package-manager.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#310): finalize task status as completed
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(#301): Replace unsafe execAsync calls with timeout-aware operations in backend and conflict analysis
  src/domain/git/conflict-analysis-operations.ts
  src/domain/localGitBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Make --body-path and --body work for updating existing PRs
  src/domain/session/session-pr-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#310): remove incorrect parameter mapping from session.get command
  pr-description.md
  process/tasks.md
  process/tasks/318-fix-all-linter-errors.md
  src/adapters/cli/customizations/session-customizations.ts
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#310): resolve session approve --task parameter handling
  src/adapters/__tests__/session-context-resolver.test.ts
  src/adapters/session-context-resolver.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
