Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2613): R1 — align changeset reference with GitHub-only reality
  docs/changeset-command-reference.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2626): partial: rename weld-history route + UI copy to interlock
  docs/architecture/cockpit.md
  docs/cockpit-ui.md
  src/cockpit/web/App.tsx
  src/cockpit/web/hooks/useSlowTopology.ts
  src/cockpit/web/pages/PlantFlowPage.test.tsx
  src/cockpit/web/pages/PlantFlowPage.tsx
  src/cockpit/web/pages/WeldHistoryPage.test.tsx
  src/cockpit/web/pages/WeldHistoryPage.tsx
  src/cockpit/widgets/slow-topology.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2623): partial: ADR-026 (DI convention) + ADR-027 (Postgres-only)
  docs/architecture/adr-002-persistence-provider-architecture.md
  docs/architecture/adr-026-dependency-injection-convention.md
  docs/architecture/adr-027-postgres-only-persistence-confirmed.md
  eslint-rules/no-domain-singleton.js
  eslint-rules/require-injectable.js
  eslint.config.js
  packages/domain/src/provenance/transcript-service.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2626): add hook/interlock/weld vocabulary note
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2613): R2 — reachability-only isAvailable; backend init owned by ensureRepositoryBackend
  packages/domain/src/changeset/adapters/github-adapter.equivalence.test.ts
  packages/domain/src/changeset/adapters/github-adapter.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2623): partial: cross-reference ADR-026/027 in architecture.md
  docs/architecture.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2623): align DI fix with existing di-enforcement.test.ts precedent
  docs/architecture/adr-026-dependency-injection-convention.md
  eslint.config.js
  packages/domain/src/provenance/transcript-service.ts
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2621): generate Dockerfile workspace-COPY blocks from workspaces glob
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  Dockerfile
  package.json
  packages/domain/src/configuration/sources/environment.ts
  scripts/generate-dockerfile-workspace-copies.ts
  services/cockpit/Dockerfile
  services/reviewer/Dockerfile
  src/hooks/deploy-domain-detector.ts
  src/hooks/dockerfile-workspace-copy-regen.test.ts
  src/hooks/pre-commit.ts
  src/hooks/workspace-copy-detector.test.ts
  src/hooks/workspace-copy-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2626): R1 review — assert real navigation to interlock-history
  src/cockpit/web/pages/PlantFlowPage.test.tsx
Due: none

ci(mt#2621): add docker-build-smoke workflow for the 3 protected Dockerfiles
  .github/workflows/docker-build-smoke.yml
Due: none

fix(mt#2623): R1 review — make DI lint path filters OS-agnostic
  eslint-rules/no-domain-singleton.js
  eslint-rules/require-injectable.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2641): migrate Rail.tsx fetches, fix stale doc claims
  src/cockpit/CLAUDE.md
  src/cockpit/web/components/Rail.tsx
Due: bun node_modules/.bin/prettier --write

refactor(mt#2628): partial: extract launchd + watcher_web + watcher_backend modules
  cockpit-tray/src-tauri/src/launchd.rs
  cockpit-tray/src-tauri/src/watcher_backend.rs
  cockpit-tray/src-tauri/src/watcher_web.rs
Due: none

fix(mt#2641): R1 nit — ambient ErrorState uses role=status in nav
  src/cockpit/web/components/ErrorState.tsx
  src/cockpit/web/components/Rail.tsx
Due: none

refactor(mt#2628): partial: extract supervisor module
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

refactor(mt#2628): partial: extract menu + deeplink modules
  cockpit-tray/src-tauri/src/deeplink.rs
  cockpit-tray/src-tauri/src/menu.rs
Due: none

refactor(mt#2628): wire per-concern modules, reduce main.rs to composition
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/src/menu.rs
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

docs(mt#2628): R1 — record post-merge operator smoke; spec amended
  cockpit-tray/README.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2621): R1 nit — missing workspaces field is a silent no-op
  scripts/generate-dockerfile-workspace-copies.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2621): R2 nit — header lists all three protected Dockerfiles
  scripts/generate-dockerfile-workspace-copies.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2629): pin health-response contract between TS server and Rust supervisor
  .github/workflows/cockpit-tray-ci.yml
  cockpit-tray/src-tauri/src/supervisor.rs
  contract/README.md
  contract/cockpit-health-shape.json
  src/cockpit/health-contract.test.ts
  src/cockpit/port-recovery.ts
  src/cockpit/routes/health.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2629): R1 — static JSON import replaces fs read in contract test
  src/cockpit/health-contract.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

ci(mt#2634): add non-required, secrets-gated integration-tests workflow
  .github/workflows/integration-tests.yml
Due: none

docs(mt#2634): clarify workflow_dispatch boolean input comparison
  .github/workflows/integration-tests.yml
Due: none

fix(mt#2637): subagent-aware transcript resolution in spec-read guard
  .claude/hooks/check-task-spec-read.test.ts
  .claude/hooks/check-task-spec-read.ts
  .claude/hooks/transcript.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2637): R1 — dedupe precise path, handle per-agent transcript_path input
  .claude/hooks/check-task-spec-read.test.ts
  .claude/hooks/check-task-spec-read.ts
  .claude/hooks/transcript.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2648): accept heading-form execution/deploy evidence markers
  .claude/hooks/require-deploy-verification-before-merge.test.ts
  .claude/hooks/require-deploy-verification-before-merge.ts
  .claude/hooks/require-execution-evidence-before-merge.test.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2649): resolve per-agent transcript for subagent metrics
  .claude/hooks/record-subagent-invocation.test.ts
  .claude/hooks/record-subagent-invocation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2635): route noFiles allow-empty commit through commitImpl
  packages/domain/src/git.ts
  packages/domain/src/git/git-commands-modular.ts
  packages/domain/src/git/git-core-operations.ts
  packages/domain/src/git/git-params-facade.ts
  packages/domain/src/git/operations/basic-operations.ts
  packages/domain/src/git/types.ts
  packages/domain/src/session/session-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2624): add git_stats MCP command for churn-by-path analytics
  packages/domain/src/git.ts
  packages/domain/src/git/git-params-facade.ts
  packages/domain/src/git/stats-operations.test.ts
  packages/domain/src/git/stats-operations.ts
  src/adapters/shared/commands/git.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2635): fold failing-step + tail into MCP error message
  packages/domain/src/errors/mcp-structured-errors.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2648): R1 — CommonMark 3-space heading indent; align remediation text
  .claude/hooks/require-deploy-verification-before-merge.test.ts
  .claude/hooks/require-deploy-verification-before-merge.ts
  .claude/hooks/require-execution-evidence-before-merge.test.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2624): add live smoke script for git_stats
  scripts/smoke-git-stats.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2618): ADR-028 — guard-hook dispatcher consolidation
  docs/architecture/adr-028-guard-hook-dispatcher-consolidation.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2649): R1 — dir-qualified per-agent path match instead of basename
  .claude/hooks/record-subagent-invocation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2648): R2 — end-boundary scan mirrors 3-space heading indent
  .claude/hooks/require-deploy-verification-before-merge.test.ts
  .claude/hooks/require-deploy-verification-before-merge.ts
  .claude/hooks/require-execution-evidence-before-merge.test.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2635): regression tests for allow-empty hook opacity fix
  packages/domain/src/errors/mcp-structured-errors.test.ts
  packages/domain/src/session/session-commit-no-files.test.ts
  src/adapters/shared/commands/session/workflow-commands-payload.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2618): R1 — flip ADR-028 status Proposed -> Accepted
  docs/architecture/adr-028-guard-hook-dispatcher-consolidation.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2618): R2 — de-self-reference the ADR-028 status line
  docs/architecture/adr-028-guard-hook-dispatcher-consolidation.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2624): R1 — NUL-sentinel hash parsing + safeShellQuote git.log
  packages/domain/src/git/stats-operations.test.ts
  packages/domain/src/git/stats-operations.ts
  src/adapters/shared/commands/git.test.ts
  src/adapters/shared/commands/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
