Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2195): document guard in hook-files rule + newline-terminate deny output
  .claude/hooks/check-guessed-session-path.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2208): address PR #1453 review — document guard + repo-relative paths
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  src/hooks/deploy-domain-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2213): plainify session start success output
  src/adapters/cli/customizations/session-customizations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2215): in-band audited force-bypass on session_pr_merge
  packages/domain/src/repository/github-pr-operations.ts
  packages/domain/src/repository/github.ts
  packages/domain/src/repository/index.ts
  packages/domain/src/session/session-merge-force-bypass.test.ts
  packages/domain/src/session/session-merge-operations.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/adapters/shared/commands/session/workflow-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2215): address PR #1458 review — tighten forceBypass eligibility + normalize commit body
  packages/domain/src/repository/github-pr-operations-merge-body.test.ts
  packages/domain/src/repository/github-pr-operations.ts
  packages/domain/src/session/session-merge-force-bypass.test.ts
  packages/domain/src/session/session-merge-operations.ts
  src/adapters/shared/commands/session/session-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2215): address PR #1458 R2 — document in-band forceBypass + fix docstring
  .claude/skills/implement-task/SKILL.md
  .claude/skills/merge-coordination/SKILL.md
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/repository/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2211): elide verbatim stale-finding text in prior-review summary (self-anchoring false-positive)
  services/reviewer/scripts/replay-stale-finding-elision.ts
  services/reviewer/src/prior-review-summary.test.ts
  services/reviewer/src/prior-review-summary.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2211): address reviewer R1 — guard replay script + short-circuit stale parse
  services/reviewer/scripts/replay-stale-finding-elision.ts
  services/reviewer/src/prior-review-summary.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2220): filter tasks_search by live status at read time (ADR-013)
  docs/architecture/adr-013-filtered-vector-search.md
  packages/domain/src/similarity/task-similarity-service.core.test.ts
  packages/domain/src/tasks/task-similarity-service.ts
  src/adapters/shared/commands/tasks/embeddings-repair-command.ts
  src/adapters/shared/commands/tasks/embeddings-status-command.ts
  src/adapters/shared/commands/tasks/similarity-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2220): address review — cap widen, restore test prototype, fix repair label
  packages/domain/src/similarity/task-similarity-service.core.test.ts
  packages/domain/src/tasks/task-similarity-service.ts
  src/adapters/shared/commands/tasks/embeddings-repair-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2220): await getConfiguration() in embeddings-status (review)
  src/adapters/shared/commands/tasks/embeddings-status-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2220): correct embeddings-repair command description (review nit)
  src/adapters/shared/commands/tasks/embeddings-repair-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2221): add filtered-vector-search skill
  .claude/skills/filtered-vector-search/SKILL.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2221): reconcile ADR-013 with shipped bounded-widen behavior (review)
  docs/architecture/adr-013-filtered-vector-search.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2224): retune DEFAULT_POSTGRES_MAX_CONNECTIONS 3 -> 15 post transaction-pooler migration
  packages/domain/src/persistence/providers/postgres-provider.ts
  src/cockpit/shared-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2183): simplify embeddings-health coverage queries to single subquery
  scripts/repro-mt2183.ts
  src/cockpit/widgets/embeddings-health.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2224): update persistence-configuration.md for the 3 -> 15 default (review)
  docs/persistence-configuration.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#2183): use tagged template instead of sql.unsafe (R1 nit)
  src/cockpit/widgets/embeddings-health.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2225): disable keep-alive pooling in tray health poll
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2228): correct staleness-detector warning — staleness_exit + proxy make /mcp optional
  .claude/hooks/mcp-daemon-staleness-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1856,mt#1676): add /plan-task gate (m) + two gate-(iv) citation sub-checks
  .claude/skills/plan-task/SKILL.md
  .minsky/skills/plan-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2228): strip internal IDs from injected warning; full path in comment (review)
  .claude/hooks/mcp-daemon-staleness-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2222): add data-engineering-lens skill (DDIA decision frames)
  .claude/skills/data-engineering-lens/SKILL.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1856): add Example (m) failure block to Step 4 (reviewer non-blocking)
  .claude/skills/plan-task/SKILL.md
  .minsky/skills/plan-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2222): clarify reference types + auto-discovery (review)
  .claude/skills/data-engineering-lens/SKILL.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2242): ADR-014 cockpit daemon lifecycle ownership
  docs/architecture/adr-014-cockpit-daemon-lifecycle-ownership.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2242): address review — add forward-looking note + adoption/race implementation notes
  docs/architecture/adr-014-cockpit-daemon-lifecycle-ownership.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2240): status menu line never updated — hold MenuItem handle instead of app.menu()
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2240): marshal tray UI updates onto the main thread (review)
  cockpit-tray/src-tauri/src/main.rs
Due: none

docs(mt#2186): document cockpit singleton-promise wedge + operator workaround
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2186): safer cockpit-restart snippet (PR #1482 R1 nits)
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2226): cockpit-tray testing — CI build/test smoke + local Accessibility status check
  .github/workflows/cockpit-tray-ci.yml
  cockpit-tray/README.md
  cockpit-tray/scripts/smoke-status.sh
Due: bun node_modules/.bin/prettier --write

feat(mt#2246): make cockpit System-status cards navigable (whole-card link)
  src/cockpit/web/components/ui/link-card.tsx
  src/cockpit/web/widgets/Credentials.tsx
  src/cockpit/web/widgets/EmbeddingsHealth.tsx
  src/cockpit/web/widgets/card-navigation.test.tsx
Due: none

fix(mt#2226): address review — pin Rust toolchain, disable Xcode signing, robust selector
  .github/workflows/cockpit-tray-ci.yml
  cockpit-tray/scripts/smoke-status.sh
Due: none

fix(mt#2226): make smoke-status process lookup robust to executable vs product name
  cockpit-tray/scripts/smoke-status.sh
Due: none

test(mt#2246): cover error/degraded/exhausted card states (reviewer R1)
  src/cockpit/web/widgets/card-navigation.test.tsx
Due: none

fix(mt#2226): smoke-status SKIPs (not FAILs) on Accessibility permission denial
  cockpit-tray/scripts/smoke-status.sh
Due: none

fix(mt#2226): use CODE_SIGNING_ALLOWED (real xcodebuild flag), not XCODE_SIGNING_ALLOWED
  .github/workflows/cockpit-tray-ci.yml
Due: none

fix(mt#2226): broaden running-app pgrep to match either bundle executable name
  cockpit-tray/scripts/smoke-status.sh
  src/generated/completion-manifest.json
Due: bun node_modules/.bin/prettier --write
