Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

perf(mt#2767): fix live-measured latency regression in the unified run merge
  packages/domain/src/storage/migrations/pg/0054_dashing_sharon_ventura.sql
  packages/domain/src/storage/migrations/pg/meta/0054_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/agent-spawns-schema.ts
  packages/domain/src/storage/schemas/minsky-session-links-schema.ts
  src/cockpit/widgets/agents.ts
  src/cockpit/widgets/run-merge.test.ts
  src/cockpit/widgets/run-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2778): address PR #1911 R1 — unwrap wrapped object schemas, docs, tests
  docs/architecture/interface-agnostic-commands.md
  src/mcp/command-mapper.test.ts
  src/mcp/command-mapper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2762): address PR #1912 R1 — tasks_available.kind uses the shared enum
  src/adapters/shared/commands/tasks/routing-commands.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2776): execution-evidence gate fires on operational scripts + §7a dual-mode discipline
  .claude/hooks/require-execution-evidence-before-merge.ts
  .claude/skills/implement-task/SKILL.md
  .cursor/rules/hook-files.mdc
  .minsky/hooks/require-execution-evidence-before-merge.test.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  .minsky/rules/hook-files.mdc
  .minsky/skills/implement-task/skill.ts
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2776): broaden operational-script matcher to any depth + rename parity (reviewer R1)
  .claude/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.test.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2785): bulk-mutation task-wrapper + dry-run scope-match in operational-safety rule
  .cursor/rules/operational-safety-dry-run-first.mdc
  .minsky/rules/operational-safety-dry-run-first.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2784): strip harness command markup from conversation-label snippets
  src/cockpit/conversation-label.ts
  src/cockpit/text-snippet.ts
  src/cockpit/widgets/context-inspector.ts
  src/cockpit/widgets/run-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2775): partial: add forge_ci_run_rerun tool (domain + registry wiring)
  packages/domain/src/repository/github-workflow-runs.ts
  packages/domain/src/repository/github.ts
  packages/domain/src/repository/index.ts
  src/adapters/shared/commands/forge.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2785): clarify >10-record threshold with cadence grounding (R1)
  .cursor/rules/operational-safety-dry-run-first.mdc
  .minsky/rules/operational-safety-dry-run-first.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2698): add remedy/platform-semantics/A-B-confound trigger cues to check-premise
  .claude/skills/check-premise/SKILL.md
  .minsky/skills/check-premise/SKILL.md
Due: bun node_modules/.bin/prettier --write

test(mt#2784): cover harness-markup stripping and next-substantive-turn fallback
  src/cockpit/conversation-label.test.ts
  src/cockpit/text-snippet.test.ts
  src/cockpit/widgets/context-inspector.test.ts
  src/cockpit/widgets/run-merge.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2775): add tests for forge_ci_run_rerun (domain + registry)
  packages/domain/src/repository/github-workflow-runs.test.ts
  src/adapters/shared/commands/forge.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2758): add query-layer-failure vs no-data signal to reviewer-bot-status widget
  docs/architecture/cockpit.md
  src/cockpit/types.ts
  src/cockpit/web/widgets/ReviewerBotStatus.tsx
  src/cockpit/widgets/reviewer-bot-status.test.ts
  src/cockpit/widgets/reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2784): harden harness-tag regex against attributes/whitespace (reviewer R1)
  src/cockpit/text-snippet.test.ts
  src/cockpit/text-snippet.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2775): note actions:write requirement for forge_ci_run_rerun
  docs/github-app-bot-setup.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2773): bound in-flight raw queries at pool max — pooler wedge guard
  packages/domain/src/persistence/providers/postgres-provider.ts
  packages/domain/src/persistence/raw-sql-pooler-guard.test.ts
  packages/domain/src/persistence/raw-sql-pooler-guard.ts
  scripts/verify-pool-concurrency.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2311): collapse workflows to single DONE terminal; remove COMPLETED
  docs/task-kinds.md
  packages/domain/src/session/session-merge-status-sync.ts
  packages/domain/src/session/session-post-merge-sync-kind.test.ts
  packages/domain/src/storage/migrations/pg/0055_collapse_completed_to_done.sql
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/tasks.ts
  packages/domain/src/tasks/backend-filtering-regression.test.ts
  packages/domain/src/tasks/commands/mutation-commands.ts
  packages/domain/src/tasks/githubIssuesTaskBackend.ts
  packages/domain/src/tasks/minskyTaskBackend.ts
  packages/domain/src/tasks/parent-done-closeout-guard.test.ts
  packages/domain/src/tasks/status-transitions.test.ts
  packages/domain/src/tasks/status-transitions.ts
  packages/domain/src/tasks/task-filters.ts
  packages/domain/src/tasks/taskConstants.test.ts
  packages/domain/src/tasks/taskConstants.ts
  packages/domain/src/tasks/umbrella-closeout-guard.test.ts
  packages/domain/src/tasks/workflows.test.ts
  packages/domain/src/tasks/workflows.ts
  src/adapters/shared/commands/tasks/status-commands.ts
  src/adapters/shared/common-parameters.ts
  src/cockpit/routes/tasks.ts
  src/cockpit/web/lib/plant-gestures.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2758): address PR #1921 R1 — idempotent failure counting + skew-safe frontend
  docs/architecture/cockpit.md
  src/cockpit/web/widgets/ReviewerBotStatus.tsx
  src/cockpit/widgets/reviewer-bot-status.test.ts
  src/cockpit/widgets/reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2311): legacy c/C checkboxes map to DONE; help-text + gesture notes (R1)
  packages/domain/src/schemas/tasks.ts
  packages/domain/src/tasks/taskConstants.ts
  src/cockpit/web/lib/plant-gestures.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2773): address PR #1922 R1 — truthful GuardedRawSql type + loud chaining stubs
  packages/domain/src/persistence/providers/postgres-provider.ts
  packages/domain/src/persistence/raw-sql-pooler-guard.test.ts
  packages/domain/src/persistence/raw-sql-pooler-guard.ts
  packages/domain/src/persistence/types.ts
  scripts/verify-pool-concurrency.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2773): update provider identity test to the guarded-view contract
  packages/domain/src/persistence/providers/postgres-provider.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2788): JsonView multiline string leaves render as preformatted blocks
  src/cockpit/web/components/JsonView.test.tsx
  src/cockpit/web/components/JsonView.tsx
Due: none

fix(mt#2786): tray takes over a dead adopted daemon after sustained outage
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

fix(mt#2788): widen multiline detection to CRLF/bare-CR (reviewer R1)
  src/cockpit/web/components/JsonView.test.tsx
  src/cockpit/web/components/JsonView.tsx
Due: none

fix(mt#2786): address PR #1927 R1 — EOF newline + pre-spawn port recheck
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

feat(mt#2779): wave 1 — map-tied BaseTaskCommand contract + migrate 15 task class commands
  src/adapters/shared/commands/tasks/base-task-command.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/edit-commands.ts
  src/adapters/shared/commands/tasks/embeddings-repair-command.ts
  src/adapters/shared/commands/tasks/embeddings-status-command.ts
  src/adapters/shared/commands/tasks/hierarchical-status-command.ts
  src/adapters/shared/commands/tasks/index-embeddings-command.ts
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/adapters/shared/commands/tasks/migrate-backend-validation.test.ts
  src/adapters/shared/commands/tasks/similarity-commands.ts
  src/adapters/shared/commands/tasks/spec-command.ts
  src/adapters/shared/commands/tasks/status-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2787): normalize mcp__server__ tool-name prefix before Tier-3 registry lookup
  src/cockpit/web/components/ToolPayload.test.tsx
  src/cockpit/web/components/ToolPayload.tsx
  src/cockpit/web/lib/tool-name.test.ts
  src/cockpit/web/lib/tool-name.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2787): cover empty/whitespace/degenerate tool names (reviewer R1)
  src/cockpit/web/components/ToolPayload.test.tsx
  src/cockpit/web/lib/tool-name.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2779): wave 2 — migrate defineCommand-style handlers off hand-rolled param types
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/asks.ts
  src/adapters/shared/commands/knowledge/index.ts
  src/adapters/shared/commands/memory/index.ts
  src/adapters/shared/commands/principal-corpus/index-embeddings-command.ts
  src/adapters/shared/commands/principal-corpus/search-command.ts
  src/adapters/shared/commands/principal-corpus/similar-command.ts
  src/adapters/shared/commands/rules/list-search-commands.ts
  src/adapters/shared/commands/rules/rules-parameters.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/file-commands.test.ts
  src/adapters/shared/commands/session/file-commands.ts
  src/adapters/shared/commands/session/pr-close-command.ts
  src/adapters/shared/commands/session/pr-create-command.test.ts
  src/adapters/shared/commands/session/pr-create-command.ts
  src/adapters/shared/commands/session/pr-edit-command.test.ts
  src/adapters/shared/commands/session/pr-edit-command.ts
  src/adapters/shared/commands/session/types.ts
  src/adapters/shared/commands/similarity-command-factory.ts
  src/adapters/shared/commands/tasks/deps-visualization-commands.ts
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/adapters/shared/commands/tools/index-embeddings-command.ts
  src/adapters/shared/commands/tools/similarity-commands.ts
  tests/adapters/shared/commands/session/session-edit-file-equivalence.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2790): partial: add tool-summary registry and per-family icon selection
  src/cockpit/web/lib/tool-icon.test.ts
  src/cockpit/web/lib/tool-icon.ts
  src/cockpit/web/lib/tool-name.ts
  src/cockpit/web/lib/tool-summary.test.ts
  src/cockpit/web/lib/tool-summary.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2779): wave 3 — custom/no-hand-rolled-command-params ESLint rule + type-level regression tests
  eslint-rules/__fixtures__/no-hand-rolled-command-params/invalid.ts
  eslint-rules/__fixtures__/no-hand-rolled-command-params/valid.ts
  eslint-rules/no-hand-rolled-command-params.js
  eslint-rules/no-hand-rolled-command-params.test.js
  eslint.config.js
  src/adapters/shared/commands/asks.ts
  src/adapters/shared/commands/compile/compile-commands.ts
  src/adapters/shared/commands/inferparams-regression.test.ts
  src/adapters/shared/commands/rules/compile-migrate-commands.ts
  src/adapters/shared/commands/rules/selection-commands.ts
  src/adapters/shared/commands/tasks/base-task-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2790): unify tool-call + tool-result into one collapsed block
  src/cockpit/web/pages/DrivenSessionPage.test.tsx
  src/cockpit/web/widgets/ConversationView.tool-invocation.test.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: none

docs(mt#2779): document custom/no-hand-rolled-command-params in code-style rule + recompile targets
  .cursor/rules/code-style.mdc
  .minsky/rules/code-style.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#2790): compiler-enforced exhaustiveness in ElementView (reviewer R1)
  src/cockpit/web/widgets/ConversationView.tsx
Due: none

fix(mt#2779): address PR #1929 R1 — derive migrate-backend parse schema from the map; document quiet-removal basis
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/adapters/shared/commands/tasks/similarity-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2797): resolve minsky:// markdown deeplinks in Prose to in-SPA links
  src/cockpit/web/components/Prose.test.tsx
  src/cockpit/web/components/Prose.tsx
Due: none

feat(mt#2780): custom/no-entity-id-param-drift — flag intra-family entity-id param-name drift at authoring time
  .cursor/rules/code-style.mdc
  .minsky/rules/code-style.mdc
  AGENTS.md
  CLAUDE.md
  eslint-rules/__fixtures__/no-entity-id-param-drift/invalid.ts
  eslint-rules/__fixtures__/no-entity-id-param-drift/valid.ts
  eslint-rules/no-entity-id-param-drift.js
  eslint-rules/no-entity-id-param-drift.test.js
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2797): cover relative-link passthrough (reviewer R1 non-blocking)
  src/cockpit/web/components/Prose.test.tsx
Due: none

docs(mt#2798): Add Form sub-checklist to humility.mdc §Escalation packaging
  .cursor/rules/humility.mdc
  .minsky/rules/humility.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
