Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2084): address PR #1260 R1 — cache read-through, client type alignment
  src/cockpit/web/lib/widget-client.ts
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/widgets/agents.test.ts
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2086): add missing migration journal entry for 0040_memory_associations
  src/domain/storage/migrations/pg/meta/_journal.json
Due: bun node_modules/.bin/prettier --write

feat(mt#2087): enforce drizzle-kit generate with rule + pre-commit check
  src/domain/configuration/sources/environment.ts
  src/hooks/migration-journal-check.test.ts
  src/hooks/migration-journal-check.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

revert(mt#2083): remove scope-aware tool-loop bypass — misdiagnosed problem
  services/reviewer/README.md
  services/reviewer/src/config.ts
  services/reviewer/src/review-worker.test.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2083): add in-repo RCA for timeout incident + update spec
  services/reviewer/README.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2087): add migration-authoring rule + recompile outputs
  .cursor/rules/migration-authoring.mdc
  .minsky/rules/migration-authoring.mdc
Due: none

feat(mt#2090): add security-surface community-practice check to decision-defaults corpus
  .minsky/rules/decision-defaults.mdc
Due: none

refactor(mt#2089): split DatabaseQueryOptions, add statusNotIn filter
  src/cockpit/widgets/agents.test.ts
  src/cockpit/widgets/agents.ts
  src/domain/session/types.ts
  src/domain/storage/backends/postgres-storage.ts
  src/domain/storage/backends/sqlite-storage.ts
  src/domain/storage/database-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2089): preserve NULL-status rows in statusNotIn filter
  src/domain/storage/backends/postgres-storage.ts
  src/domain/storage/backends/sqlite-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2090): add gate criterion (l) to /plan-task and fix citation rot
  .claude/skills/plan-task/SKILL.md
  .minsky/rules/decision-defaults.mdc
Due: bun node_modules/.bin/prettier --write

fix(mt#2093): improve submit_documentation_impact call reliability
  .cursor/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
  services/reviewer/src/compose-review.ts
  services/reviewer/src/output-tools.ts
  services/reviewer/src/prompt.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style: fix formatting on rebased skill file
  .claude/skills/plan-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2091): add /plan-task gate criterion (m) — problem-statement verification
  .claude/skills/plan-task/SKILL.md
  .cursor/rules/decision-defaults.mdc
  .cursor/rules/index.mdc
  .cursor/rules/minsky-session-management.mdc
  .cursor/rules/minsky-workflow-orchestrator.mdc
  .cursor/rules/minsky-workflow.mdc
  .cursor/rules/pr-preparation-workflow.mdc
  .cursor/rules/task-implementation-workflow.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1477): use GitHub App token for git push to trigger CI workflows
  .claude/skills/plan-task/SKILL.md
  .cursor/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/git/commands/push-command.ts
  src/domain/git/commands/types.ts
  src/domain/git/git-commands-modular.ts
  src/domain/git/git-params-facade.ts
  src/domain/git/push-operations.test.ts
  src/domain/git/push-operations.ts
  src/domain/git/types.ts
  src/domain/session/session-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2094): verify App-token push triggers CI (mt#1477 acceptance test)
  src/domain/git/push-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2092): add system_events table, EventEmitter service, and events MCP tools
  drizzle.pg.config.ts
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/events.ts
  src/adapters/shared/commands/index.ts
  src/domain/events/emitter.ts
  src/domain/events/query.ts
  src/domain/storage/migrations/pg/0041_system_events.sql
  src/domain/storage/migrations/pg/meta/_journal.json
  src/domain/storage/schemas/enum-drift.test.ts
  src/domain/storage/schemas/system-events-schema.ts
  src/schemas/command-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2092): add cockpit /activity page and server API route
  src/cockpit/server.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/pages/ActivityPage.tsx
  src/cockpit/web/pages/HomePage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2092): make events MCP tools best-effort — no throw on DB unavailable
  src/adapters/shared/commands/events.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2095): wire EventEmitter callsites into asks, PR watch, and subagent tracker
  src/adapters/shared/commands/asks.ts
  src/domain/pr-watch/watcher.ts
  src/mcp/subagent-dispatch-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2095): wire EventEmitter DI, fix reviewer field, add try/catch
  src/commands/mcp/start-command.ts
  src/domain/pr-watch/watcher.ts
  src/mcp/subagent-dispatch-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2095): plumb structured review data instead of regex-parsing notifyBody
  src/domain/pr-watch/watcher.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2098): extract portable createDomainContainer() bootstrap
  src/composition/cli.ts
  src/composition/domain.test.ts
  src/composition/domain.ts
  src/composition/index.ts
  src/domain/configuration/index.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2084): add negative cache entries for unresolvable task IDs
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2098): MCP server uses createDomainContainer() when no container passed
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2088): add per-review timing persistence to reviewer service
  services/reviewer/drizzle.pg.config.ts
  services/reviewer/migrations/pg/0003_groovy_wrecker.sql
  services/reviewer/migrations/pg/meta/0003_snapshot.json
  services/reviewer/migrations/pg/meta/_journal.json
  services/reviewer/src/db/client.ts
  services/reviewer/src/db/migrate.test.ts
  services/reviewer/src/db/migrate.ts
  services/reviewer/src/db/schemas/review-timing-schema.ts
  services/reviewer/src/providers.ts
  services/reviewer/src/review-timing.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2098): update architecture.md composition root reference
  docs/architecture.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2088): address R1 — recovered timeout tracking and error-path timing writes
  services/reviewer/src/providers.ts
  services/reviewer/src/review-worker.ts
  services/reviewer/src/toolloop-retry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2088): address R2 — add timing writes for routing-skip and concurrent-inflight skip paths
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2099): ensure cli-entry.ts execute bit survives bun install
  package.json
  scripts/cli-entry.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2099): address PR #1280 R1 — portable postinstall, clearer messages
  package.json
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2100): remove redundant skipConfigSetup from domain bootstrap
  src/composition/cli.ts
  src/composition/domain.test.ts
  src/composition/domain.ts
  src/composition/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2103): preload reflect-metadata in Dockerfile CMD to fix Railway crash
  Dockerfile
Due: none

fix(mt#2103): use package name and preserve bun run in preload CMD
  Dockerfile
Due: none

feat(mt#2104): CI-built Docker image → GHCR → Railway deploy pipeline
  .github/workflows/deploy-minsky-mcp.yml
  .github/workflows/main-watch.yml
Due: none

fix(mt#2104): add concurrency control and improve Railway error checking
  .github/workflows/deploy-minsky-mcp.yml
Due: none

feat(mt#2101): add minsky ops start command with direct domain access
  services/minsky-ops/deploy.config.ts
  src/cli.ts
  src/commands/ops/index.ts
  src/commands/ops/start-command.test.ts
  src/commands/ops/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
