Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#2796): actual_model writer + byModel aggregate
  .claude/hooks/record-subagent-invocation.ts
  .minsky/hooks/record-subagent-invocation.ts
  packages/domain/src/subagent/transcript-metrics.ts
  src/mcp/subagent-dispatch-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2801): plain-language-first chat reports — user-preferences rule + /plan-task Step 4 output altitude
  .claude/skills/plan-task/SKILL.md
  .cursor/rules/user-preferences.mdc
  .minsky/rules/user-preferences.mdc
  .minsky/skills/plan-task/skill.ts
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2752): backend for task-bound driven-session launch
  packages/domain/src/transcripts/driven-link-writer.test.ts
  packages/domain/src/transcripts/driven-link-writer.ts
  src/cockpit/driven-session-host.ts
  src/cockpit/driven-session-launch.ts
  src/cockpit/routes/agents.ts
  src/cockpit/routes/driven-sessions.ts
  src/cockpit/widgets/agents.ts
  src/cockpit/widgets/run-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2796): byModel aggregate tests + extractActualModel tests
  packages/domain/src/subagent/transcript-metrics.test.ts
  src/adapters/shared/commands/debug.test.ts
  src/adapters/shared/commands/session/prompt-command.ts
  src/mcp/subagent-dispatch-tracker.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2794): integration-style harness for supervisor poll loop takeover branch
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

feat(mt#455): investigation ergonomics on state-ops kind (research folded)
  .claude/skills/plan-task/SKILL.md
  .minsky/skills/plan-task/skill.ts
  docs/task-kinds.md
  packages/domain/src/session/session-start-kind-dispatch.test.ts
  packages/domain/src/session/start-session-operations.ts
  packages/domain/src/tasks/commands/mutation-commands.ts
  packages/domain/src/tasks/state-ops-findings-closeout.test.ts
  packages/domain/src/tasks/status-transitions.test.ts
  packages/domain/src/tasks/status-transitions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2798): partial: add form-lint domain checks + calibration writer
  packages/domain/src/ask/form-lint.test.ts
  packages/domain/src/ask/form-lint.ts
  src/adapters/shared/commands/ask-form-lint-calibration.test.ts
  src/adapters/shared/commands/ask-form-lint-calibration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2796): session.generate_prompt dispatch-time writer tests
  src/adapters/shared/commands/session/prompt-command.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2801): address PR #1935 R1 — unambiguous gate-pass wording (finding 2)
  .claude/skills/plan-task/SKILL.md
  .minsky/skills/plan-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2780): address PR #1933 R1 — param-def shape guard + config-declared coverage
  .cursor/rules/code-style.mdc
  .minsky/rules/code-style.mdc
  AGENTS.md
  CLAUDE.md
  eslint-rules/no-entity-id-param-drift.js
  eslint-rules/no-entity-id-param-drift.test.js
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1876): demote three reference rules from alwaysApply — CLAUDE.md 151.3k → 123.5k chars
  .claude/hooks/inject-prod-state.ts
  .cursor/rules/documentation-taxonomy.mdc
  .cursor/rules/key-architecture.mdc
  .cursor/rules/mcp-disconnect-cadence.mdc
  .cursor/rules/subagent-dispatch-cadence.mdc
  .minsky/hooks/inject-prod-state.ts
  .minsky/rules/documentation-taxonomy.mdc
  .minsky/rules/key-architecture.mdc
  .minsky/rules/mcp-disconnect-cadence.mdc
  .minsky/rules/subagent-dispatch-cadence.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2798): wire form-lint into asks.create with formWarnings + calibration write
  src/adapters/shared/commands/asks.test.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2752): launch UX — Start session from task page, scratch launch, driven rows + drive-view routing
  src/cockpit/routes/driven-sessions.test.ts
  src/cockpit/web/hooks/useStartDrivenSession.ts
  src/cockpit/web/pages/AgentsPage.tsx
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/web/widgets/RunDetail.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
  src/cockpit/widgets/agents.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2789): partial: idempotent uuid-based transcript append + GREATEST watermark + HWM-read abort
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1876): tighten operational-reference pointer to 5 lines (reviewer R1)
  .cursor/rules/key-architecture.mdc
  .minsky/rules/key-architecture.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

test(mt#2752): live-verification artifact for the driven_spawn link writer
  scripts/verify-driven-link-writer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2752): launch buttons surface the permission mode (plan-decision 8)
  src/cockpit/web/pages/AgentsPage.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
Due: none

test(mt#2789): regression coverage for idempotent uuid-based transcript append
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#455): run evidence gate after transition validation + null-defense (R1)
  packages/domain/src/tasks/commands/mutation-commands.ts
  packages/domain/src/tasks/state-ops-findings-closeout.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2794): address PR #1936 R1 — fresh throttle instant + owned Notify String
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

docs(mt#2752): document driven-session launch surface + POST contract (reviewer R1)
  docs/cockpit-ui.md
Due: bun node_modules/.bin/prettier --write

test(mt#2789): pin Postgres GREATEST NULL-boundary semantics (reviewer R1)
  packages/domain/src/transcripts/agent-transcript-ingest-service.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2795): wire tasks.index-embeddings --reindex, add tasks.similar --quiet, remove inert/dead params
  packages/domain/src/similarity/task-similarity-service.core.test.ts
  packages/domain/src/tasks/task-similarity-service.ts
  src/adapters/shared/commands/tasks/index-embeddings-command.ts
  src/adapters/shared/commands/tasks/routing-commands.ts
  src/adapters/shared/commands/tasks/similar-quiet-gate.test.ts
  src/adapters/shared/commands/tasks/similarity-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/generated/completion-manifest.json
  tests/adapters/shared/commands/tasks/routing-commands.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2796): R1 review fixes — taskId qualification + single transcript read
  .claude/hooks/record-subagent-invocation.ts
  .minsky/hooks/record-subagent-invocation.ts
  packages/domain/src/subagent/transcript-metrics.ts
  src/adapters/shared/commands/session/prompt-command.test.ts
  src/adapters/shared/commands/session/prompt-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2798): address PR #1941 R1 — verify calibration write target, clarify word-budget rationale
  packages/domain/src/ask/form-lint.ts
  src/adapters/shared/commands/ask-form-lint-calibration.test.ts
  src/adapters/shared/commands/ask-form-lint-calibration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2745): changeset_* commands honor the declared repo param
  src/adapters/shared/commands/changeset/changeset-commands.test.ts
  src/adapters/shared/commands/changeset/changeset-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2795): address PR #1944 R1 — accurate quiet descriptions + reindex polish
  packages/domain/src/tasks/task-similarity-service.ts
  src/adapters/shared/commands/tasks/index-embeddings-command.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2752): unify POST/GET driven-session row shape — argv in the shared serializer (PR #1943 R2)
  src/cockpit/routes/driven-sessions.test.ts
  src/cockpit/routes/driven-sessions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2789): document Postgres GREATEST NULL semantics at the SQL site (reviewer R2)
  packages/domain/src/transcripts/agent-transcript-ingest-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2781): adoption-sweeper counts real repo.search output, excludes test files
  services/reviewer/src/adoption-sweeper.test.ts
  services/reviewer/src/adoption-sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2781): address PR #1947 R1 — repo-wide count, broader test exclusion, binary-line note
  services/reviewer/src/adoption-sweeper.test.ts
  services/reviewer/src/adoption-sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2835): gate auto-session-title's module-level main() + e2e canary + parity test
  .claude/hooks/auto-session-title.ts
  .minsky/hooks/auto-session-title.ts
  .minsky/hooks/dispatch-userpromptsubmit.e2e.test.ts
  .minsky/hooks/guard-entrypoint-gate.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2835): correct ask-routing-deferral-detector.md stale calibration-only description
  docs/architecture/hooks/ask-routing-deferral-detector.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2835): address PR #1948 R1 — cover compiled dispatcher path + strengthen scanner
  .minsky/hooks/dispatch-userpromptsubmit.e2e.test.ts
  .minsky/hooks/guard-entrypoint-gate.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2839): make appendGuardGrant's expiry prune use an injectable clock
  .claude/hooks/guard-grant-store.ts
  .minsky/hooks/guard-grant-store.test.ts
  .minsky/hooks/guard-grant-store.ts
  .minsky/hooks/tasks-status-set-guard.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1877): tighten decision-defaults + hook-files in place — CLAUDE.md 126.8k → 100.4k chars
  .cursor/rules/decision-defaults.mdc
  .cursor/rules/hook-files.mdc
  .minsky/rules/decision-defaults.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1877): reviewer R1 — restore duplicate-sweep fail-posture precision
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2809): guard deploy-surface.ts against null/undefined filenames
  .claude/hooks/deploy-surface-detector.ts
  .claude/hooks/pr-context.ts
  .claude/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/deploy-surface-detector.test.ts
  .minsky/hooks/deploy-surface-detector.ts
  .minsky/hooks/pr-context.ts
  .minsky/hooks/require-deploy-verification-before-merge.test.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  packages/domain/src/deployment/deploy-surface.test.ts
  packages/domain/src/deployment/deploy-surface.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2284): partial: session-attachment schema on presence_claims (pid/entrypoint/terminal_context)
  packages/domain/src/presence/repository.ts
  packages/domain/src/presence/types.ts
  packages/domain/src/storage/migrations/pg/0056_session_attachment_extras.sql
  packages/domain/src/storage/migrations/pg/meta/0056_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/presence-claims-schema.ts
  src/mcp/presence-write-path.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2810): resolve git binary robustly and never crash the hook exec layer
  .claude/hooks/require-review-before-merge.ts
  .claude/hooks/types.ts
  .minsky/hooks/merge-gates-git-path-regression.test.ts
  .minsky/hooks/require-review-before-merge.ts
  .minsky/hooks/types.test.ts
  .minsky/hooks/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
