Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4495): Teach the cadence recipes to glob, and ship the segmentation verifier
  .cursor/rules/mcp-disconnect-cadence.mdc
  .minsky/rules/mcp-disconnect-cadence.mdc
  scripts/verify-disconnect-log-segments.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2746): Print a dataset link a browser can actually open
  services/reviewer/scripts/push-braintrust-gold-set.test.ts
  services/reviewer/scripts/push-braintrust-gold-set.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4601): Re-derive the tick timeout from a measured batch, not an inherited estimate
  contract/cockpit-health-shape.json
  docs/architecture/adr-017-transcript-capture-continuous-watch.md
  docs/architecture/cockpit.md
  packages/domain/src/transcripts/per-turn-embedding-pipeline.ts
  scripts/smoke-transcript-sweep.ts
  src/cockpit/transcript-backfill-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4554): PR #3366 R1 — the summary that reports arms was the one not reporting effort
  services/reviewer/scripts/paired-eval-runner.test.ts
  services/reviewer/scripts/paired-eval-runner.ts
  services/reviewer/src/config.ts
  services/reviewer/src/providers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#4554): PR #3366 R2 — finish the consolidation instead of shipping most of it
  services/reviewer/src/providers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4577): commit Martian Code Review Bench results and final report
  .gitignore
  services/reviewer/eval/results/REPORT.md
  services/reviewer/eval/results/benchmark_data-generation-meta.json
  services/reviewer/eval/results/benchmark_data.json
  services/reviewer/eval/results/gpt-5.2-judge/candidates.json
  services/reviewer/eval/results/gpt-5.2-judge/dedup_groups.json
  services/reviewer/eval/results/gpt-5.2-judge/evaluations.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2746): PR #3369 R1 — take the endpoint from config, and scope the score lookup
  services/reviewer/scripts/configure-braintrust-scorer.test.ts
  services/reviewer/scripts/configure-braintrust-scorer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4577): make REPORT.md's spec-verification limitation grep-able per AT
  services/reviewer/eval/results/REPORT.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4601): PR #3370 R1 — drop retired journal keys on read, and use the labels I exported
  scripts/smoke-transcript-sweep.ts
  src/cockpit/routes/health.ts
  src/cockpit/transcript-sweep-journal.test.ts
  src/cockpit/transcript-sweep-journal.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4495): PR #3368 R1 — roll to an ordinal instead of refusing, and stop capping the 24h scan
  src/cockpit/widgets/s3-gauges.test.ts
  src/cockpit/widgets/s3-gauges.ts
  src/mcp/disconnect-log-segments.test.ts
  src/mcp/disconnect-log-segments.ts
  src/mcp/disconnect-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2746): PR #3369 R2 — do not trust the server to honour the scoping param
  services/reviewer/scripts/configure-braintrust-scorer.test.ts
  services/reviewer/scripts/configure-braintrust-scorer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2746): PR #3369 R3 — fail closed when the score lookup itself fails
  services/reviewer/scripts/configure-braintrust-scorer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4577): address reviewer-bot findings on PR #3371
  .gitignore
  services/reviewer/eval/martian-bench-generate.ts
  services/reviewer/eval/results/gpt-5.2-judge/MANIFEST.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4495): PR #3368 R2 — reserve the segment name atomically instead of check-then-rename
  src/mcp/disconnect-log-segments.test.ts
  src/mcp/disconnect-log-segments.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4624): Stop reading a reset socket as a missing prerequisite [no-deploy-impact]
  scripts/lib/verify-preflight.test.ts
  scripts/lib/verify-preflight.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2746): Guard main() so importing the scorer script does not run it
  services/reviewer/scripts/configure-braintrust-scorer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4624): R1 — let our own budget abort outrank the absence allowlist [no-deploy-impact]
  scripts/lib/verify-preflight.test.ts
  scripts/lib/verify-preflight.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4620): Fall back to Minsky config for google/anthropic/GitHub credentials in the eval runner
  services/reviewer/scripts/harness-config-auth.test.ts
  services/reviewer/scripts/harness-config-auth.ts
  services/reviewer/scripts/paired-eval-runner.ts
  services/reviewer/scripts/run-judge-pass.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4550): Make the probe assertion name its own cause [no-deploy-impact]
  scripts/lib/verify-preflight.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4620): PR #3373 R1 — treat whitespace-only env vars as unset, document the config fallback
  services/reviewer/HARNESS.md
  services/reviewer/scripts/harness-config-auth.test.ts
  services/reviewer/scripts/harness-config-auth.ts
  services/reviewer/scripts/paired-eval-runner.ts
  services/reviewer/scripts/run-judge-pass.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4620): PR #3373 R2 — check OCTOKIT_AUTH and GITHUB_TOKEN independently for whitespace
  services/reviewer/scripts/harness-config-auth.test.ts
  services/reviewer/scripts/harness-config-auth.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4550): R1 — discriminate on kind instead of casting for detail [no-deploy-impact]
  scripts/lib/verify-preflight.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#4620): PR #3373 R3 — isolate whitespace/empty-value tests from config initialization
  services/reviewer/scripts/harness-config-auth.test.ts
  services/reviewer/scripts/harness-config-auth.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2991): Compute the detection floor and gold-set sizing as committed artifacts, not prose
  services/reviewer/eval/detection-floor.json
  services/reviewer/eval/statistical-power.test.ts
  services/reviewer/eval/statistical-power.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2991): partial: regression gate + kappa-calibration snapshot writer
  services/reviewer/scripts/reviewer-benchmark-gate.test.ts
  services/reviewer/scripts/reviewer-benchmark-gate.ts
  services/reviewer/scripts/score-human-labels.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4630): Give the single-line linkify path the affordances prose already had
  src/cockpit/web/components/EntityTokenLink.tsx
  src/cockpit/web/components/JsonView.tsx
  src/cockpit/web/components/LinkifiedText.test.tsx
  src/cockpit/web/components/LinkifiedText.tsx
  src/cockpit/web/lib/entity-linkifier.mt3174.test.tsx
  src/cockpit/web/lib/entity-linkifier.tsx
  src/cockpit/web/pages/AsksPage.tsx
  src/cockpit/web/widgets/AskDetail.tsx
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/web/widgets/MemorySearch.tsx
Due: none

fix(mt#2991): Pin Bun.spawnSync stdio so stderr/stdout type as captured buffers
  services/reviewer/package.json
  services/reviewer/scripts/reviewer-benchmark-gate.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4630): Render-path evidence, and correct the parity claim it disproved
  docs/evidence/mt-4630/README.md
  docs/evidence/mt-4630/memories-row-hover-card.png
  src/cockpit/web/pages/AsksPage.tsx
Due: bun node_modules/.bin/prettier --write

test(mt#4630): Assert the affordance at the ask call site, not just the component
  src/cockpit/web/widgets/AskDetail.test.tsx
Due: none

fix(mt#4630): PR #3375 R1 — the two branches never agreed on mono, so stop defaulting it
  src/cockpit/web/components/EntityTokenLink.test.tsx
  src/cockpit/web/components/EntityTokenLink.tsx
  src/cockpit/web/components/JsonView.tsx
Due: none

feat(mt#4403): Give the repair tool a path that survives its own cleanup
  src/adapters/shared/commands/session/apply-post-merge-state-sync-command.test.ts
  src/adapters/shared/commands/session/apply-post-merge-state-sync-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4403): Pin the no-record branch's choice, and name the sweeper's blind spot
  packages/domain/src/session/session-merge-status-sync.ts
  packages/domain/src/session/session-post-merge-sync.test.ts
  services/reviewer/src/merge-state-sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4270): Assert pid-honoring at the seam, not by comparing two live readings
  packages/shared/src/process-memory.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4595): ADR-024 states where its ladder stops [no-deploy-impact]
  docs/architecture/adr-024-detection-mechanism-ladder-for-guidance-hooks.md
Due: bun node_modules/.bin/prettier --write

docs(mt#4595): PR #3377 R1 — cite mt#4565's cost, do not restate it [no-deploy-impact]
  docs/architecture/adr-024-detection-mechanism-ladder-for-guidance-hooks.md
Due: bun node_modules/.bin/prettier --write

feat(mt#4633): Re-judge only the failed judge calls, and keep selectedIds fixed
  services/reviewer/scripts/repair-judge-verdicts.test.ts
  services/reviewer/scripts/repair-judge-verdicts.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4463): Pair an entity's ids by field name, so a scoped record binds at all [no-deploy-impact]
  .claude/hooks/transcript.ts
  .minsky/hooks/transcript.test.ts
  .minsky/hooks/transcript.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4622): Exempt the markdown compile SOURCES from Prettier, not just their outputs
  .prettierignore
  packages/domain/src/compile/prettier-source-exemption.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4566): Observe what became of a fired retrospective trigger [no-deploy-impact]
  .claude/hooks/retrospective-completeness-detector.ts
  .claude/hooks/retrospective-discharge.ts
  .claude/hooks/retrospective-trigger-scanner.ts
  .minsky/hooks/retrospective-completeness-detector.ts
  .minsky/hooks/retrospective-discharge.test.ts
  .minsky/hooks/retrospective-discharge.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
  docs/architecture/hook-module-inventory.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4621): Label cockpit-spawned entity threads so they stop rendering untitled
  src/cockpit/entity-thread-launch.ts
  src/cockpit/entity-thread-session-label.test.ts
  src/cockpit/harness-session-label.test.ts
  src/cockpit/harness-session-label.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
