Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

task(#226): Create AI-powered session review workflow specification
  process/task-specs/implement-ai-powered-session-review-workflow.md
  process/tasks.md
  process/tasks/226-implement-ai-powered-session-review-workflow.md
Due: bun node_modules/.bin/prettier --write

Complete SessionDB compatibility layer removal
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Add infinite loop discovery to variable naming protocol
  .cursor/rules/variable-naming-protocol.mdc
Due: none

Marks config restructuring as done
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(tests): Resolve mock sequence issues in ConflictDetectionService unit tests
  src/domain/git/conflict-detection.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task status with accurate testing results
  process/tasks/221-better-merge-conflict-prevention.md
Due: bun node_modules/.bin/prettier --write

Adds task for git workflow conflict detection
  process/tasks.md
  process/tasks/227-extend-conflict-detection-to-comprehensive-git-workflow-protection.md
Due: bun node_modules/.bin/prettier --write

feat: create task #228 to exclude CLOSED tasks from default list output
  process/tasks.md
  process/tasks/196-test-task-creation-fix.md
  process/tasks/197-task-169-evaluate-and-deduplicate-improved-error-messages.md
  process/tasks/228-exclude-closed-tasks-from-default-tasks-list-output.md
Due: bun node_modules/.bin/prettier --write

feat(tasks): create strategic evaluation task for mandatory task-session associations
  process/tasks.md
  process/tasks/229-evaluate-mandatory-task-session-association-requirement.md
Due: bun node_modules/.bin/prettier --write

feat(#228): exclude CLOSED tasks from default tasks list output
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#228): exclude CLOSED tasks from default tasks list + fix origin/origin/main bug
  process/tasks.md
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve origin/origin/main bug in session update conflict detection
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#220): Fix variable naming issues in test utilities
  process/tasks/220-improve-test-isolation-and-reliability.md
  src/domain/tasks/__tests__/taskService-jsonFile-integration.test.ts
  src/domain/tasks/__tests__/taskService-jsonFile-integration.test.ts.disabled
  src/utils/test-utils/__tests__/enhanced-utils.test.ts
  src/utils/test-utils/cleanup.ts
  src/utils/test-utils/enhanced-mocking.ts
  src/utils/test-utils/index.ts
  src/utils/test-utils/mocking.ts
  src/utils/test-utils/test-isolation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#229): complete investigation phase of mandatory task-session association evaluation
  CHANGELOG.md
  analysis/task-229-session-task-association-analysis.md
Due: bun node_modules/.bin/prettier --write

fix(#220): Resolve critical variable reference issues
  src/utils/test-utils/__tests__/enhanced-utils.test.ts
  src/utils/test-utils/mocking.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#228): exclude CLOSED tasks from default list + comprehensive origin/origin/main bug coverage
  src/domain/__tests__/session-pr-branch-reference-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Use repository's actual default branch instead of hardcoding 'main'
  src/domain/git.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#220): Complete test utilities enhancement with compat layer
  src/utils/test-utils/__tests__/enhanced-utils.test.ts
  src/utils/test-utils/factories.ts
  src/utils/test-utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

analysis(#229): add focused analysis on --description auto-task creation approach
  analysis/auto-task-creation-analysis.md
  analysis/task-229-session-task-association-analysis.md
Due: bun node_modules/.bin/prettier --write

fix: Session pr command should never switch user to PR branch
  .pr_title
  src/domain/__tests__/session-pr-no-branch-switch.test.ts
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
