Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#1899): address PR #1153 R1 — 1 BLOCKING + 1 NON-BLOCKING
  services/reviewer/src/pr-watch-scheduler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1888): drop eyebrow labels, add system panel, fix nav tile truncation
  src/cockpit/web/App.tsx
  src/cockpit/web/pages/HomePage.tsx
Due: none

feat(mt#1892): shell completions for minsky CLI (bash/zsh/fish)
  README.md
  package.json
  src/cli-discriminators.ts
  src/cli.ts
  src/commands/completions/emit.ts
  src/commands/completions/index.ts
  src/commands/completions/install.ts
  src/commands/completions/manifest-lookup.ts
  src/commands/completions/serve.ts
  src/commands/completions/uninstall.ts
  src/generated/completion-manifest.json
  tests/commands/completions/manifest-lookup.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1892): co-locate manifest-lookup test with source
  src/commands/completions/manifest-lookup.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(cockpit): shorten home nav tile descriptions and drop line-clamp
  src/cockpit/web/pages/HomePage.tsx
Due: none

fix(mt#1892): address PR #1155 R1 — 3 BLOCKING + 1 NON-BLOCKING
  bun.lock
  package.json
  scripts/build-completion-manifest.ts
  src/commands/completions/install.ts
  src/commands/completions/serve.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(cockpit): drop duplicate Workstreams page header, chip-style parent IDs
  src/cockpit/web/pages/WorkstreamsPage.tsx
  src/cockpit/web/widgets/Workstreams.tsx
Due: none

feat(mt#1911): role-based reviewer filter for session_pr_wait-for-review
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/session/commands/pr-wait-for-review-subcommand.test.ts
  src/domain/session/commands/pr-wait-for-review-subcommand.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1895): add self-recognized-failure auto-trigger class to retrospective skill
  .claude/skills/retrospective/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(cockpit): drop redundant page headers from AgentsPage and TasksPage
  src/cockpit/web/pages/AgentsPage.tsx
  src/cockpit/web/pages/TasksPage.tsx
Due: none

feat(mt#1909): add classify-before-deferring skill (Class A/B/C/R3 classifier)
  .claude/skills/classify-before-deferring/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1911): wrap TokenProvider acquisition failures with role-named MinskyError
  src/domain/session/commands/pr-wait-for-review-subcommand.test.ts
  src/domain/session/commands/pr-wait-for-review-subcommand.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1909): address PR #1158 R1 — 4 NON-BLOCKING
  .claude/skills/classify-before-deferring/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1904): cockpit lifecycle module — per-workspace state file
  src/cockpit/lifecycle.test.ts
  src/cockpit/lifecycle.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#1904): port-recovery + start-command consume lifecycle module
  src/cockpit/port-recovery.test.ts
  src/cockpit/port-recovery.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1907): partial: schema, inflight-marker module, runReview integration
  services/reviewer/migrations/pg/0002_inflight_reviews.sql
  services/reviewer/migrations/pg/meta/_journal.json
  services/reviewer/src/db/client.ts
  services/reviewer/src/db/schemas/inflight-reviews-schema.ts
  services/reviewer/src/inflight-marker.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1907): partial: sweeper integration with inflight marker
  services/reviewer/src/server.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1904): dev chromium tracker + --no-dev-chromium opt-out
  src/cockpit/dev-chromium.test.ts
  src/cockpit/dev-chromium.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1904): cockpit-design Step 0 + architecture doc — operator dev loop
  .claude/skills/cockpit-design/SKILL.md
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1904): src/cockpit/CLAUDE.md — operator dev loop pointer
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

test(mt#1907): add inflight-marker test suite (25 tests, AT-1..AT-6)
  services/reviewer/src/inflight-marker.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1904): address PR #1159 R1 — 2 BLOCKING + 2 NON-BLOCKING
  .claude/skills/cockpit-design/SKILL.md
  src/cockpit/dev-chromium.test.ts
  src/cockpit/dev-chromium.ts
  src/cockpit/lifecycle.test.ts
  src/cockpit/lifecycle.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1907): address R1 review — db threading to retriggerViaRunReview + schema uniqueIndex
  services/reviewer/src/db/schemas/inflight-reviews-schema.ts
  services/reviewer/src/sweeper.test.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1893): option-value completion from Zod enum schemas
  README.md
  scripts/build-completion-manifest.ts
  src/commands/completions/manifest-lookup.test.ts
  src/commands/completions/manifest-lookup.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1924): add pagination, sorting, and filtering to Workstreams and Agents widgets
  src/cockpit/web/lib/useListControls.test.ts
  src/cockpit/web/lib/useListControls.ts
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/web/widgets/Workstreams.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1893): address PR #1161 R1 — 2 BLOCKING + 2 NON-BLOCKING
  scripts/build-completion-manifest.ts
  src/commands/completions/manifest-lookup.test.ts
  src/commands/completions/manifest-lookup.ts
  src/commands/completions/serve.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(cockpit): visible liveness label + stable sort tiebreaker on Agents
  src/cockpit/web/widgets/Agents.tsx
Due: none

feat(cockpit/mt#1888): enrich Agents widget rows with task title
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/widgets/agents.test.ts
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1927): install marketing-site-design skill bundle v0
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/marketing-site-design/references/case-studies-2026-05.md
  .claude/skills/motion-framer/SKILL.md
  .claude/skills/seo-skill/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1925): cockpit-design skill auto-starts cockpit before UI inspection
  .claude/skills/cockpit-design/SKILL.md
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1925): address PR #1162 R1 — 2 BLOCKING + 2 NON-BLOCKING
  .claude/skills/cockpit-design/SKILL.md
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1925): address PR #1162 R3 — align lifecycle.ts with skill snippet's XDG_STATE_HOME
  src/cockpit/lifecycle.test.ts
  src/cockpit/lifecycle.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1927): lock cyberbrain / Section 9 brand register via workshop
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1927): address PR #1163 R1 — 3 BLOCKING + 2 NON-BLOCKING
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
  .claude/skills/motion-framer/SKILL.md
  .claude/skills/seo-skill/SKILL.md
Due: bun node_modules/.bin/prettier --write

style(mt#1927): prettier --write on the 5 added skill files
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/marketing-site-design/references/case-studies-2026-05.md
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
  .claude/skills/motion-framer/SKILL.md
  .claude/skills/seo-skill/SKILL.md
Due: bun node_modules/.bin/prettier --write

style: prettier --write on the 5 mt#1927 skill files
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/marketing-site-design/references/case-studies-2026-05.md
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
  .claude/skills/motion-framer/SKILL.md
  .claude/skills/seo-skill/SKILL.md
Due: bun node_modules/.bin/prettier --write

style(mt#1928): prettier --write on the 5 mt#1927 skill files
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/marketing-site-design/references/case-studies-2026-05.md
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
  .claude/skills/motion-framer/SKILL.md
  .claude/skills/seo-skill/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1940): distinguish compile-command errors from staleness in pre-commit rules check
  skills-lock.json
  src/hooks/pre-commit.ts
  src/hooks/rules-compile-check.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1939): move harness key under workspace.harness instead of root
  skills-lock.json
  src/domain/configuration/schemas/workspace.ts
  src/domain/setup.test.ts
  src/domain/setup.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1940): address R1 BLOCKING #1 and #2
  src/hooks/pre-commit.ts
  src/hooks/rules-compile-check.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
