Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2459): CI build — treat a MISSING canary as not-passed in the verify script
  scripts/verify-operator-deferral-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3174): correct getTaskMeta doc comment to match actual omission semantics
  src/cockpit/task-title-cache.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3179): name the merge invoker; add a turn-end untaken-action Stop guard
  .claude/hooks/known-override-env-vars.ts
  .claude/hooks/registry.ts
  .claude/hooks/turn-end-untaken-action-scan.ts
  .claude/settings.json
  .cursor/rules/key-workflows.mdc
  .minsky/hooks/known-override-env-vars.ts
  .minsky/hooks/registry.ts
  .minsky/hooks/turn-end-untaken-action-scan.test.ts
  .minsky/hooks/turn-end-untaken-action-scan.ts
  .minsky/rules/key-workflows.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3152): relayed-claim verification — check-premise cues (g)/(h) + reverse mt#3113's relay suppression
  .claude/hooks/code-mechanism-assertion-detector.ts
  .claude/skills/check-premise/SKILL.md
  .cursor/rules/claim-confidence.mdc
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/code-mechanism-assertion-detector.test.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
  .minsky/rules/claim-confidence.mdc
  .minsky/rules/hook-observers.mdc
  .minsky/skills/check-premise/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3157): partial: CLI export entry point + real-shape content resolution
  packages/domain/src/transcripts/event-adapter.ts
  scripts/export-gource-log.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3179): append the calibration entry last; propagate to its pinned test
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3152): address PR #2267 R1 — calibration-consumer sweep + relay E2E and negative-control tests
  .minsky/hooks/code-mechanism-assertion-detector.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3157): correct guard-denial detection against real corpus evidence
  packages/domain/src/transcripts/event-adapter.test.ts
  packages/domain/src/transcripts/event-adapter.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3157): address PR #2268 R1 findings — docs wiring, honest outcome, readable actor labels
  packages/domain/src/transcripts/event-adapter.test.ts
  packages/domain/src/transcripts/event-adapter.ts
  packages/domain/src/transcripts/event-schema.ts
  packages/domain/src/transcripts/gource-exporter.test.ts
  packages/domain/src/transcripts/gource-exporter.ts
  packages/domain/src/transcripts/index.ts
  scripts/README.md
  scripts/export-gource-log.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3181): preserve explicit null option value in response writers
  eslint-err.txt
  src/adapters/shared/commands/window/index.ts
  src/adapters/shared/commands/window/window.test.ts
  src/cockpit/web/widgets/AskDetail.composeResolvePayload.test.ts
  src/cockpit/web/widgets/AskDetail.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#3181): remove stray empty eslint-err.txt file
  eslint-err.txt
Due: none

feat(mt#3184): partial: session-film backend event endpoint (stage a)
  src/cockpit/routes/session-film.test.ts
  src/cockpit/routes/session-film.ts
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): partial: client fold + keyframes + batch-row grouping (stage b)
  src/cockpit/web/lib/session-film-batches.test.ts
  src/cockpit/web/lib/session-film-batches.ts
  src/cockpit/web/lib/session-film-config.ts
  src/cockpit/web/lib/session-film-fold.test.ts
  src/cockpit/web/lib/session-film-fold.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): partial: the A0 event ribbon (stage c)
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
  src/cockpit/web/lib/session-film-virtualization.test.ts
  src/cockpit/web/lib/session-film-virtualization.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): partial: stage layout — DOI + tidy-tree per realm (stage d, part 1)
  bun.lock
  package.json
  src/cockpit/web/lib/session-film-config.ts
  src/cockpit/web/lib/session-film-layout.test.ts
  src/cockpit/web/lib/session-film-layout.ts
  src/cockpit/web/lib/session-film-links.test.ts
  src/cockpit/web/lib/session-film-links.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): partial: the A2 stage — SVG scene + avatars + outcome physics (stage d, part 2)
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/hooks/usePrefersReducedMotion.test.ts
  src/cockpit/web/hooks/usePrefersReducedMotion.ts
  src/cockpit/web/lib/session-film-links.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): partial: page wiring — scroll-as-scrub, ?t= deep link, minimap, picker (stage e + g)
  src/cockpit/web/App.tsx
  src/cockpit/web/components/session-film/SessionFilmMinimap.test.tsx
  src/cockpit/web/components/session-film/SessionFilmMinimap.tsx
  src/cockpit/web/components/session-film/SessionFilmPicker.test.tsx
  src/cockpit/web/components/session-film/SessionFilmPicker.tsx
  src/cockpit/web/lib/session-film-client.test.ts
  src/cockpit/web/lib/session-film-client.ts
  src/cockpit/web/pages/SessionFilmPage.test.tsx
  src/cockpit/web/pages/SessionFilmPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): add live-verification script for the session-film event endpoint
  scripts/verify-session-film-endpoint.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): fold-level fan-out signal + touched-set contour library
  bun.lock
  package.json
  src/cockpit/web/lib/session-film-contour.test.ts
  src/cockpit/web/lib/session-film-contour.ts
  src/cockpit/web/lib/session-film-fold.test.ts
  src/cockpit/web/lib/session-film-fold.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3184): stage wiring — fan-out beams, touched-set contour, spawn/clone rendering
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
Due: none

fix(mt#1279): reject prose in `scope`, add `scopeNotes` for the prose channel
  .minsky/hooks/fixtures/session-generate-prompt-scope-notes.txt
  .minsky/hooks/parallel-work-guard-extraction.test.ts
  packages/domain/src/session/prompt-generation.ts
  scripts/regenerate-mt2811-prompt-fixture.ts
  src/adapters/shared/commands/session/prompt-command.ts
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/generated/completion-manifest.json
  tests/domain/session/prompt-generation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3175): partial: adopt EntityRef/LinkifiedText across Shape-2/Shape-3 sites
  src/cockpit/web/pages/ActivityPage.tsx
  src/cockpit/web/widgets/AskDetail.tsx
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/web/widgets/MemoryDetail.tsx
  src/cockpit/web/widgets/MemorySearch.tsx
  src/cockpit/web/widgets/TaskGraph.tsx
Due: none

fix(mt#2712): un-quarantine domain.test.ts stale import + verify Pulumi seam already hermetic
  src/composition/domain.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2664): un-skip and fix stale strictObject premise in cockpit-credential-integration test
  src/cockpit/cockpit-credential-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2712): delete stale duplicate harness-detection test suite
  tests/domain/runtime/harness-detection.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1279): address PR #2270 R1 — correct the path-shape rule in both param descriptions
  src/adapters/shared/commands/session/prompt-command.ts
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2633): eliminate TOCTOU race in disconnect-event-sweep HWM dir creation
  src/mcp/disconnect-event-sweep.test.ts
  src/mcp/disconnect-event-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2712): un-quarantine prompt-generation checkpoint-cadence assertion
  tests/domain/session/prompt-generation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2644): purge SQLite content from sessiondb migration/troubleshooting guides
  docs/README.md
  docs/sessiondb-migration-guide.md
  docs/sessiondb-troubleshooting.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2664): address PR #2271 R1 -- correct comment claiming ConfigWriter strips unknown keys
  src/cockpit/cockpit-credential-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2594): resolve ADR-020 numbering collision — renumber reviewer-interaction ADR to 030
  docs/architecture/adr-030-reviewer-interaction-channel-allocation.md
Due: bun node_modules/.bin/prettier --write

feat(mt#3175): partial: JsonView Shape-1 leaves + colocated tests
  src/cockpit/web/components/JsonView.test.tsx
  src/cockpit/web/components/JsonView.tsx
  src/cockpit/web/pages/ActivityPage.test.tsx
  src/cockpit/web/pages/ActivityPage.tsx
  src/cockpit/web/widgets/AskDetail.test.tsx
  src/cockpit/web/widgets/MemoriesList.test.tsx
  src/cockpit/web/widgets/MemoryDetail.test.tsx
  src/cockpit/web/widgets/MemorySearch.test.tsx
  src/cockpit/web/widgets/TaskGraph.test.tsx
  src/cockpit/web/widgets/TaskGraph.tsx
Due: none

fix(mt#3184): address minsky-reviewer[bot] round-1 blocking findings on PR #2269
  src/cockpit/web/lib/session-film-config.ts
  src/cockpit/web/lib/session-film-fold.test.ts
  src/cockpit/web/lib/session-film-fold.ts
  src/cockpit/web/lib/session-film-layout.ts
  src/cockpit/web/pages/SessionFilmPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2595): fix stale src/domain/ path citations in architecture.md and task-kinds.md
  docs/architecture.md
  docs/task-kinds.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#2598): partial: add plant-flow/ sub-modules (node primitives, node components, layout, edges, legend)
  src/cockpit/web/pages/plant-flow/Instruments.tsx
  src/cockpit/web/pages/plant-flow/OrganNodeShell.tsx
  src/cockpit/web/pages/plant-flow/PlantLegend.tsx
  src/cockpit/web/pages/plant-flow/PolicyNodes.tsx
  src/cockpit/web/pages/plant-flow/StageNodes.tsx
  src/cockpit/web/pages/plant-flow/SupportNodes.tsx
  src/cockpit/web/pages/plant-flow/edges.ts
  src/cockpit/web/pages/plant-flow/layout.ts
  src/cockpit/web/pages/plant-flow/nodeTypes.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2631): remove dead validate-commit npm script
  package.json
Due: bun node_modules/.bin/prettier --write

docs(mt#2644): fix blockquote formatting artifact and dry-run flag accuracy
  docs/sessiondb-migration-guide.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2712): un-quarantine FakeAskRepository.listByState project-scope test
  tests/domain/project-scope-acceptance.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3184): remove unused SessionFilmError import (reviewer round-3 non-blocking note)
  src/cockpit/web/pages/SessionFilmPage.tsx
Due: none

docs(mt#2595): fix stale src/domain/ paths and stale S2/S3 VSM statuses in theory-of-operation.md
  docs/theory-of-operation.md
Due: bun node_modules/.bin/prettier --write
