Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update CHANGELOG with new testability improvement tasks
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Adds tasks to improve domain module testability
  process/tasks.md
  process/tasks/101-improve-domain-module-testability-with-proper-dependency-injection.md
  process/tasks/102-refactor-domain-objects-to-follow-functional-patterns.md
  process/tasks/103-enhance-test-utilities-for-better-domain-testing.md
Due: bun node_modules/.bin/prettier --write

feat: add new feature
  src/adapters/__tests__/integration/workspace.test.ts
  src/domain/__tests__/github-backend.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: temporarily disable flaky integration tests to fix build
  CHANGELOG.md
  src/adapters/__tests__/cli/session.test.ts
  src/adapters/__tests__/cli/tasks.test.ts
  src/adapters/__tests__/integration/git.test.ts
  src/adapters/__tests__/integration/workspace.test.ts
  src/domain/__tests__/github-backend.test.ts
  src/domain/__tests__/github-basic.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: add PR description
  process/tasks/temp/pr.md
Due: bun node_modules/.bin/prettier --write

feat: Create task #104 to re-implement disabled integration tests
  process/tasks.md
  process/tasks/104-re-implement-disabled-integration-tests.md
  process/tasks/temp/final-task-recommendation.md
Due: bun node_modules/.bin/prettier --write

docs: Update CHANGELOG.md with task #104 details
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#96): Improve CLI adapter structure for shared options
  CHANGELOG.md
  process/tasks/096/implementation-notes.md
  process/tasks/096/pr.md
  src/adapters/cli/session.ts
  src/adapters/cli/tasks.ts
  src/adapters/cli/utils/__tests__/shared-options.test.ts
  src/adapters/cli/utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#96): Add shared-options.ts module for CLI commands
  src/adapters/cli/utils/shared-options.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Improve CLI adapter structure with shared options
  src/adapters/cli/git.ts
  src/adapters/cli/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Implement dependency injection for domain module testability
  src/domain/git.ts
  src/domain/repo-utils.test.ts
  src/domain/repo-utils.ts
  src/domain/session.ts
  src/utils/test-utils/dependencies.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Update CHANGELOG.md for task #101
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Add PR description for task #101
  process/tasks/101/pr.md
Due: bun node_modules/.bin/prettier --write

feat(#101): Improve Domain Module Testability with Proper Dependency Injection
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat: Complete CLI adapter refactoring with shared options
  CHANGELOG.md
  process/tasks.md
  src/adapters/cli/git.ts
  src/adapters/cli/rules.ts
  src/adapters/cli/utils/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update CHANGELOG and PR description for task 096
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs: Update task#101 spec with worklog and remaining work items
  process/tasks/101-improve-domain-module-testability-with-proper-dependency-injection.md
Due: bun node_modules/.bin/prettier --write

Add task #105 to implement session inspect subcommand
  CHANGELOG.md
  process/tasks/new/105-add-session-inspect-subcommand-for-current-session-detection.md
Due: bun node_modules/.bin/prettier --write

fix: Address linter errors and fix changelog issues
  CHANGELOG.md
  src/adapters/cli/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Refactor init.ts to use shared options
  CHANGELOG.md
  src/adapters/cli/init.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#101): Implement dependency injection interfaces for better testability
  src/domain/git.ts
  src/domain/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update PR description for task #101
  process/tasks/101/pr.md
Due: bun node_modules/.bin/prettier --write

Adds implementation verification protocol.
  .cursor/rules/task-implementation-workflow.mdc
  .cursor/rules/user-preferences.mdc
Due: none

Improves CLI option handling and testability
  process/tasks.md
  process/tasks/096/096-improve-cli-adapter-structure-for-shared-options.md
  process/tasks/101-improve-domain-module-testability-with-proper-dependency-injection.md
Due: bun node_modules/.bin/prettier --write

fix: Resolve remaining interface conflicts and type issues for dependency injection
  src/domain/session.ts
  src/domain/workspace.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task progress with latest implementation work
  process/tasks/101-improve-domain-module-testability-with-proper-dependency-injection.md
Due: bun node_modules/.bin/prettier --write

docs: Update PR summary for task #101
  process/tasks/101/updated-pr.md
Due: bun node_modules/.bin/prettier --write

feat(#101): Apply dependency injection to all session-related functions
  src/domain/session.ts
  src/domain/workspace.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task description with latest progress
  process/tasks/101-improve-domain-module-testability-with-proper-dependency-injection.md
Due: bun node_modules/.bin/prettier --write

docs: Add final PR summary for task #101
  process/tasks/101/final-pr.md
Due: bun node_modules/.bin/prettier --write

test: Update workspace tests to use proper dependency injection
  src/domain/workspace.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task description with completed workspace test improvements
  process/tasks/101-improve-domain-module-testability-with-proper-dependency-injection.md
Due: bun node_modules/.bin/prettier --write

docs: Add completed PR summary for task #101
  process/tasks/101/completed-pr.md
Due: bun node_modules/.bin/prettier --write

Add task #105 via Minsky CLI: Add Session Inspect Subcommand
  process/tasks.md
  process/tasks/105-add-session-inspect-subcommand-for-current-session-detection.md
Due: bun node_modules/.bin/prettier --write

feat(#105): Add session inspect subcommand for current session detection
  src/adapters/__tests__/cli/session.test.ts
  src/adapters/cli/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#105): Update CHANGELOG.md with implementation details
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

docs(#105): Add PR description
  process/tasks/105/pr.md
Due: bun node_modules/.bin/prettier --write

docs: Add task #098 to tasks.md and remove redundant task file
  process/tasks.md
  process/tasks/078-migrate-cli-adapter-tests.md
Due: bun node_modules/.bin/prettier --write

Marks domain refactor task as in progress
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

refactor(#105): Move session inspect logic to domain layer
  src/adapters/__tests__/integration/session.test.ts
  src/adapters/cli/session.ts
  src/domain/index.ts
  src/domain/session.ts
  src/schemas/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
