Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#4031): Match the imperative explanation request the override was missing
  .claude/hooks/wall-of-text-detector.ts
  .minsky/hooks/wall-of-text-detector.test.ts
  .minsky/hooks/wall-of-text-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4059): ⌘W closes the active cockpit tab; window-close moves to ⌘⇧W
  cockpit-tray/src-tauri/src/menu.rs
  docs/architecture/cockpit.md
  docs/cockpit-ui.md
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/components/TabCloseBridge.test.tsx
  src/cockpit/web/components/TabCloseBridge.tsx
Due: bun node_modules/.bin/prettier --write

fix(mt#4058): teach the markup inventory the bash-mode tag family
  packages/domain/src/transcripts/text-snippet.test.ts
  packages/shared/src/harness-markup.ts
  src/cockpit/web/lib/injected-content.test.ts
  src/cockpit/web/lib/injected-content.ts
  src/cockpit/web/lib/turn-origin.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4055): Deny a bulk-mutation script already running in another process
  .claude/hooks/block-concurrent-bulk-mutation.ts
  .claude/hooks/interceptor-coordinates.ts
  .claude/hooks/interceptor-descriptions.ts
  .claude/hooks/registry-matcher-pairs.ts
  .claude/hooks/registry.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/hooks/block-concurrent-bulk-mutation.test.ts
  .minsky/hooks/block-concurrent-bulk-mutation.ts
  .minsky/hooks/interceptor-coordinates.ts
  .minsky/hooks/interceptor-descriptions.ts
  .minsky/hooks/registry-matcher-pairs.ts
  .minsky/hooks/registry.ts
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/block-concurrent-bulk-mutation.md
  packages/domain/src/configuration/sources/environment.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4058): point transcripts-get's tag-list docblock at the inventory
  src/adapters/shared/commands/transcripts/get-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3821): Capture the judged input on retrospective-trigger records, and recover the rest from the transcript
  .claude/hooks/retrospective-trigger-scanner.ts
  .minsky/hooks/retrospective-trigger-capture.test.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
  docs/architecture/guard-calibration-stream-inventory.md
  docs/architecture/hooks/retrospective-trigger-scanner.md
  scripts/replay-retrospective-trigger-calibration.test.ts
  scripts/replay-retrospective-trigger-calibration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4058): PR #2935 R1 — the bash header must keep the command, not its args
  src/cockpit/web/lib/injected-content.test.ts
  src/cockpit/web/lib/injected-content.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3821): Tell the calibration reviewer a pre-capture record may still be recoverable
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
  docs/architecture/hooks/retrospective-trigger-scanner.md
  scripts/replay-retrospective-trigger-calibration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3694): peek foundation — URL codec, non-modal sheet primitive, controller
  src/cockpit/web/components/ui/sheet.tsx
  src/cockpit/web/lib/entity-codec.ts
  src/cockpit/web/lib/peek-codec.test.ts
  src/cockpit/web/lib/peek-codec.ts
  src/cockpit/web/lib/peek.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4009): interceptor-corpus aggregation layer — cached catalog rollup + live detail over guard_events
  packages/domain/src/guard-events/aggregates.test.ts
  packages/domain/src/guard-events/aggregates.ts
  scripts/verify-interceptor-aggregates.ts
  src/adapters/shared/commands/calibration.ts
  src/cockpit/interceptor-aggregates-cache.ts
  src/cockpit/sweepers.ts
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/interceptor-aggregates.test.ts
  src/cockpit/widgets/interceptor-aggregates.ts
  src/commands/cockpit/start-command.ts
  src/domain/calibration/calibration-sweep.ts
  src/domain/calibration/swept-entries.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4055): PR #2937 R1 — record the override, document the POSIX path assumption
  .claude/hooks/block-concurrent-bulk-mutation.ts
  .minsky/hooks/block-concurrent-bulk-mutation.test.ts
  .minsky/hooks/block-concurrent-bulk-mutation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4059): PR #2936 R1 — assert the neighbor actually takes focus
  cockpit-tray/src-tauri/src/menu.rs
  src/cockpit/web/components/TabCloseBridge.test.tsx
Due: none

fix(mt#3821): PR #2938 R1 — stamp the judged-text identity even when the phrase is not locatable
  .claude/hooks/retrospective-trigger-scanner.ts
  .minsky/hooks/retrospective-trigger-capture.test.ts
  .minsky/hooks/retrospective-trigger-scanner.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4056): Render the three axes and computed family filters on /interceptors
  scripts/audit-interceptor-coordinates.ts
  scripts/build-interceptor-catalog.test.ts
  scripts/build-interceptor-catalog.ts
  scripts/interceptor-coordinate-input.ts
  src/cockpit/web/components/InterceptorFacets.tsx
  src/cockpit/web/hooks/useInterceptors.ts
  src/cockpit/web/pages/InterceptorDetailPage.tsx
  src/cockpit/web/pages/InterceptorsPage.test.tsx
  src/cockpit/web/pages/InterceptorsPage.tsx
  src/cockpit/widgets/interceptors.test.ts
  src/cockpit/widgets/interceptors.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4055): PR #2937 R3 — wire the calibration records to somewhere they land
  .claude/hooks/registry.ts
  .minsky/hooks/registry.ts
  packages/domain/src/guard-events/stream-sources.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4066): Age out a stranded reply without waiting on a readable store
  src/cockpit/entity-thread-reply-buffer.test.ts
  src/cockpit/entity-thread-reply-buffer.ts
  src/cockpit/routes/entity-threads.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4044): Check that a claimed Negative control / Execution evidence run actually happened
  .claude/hooks/dispatcher.ts
  .claude/hooks/duplicate-check-search-provenance.ts
  .claude/hooks/evidence-provenance-table.ts
  .claude/hooks/evidence-record-provenance.ts
  .claude/hooks/interceptor-coordinates.ts
  .claude/hooks/interceptor-descriptions.ts
  .claude/hooks/registry-queries.ts
  .claude/hooks/registry.ts
  .claude/hooks/test-first-evidence.ts
  .claude/settings.json
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/dispatch-userpromptsubmit.phase2b-parity.test.ts
  .minsky/hooks/dispatcher.ts
  .minsky/hooks/duplicate-check-search-provenance.ts
  .minsky/hooks/evidence-provenance-table.ts
  .minsky/hooks/evidence-record-provenance.test.ts
  .minsky/hooks/evidence-record-provenance.ts
  .minsky/hooks/interceptor-coordinates.ts
  .minsky/hooks/interceptor-descriptions.ts
  .minsky/hooks/registry-queries.ts
  .minsky/hooks/registry.test.ts
  .minsky/hooks/registry.ts
  .minsky/hooks/test-first-evidence.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/evidence-record-provenance.md
  packages/domain/src/configuration/sources/environment.ts
  packages/domain/src/setup/hook-provisioning.ts
  scripts/replay-evidence-provenance.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3694): wire the peek to EntityRef — panes, hold gesture, promote
  src/cockpit/web/components/EntityRef.tsx
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/components/PeekBody.tsx
  src/cockpit/web/components/PeekHost.test.tsx
  src/cockpit/web/components/PeekHost.tsx
Due: none

feat(mt#3815): generic identity-asserting health probe + exit classification in daemon_core
  cockpit-tray/src-tauri/src/port.rs
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/supervisor/daemon_core.rs
  contract/cockpit-health-shape.json
Due: bun node_modules/.bin/prettier --write

fix(mt#4009): PR #2939 R1 — unparseable timestamps degrade to null, and the verify script streams the fire-log
  packages/domain/src/guard-events/aggregates.test.ts
  packages/domain/src/guard-events/aggregates.ts
  scripts/verify-interceptor-aggregates.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3212): Collapse the session *Params/*Parameters family to one definition each
  packages/domain/src/schemas/index.ts
  packages/domain/src/schemas/session-schemas.ts
  packages/domain/src/schemas/session.ts
  packages/domain/src/session/session-commands.ts
  packages/domain/src/session/session-service-start-params.test.ts
  packages/domain/src/session/session-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4066): PR #2940 R1 — arm the drain at daemon start too
  src/cockpit/routes/entity-threads.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#4056): Pin the axis rendering, the family filters, and the two zero-family states
  scripts/build-interceptor-catalog.test.ts
  src/cockpit/web/components/InterceptorFacets.test.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4054): Teach the evidence extractor the marker forms its blocking sibling accepts
  .claude/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.test.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3212): PR #2943 R1 — pin the tool boundary the domain schema does not touch
  docs/domain-schema-architecture.md
  src/adapters/shared/commands/session/session-parameter-family-parity.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3931): Replay real turns through the pilot, and require turn recovery before classifying
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
  scripts/pilot-rung3-confirm.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3815): supervise a registry of N daemons, and register the MCP daemon
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/src/menu.rs
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/supervisor/daemon_core.rs
  cockpit-tray/src-tauri/src/supervisor/registry.rs
  cockpit-tray/src-tauri/src/watcher_backend.rs
  cockpit-tray/src-tauri/src/watcher_web.rs
Due: none

fix(mt#4044): PR #2941 R1 — the bodyPath seam was never read, not rarely read
  .claude/hooks/evidence-record-provenance.ts
  .minsky/hooks/evidence-record-provenance.test.ts
  .minsky/hooks/evidence-record-provenance.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3815): record the registry in ADR-014, the contract note, and the tray CLAUDE.md
  cockpit-tray/CLAUDE.md
  contract/README.md
  docs/architecture/adr-014-cockpit-daemon-lifecycle-ownership.md
Due: bun node_modules/.bin/prettier --write

test(mt#4056): Add a browser verification for the axes, both zero-family states, and the facets
  scripts/verify-interceptors-axes-render.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4061): sweep the transcript corpus for tags the inventory does not know
  scripts/README.md
  scripts/audit-unknown-harness-tags.test.ts
  scripts/audit-unknown-harness-tags.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3694): PR #2942 R1 — reconcile the deferred types in the spec, document the peek
  docs/architecture/cockpit.md
  docs/cockpit-ui.md
  src/cockpit/web/components/PeekBody.tsx
  src/cockpit/web/pages/ChangesetDetailPage.tsx
Due: bun node_modules/.bin/prettier --write

feat(mt#3816): discovery + rewrite core for the local-http config migration
  src/mcp/setup/local-http-config.test.ts
  src/mcp/setup/local-http-config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3931): PR #2945 R1 — withdraw the criteria the measurement refuted, document the flag
  scripts/pilot-rung3-confirm.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4062): The cockpit stack row gave a false reason for hand-authoring primitives [no-deploy-impact]
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4065): store the opening of an over-length principal message, not its end
  packages/domain/src/notify/principal-inbound.test.ts
  packages/domain/src/notify/principal-inbound.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3694): pane titles show the resolved label, not a raw uuid
  snap1.txt
  src/cockpit/web/components/PeekHost.tsx
Due: none

fix(mt#4056): Add the role facet and regenerate the artifact after the rebase
  src/cockpit/web/components/InterceptorFacets.test.tsx
  src/cockpit/web/components/InterceptorFacets.tsx
  src/cockpit/web/hooks/useInterceptors.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#3694): drop snap1.txt — a debug artifact committed by mistake
  snap1.txt
Due: none
