Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.test.{ts,js}": [
    "node -e \"if (process.env.CI !== 'true' && /expect\\s*\\(\\s*true\\s*\\)\\s*\\.toBe\\s*\\(\\s*true\\s*\\)/.test(require('fs').readFileSync(process.argv[1], 'utf-8'))) { console.error('Placeholder test detected in ' + process.argv[1]); process.exit(1); }\"",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": ["prettier --write"]
}

Complete repository backend implementation after merge with main
  bun.lock
  src/domain/repository/local.ts
  src/domain/repository/remote.ts
Due: eslint --fix, prettier --write

Restored proper tests for the task status command, replacing placeholder tests with comprehensive test suite
  src/commands/tasks/status.test.ts
Due: eslint --fix, prettier --write

Add interface-agnostic functions (createPullRequestFromParams and commitChangesFromParams) with proper error handling
  src/domain/__tests__/git.test.ts
  src/domain/git.ts
Due: eslint --fix, prettier --write

Fix interface-agnostic git functions and tests with proper manual mocks
  src/domain/__tests__/git.test.ts
  src/domain/git.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md with task status test fixes and interface-agnostic git function fixes
  CHANGELOG.md
Due: prettier --write

Fix: Husky pre-commit hooks to run with bun
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  CHANGELOG.md
Due: prettier --write

Adds bun:test best practices rules
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/framework-specific-tests.mdc
  .cursor/rules/test-debugging.mdc
Due: none

Adds task for refactoring Minsky workflow rule
  067-refactor-minsky-workflow-rule-into-smaller-focused-rules.md
  process/tasks.md
  process/tasks/059-add-centralized-test-mock-utilities.md
  process/tasks/060-implement-automatic-test-linting.md
  process/tasks/061-implement-test-fixture-factory-pattern.md
  process/tasks/062-improve-bun-test-typescript-declarations.md
  process/tasks/063-define-and-implement-snapshot-testing-strategy.md
  process/tasks/064-add-single-line-description-validation-to-minsky-rules-create-.md
  process/tasks/065-fix-minsky-rules-create-update-description-quoting-bug.md
  process/tasks/066-investigate-and-fix-minsky-rules-get-format-generic-inconsistency.md
  process/tasks/067-refactor-minsky-workflow-mdc-rule-into-smaller-focused-rules.md
Due: prettier --write

feat: Add single-line description validation to interactive mode of minsky rules create command
  process/tasks/064-add-single-line-description-validation-to-minsky-rules-create-.md
  src/commands/rules/create.ts
Due: eslint --fix, prettier --write

docs: Mark task #064 as complete
  process/tasks.md
Due: prettier --write

docs: Update changelog for task #064
  CHANGELOG.md
Due: prettier --write

Adds AI guideline: Avoid over-optimizing indentation
  process/tasks.md
  process/tasks/068-ai-guideline-do-not-over-optimize-indentation.md
Due: prettier --write

docs: Update task #064 status to IN-REVIEW
  process/tasks.md
Due: prettier --write

docs: Update changelog for task #064 (validation and refactor)
  CHANGELOG.md
Due: prettier --write

Refactors and enhances session start command
  src/commands/session/dir.test.ts
  src/commands/session/start.ts
  src/commands/session/startSession.ts
  src/commands/tasks/create.test.ts
  src/domain/localGitBackend.ts
  src/domain/remoteGitBackend.ts
  src/domain/repository.ts
  src/domain/session.ts
  src/domain/tasks.test.ts
  src/utils/repository-utils.ts
Due: eslint --fix, prettier --write

fix: Address placeholder tests and various linting issues
  src/commands/git/commit.test.ts
  src/commands/session/__tests__/autoStatusUpdate.test.ts
  src/commands/session/get.test.ts
  src/commands/tasks/list.test.ts
  src/domain/git.test.ts
Due: eslint --fix, prettier --write

feat(#069): Implement permissive task ID parsing in CLI commands
  src/commands/session/delete.ts
  src/commands/session/dir.ts
  src/commands/session/get.ts
  src/commands/session/startSession.test.ts
  src/commands/session/startSession.ts
  src/commands/tasks/get.test.ts
  src/commands/tasks/get.ts
  src/domain/session.ts
  src/domain/tasks/index.ts
  src/domain/tasks/utils.test.ts
  src/domain/tasks/utils.ts
  src/utils/task-utils.test.ts
  src/utils/task-utils.ts
Due: eslint --fix, prettier --write

Enhances user preference handling
  .cursor/rules/user-preferences.mdc
Due: none

Addresses test failures and linter errors
  process/tasks.md
  process/tasks/072-fix-test-failures-and-remaining-linter-errors.md
Due: prettier --write

Adds task for adapter integration tests
  process/tasks.md
  process/tasks/073-fix-adapter-integration-test-failures.md
Due: prettier --write

fix(tests): Apply fixes to unit tests for task #070 auto-detection features
  bun.lock
  src/commands/git/commit.test.ts
  src/domain/__tests__/tasks.test.ts
  src/domain/workspace.test.ts
  src/domain/workspace.ts
Due: eslint --fix, prettier --write

docs(task#070): Update task spec with worklog and remaining items
  process/tasks/070-auto-detect-current-session-task-in-minsky-cli-from-session-workspace.md
Due: prettier --write

Reduces execute permissions for Git hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

Disables Git hooks for testing
  .husky/pre-commit.disabled
  .husky/pre-push.disabled
  test-hooks-disabled.txt
Due: none

feat(#070): Auto-detect current session/task in Minsky CLI from session workspace
  src/domain/__tests__/session.test.ts
Due: eslint --fix, prettier --write

Removes derived cursor rules file
  .cursor/rules/derived-cursor-rules.mdc
  process/tasks/019-implement-test-suite-improvements.md
  process/tasks/072-fix-test-failures-and-remaining-linter-errors.md
Due: prettier --write

refactor: convert require to ES module imports to resolve no-var-requires linter errors in session integration and startSession tests (Task 72)
  src/adapters/__tests__/integration/session.test.ts
  src/commands/session/startSession.test.ts
Due: eslint --fix, prettier --write

Update normalizeTaskId imports to use the new location from domain/tasks and add null checking
  src/adapters/__tests__/integration/session.test.ts
  src/adapters/__tests__/integration/tasks.test.ts
  src/commands/git/commit.ts
  src/commands/session/cd.ts
  src/commands/session/dir.ts
  src/commands/session/get.ts
  src/commands/session/start.ts
  src/commands/session/startSession.ts
  src/commands/tasks/status.ts
  src/domain/tasks.ts
  src/domain/tasks/utils.ts
Due: eslint --fix, prettier --write

Update task spec with current working status and remaining work
  process/tasks/070-auto-detect-current-session-task-in-minsky-cli-from-session-workspace.md
Due: prettier --write

Add detailed extension plan for auto-detection in additional commands
  process/tasks/070-auto-detect-current-session-task-in-minsky-cli-from-session-workspace.md
Due: prettier --write

fix(merge): resolve merge conflicts and keep updated test patterns (Task #072)
  bun.lock
  package.json
  src/commands/git/commit.test.ts
  src/commands/session/delete.ts
  src/domain/__tests__/session.test.ts
  src/domain/__tests__/tasks.test.ts
  src/schemas/common.ts
Due: eslint --fix, prettier --write

Create follow-up task #074 for extending auto-detection to additional commands
  process/tasks/074-extend-auto-detection-to-additional-commands.md
Due: prettier --write

fix(quotes): fix string literal quotes in startSession test (Task #072)
  src/commands/session/startSession.test.ts
Due: eslint --fix, prettier --write

fix(indentation): fix indentation in delete.ts (Task #072)
  src/commands/session/delete.ts
Due: eslint --fix, prettier --write

Reinforces session workspace usage rules
  .cursor/rules/session-first-workflow.mdc
Due: none

Removes test files.
  test-cli.ts
  test-current-session.ts
  test-debug-paths.ts
  test-debug-session.ts
  test-file.txt
  test-fix-results.md
  test-fixed-functions.ts
  test-hooks-disabled.txt
  test-hooks-with-error.ts
  test-hooks.ts
  test-migration.ts
  test-mock-session-autodetect.ts
  test-session-command-autodetect.ts
  test-session-detection.ts
  test-session-mock-helper.ts
  test-session-path-detection.ts
  test-workspace-detection.ts
Due: eslint --fix, prettier --write

#072: Fix TypeScript errors in session.ts
  src/domain/session.ts
Due: eslint --fix, prettier --write

fix(cli): Correct normalizeTaskId imports in task commands
  src/commands/tasks/get.ts
Due: eslint --fix, prettier --write

#072: Remove unused imports and variables in session.ts
  src/domain/session.ts
Due: eslint --fix, prettier --write
