Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

chore: finalize task numbering changes before process directory cleanup
  process/tasks.md
  process/tasks/md#468-implement-tool-call-supervision-approval-system-for-agent-enforced-rules.md
Due: bun node_modules/.bin/prettier --write

feat: rename github-issues backend to github and integrate with static imports
  src/domain/tasks/githubIssuesTaskBackend.test.ts
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Add missing createTaskFromTitleAndSpec method and complete GitHub backend integration
  src/domain/tasks/githubIssuesTaskBackend.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: GitHub backend task retrieval - correct label filtering logic
  src/domain/tasks/githubIssuesTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style: fix formatting in GitHub backend parseTasks method
  src/domain/tasks/githubIssuesTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: set proper default backend to 'minsky' and simplify config reading
  process/tasks.md
  process/tasks/md#1-rename-github-issues-backend-to-github-and-integrate-it-properly-into-the-task-service-avoiding-dynamic-imports.md
  process/tasks/md#1-test-default-backend.md
  process/tasks/md#2-rename-github-issues-backend-to-github-and-integrate-it-properly-into-the-task-service-avoiding-dynamic-imports.md
  process/tasks/md#3-improve-cli-ux-show-available-backend-options-in-help-and-error-messages.md
  process/tasks/md#4-default-test.md
  process/tasks/md#468-implement-tool-call-supervision-approval-system-for-agent-enforced-rules.md
  src/domain/configuration/sources/defaults.ts
  src/domain/storage/schemas/embeddings-schema-factory.ts
  src/domain/tasks/multi-backend-service.ts
  src/domain/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#474): Auto-update session task associations during task migrations
  CHANGELOG.md
  docs/session-task-association.md
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/domain/session/session-task-association.test.ts
  src/domain/session/session-task-association.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: extract common test magic strings to constants
  process/tasks.md
  process/tasks/md#2-rename-github-issues-backend-to-github-and-integrate-it-properly-into-the-task-service-avoiding-dynamic-imports.md
  process/tasks/md#5-explicit-backend-test.md
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/domain/repository-uri.test.ts
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-pr-title-duplication.test.ts
  src/domain/session-start-consistency.test.ts
  src/domain/session/pr-validation.test.ts
  src/domain/session/session-task-association.test.ts
  src/domain/session/session-task-association.ts
  src/domain/tasks/multi-backend-service.ts
  src/domain/uri-utils.test.ts
  src/utils/test-utils/test-constants.ts
  tests/utils/test-quality-cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style: Apply formatting improvements to session-task-association
  src/adapters/shared/commands/tasks/migrate-backend-command.ts
  src/domain/session/session-task-association.test.ts
  src/domain/session/session-task-association.ts
  src/domain/storage/schemas/embeddings-schema-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Add PR description for session task association feature
  pr-description.md
Due: bun node_modules/.bin/prettier --write

cleanup: Remove temporary PR description file
  pr-description.md
Due: bun node_modules/.bin/prettier --write

docs: update changelog for session merge logging improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: address priority linter warnings and fix all session parameter mapping
  src/domain/git.ts
  src/domain/repository-uri.ts
  src/domain/session-auto-task-creation.test.ts
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-start-consistency.test.ts
  src/domain/session.ts
  src/domain/storage/schemas/embeddings-schema-factory.ts
  src/domain/tasks/multi-backend-aggregation-bugfix.test.ts
  src/domain/tasks/real-world-workflow.test.ts
  src/domain/tasks/task-id-integration.test.ts
  tests/integration/session-edit-file-cursor-parity.integration.test.ts
  tests/integration/session-edit-file-simplified.integration.test.ts
  tests/utils/test-quality-cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(cli): Fix redundant tasks spec command structure and add spec edit
  .gitignore
  CHANGELOG.md
  docs/session-task-association.md
  src/adapters/shared/commands/tasks-modular.ts
  src/adapters/shared/commands/tasks/spec-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: continue magic string extraction - session context tests
  src/adapters/session-context-resolver.test.ts
  src/adapters/shared/commands/session-context-resolution.test.ts
  src/utils/test-utils/test-constants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: apply magic string constants systematically
  src/adapters/shared/commands/session-context-resolution.test.ts
  src/domain/repository-uri.test.ts
  src/utils/test-utils/test-constants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#256): Implement Phase 1 - Tool Embeddings Infrastructure
  current-spec.md
  updated-spec.md
Due: bun node_modules/.bin/prettier --write

fix: replace createMock with mock in migrate-backend-validation.test.ts
  src/adapters/shared/commands/tasks/migrate-backend-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#256): Implement tool embeddings infrastructure using absolute paths
  CHANGELOG.md
  context-pollution-analysis.md
  implementation-plan.md
  phase1-implementation-summary.md
  src/adapters/shared/commands/index.ts
  src/adapters/shared/commands/tools.ts
  src/adapters/shared/commands/tools/index-embeddings-command.ts
  src/domain/storage/migrations/pg/0014_create_tool_embeddings.sql
  src/domain/storage/schemas/embeddings-schema-factory.ts
  src/domain/storage/schemas/tool-embeddings.ts
  src/domain/storage/vector/vector-storage-factory.ts
  src/domain/tools/tool-embedding-service.ts
  updated-spec.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: systematic replacement of createMock with mock in test files
  src/domain/github-backend.test.ts
  src/domain/prepared-merge-commit-workflow.test.ts
  src/domain/repo-utils.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#256): Implement Phase 2 - Generic Similarity Service Integration
  context-pollution-analysis.md
  implementation-plan.md
  phase1-implementation-summary.md
  src/domain/tools/similarity/create-tool-similarity-core.ts
  src/domain/tools/similarity/tool-keyword-backend.ts
  src/domain/tools/similarity/tool-similarity-service.ts
  src/domain/tools/tool-embedding-service.ts
  test-tool-similarity.ts
  updated-spec.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#256): Implement Phase 3 - Context Generation Integration
  src/domain/context/components/tool-schemas.ts
  src/domain/tools/similarity/create-tool-similarity-core.ts
  src/domain/tools/similarity/tool-keyword-backend.ts
  test-context-reduction.ts
  test-tool-similarity.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

TARGET ACHIEVED: Reduced linter warnings to 364 (under 400 goal)
  src/domain/git-service-pr-workflow.test.ts
  src/domain/git-service.test.ts
  src/domain/git.test.ts
  src/domain/session-approve.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: add comprehensive PR description for Task #475
  PR_DESCRIPTION.md
Due: bun node_modules/.bin/prettier --write

feat(#mt#449): implement server-side filtering for embeddings search
  src/adapters/shared/commands/tasks/similarity-commands.ts
  src/domain/similarity/backends/embeddings-backend.ts
  src/domain/similarity/types.ts
  src/domain/storage/migrations/pg/0014_ambiguous_rawhide_kid.sql
  src/domain/storage/migrations/pg/meta/0014_snapshot.json
  src/domain/storage/migrations/pg/meta/_journal.json
  src/domain/storage/schemas/embeddings-schema-factory.ts
  src/domain/storage/schemas/task-embeddings.ts
  src/domain/storage/vector/memory-vector-storage.ts
  src/domain/storage/vector/postgres-vector-storage.ts
  src/domain/storage/vector/types.ts
  src/domain/tasks/task-similarity-service.ts
  tests/domain/commands/dual-filtering-bug.test.ts
  tests/domain/similarity/task-search-filtering.test.ts
  tests/domain/storage/vector/server-side-filtering.test.ts
  tests/domain/storage/vector/sql-generation-proof.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#256): Add final documentation and test files
  MT256-IMPLEMENTATION-COMPLETE.md
  src/domain/context/components/tool-schemas.ts
  test-context-reduction.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#256): Correct import path in tool similarity core
  src/domain/context/components/tool-schemas.ts
  src/domain/tools/similarity/create-tool-similarity-core.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update session documentation and changelog
  CHANGELOG.md
  current-spec.md
  docs/session-task-association.md
Due: bun node_modules/.bin/prettier --write

docs: add PR description for mt#449 server-side filtering implementation
  process/tasks/mt#449/pr.md
Due: bun node_modules/.bin/prettier --write

docs: Update final task specification
  updated-spec.md
Due: bun node_modules/.bin/prettier --write

fix: remove redundant migration - schema columns already exist
  pr.md
  src/domain/storage/migrations/pg/0014_ambiguous_rawhide_kid.sql
  src/domain/storage/migrations/pg/meta/0014_snapshot.json
Due: bun node_modules/.bin/prettier --write

fix: remove conflicting tool_embeddings migration unrelated to server-side filtering
  src/domain/storage/migrations/pg/0014_create_tool_embeddings.sql
Due: none

refactor: continue systematic magic string extraction
  PR_DESCRIPTION.md
  src/commands/config/set.test.ts
  src/commands/config/unset.test.ts
  src/commands/context/generate.integration.test.ts
  src/domain/tasks/taskCommands.test.ts
  src/utils/test-utils/test-constants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: major magic string extraction wave
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-pr-title-duplication.test.ts
  src/domain/session-start-consistency.test.ts
  src/domain/session/pr-validation.test.ts
  src/utils/test-utils/test-constants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: systematic git command magic string extraction
  src/domain/git-service.test.ts
  src/domain/git.test.ts
  src/domain/git/pr-branch-validation.test.ts
  src/utils/test-utils/test-constants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: comprehensive CLI commands and session patterns magic string extraction
  src/domain/rules/rule-template-service.test.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  src/errors/message-templates.test.ts
  src/utils/test-utils/test-constants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: systematic magic string extraction for high-frequency patterns
  src/domain/repo-utils.test.ts
  src/errors/enhanced-error-templates.test.ts
  tests/adapters/cli/session.test.ts
  tests/integration/helpers/edit-test-helpers.ts
  tests/integration/mocks/morph-api-responses.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: apply existing constants for workspace and session patterns
  src/domain/workspace/session-path-resolver.test.ts
  tests/adapters/cli/session-update.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Correct import path in tasks edit-commands
  src/adapters/shared/commands/tasks/edit-commands.ts
  src/adapters/shared/commands/tasks/similarity-commands.ts
  src/domain/storage/vector/memory-vector-storage.ts
  src/domain/storage/vector/postgres-vector-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
