Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2528): minsky:// URL-scheme handler in cockpit-tray (ADR-023)
  cockpit-tray/package.json
  cockpit-tray/src-tauri/Cargo.lock
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/capabilities/deep-link.json
  cockpit-tray/src-tauri/src/main.rs
  cockpit-tray/src-tauri/tauri.conf.json
  src/cockpit/web/App.tsx
  src/cockpit/web/hooks/useDeepLinkHandler.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2528): R1 — robust cold-start deep-link retry + document the capability
  cockpit-tray/README.md
  cockpit-tray/src-tauri/src/main.rs
Due: bun node_modules/.bin/prettier --write

feat(mt#2505): deploy-keyed prod migration step (migrate-gates-push) in deploy-minsky-mcp.yml
  .github/workflows/deploy-minsky-mcp.yml
Due: none

fix(mt#2505): PR #1737 R1 — migration guardrails + expand-contract policy doc
  .github/workflows/deploy-minsky-mcp.yml
  docs/deploy-minsky-railway.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2546): partial: main-thread window-dispatch attempt — did NOT fix hot-start-no-window
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/main.rs
Due: none

docs(mt#2505): PR #1737 R2 non-blocking — document secret-masking in the migrate step
  .github/workflows/deploy-minsky-mcp.yml
  src/generated/completion-manifest.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2549): strip trailing prose-punctuation in parseMinskyUri (deep-link id-mangling)
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-codec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2549): R1 — also strip percent-encoded trailing punctuation (post-decode)
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-codec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2535): add /changeset/:id entity-tab route with PR detail view
  src/cockpit/server.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/components/TabBar.tsx
  src/cockpit/web/lib/format.ts
  src/cockpit/web/lib/tabs.test.tsx
  src/cockpit/web/lib/tabs.tsx
  src/cockpit/web/pages/ChangesetDetailPage.test.tsx
  src/cockpit/web/pages/ChangesetDetailPage.tsx
  src/cockpit/web/widgets/ChangesetDetail.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2546): defer deep-link window creation off the on_open_url callback (main-run-loop deadlock)
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2535): R1 — 400 on non-numeric changeset id; breadcrumb→/changesets; scan-scale note
  src/cockpit/server.ts
  src/cockpit/web/pages/ChangesetDetailPage.test.tsx
  src/cockpit/web/pages/ChangesetDetailPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2546): R1 — resilient deferred-create in retry loop + verify harness
  cockpit-tray/scripts/verify-deeplink-hotstart.sh
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2551): re-schedule deep-link window creation after grace window on transient open failure
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2551): R1 — guard re-schedule with create_in_flight to close double-create race
  cockpit-tray/src-tauri/src/main.rs
Due: none

feat(mt#2550): shared <Prose> Markdown renderer for cockpit prose fields
  bun.lock
  package.json
  src/cockpit/web/components/Prose.test.tsx
  src/cockpit/web/components/Prose.tsx
  src/cockpit/web/lib/entity-linkifier.test.ts
  src/cockpit/web/lib/entity-linkifier.tsx
  src/cockpit/web/lib/use-entity-index.ts
  src/cockpit/web/widgets/AskDetail.tsx
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/ConversationView.windowing.test.tsx
  src/cockpit/web/widgets/MemoryDetail.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
  vite.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2550): R1 — defer tool-result site #3 in spec criterion; guard undefined anchor href
  src/cockpit/web/components/Prose.tsx
Due: none

feat(mt#2353): deploy-surface detector (pure) + tests
  .claude/hooks/deploy-surface-detector.test.ts
  .claude/hooks/deploy-surface-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2353): PreToolUse deploy-verification merge gate + tests
  .claude/hooks/require-deploy-verification-before-merge.test.ts
  .claude/hooks/require-deploy-verification-before-merge.ts
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2353): PostToolUse post-merge deploy-verification reminder + tests
  .claude/hooks/deploy-verification-after-merge.test.ts
  .claude/hooks/deploy-verification-after-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2552): rich JSON rendering for cockpit tool results & args
  src/cockpit/web/components/JsonView.test.tsx
  src/cockpit/web/components/JsonView.tsx
  src/cockpit/web/components/ToolPayload.test.tsx
  src/cockpit/web/components/ToolPayload.tsx
  src/cockpit/web/lib/tool-payload.test.ts
  src/cockpit/web/lib/tool-payload.ts
  src/cockpit/web/widgets/ConversationView.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2353): register both deploy-verification hooks + upgrade /implement-task §10
  .claude/settings.json
  .claude/skills/implement-task/SKILL.md
  .minsky/skills/implement-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2353): document the deploy-verification hook pair in hook-files.mdc + recompile
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2353): R1 — reject deferral text in the gate; honor override in reminder; broaden deploy.yml
  .claude/hooks/deploy-surface-detector.test.ts
  .claude/hooks/deploy-surface-detector.ts
  .claude/hooks/deploy-verification-after-merge.ts
  .claude/hooks/require-deploy-verification-before-merge.test.ts
  .claude/hooks/require-deploy-verification-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2555): prettier-ignore .claude/skills/ to end the lint-staged vs compile-staleness deadlock
  .prettierignore
  packages/domain/src/compile/targets/claude-skills.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2556): render thinking blocks as Markdown via <Prose> (mt#2550 follow-up)
  src/cockpit/web/widgets/AskDetail.tsx
  src/cockpit/web/widgets/ConversationView.thinking.test.tsx
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/web/widgets/MemorySearch.tsx
  src/cockpit/web/widgets/SessionDetail.tsx
Due: none

feat(mt#2553): lean cockpit-tray dev-install loop (--bundles app, no DMG) + doc the deep-link reinstall constraint
  .claude/skills/cockpit-tray-dev/SKILL.md
  .minsky/skills/cockpit-tray-dev/content.md
  cockpit-tray/CLAUDE.md
  cockpit-tray/README.md
  cockpit-tray/scripts/install-local.sh
  cockpit-tray/scripts/verify-deeplink-hotstart.sh
Due: bun node_modules/.bin/prettier --write

fix(mt#2553): R1 — install-local.sh uses bunx tauri + derives the binary name
  cockpit-tray/scripts/install-local.sh
Due: none

docs(mt#2556): document intentional soft-newline semantics (PR #1746 reviewer note)
  src/cockpit/web/widgets/.minsky/ask-routing-deferral-calibration.jsonl
  src/cockpit/web/widgets/ConversationView.tsx
Due: none

chore(mt#2556): remove stray hook calibration JSONL swept into prior commit
  src/cockpit/web/widgets/.minsky/ask-routing-deferral-calibration.jsonl
Due: none

docs(mt#2557): RFC Phase 0 — ladder ADR-024 + correct agent-guidance-mechanisms.md
  docs/architecture/adr-024-detection-mechanism-ladder-for-guidance-hooks.md
  docs/architecture/agent-guidance-mechanisms.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2557): R1 — drop ADR-008 misattribution (it's attention-allocation, not detectors)
  docs/architecture/adr-024-detection-mechanism-ladder-for-guidance-hooks.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1920): changesets list page — /changesets route, widget, server endpoint, tests
  src/cockpit/server.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/components/CommandPalette.tsx
  src/cockpit/web/components/Rail.tsx
  src/cockpit/web/pages/ChangesetsPage.test.tsx
  src/cockpit/web/pages/ChangesetsPage.tsx
  src/cockpit/web/widgets/Changesets.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2337): downgrade parallel-work-guard recently-merged sweep to advisory
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1920): R1 — sort changesets by lastActivityAt (PR recency) not session.createdAt; testable comparator
  src/cockpit/server.ts
  src/cockpit/session-detail.test.ts
  src/cockpit/session-detail.ts
  src/cockpit/web/widgets/Changesets.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2337): R1 — remove dead recently-merged branch in formatBlockMessage
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1920): R2 — align client-side default sort with server recency proxy
  src/cockpit/web/lib/format.test.ts
  src/cockpit/web/lib/format.ts
  src/cockpit/web/pages/ChangesetsPage.tsx
  src/cockpit/web/widgets/Changesets.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2536): Add changeset entity type to cockpit deeplink cluster
  .cursor/rules/cockpit-deeplinks.mdc
  .minsky/rules/cockpit-deeplinks.mdc
  AGENTS.md
  CLAUDE.md
  src/cockpit/web/components/CommandPalette.tsx
  src/cockpit/web/lib/entity-codec.test.ts
  src/cockpit/web/lib/entity-codec.ts
  src/cockpit/web/lib/entity-deeplink-emit.test.ts
  src/cockpit/web/lib/entity-linkifier.test.ts
  src/cockpit/web/lib/entity-linkifier.tsx
  src/cockpit/web/lib/use-entity-index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
