Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#3897): Warn on the ref classes the linkifier cannot repair
  .claude/hooks/bare-entity-ref-scan.ts
  .claude/hooks/registry.ts
  .claude/hooks/turn-end-bare-ref-scan.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/bare-entity-ref-scan.test.ts
  .minsky/hooks/bare-entity-ref-scan.ts
  .minsky/hooks/registry.ts
  .minsky/hooks/turn-end-bare-ref-scan.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3946): Stop routing provably-dead match categories to an operator Ask
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3946): PR #2794 R1 — reconcile the criteria to six, disambiguate "open Ask"
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3930): Name the third deferral shape — a standing instruction is a question, not a wall
  .cursor/rules/user-preferences.mdc
  .minsky/rules/user-preferences.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/user-preferences.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3942): Warn at 300 words, not 400, so the contract's budget is actually policed
  .claude/hooks/wall-of-text-detector.ts
  .cursor/rules/communication-contract.mdc
  .minsky/hooks/wall-of-text-detector.test.ts
  .minsky/hooks/wall-of-text-detector.ts
  .minsky/rules/communication-contract.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3874): Correct publish-npm.yml's header — the package is scoped and mt#3616 never published it
  .github/workflows/publish-npm.yml
Due: none

fix(mt#3930): PR #2797 R1 — resolve the contradiction in the availability-NOW paragraph
  .cursor/rules/user-preferences.mdc
  .minsky/rules/user-preferences.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3936): Reject a question carrying the tool call's own parameter markup
  packages/domain/src/ask/form-lint.ts
  src/adapters/shared/commands/asks.form-lint-boundary.test.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3928): Report an approximated token count instead of presenting it as measured
  packages/domain/src/ai/tokenization/registry.test.ts
  packages/domain/src/ai/tokenization/registry.ts
  packages/domain/src/ai/tokenization/service.ts
  packages/domain/src/ai/tokenization/types.ts
  packages/domain/src/ai/tokenizer-service.test.ts
  packages/domain/src/ai/tokenizer-service.ts
  src/commands/context/generate-analysis.test.ts
  src/commands/context/generate-analysis.ts
  src/commands/context/generate-comparison.ts
  src/commands/context/generate-display.ts
  src/commands/context/generate-types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3942): PR #2798 R1 — express the threshold tests and docs relative to the constants
  .claude/hooks/wall-of-text-detector.ts
  .cursor/rules/communication-contract.mdc
  .minsky/hooks/wall-of-text-detector.test.ts
  .minsky/hooks/wall-of-text-detector.ts
  .minsky/rules/communication-contract.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3904): Put an evidentiary bar under a false-positive claim about a guard fire
  .claude/rules/guard-feedback-authoring.md
  .cursor/rules/claim-confidence.mdc
  .cursor/rules/guard-feedback-authoring.mdc
  .minsky/rules/claim-confidence.mdc
  .minsky/rules/guard-feedback-authoring.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/claim-confidence.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3942): PR #2798 R2 — round the threshold up so it stays a whole word count
  .claude/hooks/wall-of-text-detector.ts
  .minsky/hooks/wall-of-text-detector.test.ts
  .minsky/hooks/wall-of-text-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3928): PR #2801 R1 — stop the approximation note asserting a vendor it never checked
  src/commands/context/generate-analysis.test.ts
  src/commands/context/generate-analysis.ts
  src/commands/context/generate-comparison.ts
  src/commands/context/generate-display.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3928): PR #2801 R2 — re-export TokenizerResolution from the package index
  packages/domain/src/ai/tokenization/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3949): Drop the workspace-protocol deps that made the published package uninstallable
  bun.lock
  package.json
  tests/scripts/publish-manifest.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3951): Reset shared-persistence state before the wedged-db test, not only after
  src/cockpit/health-contract.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3922): Add the MCP server as a staleness-gated second writer of the prod-state cache
  scripts/verify-prod-state-cache-atomicity.ts
  src/cockpit/sweepers.ts
  src/commands/mcp/start-command.ts
  src/mcp/prod-state-boot-refresh.test.ts
  src/mcp/prod-state-boot-refresh.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3951): PR #2804 R1 — decouple the comment from the floor constant
  src/cockpit/health-contract.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3949): PR #2803 R1 — encode the pack-and-install check instead of hand-running it
  .github/workflows/npm-pack-install-smoke.yml
  scripts/verify-npm-pack-install.ts
  tests/scripts/publish-manifest.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3922): PR #2805 R1 — route the refresh line to info, not debug
  src/mcp/prod-state-boot-refresh.test.ts
  src/mcp/prod-state-boot-refresh.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3922): PR #2805 R2 — point the consumer @see at the source, not the generated copy
  src/mcp/prod-state-boot-refresh.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3914): Linkify ask#/mem#/ws# from a cached short-id map
  .claude/hooks/entity-linkify.ts
  .claude/hooks/linkify-message-display.ts
  .claude/hooks/turn-end-bare-ref-scan.ts
  .cursor/rules/cockpit-deeplinks.mdc
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/entity-linkify.test.ts
  .minsky/hooks/entity-linkify.ts
  .minsky/hooks/linkify-message-display.ts
  .minsky/hooks/turn-end-bare-ref-scan.ts
  .minsky/rules/cockpit-deeplinks.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  scripts/verify-short-id-map.ts
  src/cockpit/short-id-map-cache.test.ts
  src/cockpit/short-id-map-cache.ts
  src/cockpit/sweepers.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3812): partial: entry-point split proven + shim core (identity, sse, client, main)
  package.json
  scripts/cli-entry.ts
  src/mcp/shim/client.ts
  src/mcp/shim/entry.ts
  src/mcp/shim/identity.ts
  src/mcp/shim/main.ts
  src/mcp/shim/protocol.ts
  src/mcp/shim/rss-budget.test.ts
  src/mcp/shim/sse.ts
  src/mcp/shim/token.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3937): Disclose the chain cap one turn before it silences the guard
  .claude/hooks/turn-end-bare-ref-scan.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/turn-end-bare-ref-scan.test.ts
  .minsky/hooks/turn-end-bare-ref-scan.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3923): PR #2817 R1 — attribute the timeout kill to the budget elapsing, not to the option being set
  packages/shared/src/exec.test.ts
  packages/shared/src/exec.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3812): unit tests for identity, sse, token, and client modules
  src/mcp/shim/client.test.ts
  src/mcp/shim/identity.test.ts
  src/mcp/shim/sse.test.ts
  src/mcp/shim/token.test.ts
  src/mcp/shim/token.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3952): partial: add progress bound to dispatch staleness classifier
  packages/domain/src/session/dispatch-recovery-classifier.ts
  src/adapters/shared/commands/tasks/dispatch-recover-command.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3812): end-to-end verification script exercising the shim over the real HTTP wire
  scripts/verify-mcp-shim-e2e.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3952): regression tests for the progress-bound classifier
  packages/domain/src/session/dispatch-recovery-classifier.test.ts
  src/adapters/shared/commands/tasks/dispatch-recover-command.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2680): PR #2807 R1 — declare @supabase/storage-js and export the archive barrel
  packages/domain/package.json
Due: bun node_modules/.bin/prettier --write

feat(mt#3716): partial: shared calibration-log declaration accessor
  scripts/check-coverage-receipts.ts
  scripts/lib/calibration-log-declarations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3952): PR #2819 R1 — gate the presence-attribution message on activityStale
  packages/domain/src/session/dispatch-recovery-classifier.test.ts
  packages/domain/src/session/dispatch-recovery-classifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3812): PR #2820 R1 — docs, keep reflect-metadata off shim path, dedupe error frame
  docs/architecture/stdio-proxy.md
  scripts/cli-entry.ts
  src/mcp/shim/client.test.ts
  src/mcp/shim/client.ts
  src/mcp/shim/main.ts
  tests/scripts/cli-entry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3716): resolve lint warnings — drop real-fs test, dedupe magic strings
  .claude/hooks/calibration-review-cadence-detector.ts
  .minsky/hooks/calibration-review-cadence-detector.ts
  scripts/lib/calibration-log-declarations.test.ts
  src/adapters/shared/commands/ask-form-lint-calibration.ts
  src/adapters/shared/commands/calibration.ts
  src/domain/calibration/calibration-sweep-registry-derivation.test.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3716): add operational drift-check script (SC3/SC5)
  scripts/check-calibration-sweep-coverage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3955): Stop SessionService.start dropping recover on the way to the domain
  packages/domain/src/session/session-service-start-params.test.ts
  packages/domain/src/session/session-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3812): PR #2820 R2 — deterministic bundle-size gate as primary, loosen RSS to a sanity bound
  src/mcp/shim/rss-budget.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3716): reviewer BLOCKING — validate a synthesized kind before casting
  bun.lock
  src/adapters/shared/commands/calibration.ts
  src/domain/calibration/calibration-sweep-registry-derivation.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3955): PR #2823 R1 — record why the cast stays, and file the schema divergence it bridges
  bun.lock
  packages/domain/src/session/session-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#3955): Drop the unrelated bun.lock churn from this branch
  bun.lock
Due: none
