Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#1601): R1 review — readonly allowlist + clarify defensive bare-ID check
  packages/domain/src/configuration/guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2300): rename overview health card "Memory & Embeddings" → "Embeddings"
  src/cockpit/web/components/ui/link-card.tsx
  src/cockpit/web/widgets/EmbeddingsHealth.tsx
  src/cockpit/widgets/embeddings-health.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2254): R1 — engineering-writing source carries explicit user-invocable: true
  .minsky/skills/engineering-writing/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2302): standardize sibling-skill cross-refs to harness-neutral /skill-name
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/classify-before-deferring/SKILL.md
  .claude/skills/disambiguate-next/SKILL.md
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/minsky-brand/SKILL.md
  .claude/skills/name-product/SKILL.md
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .claude/skills/pz-voice/SKILL.md
  .cursor/rules/skill-authoring.mdc
  .minsky/rules/skill-authoring.mdc
  .minsky/skills/analyze-adjacent-product/SKILL.md
  .minsky/skills/classify-before-deferring/SKILL.md
  .minsky/skills/disambiguate-next/SKILL.md
  .minsky/skills/marketing-site-design/SKILL.md
  .minsky/skills/minsky-brand/SKILL.md
  .minsky/skills/name-product/SKILL.md
  .minsky/skills/orchestrate/skill.ts
  .minsky/skills/plan-task/skill.ts
  .minsky/skills/pz-voice/SKILL.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2298): route-based code splitting + vendor chunking for cockpit web bundle
  src/cockpit/web/App.tsx
  vite.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2302): R1 — normalize relative-link sibling labels to /skill-name (class-not-instance)
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/cockpit-design/SKILL.md
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/minsky-brand/SKILL.md
  .claude/skills/name-product/SKILL.md
  .cursor/rules/skill-authoring.mdc
  .minsky/rules/skill-authoring.mdc
  .minsky/skills/analyze-adjacent-product/SKILL.md
  .minsky/skills/cockpit-design/content.md
  .minsky/skills/marketing-site-design/SKILL.md
  .minsky/skills/minsky-brand/SKILL.md
  .minsky/skills/name-product/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2077): hosted MCP-server status cockpit widget (v1: 7 fields + M1-M2)
  scripts/smoke-mcp-server-status.ts
  src/cockpit/config.ts
  src/cockpit/mcp-probe-history.test.ts
  src/cockpit/mcp-probe-history.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/widgets/McpServerStatus.tsx
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/mcp-server-status.test.ts
  src/cockpit/widgets/mcp-server-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2297): cockpit tray auto-rebuilds stale dist bundle (startup + runtime watcher, source-gated)
  cockpit-tray/README.md
  cockpit-tray/src-tauri/Cargo.lock
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/main.rs
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2077): R1 — deployStatusColor fallback branch for unseen deploy status
  src/cockpit/web/widgets/McpServerStatus.tsx
Due: none

fix(mt#2297): R1 — watcher filters on web_src-relative path + editor temp files
  cockpit-tray/src-tauri/src/main.rs
Due: none

feat(mt#2304): add claude-hooks compile target
  packages/domain/src/compile/compile-service.ts
  packages/domain/src/compile/staleness.test.ts
  packages/domain/src/compile/targets/claude-agents.test.ts
  packages/domain/src/compile/targets/claude-hooks.test.ts
  packages/domain/src/compile/targets/claude-hooks.ts
  packages/domain/src/compile/targets/claude-skills.test.ts
  packages/domain/src/compile/targets/cursor-rules-ts.test.ts
  packages/domain/src/compile/types.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2297): R1 — use filetime crate for test mtime control (converge with reviewer)
  cockpit-tray/src-tauri/Cargo.lock
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2297): R3 — shutdown no longer kills a foreign :3737 listener
  cockpit-tray/src-tauri/src/main.rs
Due: none

feat(mt#2294): registry-gate cockpit widget data endpoint; remove cockpit.json widget config
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/cockpit.md
  src/cockpit/CLAUDE.md
  src/cockpit/cockpit-credential-integration.test.ts
  src/cockpit/cockpit.test.ts
  src/cockpit/config.ts
  src/cockpit/server-task-detail.test.ts
  src/cockpit/server-tasks.test.ts
  src/cockpit/server.ts
  src/cockpit/types.ts
  src/cockpit/web/App.tsx
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/credentials.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2299): cockpit tray auto-restarts daemon on stale backend source
  cockpit-tray/README.md
  cockpit-tray/src-tauri/src/main.rs
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2294): R1 — update stale config-gated comments; add app-level-set drift guard
  src/cockpit/server.ts
  src/cockpit/web/App.tsx
  src/cockpit/widget-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2299): R1 review -- backend gate, clear uptime on spawn-fail, NB fixes
  cockpit-tray/README.md
  cockpit-tray/src-tauri/src/main.rs
  docs/architecture/cockpit.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2299): clarify backend-watcher gate rationale (R1 B1)
  cockpit-tray/src-tauri/src/main.rs
Due: none

feat(mt#2274): classify-before-deferring — add checklist-manufactured pseudo-decision surface
  .claude/skills/classify-before-deferring/SKILL.md
  .minsky/skills/classify-before-deferring/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2274): R1 — add checklist-trigger to frontmatter auto-load surface + anchor links
  .claude/skills/classify-before-deferring/SKILL.md
  .minsky/skills/classify-before-deferring/SKILL.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2308): ADR-017 — transcript capture via continuous-JSONL watch/sweep over session-exit-event reliance
  docs/architecture/adr-017-transcript-capture-continuous-watch.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2310-resurrect mt#1872): applyPostMergeStateSync kind-aware terminal state
  packages/domain/src/session/session-merge-operations.ts
  packages/domain/src/session/session-post-merge-sync-kind.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2306): OS-toast notification on cockpit-web build failure
  cockpit-tray/README.md
  cockpit-tray/src-tauri/Cargo.lock
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/main.rs
Due: bun node_modules/.bin/prettier --write

fix(mt#2306): R1 — restore full cockpit-tray README, amend Build-failures bullet additively
  cockpit-tray/README.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2296): first-party Railway service-metrics + restart-count domain queries
  packages/domain/src/deployment/railway/adapter.test.ts
  packages/domain/src/deployment/railway/adapter.ts
  packages/domain/src/deployment/railway/graphql-client.test.ts
  packages/domain/src/deployment/railway/graphql-client.ts
  packages/domain/src/deployment/railway/index.ts
  packages/domain/src/deployment/types.ts
  scripts/smoke-railway-metrics.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2296): R1 — resolve deploy config via service-resolver, broaden sampledAt, order-independent test
  packages/domain/src/deployment/railway/adapter.ts
  packages/domain/src/deployment/railway/graphql-client.test.ts
  packages/domain/src/deployment/types.ts
  scripts/smoke-railway-metrics.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1872): R1 — kind-aware CLI message + getTask guard + session-effect test assertions
  packages/domain/src/session/session-merge-operations.ts
  packages/domain/src/session/session-post-merge-sync-kind.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2304): R1 review fixes + rebase-integrate new transcript-ingest hook
  .claude/hooks/block-git-gh-cli.ts
  .claude/hooks/check-guessed-session-path.ts
  .claude/hooks/inject-current-time.ts
  .claude/hooks/post-merge-pull.ts
  .claude/hooks/typecheck-on-edit.ts
  .claude/hooks/typecheck-on-stop.ts
  .minsky/hooks/block-git-gh-cli.ts
  .minsky/hooks/check-guessed-session-path.ts
  .minsky/hooks/inject-current-time.test.ts
  .minsky/hooks/inject-current-time.ts
  .minsky/hooks/post-merge-pull.test.ts
  .minsky/hooks/post-merge-pull.ts
  .minsky/hooks/transcript-ingest-on-session-end.test.ts
  .minsky/hooks/transcript-ingest-on-session-end.ts
  .minsky/hooks/typecheck-on-edit.ts
  .minsky/hooks/typecheck-on-stop.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2304): document mt#2315 at the record-subagent-invocation early-return site
  .claude/hooks/record-subagent-invocation.ts
  .minsky/hooks/record-subagent-invocation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2304): R3 — complete the session-id sanitization class (post-session-start + auto-session-title)
  .claude/hooks/auto-session-title.ts
  .claude/hooks/post-session-start.ts
  .minsky/hooks/auto-session-title.ts
  .minsky/hooks/post-session-start.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2270): Bound Octokit network timeouts across remaining PR/changeset clients
  packages/domain/src/changeset/adapters/github-adapter.ts
  packages/domain/src/github/octokit-timeout-coverage.test.ts
  packages/domain/src/repository/github-pr-approval.ts
  packages/domain/src/repository/github-pr-operations.ts
  packages/domain/src/repository/github-pr-review.ts
  packages/domain/src/session/commands/pr-get-subcommand.ts
  src/commands/github/test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2270): R1 — explicit @minsky/domain export for octokit-timeout + scan .tsx
  packages/domain/package.json
  packages/domain/src/github/octokit-timeout-coverage.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2317): wire Railway CPU/memory/restart fields + M3/M4 into MCP-server widget
  src/cockpit/web/widgets/McpServerStatus.tsx
  src/cockpit/widgets/mcp-server-status.test.ts
  src/cockpit/widgets/mcp-server-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2317): R1 — finite-guard M4 percentages, drop dead M3 banner fallback
  src/cockpit/web/widgets/McpServerStatus.tsx
  src/cockpit/widgets/mcp-server-status.test.ts
  src/cockpit/widgets/mcp-server-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1771): regression guard for the migration count-equality invariant
  packages/domain/src/persistence/postgres-migration-operations.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2198): address PR #1478 R1 — sweep statSync guard to SPA + 404 fallbacks
  services/site/README.md
  services/site/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
