Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1727): copy services/reviewer/package.json for workspace-install consistency
  Dockerfile
Due: none

docs(mt#1714): CLAUDE.md note pointing at stdio-proxy opt-in
  .cursor/rules/mcp-tools.mdc
  .minsky/rules/mcp-tools.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1714): partial: PR #1039 R1 — detach close listener and unpipe child streams (BLOCKING 1+2)
  src/mcp/stdio-proxy/proxy.ts
  tests/mcp/stdio-proxy/proxy.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1714): partial: PR #1039 R1 — implement collision warning per documented behavior (BLOCKING 3)
  src/mcp/stdio-proxy/tools.ts
  tests/mcp/stdio-proxy/tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1714): partial: PR #1039 R1 — robust --child-args parsing (NON-BLOCKING 1)
  src/mcp/stdio-proxy/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1714): PR #1039 R1 — CRLF normalization in line framing (NON-BLOCKING 2)
  src/mcp/stdio-proxy/proxy.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1730): Phase 1 design - deployment-platform-aware MCP tools
  docs/deploy-minsky-railway.md
  docs/deployment-platforms.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1726): harden minsky-mcp Dockerfile (--production/--ignore-scripts, selective COPY, digest pin)
  Dockerfile
Due: none

feat(mt#1735): subagent_invocations schema + migration
  src/domain/storage/migrations/pg/0033_subagent_invocations.sql
  src/domain/storage/schemas/subagent-invocations-schema.test.ts
  src/domain/storage/schemas/subagent-invocations-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1730): deployment-platform-aware MCP tools (Phase 2 + 3)
  .claude/skills/implement-task/SKILL.md
  .claude/skills/orchestrate/SKILL.md
  .minsky/skills/implement-task/skill.ts
  .minsky/skills/orchestrate/skill.ts
  packages/shared/package.json
  packages/shared/src/deployment/config.ts
  services/minsky-mcp/deploy.config.ts
  src/adapters/shared/commands/deployment.ts
  src/adapters/shared/commands/index.ts
  src/domain/deployment/config.ts
  src/domain/deployment/index.ts
  src/domain/deployment/railway/adapter.test.ts
  src/domain/deployment/railway/adapter.ts
  src/domain/deployment/railway/graphql-client.ts
  src/domain/deployment/railway/index.ts
  src/domain/deployment/registry.test.ts
  src/domain/deployment/registry.ts
  src/domain/deployment/service-resolver.test.ts
  src/domain/deployment/service-resolver.ts
  src/domain/deployment/types.test.ts
  src/domain/deployment/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1478): test conventional commit message
  .claude/skills/plan-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1731): URL-rewrite Koa forwarder + mount /interaction routes
  src/commands/mcp/start-command.test.ts
  src/commands/mcp/start-command.ts
  src/domain/oauth/providers/in-process.ts
  src/domain/oauth/registry.ts
  src/domain/oauth/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1735): PR #1040 R1 — drizzle journal registration + enum guard
  drizzle.pg.config.ts
  src/domain/storage/migrations/pg/0033_subagent_invocations.sql
  src/domain/storage/migrations/pg/meta/_journal.json
  src/domain/storage/schemas/subagent-invocations-schema.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1730): PR #1041 R1 - address 3 BLOCKING reviewer findings
  .claude/skills/implement-task/SKILL.md
  .claude/skills/orchestrate/SKILL.md
  .minsky/skills/implement-task/skill.ts
  .minsky/skills/orchestrate/skill.ts
  docs/deploy-minsky-railway.md
  docs/deployment-platforms.md
  src/domain/deployment/railway/adapter.ts
  src/domain/deployment/railway/graphql-client.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1731): address PR #1042 R1 — Koa callback signature + req.url restore + interaction regex anchor
  src/commands/mcp/start-command.ts
  src/domain/oauth/providers/in-process.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1740): add cli-entry.ts bin entry and package.json updates
  package.json
  scripts/cli-entry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1740): update .gitignore and Dockerfile for bundle artifacts
  .gitignore
  Dockerfile
Due: none

docs(mt#1726): expand Dockerfile invariants per PR #1043 R1
  Dockerfile
Due: none

fix(mt#1741): add reflect-metadata polyfill to drizzle-kit entry points
  drizzle.pg.config.ts
  scripts/drizzle-config-loader.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#1740): extract computeBundleDecision + add tests for cli-entry
  scripts/cli-entry.ts
  tests/scripts/cli-entry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1725): wire WakeSignalSink into pr_watch firing path
  src/adapters/shared/commands/pr-watch.ts
  src/domain/ask/wake-on-respond.ts
  src/domain/pr-watch/repository.ts
  src/domain/pr-watch/types.ts
  src/domain/pr-watch/watcher.ts
  src/domain/storage/migrations/pg/0034_pr_watches_parent_session_id.sql
  src/domain/storage/schemas/pr-watch-schema.ts
  src/mcp/middleware/wake-enrichment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1740): add cold-start measurement script + bundling architecture docs
  docs/architecture/bundling.md
  scripts/measure-cold-start.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1725): add E2E wake-integration test for pr_watch -> wake_pending -> enrichWakeResponse
  src/domain/pr-watch/wake-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1736): subagent dispatch tracker module + tests
  src/mcp/subagent-dispatch-tracker.test.ts
  src/mcp/subagent-dispatch-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1740): R1 BLOCKING — bundle/test-glob/module-entry corrections
  .gitignore
  package.json
  scripts/cli-entry.ts
  tests/scripts/cli-entry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1746): default DCR to token_endpoint_auth_method=none for public PKCE clients
  src/domain/oauth/providers/in-process-unit.test.ts
  src/domain/oauth/providers/in-process.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1725): update implement-task SKILL.md pr_watch status to functional
  .claude/skills/implement-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1746): address PR #1047 R1 NON-BLOCKING - remove repo doc path from error message
  src/domain/oauth/providers/in-process.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1744): rebaseline drizzle-kit pg snapshot chain
  src/domain/storage/migrations/pg/meta/0033_subagent_invocations_snapshot.json
Due: bun node_modules/.bin/prettier --write

feat(mt#1745): benchmark mcp-start cold-start past DI init — DI dominates at 72%
  scripts/mcp-start-cold-start-results.json
  scripts/measure-mcp-start-cold-start.ts
  src/cli.ts
  src/commands/mcp/start-command.ts
  src/utils/cold-start-profile.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1746): address PR #1047 R2 BLOCKING - legacy-client runtime guard in authorize and token
  src/domain/oauth/providers/in-process.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1744): PR #1049 R1 — register missing schemas, expand snapshot to 24 tables (BLOCKING)
  drizzle.pg.config.ts
  src/domain/storage/migrations/pg/meta/0033_subagent_invocations_snapshot.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1725): PR #1048 R1 - 2 BLOCKING reviewer findings
  src/domain/pr-watch/wake-integration.test.ts
  src/domain/storage/schemas/pr-watch-schema.ts
  src/mcp/middleware/wake-enrichment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1736): PR #1046 R1 — upsert + timezone + parseWhere fixes
  src/mcp/subagent-dispatch-tracker.test.ts
  src/mcp/subagent-dispatch-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1753): mount /auth/<uid> route for post-interaction authorization continuation
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1750): hash-based migration freshness check + retry
  src/domain/storage/backends/migration-freshness.test.ts
  src/domain/storage/backends/migration-freshness.ts
  src/domain/storage/backends/postgres-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1753): address PR #1051 R1 - broaden forwardInteraction contract docs
  src/domain/oauth/providers/in-process.ts
  src/domain/oauth/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1737): partial: workspace-classifier, transcript-metrics, SubagentStop hook, dispatch instrumentation
  .claude/hooks/record-subagent-invocation.ts
  .claude/settings.json
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/domain/persistence/factory.ts
  src/domain/subagent/transcript-metrics.ts
  src/domain/subagent/workspace-classifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1750): PR #1052 R1 — doc/code alignment + fresh-conn retry (BLOCKING)
  src/domain/storage/backends/migration-freshness.ts
  src/domain/storage/backends/postgres-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1737): workspace-classifier DI refactor + tests
  src/domain/subagent/workspace-classifier.test.ts
  src/domain/subagent/workspace-classifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
