Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

docs: Add task #226 for configuration system XDG fix
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(tests): Fix variable naming protocol violations and critical errors
  src/adapters/cli/utils/__tests__/shared-options.test.ts
  src/adapters/shared/commands/git.ts
  src/adapters/shared/commands/rules.ts
  src/adapters/shared/commands/tasks.ts
  src/domain/rules.ts
  src/domain/storage/__tests__/json-file-storage.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Add temporary SessionDB compatibility layer
  process/tasks.md
  src/domain/git.ts
  src/domain/localGitBackend.ts
  src/domain/remoteGitBackend.ts
  src/domain/repository.ts
  src/domain/session.ts
  src/domain/session/session-workspace-service.ts
  src/domain/workspace.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Adds task to remove SessionDB compatibility layer
  process/tasks.md
  process/tasks/225-remove-temporary-sessiondb-compatibility-layer-and-update-all-imports.md
Due: bun node_modules/.bin/prettier --write

fix(tests): Resolve critical timeout issues caused by variable naming violations
  TASK_PROGRESS.md
  src/adapters/__tests__/integration/rules.test.ts
  src/domain/tasks/__tests__/jsonFileTaskBackend.test.ts
  src/utils/tempdir.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task progress with major timeout resolution achievements
  TASK_PROGRESS.md
Due: bun node_modules/.bin/prettier --write

fix(tests): Systematically resolve variable naming issues in integration tests
  224-fix-test-failures-found-during-task-session.md
  src/adapters/__tests__/integration/rules.test.ts
  src/adapters/__tests__/integration/session.test.ts
  src/adapters/__tests__/integration/tasks.test.ts
  test-verification-tmp/.cursor/rules/test-quoting-create.mdc
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tests): Complete session integration variable naming fixes
  224-fix-test-failures-found-during-task-session.md
  src/adapters/__tests__/integration/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Fix session directory path bug
  src/domain/session/session-db-io.ts
  src/domain/storage/backends/sqlite-storage.ts
  src/domain/storage/storage-backend-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tests): Complete session integration tests - 100% passing
  src/adapters/__tests__/integration/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Mark Task #224 as COMPLETED SUCCESSFULLY
  224-fix-test-failures-found-during-task-session.md
Due: bun node_modules/.bin/prettier --write

docs: Capture Task #224 learnings in rule system for future sessions
  .cursor/rules/test-debugging.mdc
Due: none

Remove SessionDB compatibility layer and update imports
  src/adapters/mcp/session-files.ts
  src/adapters/mcp/session-workspace.ts
  src/domain/repo-utils.ts
  src/domain/repository/github.ts
  src/domain/repository/local.ts
  src/domain/repository/remote.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#150): Add --body-path option and improve session pr tests
  src/domain/__tests__/session-pr-body-path.test.ts
  test-body.txt
  test-pr-body.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Add test PR body file for bodyPath functionality testing
  pr-body-test.md
Due: bun node_modules/.bin/prettier --write

test: Add empty file for bodyPath validation testing
  empty-body.md
Due: bun node_modules/.bin/prettier --write

feat: Update task #150 status to IN-REVIEW after successful bodyPath testing
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(#150): Add mutual exclusivity validation for --body and --body-path
  src/schemas/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#150): Add parameter validation to sessionPrFromParams
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Add comprehensive PR description for Task #150 implementation
  task-150-pr-body.md
Due: bun node_modules/.bin/prettier --write

task(#226): Create AI-powered session review workflow specification
  process/task-specs/implement-ai-powered-session-review-workflow.md
  process/tasks.md
  process/tasks/226-implement-ai-powered-session-review-workflow.md
Due: bun node_modules/.bin/prettier --write
