Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#2642): extend no-direct-service-construction with DI-fallback-shape check
  .cursor/rules/code-style.mdc
  .minsky/rules/code-style.mdc
  AGENTS.md
  CLAUDE.md
  eslint-rules/__fixtures__/no-direct-service-construction/invalid.ts
  eslint-rules/__fixtures__/no-direct-service-construction/valid.ts
  eslint-rules/no-direct-service-construction.js
  eslint-rules/no-direct-service-construction.test.js
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#3175): reuse entity-linkifier's tokenEntity instead of duplicating the inverse codec
  src/cockpit/web/components/JsonView.tsx
  src/cockpit/web/lib/entity-linkifier.tsx
Due: none

docs(mt#2547): refresh engineering-writing skill's AI-voice-tells with 2026 research
  .claude/skills/engineering-writing/SKILL.md
  .minsky/skills/engineering-writing/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2633): address PR #2272 review — partial options object silently disabled recursive mkdir
  src/mcp/disconnect-event-sweep.test.ts
  src/mcp/disconnect-event-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2547): address PR #2275 review — verify citation URLs, fix frontmatter description
  .claude/skills/engineering-writing/SKILL.md
  .minsky/skills/engineering-writing/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2568): per-call fallback for Ask state-counts provider (mt#2265 sibling)
  packages/domain/src/ask/state-counts-provider.test.ts
  packages/domain/src/ask/state-counts-provider.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2712): un-quarantine findPortHolder port-contention flake with retry
  src/cockpit/port-recovery.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2631): document manual commit-msg validator invocation
  CONTRIBUTING.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#2783): consolidate duplicate listTasksFromParams implementations
  packages/domain/src/tasks.test.ts
  packages/domain/src/tasks.ts
  packages/domain/src/tasks/commands/query-commands.ts
  src/adapters/shared/commands/tasks/list-canonical-import-path.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2598): rewire PlantFlowPage.tsx onto plant-flow/ sub-modules, drop max-lines disable
  src/cockpit/web/pages/PlantFlowPage.tsx
Due: none

fix(mt#2643): update stale packages/domain/src globs in no-singleton-reach-in allowedFiles
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2568): per-call fallback for EmbeddingsHealthTracker event emission (mt#2147 sibling)
  packages/domain/src/ai/embeddings-health-tracker.test.ts
  packages/domain/src/ai/embeddings-health-tracker.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3189): render the resolved title inline on prose entity refs
  src/cockpit/web/components/EntityRef.test.tsx
  src/cockpit/web/components/EntityRef.tsx
  src/cockpit/web/components/Prose.tsx
Due: none

fix(mt#975): delete orphaned require-acceptance-tests-before-done hook
  .claude/hooks/require-acceptance-tests-before-done.ts
  .minsky/hooks/require-acceptance-tests-before-done.ts
  packages/domain/src/rules/enforcement-mapping.test.ts
  packages/domain/src/rules/enforcement-mapping.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2642): address PR #2279 review — allowlist test case + mt#1024-path reconciliation
  eslint-rules/no-direct-service-construction.test.js
  eslint.config.js
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2644): fix inline code spans split across line breaks
  docs/sessiondb-migration-guide.md
  docs/sessiondb-troubleshooting.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3191): honor persistence migrate --dry-run, force precedence over --execute
  src/adapters/cli/customizations/config-customizations.ts
  src/adapters/shared/commands/persistence.test.ts
  src/adapters/shared/commands/persistence.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2595): fix remaining stale src/adapters/ and src/composition/ path citations
  docs/architecture.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3188): stable-sort session-film events by tStart at serving boundary
  scripts/verify-session-film-endpoint.ts
  src/cockpit/routes/session-film.test.ts
  src/cockpit/routes/session-film.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3143): Name the target on a failed retrigger, and fall back on transport failure
  src/adapters/shared/commands/reviewer-retrigger.test.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3172): partial: watchdog consults shared presence signal, activitySource field
  packages/domain/src/session/presence-activity.ts
  src/adapters/shared/commands/tasks/dispatch-recover-command.ts
  src/cockpit/dispatch-watchdog.test.ts
  src/cockpit/dispatch-watchdog.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3182): resolve the workspace id from tool_input.task, not the absent tool_result
  .claude/hooks/post-session-start.ts
  .claude/hooks/stamp-session-creator-link.ts
  .minsky/hooks/post-session-start.ts
  .minsky/hooks/stamp-session-creator-link.test.ts
  .minsky/hooks/stamp-session-creator-link.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3188): validate --port and --base-url in verify script
  scripts/verify-session-film-endpoint.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2783): address PR #2281 R1 -- gate cwd-based project-scope resolution behind persistenceProvider capability
  packages/domain/src/tasks/commands/query-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2568): only latch emittedForCurrentDegradation on confirmed emit success (PR #2284 R1)
  packages/domain/src/ai/embeddings-health-tracker.test.ts
  packages/domain/src/ai/embeddings-health-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3172): wire activitySource into the dispatch-watchdog injection banner (AT3)
  .claude/hooks/inject-dispatch-watchdog.ts
  .minsky/hooks/inject-dispatch-watchdog.test.ts
  .minsky/hooks/inject-dispatch-watchdog.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2712): address PR #2287 R1 -- restore dropped harness-detection coverage + retry backoff
  packages/domain/src/runtime/harness-detection.test.ts
  src/cockpit/port-recovery.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3143): address PR #2289 R1 — carry the attempted URL onto fallback results
  src/adapters/shared/commands/reviewer-retrigger.test.ts
  src/adapters/shared/commands/reviewer-retrigger.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3182): address PR #2290 R1 — deadline covers the lookup, named skip, AT1 amended
  .claude/hooks/post-session-start.ts
  .claude/hooks/stamp-session-creator-link.ts
  .minsky/hooks/post-session-start.ts
  .minsky/hooks/stamp-session-creator-link.test.ts
  .minsky/hooks/stamp-session-creator-link.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3191): add handler-level tests for migrate dry-run/execute precedence
  src/adapters/shared/commands/persistence.test.ts
  src/adapters/shared/commands/persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3200): close two containment gaps found by the mt#3165 retrospective
  .claude/skills/implement-task/SKILL.md
  .cursor/rules/user-preferences.mdc
  .minsky/rules/user-preferences.mdc
  .minsky/skills/implement-task/skill.ts
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#975): address PR #2285 review — settings.json parity test + stale comment
  .claude/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  packages/domain/src/rules/enforcement-mapping.test.ts
  packages/domain/src/rules/enforcement-mapping.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2644): move maxConnections doc cross-reference out of the YAML fence
  docs/sessiondb-migration-guide.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3196): scope the silent-stretch wall-clock leg to actual work chains
  .claude/hooks/silent-stretch-detector.ts
  .minsky/hooks/silent-stretch-detector.test.ts
  .minsky/hooks/silent-stretch-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3182): address PR #2290 R2 — record failures durably, not just to stderr
  .claude/hooks/stamp-session-creator-link.ts
  .minsky/hooks/stamp-session-creator-link.test.ts
  .minsky/hooks/stamp-session-creator-link.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3196): address PR #2292 R1 — sync the prose describing the firing rule
  .claude/hooks/silent-stretch-detector.ts
  .minsky/hooks/silent-stretch-detector.test.ts
  .minsky/hooks/silent-stretch-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3179): address PR #2293 R1 — derive the dedup key from the final message
  .claude/hooks/registry.ts
  .claude/hooks/turn-end-untaken-action-scan.ts
  .minsky/hooks/registry.ts
  .minsky/hooks/turn-end-untaken-action-scan.test.ts
  .minsky/hooks/turn-end-untaken-action-scan.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3182): fix typecheck:hooks — per-column type params for the drizzle helpers
  .claude/hooks/stamp-session-creator-link.ts
  .minsky/hooks/stamp-session-creator-link.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3187): convert remaining dead-text entity refs in Attention, ConversationSearchPanel, AsksPage, TaskDetail
  src/cockpit/web/pages/AsksPage.test.tsx
  src/cockpit/web/pages/AsksPage.tsx
  src/cockpit/web/widgets/Attention.test.tsx
  src/cockpit/web/widgets/Attention.tsx
  src/cockpit/web/widgets/ConversationSearchPanel.test.tsx
  src/cockpit/web/widgets/ConversationSearchPanel.tsx
  src/cockpit/web/widgets/TaskDetail.test.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
Due: none

fix(mt#3172): correct tie-semantics doc to match actual strict-> behavior (PR #2294 R1)
  packages/domain/src/session/dispatch-recovery-classifier.test.ts
  packages/domain/src/session/dispatch-recovery-classifier.ts
  src/cockpit/dispatch-watchdog.test.ts
  src/cockpit/dispatch-watchdog.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
