Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(#178): Complete codemod best practices and standards - All phases implemented
  .cursor/rules/codemod-development-standards.mdc
  codemods/README.md
  docs/codemod-development-guidelines.md
  examples/variable-naming-example.ts
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: enhance task #258 with rule system AT-INFERENCE enforcement
  process/tasks/258-design-multi-agent-cybernetic-supervision-system-for-ai-to-ai-task-oversight.md
Due: bun node_modules/.bin/prettier --write

feat(#178): Complete codemod utilities framework implementation
  codemods/modern-variable-naming-fix.ts
  codemods/utils/codemod-framework.ts
  codemods/utils/specialized-codemods.ts
  docs/codemod-audit-report.md
  process/tasks/178-establish-codemod-best-practices-and-standards.md
  src/domain/configuration/config-generator.ts
  src/domain/localGitBackend.ts
  src/domain/remoteGitBackend.ts
  src/domain/repository.ts
  src/domain/repository/index.ts
  src/domain/tasks/githubBackendFactory.ts
  src/domain/tasks/taskIO.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: remove non-strict mode from database format checking
  .cursor/rules/user-preferences.mdc
  codemods/comprehensive-underscore-fix.ts
  codemods/file-specific-fixer.ts
  codemods/fix-parameter-underscore-mismatch.ts
  codemods/fix-property-name-corrections.ts
  codemods/fix-remaining-variable-issues.ts
  codemods/fix-result-underscore-mismatch.ts
  codemods/fix-unused-vars-simple.ts
  codemods/multi-stage-fixer.ts
  codemods/phase2-cleanup.ts
  codemods/simple-underscore-fix.ts
  codemods/simple-unused-cleanup.ts
  codemods/simple-unused-vars-cleanup.ts
  codemods/simple-unused-vars.ts
  codemods/surgical-bulk-fixer.ts
  codemods/systematic-refactor-all.ts
  codemods/targeted-bulk-fixer.ts
  codemods/unused-variables-codemod.ts
  package-lock.json
  process/tasks.md
  process/tasks/259-improve-cli-error-messages-for-user-friendly-output.md
  process/tasks/260-create-codemod-utilities-and-refactor-existing-codemods.md
  src/domain/storage/enhanced-storage-backend-factory.ts
  systematic-refactor-all.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: restore proper tasks.md format after workflow violation
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: add task creation workflow violation prevention to self-improvement rule
  .cursor/rules/self-improvement.mdc
Due: none

fix: remove task creation workflow violation from self-improvement rule
  .cursor/rules/self-improvement.mdc
Due: none

feat(task-244): update task spec with latest test failure analysis
  process/tasks/244-implement-comprehensive-test-isolation-framework-to-eliminate-suite-interference.md
Due: bun node_modules/.bin/prettier --write

docs: update task #244 with comprehensive progress, learnings, and current state
  process/tasks/244-implement-comprehensive-test-isolation-framework-to-eliminate-suite-interference.md
Due: bun node_modules/.bin/prettier --write

docs(task-178): Update spec with comprehensive progress documentation
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: bun node_modules/.bin/prettier --write

refactor: update task #258 to focus on reusing existing cursor rule files
  process/tasks/258-design-multi-agent-cybernetic-supervision-system-for-ai-to-ai-task-oversight.md
Due: bun node_modules/.bin/prettier --write

docs(task-178): Remove Task #260 reference, utility creation stays in Task #178
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: bun node_modules/.bin/prettier --write

feat: create task #260 for prompt templates and AI tools system
  process/tasks.md
  process/tasks/260-implement-prompt-templates-for-ai-interaction.md
Due: bun node_modules/.bin/prettier --write

fix: remove orphaned duplicate task #260 file
  .specstory/.gitignore
  process/tasks.md
  process/tasks/260-create-codemod-utilities-and-refactor-existing-codemods.md
  process/tasks/261-add-ai-agent-command-structure-export.md
Due: bun node_modules/.bin/prettier --write

feat: enhance task #261 with hybrid command discovery approach
  process/tasks/261-add-ai-agent-command-structure-export.md
Due: bun node_modules/.bin/prettier --write

feat(#259): Add user-friendly session start output
  src/adapters/shared/bridges/cli-bridge.ts
  src/domain/tasks/taskCommands.ts
  src/utils/zod-error-formatter.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#259): Improve additional CLI outputs for user-friendly experience
  src/adapters/shared/bridges/cli-bridge.ts
  src/adapters/shared/bridges/parameter-mapper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
