Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2101): address reviewer findings: shell injection, shutdown drain, health state
  src/commands/ops/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1889): add delivery directives to cockpit-dev agent
  .claude/agents/auditor.md
  .claude/agents/cockpit-dev.md
  .claude/agents/reviewer.md
  .minsky/agents/cockpit-dev/prompt.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2105): retire bypass-merge-as-default framing for bot-authored PRs
  .claude/skills/review-pr/SKILL.md
  .cursor/rules/task-lifecycle.mdc
  .minsky/rules/task-lifecycle.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

chore: restore auditor.md and reviewer.md to main versions
  .claude/agents/auditor.md
  .claude/agents/reviewer.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2105): address reviewer findings — tighten §8 prerequisites, remove dangling memory IDs
  .claude/skills/review-pr/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2107): extend Railway synthesizer with source.image support
  packages/shared/src/deployment/config.ts
  scripts/railway/lib.ts
  services/minsky-mcp/deploy.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2096): add cockpit preview deploy infrastructure
  .github/workflows/cockpit-preview.yml
  Dockerfile
  bun.lock
  scripts/supabase-preview-role.sql
  services/cockpit/Dockerfile
  services/cockpit/deploy.config.ts
  services/cockpit/package.json
  services/cockpit/railway.config.ts
  services/cockpit/src/server.ts
  services/cockpit/tsconfig.json
  services/reviewer/Dockerfile
  src/cockpit/cockpit.test.ts
  src/cockpit/server.ts
  src/domain/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2107): add image field to local RailwaySource in scripts/railway/lib.ts
  scripts/railway/lib.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2109): align /implement-task §9 with reviewer-bot APPROVE as normal path
  .claude/skills/implement-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2096): add issues:write permission to cockpit-preview workflow
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#2109): correct stale §7a cross-reference, qualify COMMENT merge-gate claim
  .claude/skills/implement-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#2102): extract shared PersistenceService singleton for all cockpit consumers
  src/cockpit/cockpit.test.ts
  src/cockpit/server.ts
  src/cockpit/shared-persistence.ts
  src/cockpit/widgets/agents.ts
  src/cockpit/widgets/attention.ts
  src/cockpit/widgets/context-inspector.ts
  src/cockpit/widgets/task-graph.ts
  src/cockpit/widgets/task-list.ts
  src/cockpit/widgets/workstreams.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2111): nest source.repo and source.image under input.source
  scripts/railway/lib.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2111): update tests for nested source shape in ServiceInstanceUpdateInput
  scripts/railway/lib.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2113): create slide deck for "When the agent is wrong" case study talk
  talks/when-the-agent-is-wrong/index.html
Due: none

fix(mt#2113): switch to ESM module loading for reveal.js notes plugin, align font stacks
  talks/when-the-agent-is-wrong/index.html
Due: none

feat(mt#2114): rebuild slide deck in Slidev, replacing reveal.js
  talks/when-the-agent-is-wrong/.gitignore
  talks/when-the-agent-is-wrong/index.html
  talks/when-the-agent-is-wrong/package-lock.json
  talks/when-the-agent-is-wrong/package.json
  talks/when-the-agent-is-wrong/slides.md
  talks/when-the-agent-is-wrong/style.css
Due: bun node_modules/.bin/prettier --write

fix(mt#2114): wire style.css import, load fonts, fix slide separators, switch to bun
  talks/when-the-agent-is-wrong/bun.lock
  talks/when-the-agent-is-wrong/package-lock.json
  talks/when-the-agent-is-wrong/slides.md
  talks/when-the-agent-is-wrong/style.css
Due: bun node_modules/.bin/prettier --write

fix(mt#2114): replace layout:center frontmatter with CSS class to survive linter
  talks/when-the-agent-is-wrong/slides.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#2108): partial: phase 1 - expand @minsky/shared with cross-cutting utilities
  packages/shared/package.json
  packages/shared/src/array-safety.ts
  packages/shared/src/constants.ts
  packages/shared/src/exec.ts
  packages/shared/src/fs.ts
  packages/shared/src/logger.ts
  packages/shared/src/paths.ts
  packages/shared/src/process.ts
  src/utils/array-safety.ts
  src/utils/constants.ts
  src/utils/exec.ts
  src/utils/fs.ts
  src/utils/logger.ts
  src/utils/paths.ts
  src/utils/process.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2096): replace Railway placeholder IDs with real resource IDs
  services/cockpit/railway.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2110): add Pulumi project for Railway IaC with TF bridge
  eslint.config.js
  infra/.gitignore
  infra/Pulumi.yaml
  infra/index.ts
  infra/package-lock.json
  infra/package.json
  infra/tsconfig.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2110): delete synthesizer and railway.config.ts files, inline IDs
  scripts/railway/apply.test.ts
  scripts/railway/apply.ts
  scripts/railway/lib.test.ts
  scripts/railway/lib.ts
  scripts/railway/logs.test.ts
  scripts/railway/logs.ts
  scripts/railway/status.test.ts
  scripts/railway/status.ts
  services/cockpit/deploy.config.ts
  services/cockpit/railway.config.ts
  services/minsky-mcp/deploy.config.ts
  services/minsky-mcp/railway.config.ts
  services/reviewer/deploy.config.ts
  services/reviewer/railway.config.ts
  services/site/deploy.config.ts
  services/site/railway.config.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2110): update Railway docs and comments for Pulumi migration
  docs/deploy-minsky-railway.md
  services/site/README.md
  src/domain/deployment/railway/graphql-client.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2115): add forced-pass for submit_documentation_impact in reviewer service
  services/reviewer/src/compose-review.test.ts
  services/reviewer/src/providers.test.ts
  services/reviewer/src/providers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2116): allow workflow_dispatch to trigger full deploy pipeline
  .github/workflows/deploy-minsky-mcp.yml
Due: none

test(mt#2117): smoke-test cockpit preview deploy workflow trigger
  src/cockpit/config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2117): create Railway PR environment before deploying
  .github/workflows/cockpit-preview.yml
Due: none

feat(mt#1673): add --verification-mode flag and VERIFICATION_CORPUS to replay-severity.ts
  services/reviewer/scripts/replay-severity.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2117): simplify to single-environment deploy
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#2110): add prepare script to generate Railway SDK on npm install
  infra/package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2096): simplify cockpit-preview to single-environment deploy
  .github/workflows/cockpit-preview.yml
Due: none

fix(mt#2108): correct @minsky/domain/composition/cli → ../src/composition/cli in scripts
  scripts/backfill-memory-associations.ts
  scripts/benchmark-mcp-memory-enrichment.ts
  scripts/build-completion-manifest.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
