Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

chore(#287): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs: update resource management and self-improvement rules
  .cursor/rules/resource-management-protocol.mdc
  .cursor/rules/self-improvement.mdc
Due: none

feat(#283): complete task ID storage/display separation
  .cursor/rules/resource-management-protocol.mdc
  .cursor/rules/self-improvement.mdc
Due: none

docs: update changelog for Task #283 completion
  .cursor/rules/self-improvement.mdc
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

chore(#292): update task status in tasks.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

docs(#276): Update Phase 11F status with infrastructure improvements
  process/tasks/276-optimize-test-suite-quality-and-pass-rate-post-isolation.md
Due: bun node_modules/.bin/prettier --write

chore(#292): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(#276): Complete Phase 11F infrastructure stabilization with mock optimization
  CHANGELOG.md
  src/domain/git/commands/__tests__/integration.test.ts
  src/domain/git/conflict-detection.test.ts
  src/domain/git/parameter-based-functions.test.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  tests/adapters/mcp/session-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#280): Finalize as unknown cleanup implementation
  scripts/validate-commit-message.ts
  test-merge-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(#280): clean up leftover .pr_title file
  .pr_title
Due: none

feat(#283): Complete task ID storage/display separation implementation
  process/tasks/283-separate-task-id-storage-from-display-format.md
  scripts/migrate-task-id-format.ts
  src/adapters/shared/bridges/cli-bridge.ts
  src/adapters/shared/bridges/cli-command-generator.ts
  src/adapters/shared/bridges/cli-result-formatters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: resolve 'sessions.find' undefined error in JSON file storage backend
  scripts/validate-commit-message.ts
  src/domain/storage/backends/json-file-storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: add changelog entry for session database fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: correct NODE_CONFIG_DIR setting to use actual process.env
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: add configuration loading fix to changelog
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: improve configuration directory handling and config show command
  src/adapters/cli/customizations/config-customizations.ts
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: add configuration improvements to changelog
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Remove meta-cognitive boundary violations in naming
  src/adapters/__tests__/session-context-resolver.test.ts
  src/adapters/session-context-resolver.ts
  src/adapters/shared/commands/__tests__/session-context-resolution.test.ts
  src/domain/session/domain-session-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#158): Add comprehensive implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: bun node_modules/.bin/prettier --write

fix: improve NODE_CONFIG_DIR handling with user override detection
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with NODE_CONFIG_DIR handling improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write
