Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#2383): tighten Plant Board composition — boardHeight 840, redistribute organ Y-coordinates
  src/cockpit/web/pages/PlantPage.tsx
Due: none

fix(mt#2383): R1 — restore learning-loop label parenthetical; clarify boardHeight record
  src/cockpit/web/pages/PlantPage.tsx
Due: none

fix(mt#2373): R1 — restore MemoriesHealth gap-2 spacing; add ARIA to WidgetShell chrome-less variants
  src/cockpit/web/components/WidgetShell.tsx
  src/cockpit/web/widgets/MemoriesHealth.tsx
Due: none

feat(mt#2387): densify Plant Board into tight full-width bands
  src/cockpit/web/pages/PlantPage.tsx
Due: none

feat(mt#2388): add PlantGridPage responsive panel-grid at /plant-grid
  src/cockpit/web/App.tsx
  src/cockpit/web/hooks/useReadyCount.ts
  src/cockpit/web/pages/PlantGridPage.test.tsx
  src/cockpit/web/pages/PlantGridPage.tsx
  src/cockpit/web/pages/PlantPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2388): R1 — import ReactNode in PlantGridPage; dedup PlantPage onto shared useReadyCount
  src/cockpit/web/pages/PlantGridPage.tsx
  src/cockpit/web/pages/PlantPage.tsx
Due: none

feat(mt#2389): PlantFlowPage node-link canvas + App route + tests
  bun.lock
  docs/architecture/adr-020-plant-board-rendering-substrate.md
  package.json
  src/cockpit/web/App.tsx
  src/cockpit/web/pages/PlantFlowPage.test.tsx
  src/cockpit/web/pages/PlantFlowPage.tsx
  src/cockpit/web/pages/PlantGridPage.tsx
Due: bun node_modules/.bin/prettier --write

feat(mt#2374): cockpit conversation renderer — readable chat-thread view of a session transcript
  packages/domain/src/context/types.ts
  packages/domain/src/transcripts/conversation-elements.test.ts
  packages/domain/src/transcripts/conversation-elements.ts
  packages/domain/src/transcripts/index.ts
  scripts/verify-conversation-renderer.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/pages/ConversationPage.tsx
  src/cockpit/web/pages/HomePage.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2374): R1 — address reviewer concerns on PR #1645
  packages/domain/src/transcripts/conversation-elements.test.ts
  packages/domain/src/transcripts/conversation-elements.ts
  scripts/verify-conversation-renderer.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/lib/sessions-source.ts
  src/cockpit/web/pages/ConversationPage.tsx
  src/cockpit/web/widgets/ContextInspector.tsx
  src/cockpit/web/widgets/ConversationView.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2389): give PlantFlow canvas a viewport-definite height
  src/cockpit/web/pages/PlantFlowPage.tsx
Due: none

fix(mt#2374): R2 — remove unused useState import in ConversationView
  src/cockpit/web/widgets/ConversationView.tsx
Due: none

fix(mt#2340): R1 — validate /api/activity category+eventType at the boundary (no silent empty IN)
  packages/domain/src/events/query.ts
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2360): correct stale `minsky session start mt#<id>` examples to `--task` form
  .claude/skills/marketing-site-design/SKILL.md
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  .minsky/skills/marketing-site-design/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/multi-backend-quick-reference.md
  docs/multi-backend-user-guide.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2360): R1 — sweep remaining positional session-start examples in multi-backend docs
  docs/multi-backend-quick-reference.md
  docs/multi-backend-user-guide.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2349): R1 — deferred-failure proxy reads benign, throw only on call; manifest + doc sweep
  docs/sessiondb-troubleshooting.md
  packages/domain/src/composition/container.test.ts
  packages/domain/src/composition/container.ts
  src/adapters/cli/customizations/config-customizations.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2397): persistent rail replaces hamburger/NavSheet shell nav
  src/cockpit/web/components/AppHeader.tsx
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/components/Rail.tsx
Due: none

fix(mt#2397): R1 — segment-aware rail active-route match (no prefix false-positives)
  src/cockpit/web/components/Rail.tsx
Due: none

feat(mt#2369): partial: add resolvePgMigrationsFolder() — replace 4 hardcoded cwd-relative paths
  packages/domain/src/persistence/postgres-migration-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2396): remove vestigial --setDefault from persistence migrate
  src/adapters/shared/commands/persistence.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2369): partial: fix leaky rule templates and observability projectName default
  packages/domain/src/configuration/schemas/observability.test.ts
  packages/domain/src/configuration/schemas/observability.ts
  packages/domain/src/rules/templates/core-workflow-templates.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2401): fill real Railway IDs in cockpit deploy.config.ts + reconcile infra/index.ts
  infra/index.ts
  services/cockpit/deploy.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2396): R1 — correct misleading --backup description (boolean toggle, not a directory)
  src/adapters/cli/customizations/config-customizations.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2400): fail-closed guards on apply-model edit tools
  packages/domain/src/ai/edit-pattern-utils.test.ts
  packages/domain/src/ai/edit-pattern-utils.ts
  src/adapters/mcp/schemas/common-parameters.ts
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/task-edit-tools.ts
  tests/adapters/mcp/session-edit-tools.test.ts
  tests/adapters/mcp/task-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2401): R1 — drop unverifiable cockpit vars block + add deploy-config verification script
  infra/index.ts
  scripts/smoke-mt2401-cockpit-deploy-config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2369): partial: add cold-start migration smoke script + CI workflow
  .github/workflows/cold-start-migrate.yml
  .gitleaks.toml
  .gitleaksignore
  eslint.config.js
  scripts/smoke-cold-start-migrate.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2400): R1 — document fail-closed defaults + override flags in tool descriptions
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/task-edit-tools.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2369): R1 — reconcile resolver probe, tighten cold-start assertion, doc the behavior changes
  README.md
  docs/persistence-configuration.md
  packages/domain/src/persistence/postgres-migration-operations.ts
  scripts/smoke-cold-start-migrate.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2398): tabbed workspace — entity tabs (IDE model), /session/:id, home rationalization
  src/cockpit/web/App.tsx
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/components/TabBar.tsx
  src/cockpit/web/components/ui/link-card.tsx
  src/cockpit/web/lib/sessions-source.ts
  src/cockpit/web/lib/tabs.tsx
  src/cockpit/web/pages/ConversationPage.tsx
  src/cockpit/web/pages/HomePage.tsx
  src/cockpit/web/pages/SessionPage.tsx
  src/cockpit/web/widgets/Agents.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2398): R1 — honest nav/link semantics in TabBar; document shell + routes
  docs/architecture/cockpit.md
  src/cockpit/web/components/TabBar.tsx
Due: bun node_modules/.bin/prettier --write

refactor(mt#2384): Batch 1 — migrate 5 widgets + App.tsx to WidgetShell seam
  src/cockpit/web/App.tsx
  src/cockpit/web/widgets/Attention.tsx
  src/cockpit/web/widgets/ContextInspector.tsx
  src/cockpit/web/widgets/Credentials.tsx
  src/cockpit/web/widgets/EmbeddingsHealth.tsx
  src/cockpit/web/widgets/McpServerStatus.tsx
Due: none

feat(mt#2364): External off-cockpit alert sink for reviewer (Telegram)
  services/reviewer/README.md
  services/reviewer/scripts/smoke-alert-sink.ts
  services/reviewer/src/alert-sink.test.ts
  services/reviewer/src/alert-sink.ts
  services/reviewer/src/sweeper.test.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2384): Batch 2 — migrate TaskDetail/TaskGraph/TaskList/Workstreams/Agents to WidgetShell
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
  src/cockpit/web/widgets/TaskGraph.tsx
  src/cockpit/web/widgets/TaskList.tsx
  src/cockpit/web/widgets/Workstreams.tsx
Due: none

feat(mt#2384): batch 3 — migrate MemoriesList, MemorySearch, MemoryStats to WidgetShell
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/web/widgets/MemorySearch.tsx
  src/cockpit/web/widgets/MemoryStats.tsx
Due: none

fix(mt#2364): R1 — strict smoke verification + sink observability hardening
  services/reviewer/scripts/smoke-alert-sink.ts
  services/reviewer/src/alert-sink.test.ts
  services/reviewer/src/alert-sink.ts
  services/reviewer/src/sweeper.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2384): R1 — pass registry titles through home-grid loop; UseQueryResult typing
  src/cockpit/web/App.tsx
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/web/widgets/Attention.tsx
  src/cockpit/web/widgets/ContextInspector.tsx
  src/cockpit/web/widgets/Credentials.tsx
  src/cockpit/web/widgets/EmbeddingsHealth.tsx
  src/cockpit/web/widgets/McpServerStatus.tsx
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/web/widgets/MemorySearch.tsx
  src/cockpit/web/widgets/MemoryStats.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
  src/cockpit/web/widgets/TaskList.tsx
Due: none

fix(mt#2389): PlantFlowPage visual defects — edges, handles, labels, layout
  src/cockpit/web/pages/PlantFlowPage.tsx
Due: none

fix(mt#2408): reject empty search string in edit tools (countOccurrences infinite loop)
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/mcp/task-edit-tools.ts
  tests/adapters/mcp/session-edit-tools.test.ts
  tests/adapters/mcp/task-edit-tools.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2409): copy domain/shared src into cockpit Dockerfile builder stage
  services/cockpit/Dockerfile
Due: none

feat(mt#2413): cockpit-tray-dev skill + path-scoped cockpit-tray/CLAUDE.md
  .claude/skills/cockpit-tray-dev/SKILL.md
  .minsky/skills/cockpit-tray-dev/content.md
  .minsky/skills/cockpit-tray-dev/skill.ts
  cockpit-tray/CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
