Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2226): drop unrelated completion-manifest change from the PR
  src/generated/completion-manifest.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2247): mock /api/credentials/providers in Credentials tests
  src/cockpit/web/widgets/Credentials.test.tsx
Due: none

test(mt#2247): exact pathname matching in mock (reviewer nit)
  src/cockpit/web/widgets/Credentials.test.tsx
Due: none

test(mt#2247): await providers query with findByLabelText (reviewer R2)
  src/cockpit/web/widgets/Credentials.test.tsx
Due: none

fix(mt#2244): add init-timeout + reset-on-hang to shared persistence singleton
  src/cockpit/shared-persistence.test.ts
  src/cockpit/shared-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2244): address reviewer R1 — full-sequence race, env config, orphan docs
  docs/architecture/cockpit.md
  packages/domain/src/configuration/sources/environment.ts
  src/cockpit/shared-persistence.test.ts
  src/cockpit/shared-persistence.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2219): embed cockpit in an in-app WebviewWindow
  cockpit-tray/src-tauri/src/main.rs
Due: none

fix(mt#2219): log cockpit-window failures instead of discarding them (reviewer R1)
  cockpit-tray/src-tauri/src/main.rs
Due: none

feat(mt#1641): add read-only schema-drift detector to persistence check
  packages/domain/src/persistence/schema-drift-detector.test.ts
  packages/domain/src/persistence/schema-drift-detector.ts
  packages/domain/src/persistence/validation-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1641): feature-detect .unsafe + document drift audit (review)
  docs/sessiondb-troubleshooting.md
  packages/domain/src/persistence/validation-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1641): drift findings are non-failing warnings, not issues (review)
  packages/domain/src/persistence/validation-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2227): point migration tooling at packages/domain + fix non-monotonic journal
  drizzle.config.ts
  drizzle.pg.config.ts
  packages/domain/src/detectors/dismissal-store.ts
  packages/domain/src/persistence/postgres-migration-operations.ts
  packages/domain/src/persistence/providers/postgres-provider.ts
  packages/domain/src/persistence/sqlite-migration-operations.ts
  packages/domain/src/storage/backends/postgres-storage.ts
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/ask-schema.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2227): repoint stale dismissal-store schema path (review)
  drizzle.pg.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2243): size-aware reviewer chunking + per-file truncation to prevent token-limit overflow
  services/reviewer/src/chunked-review.test.ts
  services/reviewer/src/chunked-review.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2253): reconcile drifted skill sources to compiled SKILL.md outputs
  .minsky/skills/implement-task/skill.ts
  .minsky/skills/merge-coordination/skill.ts
  .minsky/skills/orchestrate/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2243): address reviewer R1 — single-pass overflow guard + no-patch fallback tests
  services/reviewer/src/chunked-review.test.ts
  services/reviewer/src/chunked-review.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#2243): re-trigger CI (build check failed with all steps green locally — suspected flake)
  services/reviewer/src/.minsky/pre-narration-calibration.jsonl
Due: none

chore(mt#2243): drop accidentally-committed hook-calibration artifact + gitignore the class
  .gitignore
  services/reviewer/src/.minsky/pre-narration-calibration.jsonl
Due: none

fix(mt#2243): fix services/reviewer typecheck — guard possibly-undefined chunk index access
  services/reviewer/src/chunked-review.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2252): compile-hardening — log silent skips, add claude-skills staleness check, generation banner
  .claude/skills/cockpit-design/SKILL.md
  .claude/skills/fixture/SKILL.md
  .claude/skills/implement-task/SKILL.md
  .claude/skills/merge-coordination/SKILL.md
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .claude/skills/verify-task/SKILL.md
  packages/domain/src/compile/targets/claude-skills.test.ts
  packages/domain/src/compile/targets/claude-skills.ts
  packages/domain/src/rules/compile/banner-constants.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2252): R1 — make classifyCompileCheckError messages kind-consistent
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2259): surface task createdAt/updatedAt through read mapping + tasks_get
  packages/domain/src/tasks/minskyTaskBackend.test.ts
  packages/domain/src/tasks/minskyTaskBackend.ts
  packages/domain/src/tasks/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2260): guard no-filter-forward contract at embeddings/vector-store boundary
  packages/domain/src/similarity/task-similarity-service.core.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2259): R1 — return createdAt/updatedAt on freshly-created Task
  packages/domain/src/tasks/minskyTaskBackend.test.ts
  packages/domain/src/tasks/minskyTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2260): address reviewer nits — type spy as SearchOptions, full VectorStorage stub, afterEach restore
  packages/domain/src/similarity/task-similarity-service.core.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2245): bound Octokit network timeout in github-issues backend
  packages/domain/src/github/octokit-timeout.test.ts
  packages/domain/src/github/octokit-timeout.ts
  packages/domain/src/tasks/githubIssuesTaskBackend.ts
  scripts/smoke-mt2245-github-timeout.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2245): address reviewer R1 on Octokit timeout wrapper
  package.json
  packages/domain/src/github/octokit-timeout.test.ts
  packages/domain/src/github/octokit-timeout.ts
  scripts/smoke-mt2245-github-timeout.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2192): SessionEnd transcript-ingest hook + boot-sweep observability
  .claude/hooks/transcript-ingest-on-session-end.test.ts
  .claude/hooks/transcript-ingest-on-session-end.ts
  .claude/settings.json
  packages/domain/src/configuration/sources/environment.ts
  scripts/smoke-transcript-ingest-hook.ts
  src/adapters/shared/commands/transcripts/startup-transcript-ingest.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2272): add closing resources slide (repo + slides QR) and gitignore .minsky
  talks/what-is-minsky/.gitignore
  talks/what-is-minsky/assets/qr-repo.svg
  talks/what-is-minsky/assets/qr-slides.svg
  talks/what-is-minsky/slides.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2272): expand deck — grounding, thesis beats, broadened ask, links
  talks/what-is-minsky/assets/cockpit.png
  talks/what-is-minsky/assets/qr-lastweek.svg
  talks/what-is-minsky/slides.md
  talks/what-is-minsky/style.css
Due: bun node_modules/.bin/prettier --write

feat(mt#2272): add architecture diagram slide; split grounding into structure + artifact
  talks/what-is-minsky/assets/arch.svg
  talks/what-is-minsky/slides.md
  talks/what-is-minsky/style.css
Due: bun node_modules/.bin/prettier --write

feat(mt#2273): add "calling minsky" terminal slide + cockpit-feature appendix
  talks/what-is-minsky/assets/cockpit-agents.png
  talks/what-is-minsky/assets/cockpit-embeddings.png
  talks/what-is-minsky/assets/cockpit-tasks.png
  talks/what-is-minsky/assets/cockpit-workstreams.png
  talks/what-is-minsky/package-lock.json
  talks/what-is-minsky/slides.md
  talks/what-is-minsky/style.css
Due: bun node_modules/.bin/prettier --write

chore(mt#2273): drop stray package-lock.json (deck uses bun.lock only)
  talks/what-is-minsky/package-lock.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2273): address reviewer non-blocking nits — lazy-load appendix imgs, terminal column gap
  talks/what-is-minsky/slides.md
  talks/what-is-minsky/style.css
Due: bun node_modules/.bin/prettier --write

feat(mt#2217): add guard/rule-documentation step to /implement-task §7 convergence checklist
  .claude/skills/implement-task/SKILL.md
  .minsky/skills/implement-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2250): record tasks_embeddings status/backend drop as migration 0044
  packages/domain/src/storage/migrations/pg/0044_drop_tasks_embeddings_status_backend.sql
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/task-embeddings.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2275): inject-git-state UserPromptSubmit hook
  .claude/hooks/inject-git-state.test.ts
  .claude/hooks/inject-git-state.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2275): address PR #1517 R1 — 5 BLOCKING (3 fixed, 2 architectural pushback)
  .claude/hooks/inject-git-state.test.ts
  .claude/hooks/inject-git-state.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
