Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

docs(mt#4766): note both deployment-mode auth gates on the memory routes
  src/cockpit/routes/memories.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2911): work-package schema — members, transfer log, claim identity (migration 0114)
  drizzle.pg.config.ts
  packages/domain/src/storage/migrations/pg/0114_tidy_swarm.sql
  packages/domain/src/storage/migrations/pg/bootstrap/full-schema.sql
  packages/domain/src/storage/migrations/pg/bootstrap/meta.json
  packages/domain/src/storage/migrations/pg/meta/0114_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/task-embeddings.ts
  packages/domain/src/storage/schemas/work-package-schema.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4766): PR #3501 R1 — real 401 behavior tests + docs/cockpit-ui.md
  docs/cockpit-ui.md
  src/cockpit/routes/memories.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4765): PR #3496 R1 — guard main(), make the coverage check race-free, re-read before write
  scripts/rederive-memory-associations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2911): tasks claim/release — CAS claim path, transfer-log release, caller identity
  packages/domain/src/tasks/work-package-claim.test.ts
  packages/domain/src/tasks/work-package-claim.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/adapters/shared/commands/tasks/work-package-commands.ts
  src/generated/completion-manifest.json
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4765): PR #3496 R3 — split SC4, and commit the measurement as an in-repo artifact
  scripts/rederive-memory-associations-results.json
  scripts/rederive-memory-associations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2911): work-package create seam — per-origin briefing validation, ref sweep, fan-in, queue writes
  .claude/hooks/validate-task-spec.ts
  .minsky/hooks/validate-task-spec.test.ts
  .minsky/hooks/validate-task-spec.ts
  packages/domain/src/tasks/work-package-briefing.test.ts
  packages/domain/src/tasks/work-package-briefing.ts
  packages/domain/src/tasks/work-package-store.test.ts
  packages/domain/src/tasks/work-package-store.ts
  src/adapters/shared/commands/refs.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/registry-setup.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
  src/adapters/shared/commands/tasks/work-package-create-prep.test.ts
  src/adapters/shared/commands/tasks/work-package-create-prep.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2911): consumer-side default-deny + docs — tasks_available/workstreams exclude the kind; task-kinds guide
  docs/task-kinds.md
  packages/domain/src/tasks/task-routing-service.test.ts
  packages/domain/src/tasks/task-routing-service.ts
  src/adapters/shared/commands/tasks/routing-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.test.ts
  src/cockpit/widgets/workstreams.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2911): /handoff terminal step writes a succession work package, not a memory
  .claude/skills/handoff/SKILL.md
  .minsky/skills/handoff/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4766): PR #3501 R2 — register the new memories route in the scope census
  src/cockpit/scope-census.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4792): Elide to a non-whitespace filler so the residual cannot manufacture a match
  .minsky/hooks/block-out-of-band-merge.test.ts
  packages/domain/src/text/prose-elision.test.ts
  packages/domain/src/text/prose-elision.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2911): cockpit work-package pool — list, claim/release, copy-launch (/work-packages)
  src/cockpit/routes/work-packages.ts
  src/cockpit/server.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/components/Rail.tsx
  src/cockpit/web/pages/WorkPackagesPage.test.tsx
  src/cockpit/web/pages/WorkPackagesPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4792): PR #3502 R1 — amend ADR-024 Rung 1 to require a non-matching filler
  docs/architecture/adr-024-detection-mechanism-ladder-for-guidance-hooks.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2911): PR #3503 R1 — enum-orphan parity, domain-level events, refuse-before-create, member index
  packages/domain/src/storage/migrations/pg/0115_mean_lizard.sql
  packages/domain/src/storage/migrations/pg/bootstrap/full-schema.sql
  packages/domain/src/storage/migrations/pg/bootstrap/meta.json
  packages/domain/src/storage/migrations/pg/meta/0115_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/task-embeddings.ts
  packages/domain/src/storage/schemas/work-package-schema.ts
  packages/domain/src/tasks/task-routing-service.ts
  packages/domain/src/tasks/work-package-claim.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/work-package-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#4765): Derive both ways from the shipped extractor, not a local approximation
  packages/domain/src/memory/staleness.ts
  scripts/rederive-memory-associations-results.json
  scripts/rederive-memory-associations.test.ts
  scripts/rederive-memory-associations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2911): CI census catch-up — enum-drift orphan axis, tool-effect entries, route scope consumption
  packages/domain/src/storage/schemas/enum-drift.test.ts
  packages/shared/src/tool-effect.ts
  src/adapters/shared/tool-effect-coverage.test.ts
  src/cockpit/routes/work-packages.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2911): frontend scope census — WorkPackagesPage fetches via apiFetch
  src/cockpit/web/pages/WorkPackagesPage.tsx
Due: none

feat(mt#4794): partial: add unscoped attention query + elsewhereCount helper
  src/cockpit/web/hooks/useOpenAskCount.ts
  src/cockpit/web/lib/attention-leak.test.ts
  src/cockpit/web/lib/attention-leak.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4716): Repoint 25 dead src/domain pointers in docs/architecture, and quote the 26th [no-deploy-impact]
  docs/architecture/adr-003-project-level-repository-backend.md
  docs/architecture/adr-005-forgebackend-subinterfaces.md
  docs/architecture/adr-006-agent-identity.md
  docs/architecture/adr-007-cognition-provider-abstraction.md
  docs/architecture/adr-008-attention-allocation-subsystem.md
  docs/architecture/adr-009-in-band-review-semantics.md
  docs/architecture/adr-010-mesh-signal-channel-push-subscription.md
  docs/architecture/adr-012-memory-entity-associations.md
  docs/architecture/adr-026-dependency-injection-convention.md
  docs/architecture/critic-constitution-reliability.md
  docs/architecture/interface-agnostic-commands.md
  docs/architecture/main-workspace-ops.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4716): PR #3504 R1 — sweep the directory references the extension regex could not see [no-deploy-impact]
  docs/architecture/adr-003-project-level-repository-backend.md
  docs/architecture/adr-007-cognition-provider-abstraction.md
  docs/architecture/adr-008-attention-allocation-subsystem.md
  docs/architecture/adr-010-mesh-signal-channel-push-subscription.md
  docs/architecture/adr-012-memory-entity-associations.md
  docs/architecture/interface-agnostic-commands.md
Due: bun node_modules/.bin/prettier --write

fix(mt#4796): Request association removal with an empty array, and verify every write
  scripts/rederive-memory-associations.test.ts
  scripts/rederive-memory-associations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4794): render cross-project needs-me leak on rail + home
  src/cockpit/web/components/Rail.attention-elsewhere.test.tsx
  src/cockpit/web/components/Rail.tsx
  src/cockpit/web/lib/scope-census.test.ts
  src/cockpit/web/pages/HomePage.test.tsx
  src/cockpit/web/pages/HomePage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4795): add per-project triage summary to the project switcher
  src/cockpit/web/components/ProjectSelector.test.tsx
  src/cockpit/web/components/ProjectSelector.tsx
  src/cockpit/web/hooks/useProjectTriageSummaries.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4796): PR #3505 R1 — minimal payload, corrected comment, set-wise ref comparison
  scripts/rederive-memory-associations.test.ts
  scripts/rederive-memory-associations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4767): Add curation filters to the domain layer and two aggregate widgets
  packages/domain/src/memory/index.ts
  packages/domain/src/memory/memory-service.ts
  packages/domain/src/memory/types.ts
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/memories-curation.ts
  src/cockpit/widgets/memories-duplicates.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4794): keep the primary Attention link's accessible name scoped
  src/cockpit/web/components/Rail.attention-elsewhere.test.tsx
  src/cockpit/web/components/Rail.tsx
Due: none

docs(mt#4795): document the project filter's triage summary; attach live-verification screenshots
  docs/cockpit-ui.md
  docs/verification/mt-4795/switcher-closed-minsky.png
  docs/verification/mt-4795/switcher-open.png
Due: bun node_modules/.bin/prettier --write

refactor(mt#4795): address reviewer non-blocking notes
  src/cockpit/web/components/ProjectSelector.test.tsx
  src/cockpit/web/components/ProjectSelector.tsx
Due: none

feat(mt#4767): Wire the worklists through the table, the page, and the MCP surface
  packages/domain/src/memory/memory-list-filters.test.ts
  scripts/verify-memory-worklists.ts
  src/adapters/shared/commands/memory/index.ts
  src/cockpit/scope-census.ts
  src/cockpit/web/lib/memories-url.test.ts
  src/cockpit/web/lib/memories-url.ts
  src/cockpit/web/lib/memory-mutations.ts
  src/cockpit/web/pages/MemoriesPage.test.tsx
  src/cockpit/web/pages/MemoriesPage.tsx
  src/cockpit/web/widgets/MemoriesCuration.tsx
  src/cockpit/web/widgets/MemoriesDuplicates.tsx
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/web/widgets/MemoriesList.worklist-params.test.ts
  src/cockpit/widgets/memories-curation.test.ts
  src/cockpit/widgets/memories-list.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4767): Three defects the render capture found that no test could
  docs/evidence/mt-4767/01-default.png
  docs/evidence/mt-4767/02-untagged.png
  docs/evidence/mt-4767/03-superseded.png
  docs/evidence/mt-4767/04-duplicates.png
  scripts/capture-memories-render.ts
  scripts/verify-memory-worklists.ts
  src/cockpit/web/lib/memories-url.test.ts
  src/cockpit/web/lib/memories-url.ts
  src/cockpit/web/widgets/MemoriesCuration.tsx
  src/cockpit/web/widgets/MemoriesList.tsx
  src/cockpit/widgets/memories-curation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4767): PR #3508 R1 — both blocking findings, plus the same class where it predates this PR
  docs/architecture/cockpit.md
  docs/cockpit-ui.md
  src/cockpit/web/lib/memories-url.test.ts
  src/cockpit/web/lib/memories-url.ts
  src/cockpit/web/pages/MemoriesPage.tsx
  src/cockpit/widgets/memories-list-parsers.test.ts
  src/cockpit/widgets/memories-list.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4767): Give the growth bars min-h-0 so the column-flex sweep passes
  src/cockpit/web/widgets/MemoriesCuration.tsx
Due: none

fix(mt#4787): Convert the memory similarity score from L2 distance at the domain boundary
  packages/domain/src/memory/index.ts
  packages/domain/src/memory/memory-service.ts
  packages/domain/src/memory/similarity-score.test.ts
  packages/domain/src/memory/similarity-score.ts
  packages/domain/src/memory/types.ts
  scripts/verify-memory-similarity-orientation.ts
  src/cockpit/web/widgets/MemoryDetail.tsx
  src/cockpit/web/widgets/MemorySearch.tsx
  src/mcp/middleware/memory-enrichment.test.ts
  src/mcp/middleware/memory-enrichment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4764): Read the installation settings URL from GitHub instead of constructing it
  docs/github-app-bot-setup.md
  packages/domain/src/auth/github-app-token-provider.ts
  packages/domain/src/setup/app-coverage.test.ts
  packages/domain/src/setup/app-coverage.ts
  scripts/verify-installation-settings-url.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4807): Locate the terminal actionables block, covering the forms agents actually write
  .claude/hooks/actionables-block.ts
  .minsky/hooks/actionables-block.test.ts
  .minsky/hooks/actionables-block.ts
  docs/architecture/hook-module-inventory.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#4787): Render evidence, plus three real defects in the capture script
  docs/evidence/mt-4787/01-default.png
  docs/evidence/mt-4787/02-untagged.png
  docs/evidence/mt-4787/03-superseded.png
  docs/evidence/mt-4787/04-duplicates.png
  docs/evidence/mt-4787/05-memory-detail-similarity.png
  scripts/capture-memories-render.ts
  src/cockpit/web/widgets/MemoryDetail.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4764): PR #3511 R1 — origin-check the html_url, and skip the fetch after a failed probe
  packages/domain/src/auth/github-app-installation-url.test.ts
  packages/domain/src/auth/github-app-token-provider.ts
  packages/domain/src/github/trusted-url.test.ts
  packages/domain/src/github/trusted-url.ts
  packages/domain/src/setup/app-coverage.test.ts
  packages/domain/src/setup/app-coverage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#4800): Verify a stopped daemon actually released its port, and record every conflict refusal
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/supervisor/daemon_core.rs
  src/cockpit/port-incumbent.test.ts
  src/cockpit/port-recovery.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4787): PR #3512 R1 — record the threshold caller audit the reviewer asked for
  packages/domain/src/memory/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4764): PR #3511 R2 — correct two docblocks my own change falsified
  packages/domain/src/setup/app-coverage.test.ts
  packages/domain/src/setup/app-coverage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
