Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(#178): Implement automated codemod analysis and remove 10 problematic codemods
  BULK_PROCESSING_PROGRESS.md
  BULK_PROCESSING_STRATEGY.md
  codemod-analysis-results.json
  codemods/file-specific-fixer.ts
  codemods/fix-remaining-specific-unused-vars.ts
  codemods/fix-specific-ts2322-patterns.ts
  codemods/fix-specific-typescript-errors.ts
  codemods/fix-tasks-test-unused-imports.ts
  codemods/fix-ts2322-final.ts
  codemods/fix-ts2345-specific-patterns.ts
  codemods/fix-unused-vars-final.ts
  codemods/prefix-unused-function-params.ts
  codemods/unused-imports-cleanup.ts
  scripts/analyze-codemods.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#178): Update task spec with automated analysis results and current progress
  BULK_PROCESSING_PROGRESS.md
  BULK_PROCESSING_STRATEGY.md
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: bun node_modules/.bin/prettier --write

feat(#178): Remove 3 additional high-risk codemods through boundary validation testing
  codemod-analysis-results.json
  codemod-analysis.json
  codemods/fix-mocking-safe-ast.ts
  codemods/fix-this-prefix.ts
  codemods/fix-undef-variables.ts
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#178): Remove 2 additional high-risk codemods, document 100% failure rate pattern
  codemods/fix-mocking-comprehensive-ast.ts
  codemods/fix-repository-naming-issues-improved.ts
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Adds naming conventions and boundary rules
  .cursor/rules/meta-cognitive-boundary-protocol.mdc
  .cursor/rules/naming-conventions.mdc
  process/tasks/257-test-session-for-dependency-fix.md
Due: bun node_modules/.bin/prettier --write

feat(#178): Remove cleanup-triple-underscore-vars codemod, document 100% failure rate pattern
  codemods/cleanup-triple-underscore-vars.test.ts
  codemods/cleanup-triple-underscore-vars.ts
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: create task #263 to investigate PaaS deployment options for Minsky sessions
  process/tasks.md
  process/tasks/263-investigate-paas-deployment-options-for-minsky-sessions.md
Due: bun node_modules/.bin/prettier --write

fix: remove time estimates from task #263 and update creating-tasks rule
  .cursor/rules/creating-tasks.mdc
  process/tasks/263-investigate-paas-deployment-options-for-minsky-sessions.md
Due: bun node_modules/.bin/prettier --write

feat: create task #264 - explore adding standard API interface alongside MCP
  process/tasks.md
  process/tasks/264-explore-adding-standard-api-interface-alongside-mcp-using-shared-command-registry.md
Due: bun node_modules/.bin/prettier --write

refactor(#244): rewrite task spec to focus on testing-boundaries compliance
  process/tasks/244-implement-comprehensive-test-isolation-framework-to-eliminate-suite-interference.md
Due: bun node_modules/.bin/prettier --write

docs: update changelog for task #244 specification refactoring
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#178): Remove fix-common-undef.ts codemod, document critical scope violations
  boundary-validation-results.md
  boundary-validation-test-fix-common-undef.md
  codemods/__tests__/comprehensive-underscore-fix.test.ts
  codemods/comprehensive-underscore-fix.ts
  codemods/fix-common-undef.ts
  codemods/fix-undefined-variables-ast.ts
  codemods/fix-unused-simple.ts
  codemods/fix-unused-variables-simple.ts
  codemods/simple-underscore-fix.ts
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#178): Remove fix-explicit-any-comprehensive.ts, demonstrate proper boundary validation methodology
  codemods/fix-explicit-any-comprehensive.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: complete boundary validation test for fix-parameter-underscore-mismatch.ts
  boundary-validation-test-fix-parameter-underscore-mismatch.md
  codemods/fix-parameter-underscore-mismatch.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(tasks): create task #266 to investigate enhanced storage backend factory redundancy
  .cursor/rules/task-implementation-workflow.mdc
  boundary-validation-test-fix-explicit-any-comprehensive.md
  boundary-validation-test-fix-parameter-underscore-mismatch.md
  codemods/fix-arrow-function-parameters.test.ts
  codemods/fix-arrow-function-parameters.ts
  codemods/fix-incorrect-underscore-prefixes.test.ts
  codemods/fix-incorrect-underscore-prefixes.ts
  fix-incorrect-underscore-prefixes.test.ts
  process/tasks.md
  process/tasks/178-establish-codemod-best-practices-and-standards.md
  process/tasks/244-implement-comprehensive-test-isolation-framework-to-eliminate-suite-interference.md
  process/tasks/265-refactor-configuration-system-parameter-naming-and-improve-developer-ergonomics.md
  process/tasks/266-investigate-enhanced-storage-backend-factory-redundancy.md
  src/domain/session/__tests__/session-auto-detection-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#178): Complete boundary validation for 2 additional high-risk codemods
  boundary-validation-test-fix-incorrect-underscore-prefixes.md
  codemods/fix-arrow-function-parameters.test.ts
  codemods/fix-incorrect-underscore-prefixes.test.ts
  codemods/fix-result-underscore-mismatch.test.ts
  codemods/fix-result-underscore-mismatch.ts
  codemods/fix-underscore-prefix.test.ts
  codemods/fix-underscore-prefix.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#178): Update automation rules with comprehensive boundary validation learnings
  .cursor/rules/automation-approaches.mdc
  .cursor/rules/codemods-best-practices.mdc
Due: none

feat(rules): consolidate automation rules into comprehensive codemods-best-practices.mdc
  .cursor/rules/codemods-best-practices.mdc
Due: none

feat(boundary-validation): complete boundary validation testing for high-risk codemods
  boundary-validation-test-fix-incorrect-underscore-prefixes.md
  boundary-validation-test-fix-remaining-unused-vars.md
  codemods/fix-remaining-unused-vars.ts
  codemods/fix-remaining-variable-issues.ts
  codemods/fix-unused-variables-targeted.ts
  codemods/fix-unused-vars-comprehensive.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(methodology): formalize 5-step boundary validation methodology
  .cursor/rules/codemods-best-practices.mdc
  process/tasks/178-establish-codemod-best-practices-and-standards.md
Due: bun node_modules/.bin/prettier --write
