Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#3048): daemon signal — GET /api/driven-session/turn-active
  src/cockpit/driven-session-host.test.ts
  src/cockpit/driven-session-host.ts
  src/cockpit/routes/driven-sessions.test.ts
  src/cockpit/routes/driven-sessions.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3045): Block undeclared nested fork dispatch + fix mt#2828->mt#2865 citation
  .claude/hooks/block-nested-fork-dispatch.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .cursor/rules/subagent-routing.mdc
  .minsky/hooks/block-nested-fork-dispatch.test.ts
  .minsky/hooks/block-nested-fork-dispatch.ts
  .minsky/rules/hook-files.mdc
  .minsky/rules/subagent-routing.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3048): tray watcher — defer auto-restart while a driven session is mid-turn
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/watcher_backend.rs
Due: none

docs(mt#3048): document GET /api/driven-session/turn-active
  docs/architecture/cockpit.md
  docs/cockpit-ui.md
Due: bun node_modules/.bin/prettier --write

docs(mt#3048): document the queued-AutoRestart coalescing edge case
  cockpit-tray/src-tauri/src/supervisor.rs
Due: none

fix(mt#3048): don't block the supervisor select loop on the turn-active wait
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/watcher_backend.rs
Due: none

fix(mt#3064): correct stale mt#2828 citation to mt#2865 in dispatch-intent hooks
  .claude/hooks/dispatch-intent-store.ts
  .claude/hooks/dispatch-intent-write-gate.ts
  .minsky/hooks/dispatch-intent-store.ts
  .minsky/hooks/dispatch-intent-write-gate.test.ts
  .minsky/hooks/dispatch-intent-write-gate.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#3052): partial: trim work-completion + user-preferences rules
  .cursor/rules/user-preferences.mdc
  .cursor/rules/work-completion.mdc
  .minsky/rules/user-preferences.mdc
  .minsky/rules/work-completion.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/user-preferences.md
  docs/rules-rationale/work-completion.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3064): R1 review — fix stale citation in the @see-referenced doc + test.ts fixture
  .minsky/hooks/dispatch-intent-store.test.ts
  docs/architecture/hooks/dispatch-intent-write-gate.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#3052): partial: trim communication-contract, decision-defaults, hook-files
  .cursor/rules/communication-contract.mdc
  .cursor/rules/decision-defaults.mdc
  .cursor/rules/hook-files.mdc
  .minsky/rules/communication-contract.mdc
  .minsky/rules/decision-defaults.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/deploy-verification-merge-gate.md
  docs/architecture/hooks/execution-evidence-merge-gate.md
  docs/rules-rationale/communication-contract.md
  docs/rules-rationale/decision-defaults.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#3052): partial: further trim decision-defaults + hook-files
  .cursor/rules/decision-defaults.mdc
  .cursor/rules/hook-files.mdc
  .minsky/rules/decision-defaults.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/nested-fork-dispatch-guard.md
  docs/rules-rationale/decision-defaults.md
Due: bun node_modules/.bin/prettier --write

feat(mt#3067): synchronous stdout writes so process.exit can't truncate piped output
  packages/shared/package.json
  packages/shared/src/stdout-sync.test.ts
  packages/shared/src/stdout-sync.ts
  src/cli-discriminators.ts
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3067): reviewer R1 — no duplicate output on fallback, 6 MiB coverage, early-exit paths
  packages/shared/src/stdout-sync.test.ts
  packages/shared/src/stdout-sync.ts
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3067): make the negative control platform-honest (CI build failure)
  packages/shared/src/stdout-sync.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3067): drop the 64 KiB-boundary assertion — it is macOS-specific
  packages/shared/src/stdout-sync.test.ts
  packages/shared/src/stdout-sync.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3052): raise CLAUDE.md warnChars 115k -> 135k (operator-approved)
  packages/domain/src/rules/compile/check.test.ts
  packages/domain/src/rules/compile/targets/claude-md.test.ts
  packages/domain/src/rules/compile/targets/claude-md.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3007): verify approved asks by id, and recognize the inbox {chosen} payload
  .claude/hooks/ask-verification.ts
  .minsky/hooks/ask-verification.test.ts
  .minsky/hooks/ask-verification.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3047): probe widget endpoints concurrently to remove sum-latency flake
  src/cockpit/cockpit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3007): reviewer R1 — explicit state check + structured absence signal
  .claude/hooks/ask-verification.ts
  .minsky/hooks/ask-verification.test.ts
  .minsky/hooks/ask-verification.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3047): restore /api/widgets assertion clobbered by a misapplied edit
  src/cockpit/cockpit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3050): widen code-mechanism-assertion detector to sourcing/provenance claims (R13)
  .claude/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-detector.test.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
  docs/architecture/hooks/code-mechanism-assertion-detector.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3050): add load-bearing-dependency-claim step to /create-task (SC3/SC4)
  .claude/skills/create-task/SKILL.md
  .minsky/skills/create-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3050): address reviewer R1 — behavior/capability injection copy + CLI E2E coverage
  .claude/hooks/code-mechanism-assertion-detector.ts
  .minsky/hooks/code-mechanism-assertion-detector.test.ts
  .minsky/hooks/code-mechanism-assertion-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1884): instrument MCP tool-dispatch latency via Braintrust
  src/mcp/server.test.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3073): memory-search.ts dispatcher path consumes ctx.budgets instead of broken readHostCap self-lookup
  .claude/hooks/memory-search.ts
  .minsky/hooks/memory-search.test.ts
  .minsky/hooks/memory-search.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3074): reconcile hook-layer doc/code drift on INJECTION_ENABLED flags
  .claude/hooks/registry.ts
  .cursor/rules/hook-observers.mdc
  .cursor/rules/memory-usage.mdc
  .minsky/hooks/registry.ts
  .minsky/rules/hook-observers.mdc
  .minsky/rules/memory-usage.mdc
  AGENTS.md
  CLAUDE.md
  scripts/run-related-tests.ts
  scripts/run-tests-gated.ts
  tests/scripts/run-tests-gated.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3075): sync claude-md size budgets via shared constant, sort RuleService.listRules deterministically
  AGENTS.md
  CLAUDE.md
  packages/domain/src/compile/claude-md-size-budget.ts
  packages/domain/src/compile/targets/claude-md.test.ts
  packages/domain/src/compile/targets/claude-md.ts
  packages/domain/src/rules/compile/targets/claude-md.ts
  packages/domain/src/rules/rule-service.test.ts
  packages/domain/src/rules/rule-service.ts
  scripts/run-tests-gated.ts
  tests/scripts/run-tests-gated.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1884): address PR #2200 reviewer findings
  src/mcp/server.test.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3073): cap dispatcher-derived search timeout at this guard's own registry budget
  .claude/hooks/memory-search.ts
  .minsky/hooks/memory-search.test.ts
  .minsky/hooks/memory-search.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3072): classify infra/logic probe failures + cool down guard-health escalation noise
  .claude/hooks/guard-health-escalation-detector.ts
  .claude/hooks/guard-health-escalation-notify-store.ts
  .claude/hooks/guard-health.ts
  .claude/hooks/parallel-work-guard-standalone.ts
  .claude/hooks/standalone-dup-probe.ts
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/guard-health-escalation-detector.test.ts
  .minsky/hooks/guard-health-escalation-detector.ts
  .minsky/hooks/guard-health-escalation-notify-store.test.ts
  .minsky/hooks/guard-health-escalation-notify-store.ts
  .minsky/hooks/guard-health.ts
  .minsky/hooks/parallel-work-guard-standalone-dedup.test.ts
  .minsky/hooks/parallel-work-guard-standalone-health-log.test.ts
  .minsky/hooks/parallel-work-guard-standalone.ts
  .minsky/hooks/standalone-dup-probe.test.ts
  .minsky/hooks/standalone-dup-probe.ts
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/architecture/hooks/guard-health-tracker.md
  src/mcp/guard-health-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3078): partial: confirm policy-coverage + build-claim-injection alive; add never-fired review leg
  .claude/hooks/calibration-review-cadence-detector.ts
  .minsky/hooks/calibration-review-cadence-detector.ts
  scripts/run-tests-gated.ts
  src/domain/calibration/calibration-sweep.test.ts
  src/domain/calibration/calibration-sweep.ts
  tests/scripts/run-tests-gated.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3081): strip ANSI codes before parsing the fast/gated test-summary fail line
  scripts/run-tests-gated.ts
  tests/scripts/run-tests-gated.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3083): compress hook-files, hook-observers, claim-confidence to index+pointer form
  .cursor/rules/claim-confidence.mdc
  .cursor/rules/hook-files.mdc
  .cursor/rules/hook-observers.mdc
  .minsky/rules/claim-confidence.mdc
  .minsky/rules/hook-files.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/claim-confidence.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3072): reviewer R1 — collision-resistant session filenames + causeClass validation
  .claude/hooks/guard-health-escalation-notify-store.ts
  .claude/hooks/guard-health.ts
  .minsky/hooks/guard-health-escalation-notify-store.test.ts
  .minsky/hooks/guard-health-escalation-notify-store.ts
  .minsky/hooks/guard-health.test.ts
  .minsky/hooks/guard-health.ts
  src/mcp/guard-health-tracker.test.ts
  src/mcp/guard-health-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3083): restore distinct usability-claim override in hook-files index
  .cursor/rules/hook-files.mdc
  .cursor/rules/hook-observers.mdc
  .minsky/rules/hook-files.mdc
  .minsky/rules/hook-observers.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3078): confirm execution-evidence-AT-coverage alive; classify merge-gate fire-log gap as by-design
  .claude/hooks/require-execution-evidence-before-merge.ts
  .minsky/hooks/require-execution-evidence-before-merge.test.ts
  .minsky/hooks/require-execution-evidence-before-merge.ts
  docs/architecture/evaluation-loop-fire-log.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3076): deprioritize AGENTS.md budget compliance after no-consumer finding
  packages/domain/src/compile/agents-md-size-budget.ts
  packages/domain/src/compile/targets/agents-md.test.ts
  packages/domain/src/compile/targets/agents-md.ts
  packages/domain/src/rules/compile/check.test.ts
  packages/domain/src/rules/compile/targets/agents-md.test.ts
  packages/domain/src/rules/compile/targets/agents-md.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3077): disposition the 18 passively-unreachable rule files
  .claude/rules/constants-management.md
  .claude/rules/meaningful-output-principles.md
  .claude/rules/meta-cognitive-boundary-protocol.md
  .cursor/rules/architecture.mdc
  .cursor/rules/comments.mdc
  .cursor/rules/error-investigation.mdc
  .cursor/rules/humility.mdc
  .cursor/rules/key-architecture.mdc
  .cursor/rules/meaningful-output-principles.mdc
  .cursor/rules/task-lifecycle.mdc
  .cursor/rules/task-status-protocol.mdc
  .cursor/rules/testing-session-repo-changes.mdc
  .minsky/rules/architecture.mdc
  .minsky/rules/comments.mdc
  .minsky/rules/constants-management.mdc
  .minsky/rules/error-investigation.mdc
  .minsky/rules/humility.mdc
  .minsky/rules/key-architecture.mdc
  .minsky/rules/meta-cognitive-boundary-protocol.mdc
  .minsky/rules/task-lifecycle.mdc
  .minsky/rules/task-status-protocol.mdc
  .minsky/rules/testing-session-repo-changes.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#3085): Compress terminal-command/principal-context, path-scope code-style ESLint detail
  .claude/rules/eslint-custom-rules.md
  .cursor/rules/code-style.mdc
  .cursor/rules/eslint-custom-rules.mdc
  .cursor/rules/principal-context.mdc
  .cursor/rules/terminal-command-best-practices.mdc
  .minsky/rules/code-style.mdc
  .minsky/rules/eslint-custom-rules.mdc
  .minsky/rules/principal-context.mdc
  .minsky/rules/terminal-command-best-practices.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/principal-context.md
  docs/rules-rationale/terminal-command-best-practices.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3077): reorder alwaysApply adjacent to globs in meta-cognitive-boundary-protocol.mdc for reviewer clarity
  .minsky/rules/meta-cognitive-boundary-protocol.mdc
Due: none
