Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: create task 166 for session lookup bug
  .cursor/rules/designing-tests.mdc
  .cursor/rules/testing-router.mdc
  bun.lock
  package.json
  process/tasks/165-fix-session-lookup-bug-where-sessions-exist-on-disk-but-not-in-database.md
  process/tasks/166-fix-session-lookup-bug-where-sessions-exist-on-disk-but-not-in-database.md
  src/domain/git.ts
  src/domain/repository/github.ts
  src/domain/repository/remote.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: create task to fix task creation CLI bug
  process/tasks.md
  process/tasks/167-fix-task-creation-cli-bug-status-is-not-defined-error.md
Due: bun node_modules/.bin/prettier --write

feat(#168): Implement TDD test and fix for session lookup bug
  src/domain/__tests__/session-lookup-bug-simple.test.ts
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(#168): Complete TDD fix and add integration test
  src/domain/__tests__/session-lookup-bug-integration.test.ts
  src/domain/__tests__/session-lookup-bug-simple.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#167): resolve 'status is not defined' error in task creation CLI
  process/tasks.md
  process/tasks/168-test-task-creation.md
Due: bun node_modules/.bin/prettier --write

fix(#167): resolve 'status is not defined' error in task creation CLI
  CHANGELOG.md
  process/tasks.md
  process/tasks/169-test-task-creation-fix.md
  src/domain/__tests__/task-status-variables.test.ts
  src/domain/tasks/taskConstants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#168): Fix CLI entry point detection and restore proper output
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#168): Add debugging to preparePr method for session lookup troubleshooting
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#168): Fix SessionDB database path to use correct location
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#168): Revert SessionDB path and move database to correct location
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#168): Fix sessionPrFromParams to support --repo option without session database lookup
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(rules): extract misplaced sections from self-improvement rule
  .cursor/rules/rule-creation-guidelines.mdc
  CHANGELOG.md
  process/tasks.md
  process/tasks/166-fix-session-lookup-bug-where-sessions-exist-on-disk-but-not-in-database.md
  process/tasks/168-fix-session-lookup-bug-where-sessions-exist-on-disk-but-not-in-database.md
  src/domain/__tests__/session-lookup-bug-reproduction.test.ts
  src/domain/__tests__/session-lookup-bug-simple.test.ts
  src/domain/__tests__/task-status-bug-regression.test.ts
  src/domain/__tests__/task-status-variables.test.ts
  src/domain/git.ts
  src/domain/tasks/taskConstants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#168): Improve merge conflict error message to guide users to use session update
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#168): Improve session update merge conflict error message
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: add missing frontmatter with proper descriptions to extracted rules
  .cursor/rules/cli-output-design.mdc
  .cursor/rules/self-improvement.mdc
Due: none

fix: simplify rule frontmatter to only include required description field
  .cursor/rules/cli-output-design.mdc
  .cursor/rules/variable-naming-protocol.mdc
Due: none

fix(session): resolve variable naming issues and improve session pr error messages
  src/domain/repository.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: apply linting fixes for quotes and Buffer type issue
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(session): improve session update to auto-detect session name from workspace
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(session): add self-repair logic for orphaned session workspaces
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: add comprehensive test coverage for session pr branch switching bug
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(session): ensure session pr returns to session branch after creating PR branch
  .cursor/rules/cli-output-design.mdc
  .cursor/rules/variable-naming-protocol.mdc
  pr-description.md
  process/tasks.md
  process/tasks/169-evaluate-and-deduplicate-error-messages.md
  process/tasks/169-task-169-evaluate-and-deduplicate-improved-error-messages.md
  process/tasks/170-investigate-session-db-architecture-issues.md
  process/tasks/170-task-170-investigate-session-database-architecture-issues.md
  process/tasks/171-analyze-and-modularize-long-files.md
  process/tasks/171-task-171-analyze-and-modularize-overly-long-files.md
  src/adapters/__tests__/cli/session.test.ts
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: improve session pr test to be documentation-focused
  src/adapters/__tests__/cli/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: create proper failing test for session pr branch switching bug
  src/adapters/__tests__/cli/session.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

cleanup: remove unused pr-description.md file
  pr-description.md
Due: bun node_modules/.bin/prettier --write

feat(session): improve session update with auto-detection and better error messages
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(session): add --no-update flag to session pr command
  src/adapters/shared/commands/session.ts
  src/domain/session.ts
  src/schemas/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(cli): add --no-update flag to session pr CLI command
  src/adapters/cli/cli-command-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
