Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

refactor(#342): Reuse existing conflict detection logic and add task ID support
  src/domain/git/commands/subcommands/conflicts-subcommand.ts
  src/domain/git/conflict-scanner.ts
  src/domain/session/session-conflicts-operations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Add Code Edit API mapping demonstrations
  test-morph-mapping.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(schemas): add backward compatibility aliases for task schemas
  src/domain/schemas/index.ts
  src/domain/tasks/operations/mutation-operations.ts
  src/domain/tasks/operations/query-operations.ts
  src/domain/tasks/taskCommands-modular.ts
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#329): comprehensive migration summary and task completion
  COMPREHENSIVE_MIGRATION_SUMMARY.md
Due: bun node_modules/.bin/prettier --write

feat: Fix Morph API integration to match official specification exactly
  src/adapters/mcp/session-edit-tools.ts
  src/adapters/shared/commands/ai.ts
  test-morph-spec-compliance.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update task spec with Morph API compliance completion
  process/tasks/249-investigate-and-improve-session-aware-edit-reapply-mcp-tools-with-fast-apply-apis.md
Due: bun node_modules/.bin/prettier --write

fix: Correct Morph API format to use XML tags instead of backticks
  process/tasks/249-investigate-and-improve-session-aware-edit-reapply-mcp-tools-with-fast-apply-apis.md
  src/adapters/shared/commands/ai.ts
  test-morph-mapping.ts
  test-morph-spec-compliance.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Add XML format demonstration showing the correction
  xml-format-demonstration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test: Add comprehensive XML format tests for CLI and session tools
  test-cli-instructions-mode.ts
  test-cli-xml-format.ts
  test-session-edit-xml.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: Update task 162 to leverage Task 249 fast-apply infrastructure patterns
  process/tasks/162-ai-evals-framework-research.md
Due: bun node_modules/.bin/prettier --write

feat: Add Task 162 integration demo showing infrastructure reuse benefits
  demo-task162-integration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#176): achieve 97.4% success rate with systematic test fixes
  src/domain/configuration/index.test.ts
  src/domain/configuration/schemas/ai.ts
  src/domain/session-start-consistency.test.ts
  src/utils/test-utils/centralized-service-mocks.test.ts
  src/utils/test-utils/dependencies.ts
  src/utils/test-utils/individual-service-factories.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#337): Add clean credential masking documentation (no real credentials)
  process/tasks/337-urgent-fix-security-vulnerability-in-config-list-command.md
Due: bun node_modules/.bin/prettier --write

feat(#338): Add MCP temporary file creation command issue
  process/tasks/338-add-mcp-temporary-file-creation-command.md
Due: bun node_modules/.bin/prettier --write

docs: Update changelog for task #338 MCP temporary file creation command
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Merge main into task341
  README.md
  src/adapters/shared/commands/rules.test.ts
  src/adapters/shared/commands/rules.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Remove time references from Task 162 demo as requested
  demo-task162-integration.ts
  test-mcp-file.ts
  test-mcp-session-edit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#342): implement git conflicts and session conflicts commands
  CHANGELOG.md
  CLI_COMMAND_CATALOG.md
  IMPLEMENTATION_PLAN.md
  codemods/global-to-module-mocking-migrator.ts
  codemods/task-id-format-normalizer.ts
  docs/README.md
  docs/rules/template-system-guide.md
  process/tasks.md
  process/tasks/160-add-ai-completion-backend-with-multi-provider-support.md
  process/tasks/176-comprehensive-session-database-architecture-fix.md
  process/tasks/193-enhance-task-operations-synchronization-across-workspaces.md
  process/tasks/249-investigate-and-improve-session-aware-edit-reapply-mcp-tools-with-fast-apply-apis.md
  process/tasks/289-implement-template-based-rules-generation-system.md
  process/tasks/289/pr-updated.md
  process/tasks/289/pr.md
  process/tasks/303-improve-task-operations-workflow-with-auto-commit-for-markdown-backend.md
  process/tasks/304-fix-special-workspace-auto-commit-sync-issue.md
  process/tasks/319-fix-special-workspace-and-main-workspace-synchronization-for-task-operations-renamed-from-310-.md
  process/tasks/322-refactor-mcp-tools-with-type-composition-to-eliminate-argument-duplication.md
  process/tasks/328-fix-command-nesting-architecture.md
  process/tasks/329-create-domain-wide-schema-libraries-for-cross-interface-type-composition.md
  process/tasks/330-categorize-and-audit-rule-templates-for-redundancy-analysis.md
  process/tasks/331-extend-type-composition-refactoring-to-all-mcp-command-domains.md
  process/tasks/331-extend-type-composition-refactoring-to-other-mcp-command-domains.md
  process/tasks/335-apply-type-composition-patterns-to-cli-adapters.md
  process/tasks/337-urgent-fix-security-vulnerability-in-config-list-command.md
  process/tasks/338-improve-config-list-command-user-experience.md
  process/tasks/339-add-configuration-management-subcommands.md
  process/tasks/340-update-documentation-for-enhanced-configuration-system.md
  process/tasks/341-implement-pre-commit-secret-scanning-with-husky.md
  process/tasks/342-move-ai-commands-from-core-to-ai-category.md
  process/tasks/343-fix-config-validation-to-ignore-unknown-fields.md
  process/tasks/344-fix-task-id-collision-bug-in-json-backend.md
  src/adapters/shared/commands/git.ts
  src/adapters/shared/commands/session/conflicts-command.ts
  src/adapters/shared/commands/session/index.ts
  src/domain/git/commands/subcommands/conflicts-subcommand.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog for task #342 git conflict detection commands
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: document surgical precision requirements for destructive git operations
  .cursor/rules/git-usage-policy.mdc
Due: none

fix: remove unused parameter underscore in git conflicts command
  src/adapters/shared/commands/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#176): update task spec with current test remediation progress
  src/adapters/shared/commands/session-context-resolution.test.ts
  src/domain/session/session-approve-bugfix-regression.test.ts
  src/domain/session/session-pr-body-validation.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(rules): document session git operation violations in git-usage-policy
  .cursor/rules/git-usage-policy.mdc
Due: none

fix: improve CLI error output for session approve command
  .cursor/rules/git-usage-policy.mdc
  .cursor/rules/session-first-workflow.mdc
  process/tasks.md
  process/tasks/176-comprehensive-session-database-architecture-fix.md
  process/tasks/349-analyze-cursor-chat-history-to-understand-agent-ooda-loop-logic.md
  src/adapters/shared/commands/session/base-session-command.ts
  src/domain/configuration/loader.ts
  src/domain/session/session-approve-bugfix-regression.test.ts
  src/domain/session/session-pr-body-validation.test.ts
  tests/adapters/mcp/session-pr-body-path-refresh-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#176): fix dynamic imports and async test patterns
  tests/adapters/mcp/session-pr-body-path-refresh-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog for session approve error handling improvement
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix(#176): fix file reading test Buffer handling
  tests/adapters/mcp/session-pr-body-path-refresh-bug.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: eliminate technical git error output in session approve
  src/domain/git.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog for git command error output fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#350): add task to explore active sessions command and task/session equivalence
  process/tasks.md
  process/tasks/350-explore-active-sessions-command-and-task-session-equivalence-analysis.md
Due: bun node_modules/.bin/prettier --write

docs: update changelog for task #350 creation
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: resolve ESLint pre-commit hook error and format code
  .cursor/rules/self-improvement.mdc
  process/tasks/176-comprehensive-session-database-architecture-fix.md
  process/tasks/349-analyze-cursor-chat-history-to-understand-agent-ooda-loop-logic.md
  src/domain/configuration/loader.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(329): update task status to DONE
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: Add PR body validation requirement to session PR schema
  src/schemas/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Use proper Bun mock patterns in session-update tests
  src/domain/session-update.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: Update Task #176 progress summary with major achievements
  TASK_176_CONTINUATION_SUMMARY.md
Due: bun node_modules/.bin/prettier --write

fix: Improve test stability and fix SemanticErrorClassifier logic
  src/domain/session-git-clone-bug-regression.test.ts
  src/domain/session-update.test.ts
  src/utils/semantic-error-classifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: correct type-only exports in domain schemas index
  src/adapters/mcp/session-edit-tools.ts
  src/domain/schemas/index.ts
  src/domain/tasks/operations/mutation-operations.ts
  src/domain/tasks/taskCommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs: update changelog with CLI module loading fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#351): Enhance configuration validation system
  docs/configuration-validation-guide.md
  process/tasks.md
  process/tasks/351-improve-configuration-validation-system-integrate-proper-logging-add-strictness-controls-improve-type-safety-and-document-behavior-for-unknown-config-fields.md
  src/domain/configuration/loader.ts
  src/domain/configuration/schemas/index.ts
  src/domain/configuration/schemas/validation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
