Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

test: replace placeholder tests with real tests in domain files
  src/commands/git/commit.test.ts
  src/commands/session/delete.test.ts
  src/domain/__tests__/gitServiceTaskStatusUpdate.test.ts
  src/domain/__tests__/repository.test.ts
  src/domain/__tests__/session.test.ts
  src/domain/git.pr.test.ts
  src/domain/git.test.ts
  src/domain/session.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

test: replace placeholder tests with proper test implementations
  src/commands/git/commit.test.ts
  src/commands/tasks/list.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: update changelog for task #072
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Update process/tasks.md for task #072
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix: Update session test to fix placeholder and import issues
  src/domain/__tests__/session.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Update commit test to use jest.fn instead of mock
  src/commands/git/commit.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update changelog with additional fixes for task #072
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Resolve type safety issues in commit.test.ts
  src/commands/git/commit.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update changelog with type safety improvements
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

refactor: Replace TODOs with implementation notes in list.test.ts
  src/commands/tasks/list.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

refactor: Fix placeholder and type issues in session get.test.ts
  src/commands/session/get.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

refactor: Remove TODO placeholder in list.test.ts
  src/commands/tasks/list.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update changelog with progress on fixing placeholder tests
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

fix: Replace placeholder tests with implementation notes in commit.test.ts and startSession.test.ts
  src/commands/git/commit.test.ts
  src/commands/session/startSession.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Update autoStatusUpdate and commit tests to avoid placeholder detection
  src/commands/session/__tests__/autoStatusUpdate.test.ts
  src/commands/session/commit.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Replace skips staging test with better named alternative
  src/commands/git/commit.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

fix: Add properly named replacement test for no-stage flag validation
  src/commands/git/commit.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Update changelog with latest placeholder test fixes
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Improves task status verification guidelines
  .cursor/rules/task-status-verification.mdc
Due: none

task#072: Fix remaining placeholder tests and update repository test
  src/commands/git/commit.test.ts
  src/commands/session/__tests__/autoStatusUpdate.test.ts
  src/domain/__tests__/repository.test.ts
  src/domain/repo-utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update task #014 spec with current status and refined remaining work
  process/tasks/014-add-repository-backend-support.md
Due: bun node_modules/.bin/prettier --write

Adds session commit command and documentation
  .cursor/rules/minsky-workflow.mdc
Due: none

Adds structured logging system task
  process/tasks.md
  process/tasks/077-implement-structured-logging-system.md
Due: bun node_modules/.bin/prettier --write

Implements structured logging system
  process/tasks/077-implement-structured-logging-system.md
Due: bun node_modules/.bin/prettier --write

Removes testing boundaries rule, adds no dynamic imports rule
  .cursor-rules/testing-boundaries.mdc
  .cursor/rules/no-dynamic-imports.md
Due: bun node_modules/.bin/prettier --write

Addresses test failures and linter errors
  process/tasks/059-add-centralized-test-mock-utilities.md
  process/tasks/072-fix-test-failures-and-remaining-linter-errors.md
Due: bun node_modules/.bin/prettier --write

Implement structured logging system for the Minsky CLI
  bun.lock
  package.json
  src/adapters/cli/tasks.ts
  src/commands/init/index.ts
  src/domain/git.ts
  src/domain/localGitBackend.ts
  src/domain/rules.ts
  src/mcp/tools/tasks.ts
  src/utils/logger.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update session tests to use centralized mocking utilities
  src/domain/__tests__/session.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update task spec with progress and remaining work items
  process/tasks/059-add-centralized-test-mock-utilities.md
Due: bun node_modules/.bin/prettier --write

Marks task as in progress
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

Fix minsky rules create/update description quoting bug
  src/domain/rules.ts
  test-verification/manual-test.ts
  test-verification/quoting.test.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

Update CHANGELOG.md with entry for rules description quoting fix
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

refactor: Refactor integration tests to use centralized mock utilities and fix status test
  process/tasks/059-add-centralized-test-mock-utilities.md
  src/adapters/__tests__/integration/session.test.ts
  src/adapters/__tests__/integration/tasks.test.ts
  src/commands/tasks/status.test.ts
  src/utils/test-utils.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Add centralized test mock utilities to CHANGELOG
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

Implements structured logging system
  process/tasks.md
  process/tasks/077-implement-structured-logging-system.md
Due: bun node_modules/.bin/prettier --write

Update task spec with detailed worklog and remaining work
  process/tasks/077-implement-structured-logging-system.md
Due: bun node_modules/.bin/prettier --write

docs: Add comprehensive JSDoc documentation and README for test mocking utilities
  src/utils/test-utils/README.md
  src/utils/test-utils/mocking.ts
Due: eslint --fix, bun node_modules/.bin/prettier --write

docs: Mark documentation and test pollution best practices as complete in task 059 spec
  process/tasks/059-add-centralized-test-mock-utilities.md
Due: bun node_modules/.bin/prettier --write

task#067: Update task specs for #067 and #041 with improved refactoring plan and testing approach
  process/tasks/041-write-test-suite-for-cursor-rules.md
  process/tasks/067-refactor-minsky-workflow-mdc-rule-into-smaller-focused-rules.md
Due: bun node_modules/.bin/prettier --write

Add task spec to the correct directory structure in the session workspace
  process/tasks/077/077-implement-structured-logging-system.md
Due: bun node_modules/.bin/prettier --write
