Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#3669): PR #2636 R1 — register a real reset for the config singleton
  packages/domain/src/changeset/adapters/github-adapter.token-refusal.test.ts
  packages/domain/src/configuration/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3708): Drop agent_spawns' primary key by discovering its name, and assert it
  .claude/rules/migration-authoring.md
  .cursor/rules/migration-authoring.mdc
  .minsky/rules/migration-authoring.mdc
  packages/domain/src/storage/migrations/pg/0089_productive_franklin_richards.sql
  packages/domain/src/storage/migrations/pg/meta/0089_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
Due: bun node_modules/.bin/prettier --write

fix(mt#3696): PR #2637 R1 — emit Server-Timing on every exit path
  scripts/verify-cockpit-navigation-latency.ts
  src/cockpit/routes/tasks.ts
  src/cockpit/server-timing.test.ts
  src/cockpit/server-timing.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3708): PR #2638 R1 — assert the index's shape, not its name
  .claude/rules/migration-authoring.md
  .cursor/rules/migration-authoring.mdc
  .minsky/rules/migration-authoring.mdc
  packages/domain/src/storage/migrations/pg/0089_productive_franklin_richards.sql
  packages/domain/src/storage/migrations/pg/0089_productive_infant_terrible.sql
  packages/domain/src/storage/migrations/pg/meta/0089_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
Due: bun node_modules/.bin/prettier --write

perf(mt#3710): De-serialize the agent-detail and conversation-overview routes
  src/cockpit/routes/agents.ts
  src/cockpit/routes/conversations.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3710): PR #2639 R1 — tighten the timing scopes, widen attachTo
  src/cockpit/routes/agents.ts
  src/cockpit/routes/conversations.ts
  src/cockpit/server-timing.test.ts
  src/cockpit/server-timing.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3711): Add disable_notification to the Telegram send path, plus a live probe
  packages/domain/src/notify/telegram-transport.ts
  scripts/principal-channel/verify-silent-send.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3713): Add phrase, literal, and snippet support to transcript FTS
  packages/domain/src/transcripts/transcript-fts-search-query.ts
  packages/domain/src/transcripts/transcript-fts-service.ts
  packages/domain/src/transcripts/transcript-similarity-service.ts
  scripts/verify-transcript-phrase-search.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3713): Expose match mode on the MCP tool, HTTP route, and cockpit panel
  packages/domain/src/transcripts/transcript-fts-search-query.test.ts
  src/adapters/shared/commands/transcripts/search-text-command.ts
  src/cockpit/routes/conversation-search.ts
  src/cockpit/web/widgets/ConversationSearchPanel.tsx
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3714): Stop the policy matcher reading prohibitions as grants
  packages/domain/src/ask/policy-grant-matching.test.ts
  packages/domain/src/ask/policy.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3714): PR #2641 R1 — severity forces operator routing; reconcile spec
  packages/domain/src/ask/policy-grant-matching.test.ts
  packages/domain/src/ask/router.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3714): PR #2641 R2 — file mt#3715 for the deferred criteria; skip policy load
  packages/domain/src/ask/router.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3569): Make the credentials listing enumerate what exists, not what it manages
  packages/domain/src/configuration/schemas/ai.ts
  packages/domain/src/credentials/lifecycle.test.ts
  packages/domain/src/credentials/lifecycle.ts
  packages/domain/src/credentials/schema-derived.test.ts
  packages/domain/src/credentials/schema-derived.ts
  src/adapters/shared/commands/config/credentials-commands.ts
  src/cockpit/cockpit.test.ts
  src/cockpit/web/widgets/Credentials.tsx
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3727): Resolve the Step 1a/Step 5 ack contradiction; drop Step 1's phantom param
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
  bun.lock
Due: bun node_modules/.bin/prettier --write

chore(mt#3727): Drop the incidental bun.lock churn
  bun.lock
Due: none

fix(mt#3729): Retrigger once before escalating a false review finding to the operator
  .claude/skills/implement-task/SKILL.md
  .claude/skills/merge-coordination/SKILL.md
  .minsky/skills/implement-task/skill.ts
  .minsky/skills/merge-coordination/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3727): PR #2643 R1 — remove the blanket openAskId claims the branch falsified
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3730): Widen the unwalked-task detector past the MCP transport
  .claude/hooks/transcript.ts
  .claude/hooks/turn-end-unwalked-task-scan.ts
  .minsky/hooks/transcript.ts
  .minsky/hooks/turn-end-unwalked-task-scan.test.ts
  .minsky/hooks/turn-end-unwalked-task-scan.ts
  bun.lock
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#3730): Drop the incidental bun.lock configVersion line
  bun.lock
Due: none

fix(mt#3735): Load reflect-metadata in the CLI shim so the installed binary can boot the bundle
  .github/workflows/bundle-boot-smoke.yml
  bun.lock
  scripts/cli-entry.ts
  tests/scripts/cli-entry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3732): Revalidate the cockpit entity id-set so entities created after mount linkify
  bun.lock
  src/cockpit/web/lib/use-entity-index.test.tsx
  src/cockpit/web/lib/use-entity-index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3732): Drop unrelated bun.lock churn from the branch
  bun.lock
Due: none

fix(mt#3730): PR #2645 R1 — match the full qualified id-space, not just mt#
  .claude/hooks/turn-end-unwalked-task-scan.ts
  .minsky/hooks/turn-end-unwalked-task-scan.test.ts
  .minsky/hooks/turn-end-unwalked-task-scan.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3736,mt#3738): Hold the thread window still while the reader is scrolled up
  bun.lock
  scripts/run-related-tests.ts
  src/cockpit/web/hooks/useThreadWindow.ts
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/ConversationView.windowing.test.tsx
  tests/scripts/run-related-tests.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3735): PR #2646 R1 — validate the shim output is a version, not just non-empty
  .github/workflows/bundle-boot-smoke.yml
Due: none

fix(mt#3736): PR #2648 R1 — bound the frozen window at its tail
  src/cockpit/web/hooks/useThreadWindow.ts
  src/cockpit/web/lib/scroll-pinning.ts
  src/cockpit/web/widgets/ConversationView.tsx
  src/cockpit/web/widgets/ConversationView.windowing.test.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3736): PR #2648 R2 — reconcile the freeze docblock with the cap, and record the scope call in the spec
  src/cockpit/web/hooks/useThreadWindow.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3718): cover the question-answer suppression gate
  .claude/hooks/wall-of-text-detector.ts
  .minsky/hooks/wall-of-text-detector.test.ts
  .minsky/hooks/wall-of-text-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3676): Scope the per-rule ceiling breach to the commit that caused it
  src/hooks/pre-commit.ts
  src/hooks/rules-compile-check.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3720): partial: session-grain verdict for the knowledge-acquisition detector
  .claude/hooks/knowledge-acquisition-detector.ts
  .claude/hooks/registry.ts
  .claude/settings.json
  .minsky/hooks/dispatch-userpromptsubmit.phase2b-parity.test.ts
  .minsky/hooks/knowledge-acquisition-detector.test.ts
  .minsky/hooks/knowledge-acquisition-detector.ts
  .minsky/hooks/registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3718): document the question-answer suppression gate
  docs/architecture/hooks/wall-of-text-detector.md
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3680): Make the bundle install the reflect polyfill before anything reaches tsyringe
  src/cli.ts
  src/reflect-polyfill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3741): Guard ai fast-apply — the third apply-model surface
  src/adapters/shared/commands/ai/completion-commands.ts
  src/adapters/shared/commands/ai/fast-apply-collapse-guard.test.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3718): suppression-contract coverage for the question-answer gate
  .minsky/hooks/suppression-contract.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3720): rewrite the detector doc for session grain; add a late-propagation control
  docs/architecture/hooks/knowledge-acquisition-detector.md
  scripts/verify-knowledge-acquisition-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3676): Bill the per-rule ceiling to the PR that crosses it
  .claude/hooks/require-growth-justification-before-merge.ts
  .cursor/rules/hook-files.mdc
  .minsky/hooks/require-growth-justification-before-merge.test.ts
  .minsky/hooks/require-growth-justification-before-merge.ts
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3720): PR #2649 R1 — stale injection copy; attribute the channel set to mt#3272
  .claude/hooks/knowledge-acquisition-detector.ts
  .minsky/hooks/knowledge-acquisition-detector.ts
  docs/architecture/hooks/knowledge-acquisition-detector.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3490): Record the turn anchor at Stop instead of re-deriving it
  .claude/hooks/dispatcher.ts
  .claude/hooks/record-turn-anchor.ts
  .claude/hooks/registry.ts
  .claude/hooks/transcript.ts
  .claude/hooks/turn-anchor-store.ts
  .claude/hooks/wall-of-text-detector.ts
  .minsky/hooks/dispatcher.ts
  .minsky/hooks/record-turn-anchor.ts
  .minsky/hooks/registry.ts
  .minsky/hooks/transcript.ts
  .minsky/hooks/turn-anchor-store.test.ts
  .minsky/hooks/turn-anchor-store.ts
  .minsky/hooks/wall-of-text-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#3229): assert CommandCategory's TS enum and zod mirror hold the same set
  src/adapters/shared/command-category-drift.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3555): Resolve the reviewer's standing verdict, not the first review in listing order
  packages/domain/src/repository/github-pr-approval.ts
  packages/domain/src/repository/review-verdict.ts
  packages/domain/src/session/commands/pr-wait-for-review-standing-verdict.test.ts
  packages/domain/src/session/commands/pr-wait-for-review-subcommand.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
