Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#3228): address PR #2324 R1 — 3 BLOCKING + 1 non-blocking
  docs/principal-channel.md
  packages/domain/src/configuration/sources/environment.ts
  packages/domain/src/events/category.test.ts
  packages/domain/src/notify/principal-inbound.ts
  packages/domain/src/storage/migrations/pg/0073_complete_black_knight.sql
  packages/domain/src/storage/migrations/pg/meta/0073_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/system-events-schema.ts
  src/cockpit/principal-channel-launch.test.ts
  src/cockpit/principal-channel-launch.ts
  src/cockpit/principal-channel-poller.test.ts
  src/cockpit/principal-channel-poller.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3228): the enable flag cannot reach a tray-spawned daemon
  docs/principal-channel.md
Due: bun node_modules/.bin/prettier --write

fix(mt#3228): cast enum/text at the SQL boundary — PR #2324 R2 BLOCKING
  src/cockpit/principal-channel-launch.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#3190): partial: consolidate 6 duplicated task command functions to delegate to commands/*.ts
  packages/domain/src/tasks.ts
  packages/domain/src/tasks/commands/mutation-commands.ts
  packages/domain/src/tasks/commands/query-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3231): beam on every action, not just parallel batches (SC7/AT7)
  bun.lock
  package.json
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/index.css
  src/cockpit/web/lib/session-film-beams.test.ts
  src/cockpit/web/lib/session-film-beams.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3228): make the poll cursor actually advance — PR #2324 R3 BLOCKING
  docs/principal-channel.md
  packages/domain/src/events/category.test.ts
  packages/domain/src/notify/principal-inbound.ts
  packages/domain/src/storage/migrations/pg/0074_funny_sprite.sql
  packages/domain/src/storage/migrations/pg/meta/0074_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/system-events-schema.ts
  src/cockpit/principal-channel-launch.test.ts
  src/cockpit/principal-channel-launch.ts
  src/cockpit/principal-channel-poller.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3190): remove regressing checks from consolidated updateTaskFromParams
  packages/domain/src/tasks/commands/mutation-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3217): reviewer verifies recovery-layer "Does NOT cover" carve-outs
  services/reviewer/src/output-tools.ts
  services/reviewer/src/prompt.test.ts
  services/reviewer/src/prompt.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3231): ribbon legibility — self-ref elision, icon labels, click-to-expand (SC1-3/AT1-3)
  src/cockpit/web/components/session-film/SessionFilmRibbon.test.tsx
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
  src/cockpit/web/lib/session-film-target-ref.test.ts
  src/cockpit/web/lib/session-film-target-ref.ts
  src/cockpit/web/lib/tool-icon.test.ts
  src/cockpit/web/lib/tool-icon.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3217): name the carve-out verification mechanism in work-completion.mdc
  .cursor/rules/work-completion.mdc
  .minsky/rules/work-completion.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules-rationale/work-completion.md
Due: bun node_modules/.bin/prettier --write

test(mt#3190): regression tests for 5 consolidated functions via @minsky/domain/tasks
  src/adapters/shared/commands/tasks/create-canonical-import-path.test.ts
  src/adapters/shared/commands/tasks/delete-canonical-import-path.test.ts
  src/adapters/shared/commands/tasks/get-canonical-import-path.test.ts
  src/adapters/shared/commands/tasks/status-get-canonical-import-path.test.ts
  src/adapters/shared/commands/tasks/update-canonical-import-path.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3190): fix stale comment pointing to mt#3190 as still-future work
  packages/domain/src/tasks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3231): stage node labels, hover tooltips, working click-to-detail (SC6/AT6)
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/pages/SessionFilmPage.tsx
Due: none

feat(mt#3230): enable the principal channel from config, not the environment
  docs/principal-channel.md
  packages/domain/src/configuration/schemas/index.ts
  packages/domain/src/configuration/schemas/principal-channel.ts
  packages/domain/src/configuration/sources/environment.test.ts
  packages/domain/src/configuration/sources/environment.ts
  src/cockpit/principal-channel-launch.test.ts
  src/cockpit/principal-channel-launch.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3190): stop discarding caller-supplied repo in facade delegations
  packages/domain/src/tasks-repo-resolution.test.ts
  packages/domain/src/tasks.ts
  packages/domain/src/tasks/commands/mutation-commands.ts
  src/adapters/shared/commands/tasks/create-canonical-import-path.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3230): refresh the channel doc's status and allowlist reference
  docs/principal-channel.md
Due: bun node_modules/.bin/prettier --write

feat(mt#3231): living layout — replace compute-once tidy-tree with a live d3-force simulation (SC4/AT4)
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/hooks/useSessionFilmForceLayout.test.tsx
  src/cockpit/web/hooks/useSessionFilmForceLayout.ts
  src/cockpit/web/lib/session-film-config.ts
  src/cockpit/web/lib/session-film-force-layout.test.ts
  src/cockpit/web/lib/session-film-force-layout.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3230): point every operator-facing string at the config key — PR #2327 R1
  src/cockpit/principal-channel-launch.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3231): camera-follow — auto-fit the growing touched-set bounding box (SC5/AT5)
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/lib/session-film-config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3234): wait for the channel conversation to start, and log the success path
  src/cockpit/principal-channel-actuator.test.ts
  src/cockpit/principal-channel-actuator.ts
  src/cockpit/principal-channel-poller.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3234): address PR #2329 R1 — 2 BLOCKING + 1 non-blocking
  src/cockpit/principal-channel-actuator.test.ts
  src/cockpit/principal-channel-actuator.ts
  src/cockpit/principal-channel-poller.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3231): partial: R1 blocking 1-2 — camera-follow 0-size backoff, warm-start cold-tick damping
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
  src/cockpit/web/lib/session-film-force-layout.test.ts
  src/cockpit/web/lib/session-film-force-layout.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3231): partial: R1 blocking 3 — entity detail panel dismissible in controlled mode
  src/cockpit/web/components/session-film/SessionFilmStage.test.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
Due: none

fix(mt#3231): partial: R1 non-blocking 5-7 — stale-closure tick interval, beam CSS comment, target-ref fallback
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/hooks/useSessionFilmForceLayout.ts
  src/cockpit/web/lib/session-film-target-ref.test.ts
  src/cockpit/web/lib/session-film-target-ref.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3231): R1 non-blocking 4 — make the ribbon virtualizer aware of the expanded row's variable height
  src/cockpit/web/components/session-film/SessionFilmRibbon.tsx
  src/cockpit/web/lib/session-film-virtualization.test.ts
  src/cockpit/web/lib/session-film-virtualization.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3238): write input before waiting for ready — mt#3234's gate was a deadlock
  src/cockpit/principal-channel-actuator.test.ts
  src/cockpit/principal-channel-actuator.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3238): commit the live probe + name the failure — PR #2330 R1
  scripts/principal-channel/verify-conversation.ts
  src/cockpit/principal-channel-actuator.test.ts
  src/cockpit/principal-channel-actuator.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3240): add default fallback + exhaustiveness guard to eventStyle/eventSummary switches
  src/cockpit/web/pages/ActivityPage.test.tsx
  src/cockpit/web/pages/ActivityPage.tsx
Due: none

fix(mt#3239): move isAutomatedClosureResponder to browser-safe module + add cockpit-web Node-import guard
  eslint-rules/no-node-import-in-cockpit-web.js
  eslint.config.js
  packages/domain/src/ask/close-as-resolved.ts
  packages/shared/package.json
  packages/shared/src/ask-closure.ts
  src/cockpit/web/pages/AskPage.test.tsx
  src/cockpit/web/pages/AskPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3239): address R1 review findings — process.execPath, refute duplicate-plugin claim
  src/cockpit/web/pages/AskPage.test.tsx
Due: none

fix(mt#3021): settle the principal-reserved naming — overrideReason / MINSKY_ACK_DESTRUCTIVE
  packages/domain/src/configuration/sources/environment.ts
  packages/domain/src/safety/destructive-override.ts
  packages/domain/src/schemas/session.ts
  packages/domain/src/session/session-commands.ts
  packages/domain/src/session/session-commit-mass-deletion.test.ts
  packages/domain/src/session/session-lifecycle-destructive-guard.test.ts
  packages/domain/src/session/session-lifecycle-operations.ts
  packages/domain/src/session/session-service.ts
  src/adapters/shared/commands/session-parameters.ts
  src/adapters/shared/commands/session/management-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3246): /asks rows keep their actions in-bounds; title no longer paints over the metadata
  src/cockpit/web/pages/AsksPage.test.tsx
  src/cockpit/web/pages/AsksPage.tsx
Due: none

feat(mt#3245): deterministically falsify duplicate-declaration BLOCKING findings before posting
  services/reviewer/src/review-worker.ts
  services/reviewer/src/structural-claim-verifier.test.ts
  services/reviewer/src/structural-claim-verifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#3148): assert service identity in health probes, not a bare 200
  .claude/skills/implement-task/SKILL.md
  .minsky/skills/implement-task/skill.ts
  contract/cockpit-health-shape.json
  docs/deploy-minsky-railway.md
  packages/domain/src/deployment/health-identity.test.ts
  packages/domain/src/deployment/health-identity.ts
  scripts/post-deploy-health-monitor.ts
  scripts/smoke-retrigger-default-url.ts
  services/reviewer/src/server.ts
  src/cockpit/routes/health.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3248): preserve the original's trailing newline across both AI apply paths
  packages/domain/src/ai/edit-pattern-service.ts
  packages/domain/src/ai/edit-pattern-utils.test.ts
  packages/domain/src/ai/edit-pattern-utils.ts
  packages/domain/src/ai/fast-apply-service.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3221): a synthesized transport 5xx is not a GitHub outage
  packages/domain/src/repository/github-error-handler.test.ts
  packages/domain/src/repository/github-error-handler.ts
  src/adapters/shared/commands/session/workflow-commands-merge-error-classification.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#3246): attach Acceptance Test 2 artifacts — before/after screenshots + measurement transcript
  docs/evidence/mt-3246/README.md
  docs/evidence/mt-3246/asks-after-1280.png
  docs/evidence/mt-3246/asks-after-1440.png
  docs/evidence/mt-3246/asks-after-1920.png
  docs/evidence/mt-3246/asks-before-1440.png
Due: bun node_modules/.bin/prettier --write

fix(mt#3245): strip comments/strings before counting declaration forms; verify abstract-class claim
  services/reviewer/src/structural-claim-verifier.test.ts
  services/reviewer/src/structural-claim-verifier.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3248): restore the original's exact newline terminator, including CRLF
  packages/domain/src/ai/edit-pattern-utils.test.ts
  packages/domain/src/ai/edit-pattern-utils.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#3247): camera dead-zone stops session-film viewport chasing the live-moving force-sim/scroll bounds
  src/cockpit/web/components/PanZoomSVG.test.tsx
  src/cockpit/web/components/PanZoomSVG.tsx
  src/cockpit/web/components/session-film/SessionFilmStage.tsx
  src/cockpit/web/lib/session-film-config.ts
  src/cockpit/web/pages/SessionFilmPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
