Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: commit task status updates after session approval
  src/domain/__tests__/session-approve-task-status-commit.test.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor: move test file next to module it tests
  src/domain/session-approve-task-status-commit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(schemas): Add CLI command schemas for type safety
  src/adapters/shared/bridges/cli-bridge.ts
  src/schemas/runtime.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: move test to proper session subdirectory and fix imports
  src/domain/session/session-approve-task-status-commit.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mcp-bridge): Replace type casts with schema validation
  src/adapters/shared/bridges/mcp-bridge.ts
  src/schemas/runtime.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#270): Update test architecture to use co-location instead of __tests__ directories
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/framework-specific-tests.mdc
  .cursor/rules/test-organization.mdc
  .cursor/rules/testing-router.mdc
  .cursor/rules/tests.mdc
  docs/testing/test-architecture-guide.md
Due: bun node_modules/.bin/prettier --write

feat(#269): Apply task 266 merged storage backend factory changes
  process/tasks/269-fix-test-isolation-issues-causing-global-state-interference.md
  src/domain/session/session-db-adapter.ts
  src/domain/storage/storage-backend-factory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#270): Update remaining files for co-location test architecture
  .cursor/rules/codemod-development-standards.mdc
  codemods/fix-command-registration-overloads.ts
  codemods/fix-missing-required-properties.ts
  codemods/fix-syntax-errors.ts
  codemods/utils/specialized-codemods.ts
  eslint.config.js
  src/utils/test-utils/README.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#270): Complete cursor rules updates for co-location architecture
  .cursor/rules/bun-test-patterns.mdc
  .cursor/rules/testing-router.mdc
Due: none

feat(#269): Implement comprehensive test cleanup patterns
  src/adapters/__tests__/shared/commands/git.test.ts
  src/adapters/__tests__/shared/commands/tasks.test.ts
  src/domain/workspace/special-workspace-manager.ts
  src/utils/test-utils/cleanup-patterns.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#270): Update CHANGELOG to reflect final co-location architecture
  CHANGELOG.md
Due: bun node_modules/.bin/prettier --write

feat(#269): Complete file system cleanup patterns implementation
  process/tasks/269-fix-test-isolation-issues-causing-global-state-interference.md
Due: bun node_modules/.bin/prettier --write

feat(#269): Update task spec with final remaining work - directory isolation
  process/tasks/269-fix-test-isolation-issues-causing-global-state-interference.md
Due: bun node_modules/.bin/prettier --write

feat(schemas): Add storage schemas and begin JSON.parse replacement with validation
  src/domain/storage/json-file-storage.ts
  src/domain/tasks/jsonFileTaskBackend.ts
  src/schemas/storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(task#271): Update task spec with Phase 2 progress and current status
  process/tasks/271-find-and-fix-all-unsafe-type-casts-as-any-in-codebase.md
Due: bun node_modules/.bin/prettier --write

fix: add early exit for session approval when task is done and PR branch doesn't exist
  process/tasks.md
  process/tasks/274-fix-command-registry-type-erasure-architecture.md
  src/domain/session.ts
  src/domain/session/session-approve-task-status-commit.test.ts
  src/domain/storage/json-file-storage.ts
  src/schemas/storage.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat: create task #275 for PR existence tracking in session records
  process/tasks.md
  process/tasks/275-store-pr-existence-in-session-records-for-optimized-session-approval.md
Due: bun node_modules/.bin/prettier --write

feat(#269): Implement working directory isolation for test isolation
  src/adapters/__tests__/cli/session.test.ts
  src/domain/__tests__/workspace.test.ts
  src/utils/test-utils/cleanup-patterns.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#269): COMPLETE - All 6 major test isolation issues resolved! 🎉
  process/tasks/269-fix-test-isolation-issues-causing-global-state-interference.md
Due: bun node_modules/.bin/prettier --write

fix(#270): Remove premature body/bodyPath validation from session pr command
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

fix(#270): Add conditional validation for session pr command
  src/adapters/shared/commands/session.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
