Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#5061): PR #3703 R1 — install bun under $HOME in CI, drop nix's bun
  .github/workflows/site-build-smoke.yml
  services/site/nixpacks.toml
Due: none

fix(mt#5061): PR #3703 R2 — build the site in an isolated context, as Railway does
  .github/workflows/site-build-smoke.yml
Due: none

fix(mt#4673): Make --backend help name the values the command accepts
  README.md
  packages/domain/src/tasks/available-backends.test.ts
  packages/domain/src/tasks/taskConstants.ts
  src/commands/init/index.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#4673): PR #3704 R1 — make the source-parse failure mode explicit
  packages/domain/src/tasks/available-backends.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#4673): PR #3704 R2 — the list is a hand-picked subset, not enum-derived
  packages/domain/src/tasks/taskConstants.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5056): Elide a quoted span that wraps a line
  .claude/hooks/elision.ts
  .claude/hooks/operator-deferral-fixtures.ts
  .minsky/hooks/elision.test.ts
  .minsky/hooks/elision.ts
  .minsky/hooks/operator-deferral-detector.test.ts
  .minsky/hooks/operator-deferral-fixtures.ts
  .minsky/hooks/retrospective-trigger-scanner.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5063): Stop the bundle pinning tiktoken's wasm lookup to the build host
  Dockerfile
  package.json
  scripts/cli-entry.ts
  scripts/verify-bundle-portability.test.ts
  scripts/verify-bundle-portability.ts
  tests/scripts/cli-entry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5056): PR #3705 R1 — count line BREAKS, not newline characters
  .claude/hooks/elision.ts
  .minsky/hooks/elision.test.ts
  .minsky/hooks/elision.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5063): SC4 — make the pack-install smoke run the command that actually failed
  scripts/verify-npm-pack-install.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4012): Read the MCP response the transport actually sends, and retire an ask when its class recovers
  packages/domain/src/deployment/monitor-ask-alert.test.ts
  packages/domain/src/deployment/monitor-ask-alert.ts
  packages/domain/src/deployment/monitor-mcp-session.ts
  scripts/post-deploy-health-monitor.ts
  scripts/verify-monitor-ask-channel.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5063): PR #3706 R1 — verify the tokenizer, widen the matcher, guard the image build
  Dockerfile
  scripts/verify-bundle-portability.test.ts
  scripts/verify-bundle-portability.ts
  scripts/verify-npm-pack-install.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#4012): PR #3707 R1 — count UTF-8 bytes without a Node global
  packages/domain/src/deployment/monitor-ask-alert.test.ts
  packages/domain/src/deployment/monitor-ask-alert.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5063): PR #3706 R2 — @pnpm/tabtab is declared, so externalise it too
  Dockerfile
  package.json
  scripts/cli-entry.ts
  scripts/verify-bundle-portability.ts
  tests/scripts/cli-entry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5063): COPY the portability script into the image build stage
  Dockerfile
Due: none

feat(mt#5046): Enroll ask disposers in population review by consequence
  .claude/skills/calibration-review/SKILL.md
  .minsky/skills/calibration-review/SKILL.md
  packages/domain/src/ask/disposer-registry.test.ts
  packages/domain/src/ask/disposer-registry.ts
  packages/domain/src/ask/router.ts
  scripts/review-disposers.ts
  src/cockpit/web/lib/digest.test.ts
  src/cockpit/web/lib/digest.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5046): PR #3708 R1 — drop the router's registry import, and use the designed marker
  packages/domain/src/ask/disposer-registry.test.ts
  packages/domain/src/ask/disposer-registry.ts
  packages/domain/src/ask/router.ts
  scripts/review-disposers.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#5048): Teach the sweep the outcome convention 15 logs already use
  src/domain/calibration/calibration-outcome-convention.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5048): PR #3709 R1 — read both session-id spellings, on the class not the instance
  src/domain/calibration/calibration-session-id-spelling.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#5048): PR #3709 R2 — the guard is "not an array", and the comment said "absent"
  src/domain/calibration/calibration-outcome-convention.test.ts
  src/domain/calibration/calibration-sweep.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5072): Count canary coverage from both declaration surfaces
  .claude/hooks/interceptor-descriptions.ts
  .minsky/hooks/interceptor-descriptions.test.ts
  .minsky/hooks/interceptor-descriptions.ts
  scripts/build-interceptor-catalog.test.ts
  scripts/build-interceptor-catalog.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#5079): Rule on every canary gap instead of only reporting it
  .claude/hooks/canary-dispositions.ts
  .claude/hooks/interceptor-descriptions.ts
  .minsky/hooks/canary-dispositions.ts
  .minsky/hooks/interceptor-descriptions.test.ts
  .minsky/hooks/interceptor-descriptions.ts
  docs/architecture/hook-module-inventory.md
  docs/architecture/interceptors.md
  scripts/build-interceptor-catalog.test.ts
  scripts/build-interceptor-catalog.ts
  src/generated/interceptor-catalog.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5079): PR #3712 R1 — put the disposition contract in the type, not just a test
  .claude/hooks/interceptor-descriptions.ts
  .minsky/hooks/interceptor-descriptions.ts
  docs/architecture/hook-module-inventory.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5002): Name the affected services in the post-merge deploy reminder
  .claude/hooks/deploy-surface-detector.ts
  .claude/hooks/deploy-verification-after-merge.ts
  .minsky/hooks/deploy-surface-detector.ts
  .minsky/hooks/deploy-verification-after-merge.test.ts
  .minsky/hooks/deploy-verification-after-merge.ts
  docs/architecture/hook-module-inventory.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5002): PR #3713 R1 — an empty resolution gets its own reminder, with no wait instruction
  .claude/hooks/deploy-verification-after-merge.ts
  .minsky/hooks/deploy-verification-after-merge.test.ts
  .minsky/hooks/deploy-verification-after-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5067): Externalise typescript and vite so the bundle stops baking the build host
  .minsky/mt5067-build.log
  .minsky/mt5067-build2.exit
  .minsky/mt5067-build2.log
  .minsky/mt5067-dev.log
  .minsky/mt5067-proddir
  .minsky/mt5067-smoke.exit
  .minsky/mt5067-smoke.log
  .minsky/mt5067-workdir
  .minsky/mt5067-workdir2
  Dockerfile
  package.json
  scripts/cli-entry.ts
  scripts/verify-bundle-portability.test.ts
  scripts/verify-bundle-portability.ts
  scripts/verify-npm-pack-install.ts
  tests/scripts/cli-entry.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#5067): Drop the scratch logs the previous commit swept in [no-deploy-impact]
  .minsky/mt5067-build.log
  .minsky/mt5067-build2.exit
  .minsky/mt5067-build2.log
  .minsky/mt5067-dev.log
  .minsky/mt5067-proddir
  .minsky/mt5067-smoke.exit
  .minsky/mt5067-smoke.log
  .minsky/mt5067-workdir
  .minsky/mt5067-workdir2
Due: none

feat(mt#5081): Fire-log-instrument the 14 enforcement points that were silent
  .claude/hooks/ask-permission-bridge.ts
  .claude/hooks/block-github-mcp-pr-writes.ts
  .claude/hooks/bridge-memory-retirement.ts
  .claude/hooks/canary-dispositions.ts
  .claude/hooks/check-prompt-watermark.ts
  .claude/hooks/deploy-verification-after-merge.ts
  .claude/hooks/drive-pr-to-convergence.ts
  .claude/hooks/inject-success-criteria.ts
  .claude/hooks/loop-preflight-pr-merge-check.ts
  .claude/hooks/parallel-work-guard-overrides.ts
  .claude/hooks/parallel-work-guard.ts
  .claude/hooks/post-merge-unasked-direction-scan.ts
  .claude/hooks/two-strikes-record.ts
  .claude/hooks/typecheck-on-stop.ts
  .claude/hooks/unowned-finding-scan.ts
  .claude/hooks/verify-subagent-model.ts
  .minsky/hooks/ask-permission-bridge.ts
  .minsky/hooks/block-github-mcp-pr-writes.ts
  .minsky/hooks/bridge-memory-retirement.ts
  .minsky/hooks/canary-dispositions.test.ts
  .minsky/hooks/canary-dispositions.ts
  .minsky/hooks/check-prompt-watermark.ts
  .minsky/hooks/deploy-verification-after-merge.ts
  .minsky/hooks/drive-pr-to-convergence.ts
  .minsky/hooks/inject-success-criteria.ts
  .minsky/hooks/loop-preflight-pr-merge-check.ts
  .minsky/hooks/parallel-work-guard-overrides.ts
  .minsky/hooks/parallel-work-guard.ts
  .minsky/hooks/post-merge-unasked-direction-scan.ts
  .minsky/hooks/two-strikes-record.ts
  .minsky/hooks/typecheck-on-stop.ts
  .minsky/hooks/unowned-finding-scan.ts
  .minsky/hooks/verify-subagent-model.ts
  scripts/verify-fire-log-instrumentation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5081): PR #3715 R1 — fail open on malformed stdin, everywhere, and record it
  .claude/hooks/ask-permission-bridge.ts
  .claude/hooks/bridge-memory-retirement.ts
  .claude/hooks/deploy-verification-after-merge.ts
  .claude/hooks/drive-pr-to-convergence.ts
  .claude/hooks/loop-preflight-pr-merge-check.ts
  .claude/hooks/parallel-work-guard-overrides.ts
  .claude/hooks/post-merge-unasked-direction-scan.ts
  .claude/hooks/verify-subagent-model.ts
  .minsky/hooks/ask-permission-bridge.ts
  .minsky/hooks/bridge-memory-retirement.ts
  .minsky/hooks/deploy-verification-after-merge.ts
  .minsky/hooks/drive-pr-to-convergence.ts
  .minsky/hooks/loop-preflight-pr-merge-check.ts
  .minsky/hooks/parallel-work-guard-overrides.ts
  .minsky/hooks/post-merge-unasked-direction-scan.ts
  .minsky/hooks/verify-subagent-model.ts
  scripts/verify-fire-log-instrumentation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5065): Stop compile overwriting files it did not write, and report the install outcome
  .claude/agents/auditor.md
  .claude/agents/cleaner.md
  .claude/agents/cockpit-dev.md
  .claude/agents/fixture.md
  .claude/agents/implementer.md
  .claude/agents/refactorer.md
  .claude/agents/reviewer.md
  docs/rules/template-system-guide.md
  packages/domain/src/compile/compile-service.ts
  packages/domain/src/compile/compile.ts
  packages/domain/src/compile/foreign-file-guard.test.ts
  packages/domain/src/compile/foreign-file-guard.ts
  packages/domain/src/compile/staleness.ts
  packages/domain/src/compile/targets/claude-agents.test.ts
  packages/domain/src/compile/targets/claude-agents.ts
  packages/domain/src/compile/types.ts
  packages/domain/src/session/session-service.ts
  packages/domain/src/session/start-session-dependencies.test.ts
  packages/domain/src/session/start-session-operations.ts
  src/adapters/shared/commands/compile/compile-commands.ts
  src/commands/compile/index.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5060): Watch the daemon's whole src/ tree and admit .json modules
  .claude/skills/cockpit-tray-dev/SKILL.md
  .minsky/skills/cockpit-tray-dev/content.md
  cockpit-tray/CLAUDE.md
  cockpit-tray/README.md
  cockpit-tray/src-tauri/src/supervisor.rs
  cockpit-tray/src-tauri/src/watcher_backend.rs
  docs/architecture/cockpit.md
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#5060): PR #3717 R1 — exclude .test/.spec.json, use Rust intra-doc links
  cockpit-tray/src-tauri/src/watcher_backend.rs
Due: none

feat(mt#5086): Stamp session.started with the caller's actor id; the peer advisory says whose session it is
  .claude/hooks/warn-peer-task-activity.ts
  .claude/rules/hook-observers.md
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/warn-peer-task-activity.test.ts
  .minsky/hooks/warn-peer-task-activity.ts
  .minsky/rules/hook-observers.mdc
  docs/architecture/hooks/warn-peer-task-activity.md
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#5086): Name the subagent-transcript falsifier on every fire (SC3), not only the not-compared branch
  .claude/hooks/warn-peer-task-activity.ts
  .minsky/hooks/warn-peer-task-activity.test.ts
  .minsky/hooks/warn-peer-task-activity.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5086): PR #3718 R1 — prove the alias caller hits the injection; pin the hidden param on the real params map
  .claude/hooks/warn-peer-task-activity.ts
  .minsky/hooks/warn-peer-task-activity.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/mcp/mcp-hidden-params.test.ts
  src/mcp/server-tool-name-resolution.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#5082): Record that the boundary hook's threshold table was superseded [no-deploy-impact]
  .claude/hooks/handoff-at-work-boundary.ts
  .claude/rules/hook-observers.md
  .cursor/rules/hook-observers.mdc
  .minsky/hooks/handoff-at-work-boundary.ts
  .minsky/rules/hook-observers.mdc
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#5076): Treat a newline as a statement boundary in nonexistent-search-path [no-deploy-impact]
  .claude/hooks/command-shape.ts
  .claude/hooks/nonexistent-search-path-detector.ts
  .minsky/hooks/command-shape.test.ts
  .minsky/hooks/command-shape.ts
  .minsky/hooks/nonexistent-search-path-detector.test.ts
  .minsky/hooks/nonexistent-search-path-detector.ts
  docs/architecture/hooks/nonexistent-search-path-detector.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#5076): PR #3720 R1 — a pipe is a stage boundary, not a statement boundary [no-deploy-impact]
  docs/architecture/hooks/nonexistent-search-path-detector.md
Due: bun node_modules/.bin/prettier --write

chore(mt#3835): Move bun to 1.4.2 and retire the mt#3623 install workaround at every site
  .github/workflows/bundle-boot-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/clock-shifted-tests.yml
  .github/workflows/cockpit-tray-ci.yml
  .github/workflows/cold-start-cockpit-web.yml
  .github/workflows/cold-start-hooks.yml
  .github/workflows/cold-start-migrate.yml
  .github/workflows/deploy-reviewer.yml
  .github/workflows/deploy-talks.yml
  .github/workflows/integration-tests.yml
  .github/workflows/npm-pack-install-smoke.yml
  .github/workflows/npm-staleness.yml
  .github/workflows/post-deploy-health-monitor.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  .github/workflows/test-quality.yml
  Dockerfile
  services/cockpit/Dockerfile
  services/reviewer/Dockerfile
Due: none

chore(mt#3835): PR #3721 R1 — move the site's Nixpacks bun pin too
  .github/workflows/site-build-smoke.yml
  services/site/nixpacks.toml
Due: none

docs(mt#4029): reconcile concepts.md with ADR-022's amended vocabulary
  docs/README.md
  packages/domain/src/concepts.md
Due: bun node_modules/.bin/prettier --write
