Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(mt#2497): R1 — correct pre-existing "second- opinion" folded-YAML artifact to "second-opinion"
  .claude/agents/auditor.md
  .minsky/agents/auditor/agent.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2415): projects table + project_id scoping on tasks/sessions/asks
  drizzle.pg.config.ts
  packages/domain/src/storage/migrations/pg/0046_glossy_ultragirl.sql
  packages/domain/src/storage/migrations/pg/0047_backfill_project_id_minsky.sql
  packages/domain/src/storage/migrations/pg/bootstrap/full-schema.sql
  packages/domain/src/storage/migrations/pg/bootstrap/meta.json
  packages/domain/src/storage/migrations/pg/meta/0046_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/0047_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/ask-schema.ts
  packages/domain/src/storage/schemas/projects-schema.ts
  packages/domain/src/storage/schemas/session-schema.ts
  packages/domain/src/storage/schemas/task-embeddings.ts
  scripts/smoke-projects-scoping-migration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2445): restore + generalize /plan-task gate (l) for third-party-system decisions
  .claude/skills/plan-task/SKILL.md
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  .minsky/skills/plan-task/skill.ts
  AGENTS.md
  CLAUDE.md
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2415): rewrite smoke to verify both bootstrap-schema and incremental-backfill paths
  scripts/smoke-projects-scoping-migration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2445): R1 - terminal newline on decision-defaults.mdc source (reviewer non-blocking nit)
  .minsky/rules/decision-defaults.mdc
Due: none

fix(mt#2415): R1 — add DB-level FKs on project_id + extend smoke script
  packages/domain/src/storage/migrations/pg/0048_short_wind_dancer.sql
  packages/domain/src/storage/migrations/pg/bootstrap/full-schema.sql
  packages/domain/src/storage/migrations/pg/bootstrap/meta.json
  packages/domain/src/storage/migrations/pg/meta/0048_snapshot.json
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/ask-schema.ts
  packages/domain/src/storage/schemas/session-schema.ts
  packages/domain/src/storage/schemas/task-embeddings.ts
  scripts/smoke-projects-scoping-migration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2504,mt#2503): add §7 preventive spec-reconciliation + community-practice steps
  .claude/skills/implement-task/SKILL.md
  .minsky/skills/implement-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2488): evidence-gated actions — shared validateEvidenceArgument primitive + gate tasks_dispatch
  packages/domain/src/validation/evidence-argument.test.ts
  packages/domain/src/validation/evidence-argument.ts
  src/adapters/shared/commands/tasks/dispatch-command.test.ts
  src/adapters/shared/commands/tasks/dispatch-command.ts
  src/adapters/shared/commands/tasks/orchestrate-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2488): R1 — doc impact + action-label + cleanup per reviewer
  .claude/skills/orchestrate/SKILL.md
  .minsky/skills/orchestrate/skill.ts
  packages/domain/src/validation/evidence-argument.ts
  src/adapters/shared/commands/tasks/dispatch-command.test.ts
  src/adapters/shared/commands/tasks/dispatch-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2506): prod-state injection hook — R10 no-tool-boundary seam (hybrid cached-injection)
  .claude/hooks/inject-prod-state.test.ts
  .claude/hooks/inject-prod-state.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
  scripts/smoke-prod-state-cache.ts
  src/cockpit/prod-state-cache.test.ts
  src/cockpit/prod-state-cache.ts
  src/cockpit/server.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2506): smoke runs live via config fallback (reflect-metadata + initializeConfiguration)
  scripts/smoke-prod-state-cache.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2506): R1 — atomic cache write + exact state-dir parity with paths.ts
  .claude/hooks/inject-prod-state.ts
  src/cockpit/prod-state-cache.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2416): ADR-021 project-scoping resolution model (explicit scope param per consumer)
  docs/architecture/adr-021-project-scoping-resolution-model.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2416): partial: project scope param + read-site filtering + scope-resolver + tasks adapter
  packages/domain/src/ask/repository.ts
  packages/domain/src/memory/memory-service.ts
  packages/domain/src/memory/types.ts
  packages/domain/src/project/scope-resolver.ts
  packages/domain/src/project/scope.ts
  packages/domain/src/schemas/tasks.ts
  packages/domain/src/session/drizzle-session-repository.ts
  packages/domain/src/session/types.ts
  packages/domain/src/storage/schemas/session-schema.ts
  packages/domain/src/tasks.ts
  packages/domain/src/tasks/minskyTaskBackend.ts
  packages/domain/src/tasks/types.ts
  src/adapters/shared/commands/tasks/crud-commands.ts
  src/adapters/shared/commands/tasks/task-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2416): sessions supplier+adapter scope wiring
  packages/domain/src/schemas/session.ts
  packages/domain/src/session/session-lifecycle-operations.ts
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/session-parameters.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2416): memory supplier+adapter scope wiring
  src/adapters/shared/commands/memory/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2416): asks supplier+adapter scope wiring
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2416): project-scoping acceptance tests for tasks, sessions, memory, and asks
  tests/domain/project-scope-acceptance.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2416): fix TypeScript errors in project-scope acceptance tests
  tests/domain/project-scope-acceptance.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2416): R1 — wire currentProjectId into Minsky backend factory so task inserts stamp project_id
  packages/domain/src/tasks/taskService.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2507): TabBar — hide zoom scrollbar chrome, strengthen active-tab styling
  src/cockpit/web/components/TabBar.tsx
  src/cockpit/web/index.css
Due: none

feat(mt#2416): sessions writer stamps project_id from resolved scope
  packages/domain/src/session/session-service.ts
  packages/domain/src/session/start-session-operations.ts
  src/adapters/shared/commands/session/basic-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2416): memory create defaults project_id to resolved scope
  src/adapters/shared/commands/memory/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2416): note asks write-stamping deferred to Phase-1.3b
  packages/domain/src/ask/repository.ts
  src/adapters/shared/commands/asks.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#2509): cockpit visual verification — chrome-devtools-mcp primary, Playwright fallback
  .claude/agents/cockpit-dev.md
  .minsky/agents/cockpit-dev/prompt.md
  src/cockpit/CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2416): ADR-021 user-facing default-scoping + allProjects opt-out note
  docs/architecture/adr-021-project-scoping-resolution-model.md
Due: bun node_modules/.bin/prettier --write

docs(mt#2509): R1 — qualify bare `cockpit start` with `minsky` prefix in directive 19
  .claude/agents/cockpit-dev.md
  .minsky/agents/cockpit-dev/prompt.md
Due: bun node_modules/.bin/prettier --write

test(mt#2416): sessions + memory writer-stamping assertions
  tests/domain/project-scope-acceptance.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2507): R1 — pin overflow-y hidden so no scrollbar flashes at extreme zoom
  src/cockpit/web/components/TabBar.tsx
Due: none

fix(mt#2507): R2 — render tab focus ring inset so overflow-y-hidden can't clip it
  src/cockpit/web/components/TabBar.tsx
Due: none

test(mt#2416): R2 fail-closed evaluators plus generated-SQL project_id assertions
  tests/domain/project-scope-acceptance.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2304): reconcile record-subagent-invocation with main's mt#2329 (getStorage removal)
  .claude/hooks/record-subagent-invocation.ts
  .minsky/hooks/record-subagent-invocation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2076): Part A — add head_ref column to reviewer_convergence_metrics
  services/reviewer/migrations/pg/0005_large_multiple_man.sql
  services/reviewer/migrations/pg/meta/0005_snapshot.json
  services/reviewer/migrations/pg/meta/_journal.json
  services/reviewer/src/db/schemas/convergence-metrics-schema.ts
  services/reviewer/src/metrics.test.ts
  services/reviewer/src/metrics.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2076): PART B — reviewer-bot status cockpit widget
  packages/domain/src/configuration/sources/environment.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/widgets/ReviewerBotStatus.tsx
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/reviewer-bot-status.test.ts
  src/cockpit/widgets/reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2076): add live smoke for reviewer-bot-status widget (7a verification artifact)
  scripts/smoke-reviewer-bot-status.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2320): JsonlTailer — shared byte-offset incremental JSONL reader
  packages/domain/src/transcripts/jsonl-tailer.test.ts
  packages/domain/src/transcripts/jsonl-tailer.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2320): TranscriptWatcherTracker — same-process watcher health counters
  src/cockpit/transcript-watcher-tracker.test.ts
  src/cockpit/transcript-watcher-tracker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2320): SingleFileTranscriptSource — O(1) per-file ingest source
  packages/domain/src/transcripts/single-file-transcript-source.test.ts
  packages/domain/src/transcripts/single-file-transcript-source.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2320): cockpit-daemon transcript watcher (FS watch + ingest-on-append)
  packages/domain/src/transcripts/jsonl-tailer.test.ts
  packages/domain/src/transcripts/jsonl-tailer.ts
  src/cockpit/transcript-watcher-tracker.test.ts
  src/cockpit/transcript-watcher-tracker.ts
  src/cockpit/transcript-watcher.test.ts
  src/cockpit/transcript-watcher.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2320): wire transcript watcher into the cockpit daemon + /api/health
  src/cockpit/server.ts
  src/commands/cockpit/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
