Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(mt#1952): create pz-voice skill — distill principal's literary voice from pee_zombie corpus
  .claude/skills/pz-voice/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1951): address PR #1176 R1 — 3 BLOCKING
  .claude/hooks/require-checks-on-bypass-merge.test.ts
  .claude/hooks/require-checks-on-bypass-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1951): address PR #1176 R2 BLOCKING — secret-leak risk from raw segment echo
  .claude/hooks/require-checks-on-bypass-merge.test.ts
  .claude/hooks/require-checks-on-bypass-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1932): add brand-system.md operational reference for brand tokens
  docs/brand-system.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1951): bundle hotfix for third same-day main-red — prettier on mt#1952's pz-voice SKILL.md
  .claude/skills/pz-voice/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1932): address PR #1178 reviewer-bot — 7 NON-BLOCKING + 1 inline
  docs/brand-system.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1932): address PR #1178 R2 NON-BLOCKING — CSS fallback pattern
  docs/brand-system.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1932): address PR #1178 R3 NON-BLOCKING — Pattern C declaration order
  docs/brand-system.md
Due: bun node_modules/.bin/prettier --write

chore(mt#1932): unblock CI — prettier-fix pz-voice/SKILL.md (inherited from PR #1177)
  .claude/skills/pz-voice/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1933): extract minsky-brand skill; refactor marketing-site-design + cockpit-design
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/analyze-adjacent-product/references/case-studies-2026-05.md
  .claude/skills/cockpit-design/SKILL.md
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/marketing-site-design/references/minsky-myth-2026-05.md
  .claude/skills/minsky-brand/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1933): address PR #1179 R1 — 3 BLOCKING + 1 NON-BLOCKING + class-not-instance sweep
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/minsky-brand/SKILL.md
  docs/brand-system.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1936): refresh README + 4 docs/* to locked voice register; absorb PR #682
  README.md
  docs/README.md
  docs/architecture.md
  docs/configuration-guide.md
  docs/development-workflow.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1936): address PR #1180 R1 — 5 NON-BLOCKING
  README.md
  docs/README.md
  docs/architecture.md
  docs/configuration-guide.md
  docs/development-workflow.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1935): migrate cockpit color tokens HSL → OKLCH + add brand palette
  src/cockpit/web/index.css
  src/cockpit/web/index.html
  tailwind.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1935): update cockpit-design skill with post-migration brand-token surface
  .claude/skills/cockpit-design/SKILL.md
  .minsky/skills/cockpit-design/content.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1935): address PR #1181 review — light-theme --muted-foreground typo
  src/cockpit/web/index.css
Due: none

feat(mt#1942): /orchestrate §D — wave-by-wave DAG filing pattern
  .claude/skills/orchestrate/SKILL.md
  .minsky/skills/orchestrate/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1942): PR #1182 R1 — restore dropped orchestrate sections, rename §D→§A.2
  .claude/skills/implement-task/SKILL.md
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/verify-task/SKILL.md
  .minsky/skills/orchestrate/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1955): session_pr_close MCP tool + retire mcp-tools.mdc
  .claude/hooks/block-git-gh-cli.test.ts
  .claude/hooks/block-git-gh-cli.ts
  .claude/hooks/block-github-mcp-pr-writes.ts
  .cursor/rules/mcp-tools.mdc
  .minsky/rules/mcp-tools.mdc
  AGENTS.md
  CLAUDE.md
  docs/rules/migration-notes.md
  src/adapters/shared/commands/session.ts
  src/adapters/shared/commands/session/basic-commands.ts
  src/adapters/shared/commands/session/pr-close-command.ts
  src/adapters/shared/commands/session/pr-review-submit-command.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/repository/github-pr-operations.ts
  src/domain/repository/github.ts
  src/domain/repository/index.ts
  src/domain/session/commands/pr-close-subcommand.test.ts
  src/domain/session/commands/pr-close-subcommand.ts
  src/domain/session/commands/pr-subcommands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1942): restore 4 unrelated skill compiled outputs to main state
  .claude/skills/implement-task/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/verify-task/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1956): backport compiled SKILL.md content to .minsky/skills source
  .claude/skills/review-pr/SKILL.md
  .claude/skills/verify-task/SKILL.md
  .minsky/skills/implement-task/skill.ts
  .minsky/skills/plan-task/skill.ts
  .minsky/skills/review-pr/skill.ts
  .minsky/skills/verify-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1955): address PR #1184 R1 — prNumber param + session-DB persistence
  src/adapters/shared/commands/session/pr-close-command.ts
  src/adapters/shared/commands/session/session-parameters.ts
  src/domain/session/commands/pr-close-subcommand.test.ts
  src/domain/session/commands/pr-close-subcommand.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1957): add GitHub domain implementations for workflow runs, branch protection, and labels
  src/domain/repository/github-branch-protection.ts
  src/domain/repository/github-labels.ts
  src/domain/repository/github-workflow-runs.ts
  src/domain/repository/github.ts
  src/domain/repository/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1934): scaffold services/site (Astro + Tailwind v4) with brand tokens + SEO base
  bun.lock
  services/site/.gitignore
  services/site/README.md
  services/site/astro.config.ts
  services/site/package.json
  services/site/postcss.config.cjs
  services/site/public/favicon.svg
  services/site/src/layouts/BaseLayout.astro
  services/site/src/pages/index.astro
  services/site/src/styles/global.css
  services/site/tsconfig.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1934): Phase 2 — Idiom B hero, two CTAs, co-product strip, ambient wordmark
  services/site/src/components/CoProductRow.astro
  services/site/src/components/CtaButton.astro
  services/site/src/components/Header.astro
  services/site/src/components/Hero.astro
  services/site/src/components/ProductFrame.astro
  services/site/src/pages/index.astro
Due: none

feat(mt#1934): Phase 3-5 — substrate walkthrough, footer, static server, Railway config
  scripts/lint-console-usage.ts
  services/site/deploy.config.ts
  services/site/nixpacks.toml
  services/site/package.json
  services/site/public/robots.txt
  services/site/railway.config.ts
  services/site/src/components/SiteFooter.astro
  services/site/src/components/SubstrateScene.astro
  services/site/src/components/SubstrateWalkthrough.astro
  services/site/src/pages/index.astro
  services/site/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1957): register 9 forge MCP commands + wire FORGE category through schemas
  src/adapters/shared/command-registry.ts
  src/adapters/shared/commands/forge.ts
  src/adapters/shared/commands/index.ts
  src/schemas/command-registry.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1957): extend block-git-gh-cli hook with 5 new gh denial classes pointing at forge MCP tools
  .claude/hooks/block-git-gh-cli.test.ts
  .claude/hooks/block-git-gh-cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1957): add 30 unit tests for github-{labels,workflow-runs,branch-protection}
  src/domain/repository/github-branch-protection.test.ts
  src/domain/repository/github-labels.test.ts
  src/domain/repository/github-workflow-runs.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1934): wire real Railway service IDs + document deploy-time config flips
  services/site/README.md
  services/site/nixpacks.toml
  services/site/railway.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1961): bun run build copies migrations to dist/
  .github/workflows/bundle-boot-smoke.yml
  package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#1934): address PR #1186 R1 review — 2 BLOCKING findings
  services/site/deploy.config.ts
  services/site/src/components/SubstrateWalkthrough.astro
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1957): address PR #1185 R1 — base64 stack overflow + over-broad labels regex
  .claude/hooks/block-git-gh-cli.test.ts
  .claude/hooks/block-git-gh-cli.ts
  src/domain/repository/github-workflow-runs.test.ts
  src/domain/repository/github-workflow-runs.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1962): retry-aware MCP daemon init controller
  src/commands/mcp/start-command.ts
  src/mcp/init-retry.test.ts
  src/mcp/init-retry.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1957): address PR #1185 R2 — fully-qualify all MCP tool names in label denial messages
  .claude/hooks/block-git-gh-cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1962): address PR #1188 R1 reviewer findings
  src/commands/mcp/start-command.ts
  src/domain/configuration/sources/environment.ts
  src/mcp/init-retry.ts
  src/mcp/server.test.ts
  src/mcp/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1963): incident memo for 2026-05-20 reviewer triple-failure on PR #1186
  docs/incidents/2026-05-20-reviewer-triple-failure.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1963): address PR #1189 R1 — explicit evidence sources + operational-data disclaimer
  docs/incidents/2026-05-20-reviewer-triple-failure.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1977): Dockerfile COPY services/site/package.json
  Dockerfile
Due: none
