Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

feat(tasks): Enhance task #213 with two-level defaultBranch configuration
  process/tasks/213-make-session-update-default-branch-configurable.md
Due: bun node_modules/.bin/prettier --write

test: add comprehensive integration tests for special workspace system
  src/domain/tasks/__tests__/special-workspace-integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#209): Update task spec with critical decoupling insight
  process/tasks/209-investigate-and-evaluate-configuration-system-architecture.md
  src/domain/configuration/__tests__/sessiondb-config.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(#209): Restore complete configuration system files
  src/domain/configuration/__tests__/sessiondb-config.test.ts
  src/domain/configuration/backend-detector.test.ts
  src/domain/configuration/backend-detector.ts
  src/domain/configuration/config-generator.ts
  src/domain/configuration/config-loader.ts
  src/domain/configuration/configuration-service.test.ts
  src/domain/configuration/configuration-service.ts
  src/domain/configuration/credential-manager.ts
  src/domain/configuration/index.ts
  src/domain/configuration/types.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(rules): Add git command reliability protocol
  .cursor/rules/git-command-reliability.mdc
Due: none

refactor(rules): Condense git-command-reliability rule
  .cursor/rules/git-command-reliability.mdc
Due: none

fix(#210): Fix CLI execution in session workspaces with special characters
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

cleanup: Remove old test files unrelated to task #210
  test-fastmcp-client.ts
  test-github-final.ts
  test-mcp-network.ts
  test-mcp-proper-protocol.ts
  test-tasks-create.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(tasks): create task #214 to investigate normalizeRepoName function inconsistencies
  process/tasks.md
  process/tasks/210-fix-cli-output-suppression-in-session-workspaces.md
  process/tasks/214-investigate-normalizereponame-function-and-repo-name-formatting-inconsistencies.md
  process/tasks/215-fix-indentation-linter-errors-in-session-ts.md
  src/adapters/shared/commands/session.ts
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(config-migration): Switch configurationService singleton to NodeConfigAdapter
  src/domain/configuration/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(config-migration): Fix linting errors in config commands
  src/adapters/shared/commands/config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(task-210): Improve merge conflict handling in session updates
  src/domain/git.ts
  src/domain/session.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#209): Update task spec with surgical decoupling architectural insight
  process/tasks/209-investigate-and-evaluate-configuration-system-architecture.md
Due: bun node_modules/.bin/prettier --write

feat: Mark task #210 as DONE after successful PR merge
  process/tasks.md
  process/tasks/210-fix-cli-output-suppression-in-session-workspaces.md
Due: bun node_modules/.bin/prettier --write

fix(config): Fix import path in sessiondb-config test
  src/domain/configuration/__tests__/sessiondb-config.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(config): Add hybrid ConfigurationLoader for incremental migration
  src/domain/configuration/config-loader.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Configure markdown backend for tasks by default
  .minsky/config.yaml
Due: none

fix: Set markdown as default backend for tasks
  config/default.yaml
  process/tasks.md
  process/tasks/213-implement-core-agent-loop-for-independent-minsky-operation.md
Due: bun node_modules/.bin/prettier --write

feat(config): Extract domain services for surgical decoupling
  src/domain/configuration/config-validator.ts
  src/domain/configuration/path-resolver.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix: Remove debug console.log statements from CLI
  src/cli.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(#216): Create task for implementing core agent loop for independent Minsky operation
  CHANGELOG.md
  process/tasks.md
  process/tasks/216-implement-core-agent-loop-for-independent-minsky-operation.md
Due: bun node_modules/.bin/prettier --write

feat: Improve task status command output to be more user-friendly
  process/tasks.md
  src/adapters/shared/bridges/cli-bridge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(#209): Update task spec to reflect incremental surgical decoupling implementation
  process/tasks/209-investigate-and-evaluate-configuration-system-architecture.md
Due: bun node_modules/.bin/prettier --write

fix(tasks): add missing tasks #214 and #215 to tasks.md
  process/tasks.md
Due: bun node_modules/.bin/prettier --write

feat(config): Add comprehensive tests for extracted domain services
  src/domain/configuration/__tests__/config-validator.test.ts
  src/domain/configuration/__tests__/path-resolver.test.ts
  src/domain/configuration/path-resolver.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(tasks): correct task #215 status - not actually completed
  process/tasks.md
Due: bun node_modules/.bin/prettier --write
