Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

docs(mt#1529): inbox CLI UX spec — post-v1 verbs (claim, release, close, reopen, deadlines, priorities)
  docs/research/mt1529-inbox-cli-ux-spec.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1524): normalize taskId in prompt-generation to prevent doubled mt# prefix
  src/domain/git/conventional-commit-types.test.ts
  src/domain/session/prompt-generation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1504): PreToolUse hook on tasks_status_set + ride-along falsy-status fix
  .claude/hooks/tasks-status-set-guard.test.ts
  .claude/hooks/tasks-status-set-guard.ts
  .claude/settings.json
  src/domain/tasks/commands/mutation-commands.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1012): wire memory commands into MCP tool surface
  src/adapters/mcp/memory.ts
  src/adapters/mcp/shared-command-integration.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1509): lock TokenProvider role-keyed interface signature [wip]
  src/adapters/shared/commands/asks-github-client.test.ts
  src/domain/auth/fallback-token-provider.ts
  src/domain/auth/github-app-token-provider.ts
  src/domain/auth/token-provider.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1509): implement dual-App routing, per-role cache, and acceptance tests [wip]
  src/domain/auth/github-app-token-provider.ts
  src/domain/auth/index.ts
  src/domain/auth/token-provider.test.ts
  src/domain/configuration/schemas/github.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1491): partial: window.service implementation + status pending counts
  src/adapters/shared/commands/window/index.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1491): tests for window.service render + response loop
  src/adapters/shared/commands/window/window.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1311): reconcile prepare-pr anti-patterns with new step 6 iteration guidance R2 BLOCKING #1
  .claude/skills/prepare-pr/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1509): honour expires_at and make getServiceIdentity role-aware
  src/domain/auth/fallback-token-provider.ts
  src/domain/auth/github-app-token-provider.ts
  src/domain/auth/token-provider.test.ts
  src/domain/auth/token-provider.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1556): add COPY migrations to reviewer Dockerfile
  services/reviewer/Dockerfile
Due: none

docs(mt#1558): require MINSKY_SESSIONDB_POSTGRES_URL in reviewer DEPLOY.md
  services/reviewer/DEPLOY.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1524): R2 reviewer findings — unknown hook neutral handling, 100-char subject cap, mt- prefix normalization
  src/adapters/shared/commands/session/workflow-commands.ts
  src/domain/git/conventional-commit-types.test.ts
  src/domain/session/prompt-generation.ts
  src/errors/mcp-structured-errors.test.ts
  src/hooks/commit-msg.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1524): R3 reviewer findings — strip chained prefixes; align pr-edit case with hook
  src/adapters/shared/commands/session/pr-edit-command.ts
  src/domain/git/conventional-commit-types.test.ts
  src/domain/session/prompt-generation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1524): R4 — preserve non-mt project prefix, document subject cap, clarify unknown-hook contract
  src/domain/git/conventional-commit-types.test.ts
  src/domain/git/conventional-commit-types.ts
  src/domain/session/prompt-generation.ts
  src/errors/mcp-structured-errors.test.ts
  src/hooks/commit-msg.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1524): R5 — pr-edit single-space rule, malformed-taskId fallback, skill invariants
  .claude/skills/prepare-pr/SKILL.md
  src/adapters/shared/commands/session/pr-edit-command.ts
  src/domain/git/conventional-commit-types.test.ts
  src/domain/session/prompt-generation.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1407): polish saturation harness per PR #871 reviewer findings
  AGENTS.md
  CLAUDE.md
  docs/persistence-configuration.md
  minsky.json
  src/domain/session/session-commit-ask-emission.test.ts
  src/hooks/pre-commit.ts
  tests/domain/session/prompt-generation.test.ts
  tests/integration/postgres-pool-saturation.shared.ts
  tests/integration/postgres-pool-saturation.testcontainer.integration.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

chore(mt#1407): use local eslint binary to fix global v10 incompatibility
  .minsky/config.yaml
Due: none

feat(mt#1508): add Decision Defaults rule + corpus to override generic-SE patterns
  .cursor/rules/decision-defaults.mdc
  .minsky/rules/decision-defaults.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1539): phase 1 — memory sweep draft
  docs/research/mt1539-workaround-cluster-audit.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1539): phase 2 — task-graph status
  docs/research/mt1539-workaround-cluster-audit.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1539): phase 3 — cluster classification
  docs/research/mt1539-workaround-cluster-audit.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1539): finalize audit — fill rollup IDs (mt#1563, mt#1564, mt#1565), mark Final
  docs/research/mt1539-workaround-cluster-audit.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1491): address PR #943 R1 reviewer findings (2 BLOCKING + 2 NB)
  src/adapters/shared/commands/window/index.ts
  src/adapters/shared/commands/window/window.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1491): address PR #943 R2 reviewer findings — 4 BLOCKING + 1 NB
  src/adapters/shared/commands/window/index.ts
  src/adapters/shared/commands/window/window.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1491): address PR #943 R3 BLOCKING #1 — non-v1 kinds reject respond
  src/adapters/shared/commands/window/index.ts
  src/adapters/shared/commands/window/window.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1540): phase 1 — cross-reference graph
  docs/research/mt1540-lynchpin-stall-audit.md
Due: bun node_modules/.bin/prettier --write

docs(mt#1540): phase 2-4 — status sweep, dep check, and file rollups mt#1570 mt#1571 mt#1572
  docs/research/mt1540-lynchpin-stall-audit.md
Due: bun node_modules/.bin/prettier --write

chore(mt#1567): add Recovery Layer Spec Discipline rule
  .cursor/rules/work-completion.mdc
  .minsky/rules/work-completion.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1574): add Detector core infrastructure
  src/domain/detectors/dismissal-store.test.ts
  src/domain/detectors/dismissal-store.ts
  src/domain/detectors/index.ts
  src/domain/detectors/router-bridge.test.ts
  src/domain/detectors/router-bridge.ts
  src/domain/detectors/severity-downgrade.test.ts
  src/domain/detectors/severity-downgrade.ts
  src/domain/detectors/types.ts
  src/domain/storage/migrations/pg/0030_detector_dismissals.sql
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1575): partial: corpus-loader + action-filter (no tests yet)
  src/domain/detectors/policy-coverage/action-filter.ts
  src/domain/detectors/policy-coverage/corpus-loader.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1575): policy-coverage detector — Surface 1 of mt#1035
  .claude/hooks/policy-coverage-detector.test.ts
  .claude/hooks/policy-coverage-detector.ts
  .claude/settings.json
  src/domain/detectors/policy-coverage/action-filter.test.ts
  src/domain/detectors/policy-coverage/corpus-loader.test.ts
  src/domain/detectors/policy-coverage/coverage.test.ts
  src/domain/detectors/policy-coverage/coverage.ts
  src/domain/detectors/policy-coverage/emit.test.ts
  src/domain/detectors/policy-coverage/emit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1587): exempt append-only structured-config diffs from parallel-work guard
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1012): align memory.ts docstring to canonical command-id form
  src/adapters/mcp/memory.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1580): add /handoff skill for end-of-conversation summaries
  .claude/skills/handoff/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#1590): add Markdown formatting guidance to reviewer output format prompts
  services/reviewer/src/prompt.test.ts
  services/reviewer/src/prompt.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#1012): exclude MEMORY from all-in-one helper, soften alias claim, add regression test
  src/adapters/mcp/memory.ts
  src/adapters/mcp/shared-command-integration.test.ts
  src/adapters/mcp/shared-command-integration.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1587): address PR #952 R1 BLOCKING + non-blockings
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1551): fold audit into /review-pr; retire /verify-task as a verification surface
  .claude/agents/auditor.md
  .claude/agents/reviewer.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/verify-task/SKILL.md
  .cursor/rules/task-lifecycle.mdc
  .minsky/rules/task-lifecycle.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#1587): address PR #952 R3 BLOCKINGs
  .claude/hooks/parallel-work-guard.test.ts
  .claude/hooks/parallel-work-guard.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
