Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2061): update hook denial messages and tests: /review-pr → /merge-coordination
  .claude/hooks/require-review-before-merge.test.ts
  .claude/hooks/require-review-before-merge.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2179): address reviewer R1 — prefer backend.getTaskStatus, tolerate route failure
  packages/domain/src/tasks/multi-backend-service.ts
  packages/domain/src/tasks/multi-backend-status-cache.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2061): update all cross-references /review-pr → /merge-coordination
  .claude/agents/auditor.md
  .claude/agents/reviewer.md
  .claude/hooks/SPEC.md
  .claude/skills/implement-task/SKILL.md
  .claude/skills/loop/SKILL.md
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .claude/skills/prepare-pr/SKILL.md
  .claude/skills/retrospective/SKILL.md
  .claude/skills/verify-task/SKILL.md
  .cursor/rules/decision-defaults.mdc
  .cursor/rules/hook-files.mdc
  .cursor/rules/key-workflows.mdc
  .cursor/rules/task-lifecycle-verification.mdc
  .minsky/agents/reviewer/agent.ts
  .minsky/rules/decision-defaults.mdc
  .minsky/rules/hook-files.mdc
  .minsky/rules/key-workflows.mdc
  .minsky/rules/task-lifecycle-verification.mdc
  .minsky/skills/orchestrate/skill.ts
  .minsky/skills/plan-task/skill.ts
  .minsky/skills/verify-task/skill.ts
  AGENTS.md
  CLAUDE.md
  docs/architecture/adr-005-forgebackend-subinterfaces.md
  docs/architecture/agent-guidance-mechanisms.md
  docs/architecture/skills-surfaces.md
  docs/github-app-bot-setup.md
  services/reviewer/src/output-tools.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2061): address R1 — remove skills from reviewer agent, not merge-coordination
  .claude/agents/reviewer.md
  .minsky/agents/reviewer/agent.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2061): address R2 — fix broken import paths in all .minsky skill/agent source files
  .claude/skills/implement-task/SKILL.md
  .claude/skills/plan-task/SKILL.md
  .minsky/agents/auditor/agent.ts
  .minsky/agents/cleaner/agent.ts
  .minsky/agents/cockpit-dev/agent.ts
  .minsky/agents/fixture/agent.ts
  .minsky/agents/implementer/agent.ts
  .minsky/agents/refactorer/agent.ts
  .minsky/agents/reviewer/agent.ts
  .minsky/skills/cockpit-design/skill.ts
  .minsky/skills/fixture/skill.ts
  .minsky/skills/implement-task/skill.ts
  .minsky/skills/orchestrate/skill.ts
  .minsky/skills/plan-task/skill.ts
  .minsky/skills/verify-task/skill.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2187): complete CommandPalette PAGES list to match NavSheet
  src/cockpit/web/components/CommandPalette.tsx
Due: none

fix(mt#2187): address R1 — clarify NavSheet alignment comment
  src/cockpit/web/components/CommandPalette.tsx
Due: none

feat(mt#2181): inject-current-time UserPromptSubmit hook
  .claude/hooks/inject-current-time.test.ts
  .claude/hooks/inject-current-time.ts
  .claude/settings.json
  .cursor/rules/hook-files.mdc
  .minsky/rules/hook-files.mdc
  AGENTS.md
  CLAUDE.md
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2181): address PR #1427 R1 — 2 BLOCKING
  .claude/hooks/inject-current-time.test.ts
  .claude/hooks/inject-current-time.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2188): repair services/site tsconfig + unmasked type errors
  services/site/astro.config.ts
  services/site/src/server.ts
  services/site/tsconfig.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2190): GitHub Pages deploy for Slidev talk decks
  .github/workflows/deploy-talks.yml
Due: none

fix(mt#2190): address PR #1430 R1 — auto-discover decks, cache, pin dep
  .github/workflows/deploy-talks.yml
  talks/when-the-agent-is-wrong/bun.lock
  talks/when-the-agent-is-wrong/package.json
Due: bun node_modules/.bin/prettier --write

fix(mt#2190): address PR #1430 R2 — pin bun-version to 1.2.21
  .github/workflows/deploy-talks.yml
Due: none

fix(mt#2188): address PR #1429 review — cast to Astro's vite-plugins type
  services/site/astro.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2193): correct false minsky.dev deploy-domain references
  infra/index.ts
  services/site/README.md
  services/site/astro.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2171): Add interactive parametric icon tuner
  assets/icon/tuner.html
Due: none

fix(mt#2171): associate labels with form inputs (a11y)
  assets/icon/tuner.html
Due: none

fix(mt#2171): sanitize number-input values to prevent NaN in SVG path
  assets/icon/tuner.html
Due: none

feat(mt#2194): retire "led by a principal" from foreground tagline; ship social-preview banner
  .claude/skills/minsky-brand/SKILL.md
  README.md
  assets/icon/social-preview.png
  assets/icon/social-preview.svg
  scripts/generate-icons.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2194): address reviewer findings — font preflight + alt text alignment
  README.md
  scripts/generate-icons.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2194): gate font preflight to banner-only; correct Geist source
  scripts/generate-icons.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2191): address PR #1435 review — extension-only navigation detection
  services/site/src/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2200): make cockpit tray app build on Tauri 2.11
  cockpit-tray/.gitignore
  cockpit-tray/README.md
  cockpit-tray/bun.lock
  cockpit-tray/src-tauri/Cargo.lock
  cockpit-tray/src-tauri/Cargo.toml
  cockpit-tray/src-tauri/src/main.rs
Due: bun node_modules/.bin/prettier --write

chore(mt#2200): untrack bun.lock to converge past reviewer false positive
  cockpit-tray/.gitignore
  cockpit-tray/bun.lock
Due: none

feat(mt#2199): always-injected rule — sequence dependent tool calls (one step per turn)
  .cursor/rules/sequence-dependent-tool-calls.mdc
  .minsky/rules/sequence-dependent-tool-calls.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2193): address R1 — README config path + dev-safe SITE_URL default
  services/site/README.md
  services/site/astro.config.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2205): monotonic task ID allocation + delete purges orphaned spec/embedding rows
  packages/domain/src/storage/migrations/pg/0043_deleted_task_ids.sql
  packages/domain/src/storage/migrations/pg/meta/_journal.json
  packages/domain/src/storage/schemas/task-embeddings.ts
  packages/domain/src/tasks/minskyTaskBackend.test.ts
  packages/domain/src/tasks/minskyTaskBackend.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2199): canonical tool names in chain example + precise independence definition
  .cursor/rules/sequence-dependent-tool-calls.mdc
  .minsky/rules/sequence-dependent-tool-calls.mdc
  AGENTS.md
  CLAUDE.md
Due: bun node_modules/.bin/prettier --write

test(mt#2205): live smoke for migration + deleteTask purge/tombstone
  scripts/smoke-task-id-reuse.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2197): pre-narration / fabricated-outcome detector hook
  .claude/hooks/pre-narration-detector.test.ts
  .claude/hooks/pre-narration-detector.ts
  .claude/settings.json
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2205): address review — idempotent spec upsert + transactional writes
  packages/domain/src/tasks/minskyTaskBackend.test.ts
  packages/domain/src/tasks/minskyTaskBackend.ts
  tests/domain/tasks/minsky-task-backend-id-collision.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#2197): single-pass extractToolUseNames (PR #1446 review nit)
  .claude/hooks/pre-narration-detector.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2045): thread Lexicon naming framework into brand skills + add name-product skill
  .claude/skills/analyze-adjacent-product/SKILL.md
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/minsky-brand/SKILL.md
  .claude/skills/name-product/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2209): capture bun install output during session start, surface only on failure
  packages/domain/src/session/start-session-operations.ts
  packages/domain/src/utils/package-manager.test.ts
  packages/domain/src/utils/package-manager.ts
  src/utils/package-manager.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2045): address reviewer R1 — unescape quotes in §7a, add trademark NEEDS-VERIFICATION caveat
  .claude/skills/marketing-site-design/SKILL.md
  .claude/skills/name-product/SKILL.md
Due: bun node_modules/.bin/prettier --write

feat(mt#2195): PreToolUse guard against guessed/nonexistent session paths
  .claude/hooks/check-guessed-session-path.test.ts
  .claude/hooks/check-guessed-session-path.ts
  .claude/settings.json
  packages/domain/src/configuration/sources/environment.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

style(mt#2045): align name-product cross-ref formatting (reviewer NB3); wake fresh review
  .claude/skills/analyze-adjacent-product/SKILL.md
Due: bun node_modules/.bin/prettier --write

fix(mt#2209): preserve interactive stdin + bound maxBuffer on captured install (R1)
  packages/domain/src/session/start-session-operations.ts
  packages/domain/src/utils/package-manager.test.ts
  packages/domain/src/utils/package-manager.ts
  src/utils/package-manager.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2208): deploy-domain ownership guard (pre-commit lint, Option A)
  infra/controlled-domains.json
  packages/domain/src/configuration/sources/environment.ts
  src/hooks/deploy-domain-detector.test.ts
  src/hooks/deploy-domain-detector.ts
  src/hooks/pre-commit.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

Path conditions:
  eslint --fix || true: (any of: *.{ts,js}) or (any of: *.test.{ts,js})
  bun node_modules/.bin/prettier --write: ((any of: *.{ts,js}) or (any of: *.test.{ts,js})) or (any of: *.{json,md})
