Repository edobry/minsky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix || true, bun node_modules/.bin/prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.test.{ts,js}": ["eslint --fix || true", "bun node_modules/.bin/prettier --write"],
  "*.{json,md}": ["bun node_modules/.bin/prettier --write"]
}

fix(cockpit): extract hook helpers as named exports, test imports
  src/cockpit/web/lib/useListControls.test.ts
  src/cockpit/web/lib/useListControls.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2072): surface memory ID in memory-search hook injection
  .claude/hooks/memory-search.test.ts
  .claude/hooks/memory-search.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2079): share PersistenceService between session and task providers
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1926): add test preload to bunfig.toml so bun test works without --preload flag
  bunfig.toml
Due: none

fix(mt#2079): reset shared init promise on failure to allow retries
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2078): add flat tasks list page to cockpit
  src/cockpit/web/App.tsx
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/lib/sse-invalidation.test.ts
  src/cockpit/web/lib/sse-invalidation.ts
  src/cockpit/web/pages/HomePage.tsx
  src/cockpit/web/pages/TasksListPage.tsx
  src/cockpit/web/widgets/TaskList.tsx
  src/cockpit/widget-registry.ts
  src/cockpit/widgets/task-list.ts
  src/generated/completion-manifest.json
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1917): add command palette (Cmd-K) for quick cockpit navigation
  src/cockpit/server.ts
  src/cockpit/web/components/CommandPalette.tsx
  src/cockpit/web/components/Layout.tsx
  src/cockpit/web/lib/recent-items.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2081): make post-merge-pull hook resilient to dirty working tree
  .claude/hooks/post-merge-pull.test.ts
  .claude/hooks/post-merge-pull.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1916): add /asks page — interactive ask management surface
  src/cockpit/server.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/lib/sse-invalidation.ts
  src/cockpit/web/pages/AsksPage.tsx
  src/cockpit/web/pages/HomePage.tsx
  src/cockpit/web/widgets/Attention.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1923): restructure /tasks into list + graph subpages with tab switcher
  src/cockpit/web/App.tsx
  src/cockpit/web/components/NavSheet.tsx
  src/cockpit/web/pages/TasksGraphPage.tsx
  src/cockpit/web/pages/TasksLayout.tsx
  src/cockpit/web/pages/TasksListPage.tsx
  src/cockpit/web/widgets/TasksList.test.ts
  src/cockpit/web/widgets/TasksList.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2078): address R1 — multi-select status filter, inline row expansion
  src/cockpit/web/widgets/TaskList.tsx
Due: none

fix(mt#2081): address R1 reviewer findings — safer stash messaging and handling
  .claude/hooks/post-merge-pull.test.ts
  .claude/hooks/post-merge-pull.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(cockpit): remove stale TasksPage.tsx replaced by TasksGraphPage.tsx
  src/cockpit/web/pages/TasksPage.tsx
Due: none

fix(mt#1916): add defer/escalate actions and fix sort dropdown logic
  src/cockpit/server.ts
  src/cockpit/web/pages/AsksPage.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#1917): add tests and fix pre-existing tsyringe polyfill failure
  bunfig.toml
  src/cockpit/server-tasks.test.ts
  src/cockpit/web/lib/recent-items.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

refactor(mt#1916): rename PromotedPageTiles to PageNavTiles
  src/cockpit/web/App.tsx
  src/cockpit/web/pages/HomePage.tsx
Due: none

perf(mt#2079): use batch getTasks for task-title enrichment
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1916): add cohort filter per spec criterion 5
  src/cockpit/web/pages/AsksPage.tsx
Due: none

fix(mt#1917): address PR #1257 R1 — focus restoration + task list cap
  src/cockpit/server.ts
  src/cockpit/web/components/CommandPalette.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1916): add architecture note clarifying domain-layer consumer pattern
  src/cockpit/server.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#1917): address PR #1257 R2 — add Task List page + ask routing
  src/cockpit/web/components/CommandPalette.tsx
Due: none

fix(mt#2079): address PR #1258 R1 — batch tests, contract docs, dedup fix
  src/cockpit/widgets/agents.test.ts
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

docs(mt#1926): update CONTRIBUTING.md to reflect bunfig.toml preload
  CONTRIBUTING.md
Due: bun node_modules/.bin/prettier --write

refactor(mt#1916): rename PROMOTED_WIDGET_IDS to PAGE_ROUTE_WIDGET_IDS
  src/cockpit/web/App.tsx
Due: none

ci: add workflow_dispatch to test-quality.yml for manual triggering
  .github/workflows/test-quality.yml
Due: none

fix(mt#2082): add spec section-precedence and inter-round freshness guidance to Critic Constitution
  services/reviewer/src/prompt.test.ts
  services/reviewer/src/prompt.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2084): add task-title cache, pagination support, and totalCount to agents widget
  src/cockpit/server.ts
  src/cockpit/types.ts
  src/cockpit/web/widgets/Agents.tsx
  src/cockpit/widgets/agents.test.ts
  src/cockpit/widgets/agents.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#2051): add startup transcript ingest sweep for auto-coverage
  src/adapters/shared/commands/transcripts/get-command.ts
  src/adapters/shared/commands/transcripts/search-command.ts
  src/adapters/shared/commands/transcripts/search-text-command.ts
  src/adapters/shared/commands/transcripts/startup-transcript-ingest.ts
  src/commands/mcp/start-command.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

test(mt#2051): add unit tests for startup transcript ingest guard clauses
  src/adapters/shared/commands/transcripts/startup-transcript-ingest.test.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2083): scope-aware tool-loop bypass + timeout retry hardening for reviewer
  services/reviewer/src/providers.ts
  services/reviewer/src/review-worker.test.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

feat(mt#1918): add task detail page at /tasks/:id
  src/cockpit/server-task-detail.test.ts
  src/cockpit/server.ts
  src/cockpit/web/App.tsx
  src/cockpit/web/pages/TaskDetailPage.tsx
  src/cockpit/web/widgets/TaskDetail.tsx
  src/cockpit/web/widgets/TaskGraph.tsx
  src/cockpit/web/widgets/TaskList.tsx
  src/cockpit/web/widgets/Workstreams.tsx
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2083): address R1 — wire reasoningEffort=low into timeout retry, update docs
  services/reviewer/README.md
  services/reviewer/src/config.ts
  services/reviewer/src/review-worker.test.ts
  services/reviewer/src/review-worker.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write

fix(mt#2051): add DI-readiness retry and update tests
  src/adapters/shared/commands/transcripts/startup-transcript-ingest.test.ts
  src/adapters/shared/commands/transcripts/startup-transcript-ingest.ts
Due: eslint --fix || true, bun node_modules/.bin/prettier --write
